Repository AKASHAorg/akasha-core, pull requests merged in 2021-11, with the labels that each got.

#1470 Build fix npm7
  api/hub/package.json
  package.json
  ui/design/package.json
  ui/design/src/components/AreaChart/index.tsx
  ui/design/src/components/LineChart/index.tsx
  ui/design/src/components/ResponsiveChart/index.tsx
  ui/design/src/components/ResponsiveLineChart/index.tsx
Labels: design-system, plugin/widget, examples, api, apps

#1471 Upgrade ci node v16 and npm v8
  .circleci/config.yml
  api/hub/package-lock.json
  apps/akasha/package-lock.json
  apps/moderation/package-lock.json
  examples/ui/ethereum.world/package-lock.json
  package-lock.json
  package.json
  sdk/package-lock.json
  sdk/typings/package-lock.json
  ui/app-loader/package-lock.json
  ui/design/package-lock.json
  ui/hooks/package-lock.json
  ui/plugins/app-center/package-lock.json
  ui/plugins/bookmarks/package-lock.json
  ui/plugins/legal/package-lock.json
  ui/plugins/notifications/package-lock.json
  ui/plugins/profile/package-lock.json
  ui/plugins/search/package-lock.json
  ui/testing-utils/package-lock.json
  ui/typings/package-lock.json
  ui/widgets/feed/package-lock.json
  ui/widgets/layout/package-lock.json
  ui/widgets/login-cta/package-lock.json
  ui/widgets/sidebar/package-lock.json
  ui/widgets/top-bar/package-lock.json
  ui/widgets/trending/package-lock.json
Labels: design-system, plugin/widget, examples, api, apps

#1472 Fix/minor fixes
  apps/akasha/src/components/tag-feed-page/tag-feed-page.tsx
  apps/moderation/src/components/transparency-log.tsx
  ui/hooks/src/use-tag.new.ts
  ui/plugins/profile/src/components/routes/profile-page.tsx
Labels: plugin/widget, apps

#1477 Fix/follow unfollow
  ui/hooks/package.json
  ui/hooks/src/use-follow.ts
  ui/plugins/profile/src/components/profile-cards/stat-modal-wrapper.tsx
  ui/widgets/trending/src/components/trending-widget-component.tsx
Labels: plugin/widget

#1478 Refactor: moderation app
  apps/moderation/Readme.md
  apps/moderation/src/components/app-routes.tsx
  apps/moderation/src/components/dashboard/content-card/content.tsx
  apps/moderation/src/components/dashboard/content-card/entry-data-card.tsx
  apps/moderation/src/components/dashboard/content-card/explanations-box-entry.tsx
  apps/moderation/src/components/dashboard/content-card/explanations-box.tsx
  apps/moderation/src/components/dashboard/content-card/index.tsx
  apps/moderation/src/components/dashboard/content-tab/index.tsx
  apps/moderation/src/components/dashboard/index.tsx
  apps/moderation/src/components/error-cards/index.tsx
  apps/moderation/src/components/error-cards/no-items-found.tsx
  apps/moderation/src/components/error-cards/prompt-authentication.tsx
  apps/moderation/src/components/error-cards/prompt-authorization.tsx
  apps/moderation/src/components/styled/index.ts
  apps/moderation/src/components/transparency-log/index.tsx
  apps/moderation/src/interfaces/content.ts
  ui/hooks/src/index.ts
  ui/hooks/src/use-moderation.ts
Labels: plugin/widget, apps

#1484 refactor/handle-navigation
  apps/akasha/src/components/app-routes.tsx
  apps/akasha/src/components/feed-page/feed-page.tsx
  apps/akasha/src/components/post-page/post-page.tsx
  apps/akasha/src/components/tag-feed-page/tag-feed-page.tsx
  apps/akasha/src/services/routing-service.ts
  apps/moderation/src/components/dashboard/content-card/entry-data-card.tsx
  apps/moderation/src/services/constants.ts
  apps/moderation/src/services/routing-service.ts
  ui/design/src/components/EntryCard/entry-box.tsx
  ui/hooks/src/index.ts
  ui/hooks/src/use-navigation.ts
  ui/plugins/bookmarks/src/components/bookmarks-page.tsx
  ui/plugins/bookmarks/src/components/entry-renderer.tsx
  ui/plugins/profile/src/components/routes/profile-page.tsx
  ui/plugins/search/src/components/routes/entry-renderer.tsx
  ui/plugins/search/src/components/routes/search-page.tsx
  ui/widgets/feed/src/components/App.tsx
  ui/widgets/feed/src/components/entry-feed.tsx
  ui/widgets/feed/src/components/entry-renderer.tsx
Labels: design-system, plugin/widget, apps

#1485 update alpha header text
  apps/akasha/src/components/feed-page/feed-page.tsx
  ui/design/src/components/LoginCTAWidgetCard/LoginCTAWidgetCard.stories.tsx
  ui/design/src/components/LoginCTAWidgetCard/__tests__/index.test.tsx
  ui/design/src/components/LoginCTAWidgetCard/index.tsx
Labels: design-system, plugin/widget, apps

#1488 chore(docs): add local dev setup steps
  .env.example
  .gitignore
  LOCAL_DEV.md
  README.md
  api/hub/.env.example
  api/hub/package-lock.json
  api/hub/package.json
  package-lock.json
  package.json
  sdk/.env.example
  sdk/package-lock.json
  sdk/package.json
  sdk/webpack.config.js
  ui/plugins/README.md
  ui/webpack.config.js
  ui/widgets/README.md
Labels: plugin/widget, api

#1483 Feat: onboarding v2 UI
  ui/design/src/components/EntryCard/basic-card-box.tsx
  ui/design/src/components/SelectAddressButton/SelectAddressButton.stories.tsx
  ui/design/src/components/SelectAddressButton/__tests__/index.test.tsx
  ui/design/src/components/SelectAddressButton/index.tsx
  ui/design/src/components/SignUpCard/SignUpCard.stories.tsx
  ui/design/src/components/SignUpCard/__tests__/index.test.tsx
  ui/design/src/components/SignUpCard/index.tsx
  ui/design/src/components/StepIndicator/StepIndicator.stories.tsx
  ui/design/src/components/StepIndicator/__tests__/index.test.tsx
  ui/design/src/components/StepIndicator/index.tsx
  ui/design/src/components/Web3ConnectButton/Web3ConnectButton.stories.tsx
  ui/design/src/components/Web3ConnectButton/__tests__/index.test.tsx
  ui/design/src/components/Web3ConnectButton/index.tsx
  ui/design/src/index.ts
Labels: design-system, plugin/widget

#1490 Feat/onboarding app
  apps/auth-app/.eslintrc.js
  apps/auth-app/Readme.md
  apps/auth-app/i18next-parser.config.js
  apps/auth-app/jest.config.js
  apps/auth-app/jest.setup.js
  apps/auth-app/package-lock.json
  apps/auth-app/package.json
  apps/auth-app/src/components/app-routes.tsx
  apps/auth-app/src/components/app.tsx
  apps/auth-app/src/components/index.tsx
  apps/auth-app/src/components/sign-in/index.tsx
  apps/auth-app/src/components/sign-up/index.tsx
  apps/auth-app/src/i18n.ts
  apps/auth-app/src/index.tsx
  apps/auth-app/src/routes.ts
  apps/auth-app/tsconfig.json
  apps/auth-app/webpack.config.js
  ui/app-loader/src/integration-data.ts
  ui/typings/src/app-loader.ts
  ui/widgets/layout/src/index.tsx
Labels: plugin/widget, apps

#1489 chore(): change layout based on route
  tests/ethereum-world/cypress/fixtures/example.json
  tests/ethereum-world/cypress/integration/feedpage.spec.ts
  tests/ethereum-world/cypress/integration/partials/layout-widget.spec.ts
  tests/ethereum-world/cypress/integration/sign-in-up.spec.ts
  tests/package.json
  ui/widgets/layout/package-lock.json
  ui/widgets/layout/package.json
  ui/widgets/layout/src/components/layout-widget.tsx
  ui/widgets/layout/src/index.tsx
Labels: plugin/widget

#1492 chore(): minor adjustments
  apps/auth-app/src/components/sign-in/index.tsx
  apps/auth-app/src/components/sign-up/index.tsx
  examples/ui/ethereum.world/src/index.ts
  tests/ethereum-world/cypress/integration/partials/layout-widget.spec.ts
  ui/widgets/layout/src/components/layout-widget.tsx
  ui/widgets/layout/src/components/styled-slots.ts
Labels: plugin/widget, examples, apps

#1487 feat(ui): update topbar layout dependent on url path for onboarding
  ui/design/package-lock.json
  ui/design/package.json
  ui/design/src/components/TopBar/__tests__/index.test.tsx
  ui/design/src/components/TopBar/index.tsx
  ui/design/src/components/TopBar/styled-topbar.ts
  ui/widgets/top-bar/src/components/topbar-component.tsx
Labels: design-system, plugin/widget

#1494 refactor(sdk:auth,common): add provider detection, openLogin, safe session restore
  apps/auth-app/package-lock.json
  sdk/package-lock.json
  sdk/package.json
  sdk/src/auth/index.ts
  sdk/src/common/web3.connector.ts
  sdk/src/logging/index.ts
  sdk/src/sw.ts
  sdk/typings/src/interfaces/common.ts
  sdk/typings/src/interfaces/events.ts
  sdk/typings/src/interfaces/web3.connector.ts
  tsconfig.json
Labels: apps

#1495 fixt(api:cache): post counter cache invalidation on new/remove comment
  api/hub/package-lock.json
  api/hub/package.json
  api/hub/src/datasources/comment.ts
  api/hub/src/datasources/post.ts
  api/hub/src/resolvers/constants.ts
  api/hub/src/resolvers/mutations.ts
  api/hub/tsconfig.json
Labels: api

#1496 fix(ui): fix disappearing avatar in topbar
  ui/design/src/components/TopBar/index.tsx
Labels: design-system, plugin/widget

#1497 refactor(sdk:web3): add getRequiredNetworkName, switchToRequiredNetwork
  sdk/src/common/web3.connector.ts
  sdk/src/registry/index.ts
  sdk/typings/src/interfaces/web3.connector.ts
  ui/typings/src/index.ts
Labels: plugin/widget

#1498 refactor(auth): decouple signature steps
  sdk/src/auth/index.ts
  sdk/typings/src/interfaces/auth.ts
  sdk/typings/src/interfaces/events.ts
  sdk/typings/src/interfaces/web3.connector.ts
  ui/typings/src/index.ts
Labels: plugin/widget
