Repository AKASHAorg/akasha-core, pull requests merged in 2021-09, with the labels that each got.

#1262 Feat: moderation flow updates
  apps/akasha/src/components/app-routes.tsx
  apps/akasha/src/components/feed-page/entry-card-renderer.tsx
  apps/akasha/src/components/feed-page/feed-page.tsx
  apps/akasha/src/components/post-page/post-page.tsx
  apps/akasha/src/components/post-page/post-renderer.tsx
  apps/akasha/src/components/tag-feed-page/tag-feed-page.tsx
  ui/hooks/src/use-search.new.ts
  ui/plugins/profile/src/components/profile-cards/profile-page-header.tsx
  ui/plugins/profile/src/components/routes/index.tsx
  ui/plugins/profile/src/components/routes/profile-page.tsx
  ui/plugins/profile/src/extensions/login-modal.tsx
  ui/plugins/profile/src/extensions/sign-in-modal.tsx
  ui/plugins/profile/src/extensions/sign-up-modal.tsx
  ui/plugins/search/src/components/routes/search-page.tsx
  ui/widgets/feed/src/components/entry-renderer.tsx
Labels: plugin/widget

#1264 fix(profile-card): display ens if it was set
  ui/design/src/components/ProfileCard/index.tsx
  ui/plugins/profile/src/components/profile-cards/profile-page-header.tsx
  ui/plugins/profile/src/components/routes/profile-page.tsx
  ui/plugins/profile/src/utils/username-utils.ts
Labels: design-system, plugin/widget

#1265 Refactor: entry list to feed widget
  apps/akasha/src/components/feed-page/feed-page.tsx
  apps/akasha/src/components/post-page/post-page.tsx
  apps/akasha/src/components/tag-feed-page/tag-feed-page.tsx
  apps/moderation/src/components/transparency-log.tsx
  apps/moderation/src/components/transparency-log/banner.tsx
  apps/moderation/src/components/transparency-log/detail-card.tsx
  ui/hooks/src/use-comments.new.ts
  ui/widgets/feed/src/components/entry-renderer.tsx
Labels: plugin/widget

#1266 refactor: update moderation request
  apps/akasha/src/components/post-page/post-page.tsx
  apps/moderation/src/components/content-card/content.tsx
  apps/moderation/src/components/content-list.tsx
  apps/moderation/src/components/explanations-box-entry.tsx
  apps/moderation/src/components/explanations-box.tsx
  apps/moderation/src/components/transparency-log.tsx
  apps/moderation/src/extensions/moderate-modal.tsx
  apps/moderation/src/extensions/report-modal.tsx
  ui/design/src/components/ReportModal/report-modal.tsx
  ui/design/src/index.ts
  ui/design/src/utils/intersection-observer.ts
  ui/hooks/src/moderation-request.ts
  ui/hooks/src/use-comments.new.ts
  ui/hooks/src/use-posts.new.ts
  ui/widgets/feed/src/components/entry-feed.tsx
  ui/widgets/feed/src/components/entry-renderer.tsx
Labels: design-system, plugin/widget

#1267 Fix/moderation api backwards compatibility
  api/hub/src/api.ts
  api/hub/src/datasources/moderation-decision.ts
Labels: examples

#1269 migrate to new hooks
  apps/akasha/src/components/__tests__/entry-card-renderer.spec.tsx
  apps/akasha/src/components/feed-page/entry-card-renderer.tsx
  apps/akasha/src/components/feed-page/feed-page.tsx
  apps/akasha/src/components/post-page/post-page.tsx
  apps/akasha/src/components/post-page/post-renderer.tsx
  apps/akasha/src/components/tag-feed-page/tag-feed-page.tsx
  apps/moderation/src/components/explanations-box-entry.tsx
  ui/design/src/components/ProfileCard/index.tsx
  ui/hooks/src/index.ts
  ui/hooks/src/use-bookmarks.new.ts
  ui/hooks/src/use-entry-bookmark.ts
  ui/hooks/src/use-follow.new.ts
  ui/hooks/src/use-follow.ts
  ui/hooks/src/use-legal.ts
  ui/hooks/src/use-mentions.ts
  ui/hooks/src/use-modal-state.ts
  ui/hooks/src/use-network-state.ts
  ui/hooks/src/use-notifications.ts
  ui/hooks/src/use-profile.ts
  ui/hooks/src/use-search.ts
  ui/hooks/src/use-tag-subscribe.ts
  ui/hooks/src/use-trending-data.ts
  ui/hooks/src/utils/entry-utils.ts
  ui/plugins/bookmarks/package.json
  ui/plugins/bookmarks/src/components/bookmarks-page.tsx
  ui/plugins/bookmarks/src/components/entry-renderer.tsx
  ui/plugins/profile/src/components/routes/profile-page.tsx
  ui/plugins/search/src/components/routes/index.tsx
  ui/plugins/search/src/components/routes/search-page.tsx
  ui/typings/src/profile.ts
  ui/widgets/feed/package.json
  ui/widgets/feed/src/components/entry-feed.tsx
  ui/widgets/feed/src/components/entry-renderer.tsx
Labels: design-system, plugin/widget

#1272 chore(): fix comments
  ui/app-loader/package-lock.json
  ui/widgets/feed/src/components/App.tsx
Labels: plugin/widget

#1271 normalize registry api
  sdk/src/registry/index.ts
  sdk/typings/src/interfaces/registry.ts
  ui/hooks/src/use-ens-registration.ts
Labels: plugin/widget

#1274 chore(): fix scroll restoration
  ui/widgets/layout/src/components/cookie-widget.tsx
  ui/widgets/layout/src/components/layout-widget.tsx
  ui/widgets/layout/src/components/styled-containers.ts
Labels: plugin/widget

#1275 fix(layout-widget): prevent horizontal scrollbar
  ui/design/src/styles/themes/utils/theme-selector.tsx
  ui/widgets/layout/src/components/layout-widget.tsx
Labels: design-system, plugin/widget

#1273 fix(entry-renderer): emit proper edit entryType
  ui/widgets/feed/src/components/entry-renderer.tsx
Labels: plugin/widget

#1278 profile card ens
  apps/akasha/src/components/feed-page/feed-page.tsx
  ui/app-loader/src/index.ts
  ui/design/src/components/Icon/index.tsx
  ui/hooks/src/use-global-login.ts
  ui/hooks/src/use-login.new.ts
  ui/hooks/src/use-network-state.new.ts
  ui/hooks/src/use-username.new.ts
  ui/plugins/profile/src/extensions/sign-in-modal.tsx
  ui/plugins/profile/src/extensions/update-ens-modal.tsx
  ui/plugins/profile/src/extensions/update-profile-modal.tsx
Labels: design-system, plugin/widget

#1279 fix(): scroll restoration when navigating between lists
  ui/widgets/layout/src/components/styled-containers.ts
Labels: plugin/widget

#1277 fix(ui): avoid error if empty data for search
  ui/hooks/src/use-search.new.ts
Labels: plugin/widget

#1280 Refactor: moderation
  apps/akasha/src/components/feed-page/feed-page.tsx
  apps/akasha/src/components/post-page/post-page.tsx
  apps/akasha/src/components/tag-feed-page/tag-feed-page.tsx
  apps/akasha/src/extensions/editor-modal.tsx
  apps/moderation/src/components/__tests__/content-card.spec.tsx
  apps/moderation/src/components/content-card/content-card.tsx
  apps/moderation/src/components/content-card/content.tsx
  apps/moderation/src/components/content-list.tsx
  apps/moderation/src/components/entry-data-card.tsx
  apps/moderation/src/components/transparency-log/detail-card.tsx
  apps/moderation/src/extensions/moderate-modal.tsx
  apps/moderation/src/extensions/report-modal.tsx
  apps/moderation/src/interfaces/content.ts
  ui/design/src/components/EntryCard/entry-box.tsx
  ui/design/src/components/ReportModal/report-modal.tsx
  ui/hooks/src/use-posts.new.ts
  ui/plugins/bookmarks/src/components/bookmarks-page.tsx
  ui/plugins/bookmarks/src/components/entry-renderer.tsx
  ui/plugins/profile/src/components/profile-cards/profile-page-header.tsx
  ui/plugins/profile/src/components/routes/profile-page.tsx
  ui/plugins/search/src/components/routes/search-page.tsx
  ui/widgets/feed/src/components/App.tsx
  ui/widgets/feed/src/components/entry-renderer.tsx
Labels: design-system, plugin/widget

#1282 docs(api): create README
  api/hub/README.md
Labels: api

#1284 refactor(akasha,moderation,ui): replace useLoginState with useGetLogin
  apps/akasha/src/components/app-routes.tsx
  apps/akasha/src/components/feed-page/feed-page.tsx
  apps/akasha/src/components/post-page/post-page.tsx
  apps/akasha/src/components/tag-feed-page/tag-feed-page.tsx
  apps/akasha/src/extensions/editor-modal.tsx
  apps/moderation/src/components/app-routes.tsx
  apps/moderation/src/extensions/moderate-modal.tsx
  apps/moderation/src/extensions/report-modal.tsx
  ui/hooks/src/use-error-state.ts
  ui/hooks/src/use-login.new.ts
  ui/plugins/bookmarks/src/components/bookmarks-page.tsx
  ui/plugins/notifications/src/components/notifications-page.tsx
  ui/plugins/profile/src/components/routes/index.tsx
  ui/plugins/profile/src/components/routes/profile-page.tsx
  ui/plugins/profile/src/extensions/profile-card-widget.tsx
  ui/plugins/profile/src/extensions/sign-in-modal.tsx
  ui/plugins/profile/src/extensions/sign-up-modal.tsx
  ui/plugins/profile/src/extensions/update-profile-modal.tsx
  ui/plugins/search/src/components/routes/index.tsx
  ui/plugins/search/src/components/routes/search-page.tsx
  ui/widgets/top-bar/src/components/topbar-component.tsx
  ui/widgets/trending/src/components/trending-widget-component.tsx
Labels: plugin/widget, apps

#1286 fix sub/following glitch, gql cache and add logging level
  apps/akasha/src/components/post-page/post-page.tsx
  examples/sdk/Readme.md
  examples/sdk/simple-integration/README.md
  examples/sdk/simple-integration/__tests__/integration.test.ts
  examples/sdk/simple-integration/jest.config.js
  examples/sdk/simple-integration/package-lock.json
  examples/sdk/simple-integration/package.json
  examples/sdk/simple-integration/src/index.ts
  examples/sdk/simple-integration/src/simple.service.ts
  examples/sdk/simple-integration/tsconfig.json
  examples/sdk/simple-integration/webpack.config.js
  examples/ui/feed-app/.env
  examples/ui/feed-app/.gitignore
  examples/ui/feed-app/Readme.md
  examples/ui/feed-app/package.json
  examples/ui/feed-app/public/.gitignore
  examples/ui/feed-app/public/icons/icon-144x144.png
  examples/ui/feed-app/public/icons/icon-192x192.png
  examples/ui/feed-app/public/icons/icon-256x256.png
  examples/ui/feed-app/public/icons/icon-384x384.png
  examples/ui/feed-app/public/icons/icon-48x48.png
  examples/ui/feed-app/public/icons/icon-512x512.png
  examples/ui/feed-app/public/icons/icon-72x72.png
  examples/ui/feed-app/public/icons/icon-96x96.png
  examples/ui/feed-app/public/importmap.json
  examples/ui/feed-app/public/index.html
  examples/ui/feed-app/public/manifest.json
  examples/ui/feed-app/public/template-index.html
  examples/ui/feed-app/src/index.ts
  examples/ui/feed-app/src/sdk-init.ts
  examples/ui/feed-app/tsconfig.json
  examples/ui/feed-app/webpack.config.js
  package.json
  scripts/Readme.md
  scripts/sync-gateway-config.json
  scripts/translations-server/package-lock.json
  scripts/translations-server/package.json
  scripts/translations-server/src/index.ts
  scripts/translations-server/tsconfig.json
  sdk/.env.example
  sdk/src/gql/index.ts
  sdk/src/helpers/observable.ts
  sdk/src/logging/index.ts
  ui/hooks/src/use-follow.new.ts
  ui/hooks/src/use-tag.new.ts
  ui/plugins/bookmarks/src/components/entry-renderer.tsx
  ui/plugins/profile/src/components/profile-cards/profile-page-header.tsx
  ui/plugins/profile/src/extensions/profile-card-widget.tsx
  ui/widgets/feed/src/components/entry-renderer.tsx
Labels: plugin/widget, examples, apps

#1288 fix(ui,api): prevent whitespace search
  api/hub/src/resolvers/query.ts
  ui/design/src/components/TopBar/mobile-search-bar.tsx
  ui/widgets/top-bar/src/components/topbar-component.tsx
Labels: design-system, plugin/widget, api

#1283 Feat: profile stats modal
  apps/moderation/src/components/transparency-log.tsx
  ui/design/package-lock.json
  ui/design/src/components/Icon/new-icons/hashtag-gray.tsx
  ui/design/src/components/Icon/new-icons/quote.tsx
  ui/design/src/components/ProfileCard/index.tsx
  ui/design/src/components/StatModal/index.tsx
  ui/design/src/components/StatModal/list-empty.tsx
  ui/design/src/components/StatModal/list-error.tsx
  ui/design/src/components/StatModal/list-loading.tsx
  ui/design/src/components/StatModal/profile-entry.tsx
  ui/design/src/components/StatModal/tag-entry.tsx
  ui/design/src/components/TextIcon/styled-text-icon.ts
  ui/design/src/components/TrendingWidgetCard/index.tsx
  ui/design/src/index.ts
  ui/design/src/static/img/no-followers.png
  ui/design/src/static/img/no-following.png
  ui/design/src/static/img/no-interests.png
  ui/hooks/src/use-follow.new.ts
  ui/hooks/src/use-profile.new.ts
  ui/plugins/profile/src/components/profile-cards/profile-page-header.tsx
  ui/plugins/profile/src/components/profile-cards/stat-modal-wrapper.tsx
  ui/plugins/profile/src/components/routes/profile-page.tsx
  ui/typings/src/index.ts
  ui/widgets/trending/src/components/trending-widget-component.tsx
Labels: design-system, plugin/widget, apps

#1287 fix(ui): add menu options on bookmarked posts
  ui/plugins/bookmarks/src/components/bookmarks-page.tsx
  ui/plugins/bookmarks/src/components/entry-renderer.tsx
Labels: plugin/widget

#1281 Documentation for the moderation API
  api/hub/MODERATION_API.md
  api/hub/README.md
  api/hub/src/api.ts
Labels: api

#1289 Link preview1
  apps/akasha/src/components/post-page/post-page.tsx
  apps/akasha/src/extensions/editor-modal.tsx
  ui/design/src/components/Editor/helpers.ts
  ui/design/src/components/Editor/index.tsx
  ui/design/src/components/Editor/link-preview.tsx
  ui/design/src/components/Editor/plugins.ts
  ui/design/src/components/EditorCard/EditorCard.stories.tsx
  ui/design/src/components/EditorCard/__tests__/index.test.tsx
  ui/design/src/components/EditorCard/comment-editor.tsx
  ui/design/src/components/EditorCard/index.tsx
  ui/design/src/components/EditorModal/index.tsx
  ui/design/src/components/EntryCard/entry-box.tsx
  ui/hooks/src/utils/entry-utils.ts
  ui/hooks/src/utils/media-utils.ts
  ui/typings/src/entry.ts
Labels: design-system, plugin/widget, apps

#1292 Chore: close modal before navigation
  ui/plugins/profile/src/components/profile-cards/stat-modal-wrapper.tsx
Labels: plugin/widget

#1294 Resolve ETH addr to pubKey for new moderators
  api/hub/src/api.ts
  api/hub/src/datasources/moderation-admin.ts
Labels: api

#1302 patch combineLatest for no emit data, scroll top
  ui/hooks/src/use-follow.new.ts
  ui/hooks/src/use-profile.new.ts
  ui/widgets/feed/package-lock.json
  ui/widgets/feed/package.json
  ui/widgets/feed/src/components/App.tsx
  ui/widgets/layout/src/components/styled-containers.ts
Labels: plugin/widget

#1300 Fix: profile stats modal
  ui/plugins/profile/src/components/profile-cards/stat-modal-wrapper.tsx
Labels: plugin/widget

#1304 Fix/comment edit
  apps/akasha/src/components/post-page/post-page.tsx
  apps/akasha/src/extensions/entry-edit-button.tsx
  ui/design/src/components/Editor/index.tsx
  ui/design/src/components/EditorCard/comment-editor.tsx
  ui/hooks/src/use-comments.new.ts
  ui/typings/src/app-loader.ts
  ui/widgets/feed/src/components/App.tsx
  ui/widgets/feed/src/components/entry-renderer.tsx
Labels: design-system, plugin/widget, apps

#1312 Preview fixes1
  ui/design/src/components/Editor/link-preview.tsx
  ui/hooks/src/utils/entry-utils.ts
Labels: design-system, plugin/widget

#1310 fix(ui): correct wrong profile linking from posts on bookmark page
  ui/plugins/bookmarks/src/components/bookmarks-page.tsx
  ui/plugins/bookmarks/src/components/entry-renderer.tsx
Labels: plugin/widget

#1313 Slate content typings
  apps/akasha/src/components/post-page/post-page.tsx
  apps/akasha/src/extensions/editor-modal.tsx
  ui/design/package-lock.json
  ui/design/package.json
  ui/design/src/components/Editor/custom-types.ts
  ui/design/src/components/Editor/helpers.ts
  ui/design/src/components/Editor/index.tsx
  ui/design/src/components/Editor/renderers.tsx
  ui/design/src/components/EmbedBox/index.tsx
  ui/design/src/components/EntryCard/entry-box.tsx
  ui/design/src/components/ReadOnlyEditor/index.tsx
  ui/design/src/utils/dummy-data.ts
  ui/hooks/src/use-posts.new.ts
  ui/hooks/src/utils/entry-utils.ts
  ui/plugins/bookmarks/src/components/entry-renderer.tsx
  ui/typings/package-lock.json
  ui/typings/package.json
  ui/typings/src/editor.ts
  ui/typings/src/entry.ts
  ui/widgets/feed/src/components/entry-renderer.tsx
Labels: design-system, plugin/widget, apps

#1320 Refactor: moderation request
  apps/akasha/src/components/feed-page/feed-page.tsx
  apps/moderation/src/components/app-routes.tsx
  apps/moderation/src/components/content-list.tsx
  apps/moderation/src/components/explanations-box.tsx
  apps/moderation/src/components/no-items-found.tsx
  apps/moderation/src/components/transparency-log.tsx
  apps/moderation/src/components/transparency-log/detail-card.tsx
  ui/design/src/components/EnsFormCard/index.tsx
  ui/hooks/src/moderation-request.ts
  ui/widgets/top-bar/src/components/topbar-component.tsx
Labels: design-system, plugin/widget, apps

#1326 Fix/elevated bugs
  apps/akasha/src/extensions/entry-remove-modal.tsx
  ui/design/src/components/EntryCard/index.tsx
  ui/plugins/profile/src/components/routes/profile-page.tsx
  ui/typings/src/app-loader.ts
  ui/widgets/feed/src/components/entry-renderer.tsx
  ui/widgets/layout/src/components/layout-widget.tsx
Labels: design-system, plugin/widget, apps

#1327 Patches2
  ui/design/package-lock.json
  ui/design/package.json
  ui/design/src/components/Editor/index.tsx
  ui/design/src/components/Editor/link-preview.tsx
  ui/design/src/components/Editor/tag-popover.tsx
  ui/design/src/components/Icon/index.tsx
  ui/design/src/components/Icon/new-icons/index.ts
  ui/design/src/components/Icon/new-icons/zoom-in.tsx
  ui/design/src/components/Icon/new-icons/zoom-out.tsx
  ui/design/src/components/ImageOverlay/index.tsx
  ui/design/src/components/OnboardingCard/index.tsx
  ui/design/src/components/ProfileCard/profile-card-fields/profile-card-avatar.tsx
  ui/design/src/components/ProfileCard/profile-card-fields/profile-card-cover-image.tsx
  ui/design/src/components/ReadOnlyEditor/index.tsx
  ui/design/src/components/StatModal/index.tsx
  ui/design/src/components/TagCard/index.tsx
  ui/design/src/components/TagCard/tag-detail-card.tsx
  ui/design/src/components/TagCard/tag-profile-card.tsx
  ui/design/src/components/TagCard/tag-search-card.tsx
  ui/design/src/components/TrendingWidgetCard/index.tsx
  ui/design/src/utils/dummy-data.ts
  ui/plugins/search/src/components/routes/search-page.tsx
  ui/typings/src/entry.ts
Labels: design-system, plugin/widget

#1328 refactor(stash, moderation-req): add cache strategy
  sdk/src/gql/index.ts
  sdk/src/stash/index.ts
  sdk/typings/src/interfaces/auth.ts
  sdk/typings/src/interfaces/stash.ts
  ui/hooks/src/moderation-request.ts
  ui/widgets/layout/src/components/styled-containers.ts
Labels: plugin/widget

#1333 add useModerationStatus and default options to react-query
  ui/hooks/src/moderation-request.ts
  ui/hooks/src/utils/provider-hoc.tsx
Labels: plugin/widget

#1338 fetch profiles from cache, fix editor typings and comment click
  apps/akasha/src/components/post-page/post-page.tsx
  sdk/src/stash/index.ts
  ui/design/src/components/Editor/helpers.ts
  ui/design/src/components/Editor/index.tsx
  ui/hooks/src/use-mentions.new.ts
  ui/hooks/src/use-notifications.new.ts
  ui/hooks/src/use-posts.new.ts
  ui/hooks/src/use-profile.new.ts
  ui/hooks/src/use-search.new.ts
  ui/hooks/src/use-trending.new.ts
  ui/hooks/src/utils/provider-hoc.tsx
  ui/typings/src/editor.ts
Labels: design-system, plugin/widget, apps

#1332 Fix/reported author
  apps/akasha/src/components/post-page/post-page.tsx
  ui/hooks/src/use-comments.new.ts
  ui/hooks/src/use-posts.new.ts
  ui/plugins/bookmarks/src/components/entry-renderer.tsx
  ui/plugins/profile/src/components/routes/profile-page.tsx
  ui/widgets/feed/src/components/App.tsx
  ui/widgets/feed/src/components/entry-feed.tsx
  ui/widgets/feed/src/components/entry-renderer.tsx
Labels: plugin/widget, apps

#1339 fix(): linkPreview fixes, profile widget
  apps/akasha/src/components/feed-page/feed-page.tsx
  apps/akasha/src/extensions/editor-modal.tsx
  apps/akasha/src/extensions/profile-card-widget.tsx
  apps/akasha/src/index.tsx
  ui/app-loader/src/index.ts
  ui/design/src/components/Editor/index.tsx
  ui/design/src/components/Editor/renderers.tsx
  ui/design/src/components/EditorCard/index.tsx
  ui/design/src/components/EditorModal/index.tsx
  ui/design/src/components/EntryCard/entry-box.tsx
  ui/design/src/components/ProfileCard/profile-mini-card.tsx
  ui/hooks/src/utils/entry-utils.ts
  ui/typings/src/entry.ts
Labels: design-system, plugin/widget, apps
