Repository AKASHAorg/akasha-core, pull requests merged in 2021-10, with the labels that each got.

#1335 Fix: moderation app issues
  apps/akasha/src/components/feed-page/feed-page.tsx
  apps/akasha/src/components/post-page/post-page.tsx
  apps/moderation/src/components/content-card/content-card.tsx
  apps/moderation/src/components/content-list.tsx
  apps/moderation/src/components/entry-data-card.tsx
  apps/moderation/src/components/explanations-box-entry.tsx
  apps/moderation/src/components/explanations-box.tsx
  apps/moderation/src/components/transparency-log.tsx
  apps/moderation/src/components/transparency-log/banner.tsx
  apps/moderation/src/components/transparency-log/detail-card.tsx
  apps/moderation/src/extensions/moderate-modal.tsx
  apps/moderation/src/extensions/report-modal.tsx
  apps/moderation/src/interfaces/content.ts
  ui/design/package.json
  ui/design/src/components/EntryCard/__tests__/index.test.tsx
  ui/design/src/components/EntryCard/entry-box.tsx
  ui/design/src/components/EntryCard/index.tsx
  ui/design/src/components/FeedbackModal/FeedbackModal.stories.tsx
  ui/design/src/components/ModerateModal/ModerateModal.stories.tsx
  ui/design/src/components/ModerateModal/__tests__/index.test.tsx
  ui/design/src/components/ModerateModal/moderate-modal.tsx
  ui/design/src/components/ProfileCard/__tests__/index.test.tsx
  ui/design/src/components/ProfileCard/index.tsx
  ui/design/src/components/ReportModal/ReportModal.stories.tsx
  ui/design/src/components/ReportModal/__tests__/index.test.tsx
  ui/design/src/components/ReportModal/report-modal.tsx
  ui/design/src/components/StatModal/profile-entry.tsx
  ui/design/src/components/TopBar/profile-menu.tsx
  ui/design/src/components/TransparencyLogBanner/index.tsx
  ui/design/src/index.ts
  ui/hooks/README.md
  ui/hooks/src/constants.ts
  ui/hooks/src/index.ts
  ui/hooks/src/moderation-request.ts
  ui/hooks/src/moderation-requests.ts
  ui/hooks/src/use-comments.new.ts
  ui/hooks/src/use-moderation.ts
  ui/hooks/src/use-posts.new.ts
  ui/hooks/src/use-profile.new.ts
  ui/hooks/src/use-reasons.ts
  ui/hooks/src/use-search.new.ts
  ui/plugins/bookmarks/src/components/entry-renderer.tsx
  ui/plugins/profile/src/components/profile-cards/profile-page-header.tsx
  ui/plugins/search/src/components/routes/search-page.tsx
  ui/typings/src/index.ts
  ui/widgets/feed/src/components/entry-renderer.tsx
  ui/widgets/top-bar/src/components/topbar-component.tsx
Labels: design-system, plugin/widget, apps

#1341 feat(entry-card): show edited icon info
  sdk/src/posts/entry.graphql
  ui/design/src/components/EntryCard/entry-box.tsx
  ui/hooks/src/utils/entry-utils.ts
  ui/plugins/bookmarks/src/components/entry-renderer.tsx
  ui/typings/src/entry.ts
  ui/widgets/feed/src/components/entry-renderer.tsx
Labels: design-system, plugin/widget

#1342 fix: transparency log filter tab
  apps/moderation/src/components/transparency-log.tsx
Labels: apps

#1343 add image resize/transform to mutation/convert to webp
  api/hub/package-lock.json
  api/hub/package.json
  api/hub/src/helpers.ts
  api/hub/src/resolvers/mutations.ts
  api/hub/src/resolvers/query.ts
  api/hub/src/schema.ts
  sdk/src/posts/entry.graphql
  sdk/src/posts/entry.ts
Labels: api

#1344 fix linkPreview unsupported images handler
  api/hub/src/helpers.ts
  api/hub/src/resolvers/mutations.ts
Labels: api

#1345 Fix/layout
  apps/akasha/src/components/feed-page/feed-page.tsx
  babel.config.js
  examples/ui/ethereum.world/public/index.dev.html
  examples/ui/ethereum.world/public/index.html
  package-lock.json
  package.json
  ui/app-loader/src/index.ts
  ui/design/package-lock.json
  ui/design/src/components/EntryList/index.tsx
  ui/design/src/styles/themes/utils/theme-selector.tsx
  ui/hooks/src/index.ts
  ui/hooks/src/use-ens-registration.ts
  ui/hooks/src/utils/provider-hoc.tsx
  ui/plugins/profile/src/extensions/update-ens-modal.tsx
  ui/plugins/profile/src/extensions/update-profile-modal.tsx
  ui/widgets/feed/src/components/App.tsx
  ui/widgets/feed/src/components/entry-feed.tsx
  ui/widgets/feed/src/components/entry-renderer.tsx
  ui/widgets/layout/package-lock.json
  ui/widgets/layout/src/components/cookie-widget.tsx
  ui/widgets/layout/src/components/global-style.ts
  ui/widgets/layout/src/components/index.tsx
  ui/widgets/layout/src/components/layout-widget.tsx
  ui/widgets/layout/src/components/scroll-restorer.tsx
  ui/widgets/layout/src/components/styled-containers.ts
  ui/widgets/layout/src/components/styled-slots.ts
  ui/widgets/login-cta/src/components/App.tsx
Labels: design-system, plugin/widget, examples, apps

#1346 Patches4
  apps/akasha/src/components/feed-page/feed-page.tsx
  apps/akasha/src/components/post-page/post-page.tsx
  apps/akasha/src/components/tag-feed-page/tag-feed-page.tsx
  apps/akasha/src/extensions/entry-edit-button.tsx
  apps/akasha/src/index.tsx
  ui/app-loader/src/utils.ts
  ui/design/src/components/Editor/index.tsx
  ui/design/src/components/EntryCard/card-actions.tsx
  ui/design/src/components/EntryCard/card-header-menu.tsx
  ui/design/src/components/EntryCard/entry-box.tsx
  ui/design/src/components/EntryCard/index.tsx
  ui/design/src/components/MobileListModal/index.tsx
  ui/design/src/components/TextIcon/index.tsx
  ui/design/src/components/TextIcon/styled-text-icon.ts
  ui/design/src/components/TopBar/index.tsx
  ui/design/src/components/TopBar/styled-topbar.ts
  ui/design/src/utils/extension-point.tsx
  ui/hooks/src/use-login.new.ts
  ui/plugins/bookmarks/src/components/bookmarks-page.tsx
  ui/plugins/bookmarks/src/components/entry-renderer.tsx
  ui/plugins/profile/src/components/routes/profile-page.tsx
  ui/widgets/feed/src/components/App.tsx
  ui/widgets/feed/src/components/entry-feed.tsx
  ui/widgets/feed/src/components/entry-renderer.tsx
Labels: design-system, plugin/widget, apps

#1347 Fix/entry bugs
  ui/design/src/components/EditorModal/index.tsx
  ui/hooks/src/use-moderation.ts
  ui/hooks/src/use-posts.new.ts
  ui/plugins/bookmarks/src/components/entry-renderer.tsx
  ui/plugins/search/package.json
  ui/plugins/search/src/components/routes/entry-renderer.tsx
  ui/plugins/search/src/components/routes/search-page.tsx
  ui/typings/src/app-loader.ts
  ui/widgets/feed/src/components/entry-renderer.tsx
Labels: design-system, plugin/widget

#1357 Patches6
  apps/akasha/src/components/post-page/post-page.tsx
  apps/akasha/src/extensions/editor-modal.tsx
  ui/design/src/components/Editor/index.tsx
  ui/design/src/components/Editor/mention-popover.tsx
  ui/design/src/components/Editor/styled-editor-box.ts
  ui/design/src/components/Editor/tag-popover.tsx
  ui/design/src/components/EditorCard/comment-editor.tsx
  ui/design/src/components/EditorCard/index.tsx
  ui/design/src/components/EditorModal/index.tsx
  ui/design/src/components/ImageOverlay/index.tsx
  ui/design/src/components/TrendingWidgetCard/index.tsx
  ui/widgets/feed/src/components/entry-renderer.tsx
  ui/widgets/trending/src/components/trending-widget-component.tsx
Labels: design-system, plugin/widget, apps

#1368 refactor(api:cache): add group set api
  api/hub/src/datasources/post.ts
  api/hub/src/storage/i-lru.ts
  api/hub/src/storage/mem-lru.ts
  api/hub/src/storage/redis-lru.ts
Labels: api

#1369 Fix/follow
  apps/akasha/src/extensions/profile-card-widget.tsx
  ui/hooks/src/use-follow.new.ts
  ui/hooks/src/use-posts.new.ts
  ui/hooks/src/use-username.new.ts
  ui/widgets/layout/src/components/layout-widget.tsx
  ui/widgets/layout/src/components/styled-slots.ts
  ui/widgets/trending/src/components/trending-widget-component.tsx
Labels: plugin/widget, apps

#1386 Fix/fixes 03
  apps/akasha/src/components/post-page/post-page.tsx
  apps/moderation/src/components/transparency-log.tsx
  ui/design/src/components/EntryCard/basic-card-box.tsx
  ui/design/src/components/MdCard/index.tsx
  ui/design/src/components/StatModal/tag-entry.tsx
  ui/design/src/index.ts
  ui/hooks/src/use-posts.new.ts
  ui/plugins/profile/src/extensions/login-modal.tsx
  ui/plugins/search/src/components/routes/entry-renderer.tsx
  ui/widgets/feed/src/components/entry-renderer.tsx
Labels: design-system, plugin/widget, apps

#1443 Patches3
  apps/akasha/src/components/feed-page/feed-page.tsx
  apps/akasha/src/components/post-page/post-page.tsx
  apps/akasha/src/components/tag-feed-page/tag-feed-page.tsx
  apps/moderation/src/components/content-card/content-card.tsx
  apps/moderation/src/components/content-card/content.tsx
  apps/moderation/src/components/entry-data-card.tsx
  apps/moderation/src/interfaces/content.ts
  ui/design/src/components/BoxFormCard/__tests__/index.test.tsx
  ui/design/src/components/BoxFormCard/index.tsx
  ui/design/src/components/Editor/plugins.ts
  ui/design/src/components/Editor/renderers.tsx
  ui/design/src/components/EntryCard/__tests__/index.test.tsx
  ui/design/src/components/EntryCard/basic-card-box.tsx
  ui/design/src/components/EntryCard/card-actions.tsx
  ui/design/src/components/EntryCard/entry-box.tsx
  ui/design/src/components/EntryCard/index.tsx
  ui/design/src/components/EntryCard/styled-entry-box.ts
  ui/design/src/components/ImagePopover/form-image-popover.tsx
  ui/design/src/components/ListModal/index.tsx
  ui/design/src/components/ListModal/styled-modal.ts
  ui/design/src/components/MobileListModal/MobileListModal.stories.tsx
  ui/design/src/components/MobileListModal/__tests__/index.test.tsx
  ui/design/src/components/MobileListModal/index.tsx
  ui/design/src/components/NotificationCard/index.tsx
  ui/design/src/components/ProfileCard/__tests__/index.test.tsx
  ui/design/src/components/ProfileCard/index.tsx
  ui/design/src/components/StatModal/index.tsx
  ui/hooks/src/use-comments.new.ts
  ui/hooks/src/use-posts.new.ts
  ui/plugins/bookmarks/src/components/bookmarks-page.tsx
  ui/plugins/bookmarks/src/components/entry-renderer.tsx
  ui/plugins/notifications/src/components/notifications-page.tsx
  ui/plugins/profile/src/components/profile-cards/profile-page-header.tsx
  ui/plugins/profile/src/components/profile-cards/stat-modal-wrapper.tsx
  ui/plugins/profile/src/components/routes/profile-page.tsx
  ui/plugins/profile/src/extensions/update-profile-modal.tsx
  ui/plugins/search/src/components/routes/entry-renderer.tsx
  ui/plugins/search/src/components/routes/search-page.tsx
  ui/widgets/feed/src/components/App.tsx
  ui/widgets/feed/src/components/entry-feed.tsx
  ui/widgets/feed/src/components/entry-renderer.tsx
Labels: design-system, plugin/widget, apps

#1445 chore(): optimistic comments
  ui/hooks/src/use-comments.new.ts
  ui/hooks/src/use-posts.new.ts
Labels: plugin/widget

#1449 zoom-in-out and report success modal styling
  ui/design/src/components/ImageOverlay/index.tsx
  ui/design/src/components/ReportModal/report-success-modal.tsx
Labels: design-system, plugin/widget

#1450 Fix/link preview image
  ui/design/src/components/Editor/link-preview.tsx
Labels: design-system, plugin/widget
