Repository AKASHAorg/akasha-core, pull requests merged in 2021-12, with the labels that each got.

#1502 enc/dec service worker, fix api uncaught errors
  .eslintrc.js
  api/hub/src/wss.ts
  examples/ui/ethereum.world/webpack.config.js
  package-lock.json
  package.json
  sdk/package-lock.json
  sdk/package.json
  sdk/src/auth/constants.ts
  sdk/src/auth/helpers.ts
  sdk/src/auth/index.ts
  sdk/src/sw.ts
  ui/webpack.config.js
Labels: plugin/widget, examples, api

#1508 Dropzone for editor
  ui/design/package-lock.json
  ui/design/package.json
  ui/design/src/components/Editor/image-upload.tsx
  ui/design/src/components/Editor/index.tsx
Labels: design-system, plugin/widget

#1506 Fix: v2 signup 1
  apps/auth-app/src/components/sign-up/index.tsx
  apps/auth-app/src/components/sign-up/steps/StepThree.tsx
  ui/hooks/src/use-injected-provider.ts
Labels: plugin/widget, apps

#1509 Split useSearch hook
  ui/design/package-lock.json
  ui/design/package.json
  ui/hooks/src/index.ts
  ui/hooks/src/use-search.ts
  ui/plugins/search/src/components/routes/search-page.tsx
  ui/typings/package-lock.json
  ui/typings/package.json
Labels: design-system, plugin/widget

#1505 fix(ui): prevent already signed-up user from signing up again
  apps/auth-app/src/components/sign-up/index.tsx
  apps/auth-app/src/components/sign-up/steps/StepFour.tsx
  ui/hooks/src/use-login.ts
Labels: plugin/widget, apps

#1512 entry and editor fixes
  apps/akasha/src/components/post-page/post-page.tsx
  apps/akasha/src/extensions/editor-modal.tsx
  sdk/package-lock.json
  ui/design/src/components/Editor/index.tsx
  ui/design/src/components/EditorCard/index.tsx
  ui/design/src/components/EditorModal/index.tsx
  ui/plugins/search/src/components/__tests__/search-page.spec.tsx
Labels: design-system, plugin/widget, apps

#1515 chore(): update provider buttons copy
  apps/auth-app/src/components/sign-in/choose-provider.tsx
  apps/auth-app/src/components/sign-up/index.tsx
Labels: apps

#1514 fix(apps): correctly handle already registered user with checkSignUp
  apps/auth-app/src/components/sign-up/steps/StepFour.tsx
Labels: apps

#1516 fix(): add border to images, hide empty paragraph on posts with only …
  ui/design/src/components/Editor/image-gallery.tsx
  ui/design/src/components/EntryCard/entry-box.tsx
  ui/design/src/components/EntryCard/entry-image-gallery.tsx
Labels: design-system, plugin/widget

#1517 Fix/signup state reset
  apps/auth-app/src/components/sign-in/choose-provider.tsx
  apps/auth-app/src/components/sign-in/index.tsx
  ui/hooks/src/use-login.ts
Labels: plugin/widget, apps

#1518 Fix: reset selected provider state if error
  apps/auth-app/src/components/sign-in/index.tsx
Labels: apps

#1513 chore(ui): update signup and signin messages in steps
  apps/auth-app/src/components/sign-in/sign-in-status.tsx
  apps/auth-app/src/components/sign-up/index.tsx
  apps/auth-app/src/components/sign-up/steps/StepFour.tsx
  ui/hooks/src/utils/getProviderDetails.tsx
Labels: plugin/widget, apps

#1519 Fix image popovers
  apps/auth-app/src/components/sign-in/index.tsx
  ui/design/src/components/ImagePopover/form-image-popover.tsx
  ui/widgets/top-bar/src/components/topbar-component.tsx
Labels: design-system, plugin/widget, apps

#1520 fix(): entry image styling
  ui/design/src/components/Editor/image-gallery.tsx
  ui/design/src/components/EntryCard/entry-image-gallery.tsx
Labels: design-system, plugin/widget
