Repository AKASHAorg/akasha-core, pull requests merged in 2021-06, with the labels that each got.

#1155 Refactor: design system components - 01
  apps/akasha/src/components/feed-page/feed-page.tsx
  apps/akasha/src/components/new-post-page.tsx
  apps/akasha/src/components/post-page/post-page.tsx
  ui/design/src/components/AppMenuPopover/AppMenuPopover.stories.tsx
  ui/design/src/components/AreaChart/index.tsx
  ui/design/src/components/Avatar/avatar-image.tsx
  ui/design/src/components/BasicPopover/index.tsx
  ui/design/src/components/BoxFormCard/__tests__/index.test.tsx
  ui/design/src/components/BoxFormCard/index.tsx
  ui/design/src/components/BoxFormCard/sections/ActionButtonsSection.tsx
  ui/design/src/components/BoxFormCard/sections/AvatarSection.tsx
  ui/design/src/components/BoxFormCard/sections/CoverImageSection.tsx
  ui/design/src/components/BoxFormCard/sections/DescriptionSection.tsx
  ui/design/src/components/BoxFormCard/sections/NameInputSection.tsx
  ui/design/src/components/BoxFormCard/sections/TitleSection.tsx
  ui/design/src/components/BoxFormCard/sections/UsernameInputSection.tsx
  ui/design/src/components/Button/Button.stories.tsx
  ui/design/src/components/Button/index.tsx
  ui/design/src/components/DuplexButton/DuplexButton.stories.tsx
  ui/design/src/components/Editor/index.tsx
  ui/design/src/components/EditorCard/comment-editor.tsx
  ui/design/src/components/EditorCard/index.tsx
  ui/design/src/components/EditorModal/index.tsx
  ui/design/src/components/EmojiPopover/EmojiPopover.stories.tsx
  ui/design/src/components/EmojiPopover/RenderCategory.tsx
  ui/design/src/components/EmojiPopover/RenderContent.tsx
  ui/design/src/components/EmojiPopover/RenderEmoji.tsx
  ui/design/src/components/EmojiPopover/RenderSearchContent.tsx
  ui/design/src/components/EmojiPopover/__tests__/index.test.tsx
  ui/design/src/components/EmojiPopover/index.tsx
  ui/design/src/components/EnsFormCard/index.tsx
  ui/design/src/components/TopBar/TopBar.stories.tsx
  ui/design/src/components/TopicsWidgetCard/TopicsWidgetCard.stories.tsx
  ui/design/src/components/TutorialWidgetCard/TutorialWidgetCard.stories.tsx
  ui/design/src/components/TutorialWidgetCard/progress-bar.tsx
  ui/design/src/components/VoteIconButton/VoteIconButton.stories.tsx
  ui/design/src/components/VoteIconButton/index.tsx
  ui/plugins/search/src/components/routes/search-page.tsx
  ui/widgets/feed/src/components/entry-feed.tsx
Labels: design-system, plugin/widget

#1159 Feat: report account
  apps/moderation/src/components/content-card/content-card.tsx
  apps/moderation/src/components/entry-data-card.tsx
  package-lock.json
  package.json
  ui/design/src/components/EntryCard/card-header-menu.tsx
  ui/design/src/components/ProfileCard/index.tsx
  ui/design/src/components/ProfileCard/profile-card-edit-dropdown.tsx
  ui/design/src/components/ProfileCard/profile-card-menu-dropdown.tsx
  ui/plugins/profile/src/components/profile-cards/profile-page-header.tsx
Labels: design-system, plugin/widget

#1163 Feat: report comment
  apps/akasha/src/components/app-routes.tsx
  apps/akasha/src/components/feed-page/entry-card-renderer.tsx
  apps/akasha/src/components/feed-page/feed-page.tsx
  apps/akasha/src/components/post-page/post-page.tsx
  apps/akasha/src/components/post-page/post-renderer.tsx
  apps/akasha/src/components/tag-feed-page/tag-feed-page.tsx
  examples/ui/ethereum.world/public/importmap.dev.json
  examples/ui/ethereum.world/public/importmap.json
  examples/ui/ethereum.world/src/index.ts
  package.json
  ui/design/src/components/EntryCard/EntryCard.stories.tsx
  ui/design/src/components/EntryCard/__tests__/entry-card-hidden-test.tsx
  ui/design/src/components/EntryCard/entry-box.tsx
  ui/plugins/bookmarks/src/components/bookmarks-page.tsx
  ui/plugins/profile/src/components/profile-cards/profile-page-header.tsx
  ui/plugins/profile/src/components/routes/index.tsx
  ui/plugins/profile/src/components/routes/profile-page.tsx
  ui/plugins/search/src/components/routes/search-page.tsx
  ui/widgets/feed/src/components/App.tsx
  ui/widgets/feed/src/components/__tests__/entry-renderer.spec.tsx
  ui/widgets/feed/src/components/entry-feed.tsx
  ui/widgets/feed/src/components/entry-renderer.tsx
Labels: design-system, examples, plugin/widget

#1164 Optimizations for the moderation API
  api/hub/src/api.ts
  api/hub/src/datasources/moderation-admin.ts
  api/hub/src/datasources/moderation-decision.ts
  api/hub/src/datasources/moderation-report.ts
  ui/hooks/src/moderation-request.ts
Labels: enhancement, plugin/widget

#1165 Docs: update documentation
  README.md
  apps/README.md
  ui/Readme.md
  ui/design/README.md
  ui/hooks/README.md
  ui/plugins/Readme.md
  ui/plugins/app-center/README.md
  ui/plugins/bookmarks/README.md
  ui/plugins/legal/README.md
  ui/plugins/notifications/README.md
  ui/plugins/profile/README.md
  ui/plugins/search/README.md
  ui/testing-utils/README.md
  ui/typings/README.md
  ui/widgets/Readme.md
  ui/widgets/feed/README.md
  ui/widgets/layout/README.md
  ui/widgets/login/README.md
  ui/widgets/sidebar/README.md
  ui/widgets/top-bar/README.md
  ui/widgets/trending/README.md
Labels: design-system, plugin/widget

#1196 refactor(EventBus): add typed events for mutations
  apps/akasha/package.json
  apps/moderation/package.json
  examples/ui/ethereum.world/src/index.ts
  package-lock.json
  package.json
  sdk/package-lock.json
  sdk/package.json
  sdk/src/.gitignore
  sdk/src/auth/hub.auth.ts
  sdk/src/auth/index.ts
  sdk/src/common/event-bus.ts
  sdk/src/common/ipfs.connector.ts
  sdk/src/common/web3.connector.ts
  sdk/src/container.ts
  sdk/src/db/index.ts
  sdk/src/gql/index.ts
  sdk/src/helpers/observable.ts
  sdk/src/index.ts
  sdk/src/logging/index.ts
  sdk/src/posts/comments.ts
  sdk/src/posts/entry.ts
  sdk/src/posts/tags.ts
  sdk/src/profiles/index.ts
  sdk/src/registry/index.ts
  sdk/src/settings/index.ts
  sdk/src/stash/index.ts
  sdk/tsconfig.json
  sdk/typings/package-lock.json
  sdk/typings/package.json
  sdk/typings/src/.gitignore
  sdk/typings/src/index.ts
  sdk/typings/src/interfaces/auth.ts
  sdk/typings/src/interfaces/common.ts
  sdk/typings/src/interfaces/events.ts
  sdk/typings/src/interfaces/index.ts
  sdk/typings/src/interfaces/ipfs.connector.ts
  sdk/typings/src/interfaces/registry.ts
  sdk/typings/src/interfaces/responses.ts
  sdk/typings/src/interfaces/web3.connector.ts
  sdk/typings/src/service.interfaces.ts
  sdk/typings/src/service.types.ts
  sdk/typings/tsconfig.json
  sdk/webpack.config.js
  ui/app-loader/package.json
  ui/hooks/package-lock.json
  ui/hooks/package.json
  ui/plugins/search/src/components/routes/search-page.tsx
  ui/widgets/feed/package.json
  ui/widgets/login/package.json
  ui/widgets/top-bar/package.json
  ui/widgets/trending/package.json
Labels: examples, plugin/widget

#1200 Update tsconfig
  sdk/src/auth/index.ts
  sdk/typings/src/interfaces/log.ts
  tsconfig.json
  ui/tsconfig.json
Labels: plugin/widget

#1197 Feat: transparency log components
  apps/akasha/src/components/post-page/post-renderer.tsx
  ui/design/src/components/CookieCard/index.tsx
  ui/design/src/components/EntryCard/basic-card-box.tsx
  ui/design/src/components/Icon/new-icons/feedback.tsx
  ui/design/src/components/TransparencyLogBanner/TransparencyLogBanner.stories.tsx
  ui/design/src/components/TransparencyLogBanner/index.tsx
  ui/design/src/components/TransparencyLogDetailCard/TransparencyLogDetailCard.stories.tsx
  ui/design/src/components/TransparencyLogDetailCard/__tests__/index.test.tsx
  ui/design/src/components/TransparencyLogDetailCard/index.tsx
  ui/design/src/components/TransparencyLogMiniCard/TransparencyLogMiniCard.stories.tsx
  ui/design/src/components/TransparencyLogMiniCard/__tests__/index.test.tsx
  ui/design/src/components/TransparencyLogMiniCard/index.tsx
  ui/design/src/index.ts
  ui/design/src/static/img/moderation-history-illustration.png
  ui/design/src/styles/themes/dark/colors-dark.ts
  ui/design/src/styles/themes/interfaces.ts
  ui/design/src/styles/themes/light/colors-light.ts
  ui/design/src/styles/themes/utils/create-grommet-theme.ts
  ui/plugins/search/src/components/routes/search-page.tsx
Labels: design-system, plugin/widget

#1198 Res app loader v0.2
  .gitignore
  examples/ui/ethereum.world/package.json
  examples/ui/ethereum.world/public/importmap.dev.json
  examples/ui/ethereum.world/public/importmap.json
  examples/ui/ethereum.world/public/index.dev.html
  examples/ui/ethereum.world/public/index.html
  examples/ui/ethereum.world/src/index.ts
  examples/ui/ethereum.world/tsconfig.json
  sdk/package-lock.json
  sdk/src/auth/index.ts
  sdk/src/common/ipfs.connector.ts
  sdk/src/common/web3.connector.ts
  sdk/src/container.ts
  sdk/src/db/app.schema.ts
  sdk/src/db/index.ts
  sdk/src/db/settings.schema.ts
  sdk/src/gql/index.ts
  sdk/src/helpers/observable.ts
  sdk/src/index.ts
  sdk/src/logging/index.ts
  sdk/src/posts/comments.ts
  sdk/src/posts/entry.ts
  sdk/src/posts/tags.ts
  sdk/src/profiles/index.ts
  sdk/src/registry/index.ts
  sdk/src/settings/apps.ts
  sdk/src/settings/index.ts
  sdk/src/stash/index.ts
  sdk/tsconfig.json
  sdk/typings/package.json
  sdk/typings/src/interfaces/index.ts
  sdk/typings/src/interfaces/settings.ts
  sdk/typings/src/service.interfaces.ts
  sdk/typings/src/service.types.ts
  sdk/typings/tsconfig.json
  sdk/webpack.config.js
  ui/app-loader/src/apps.ts
  ui/app-loader/src/index.ts
  ui/app-loader/src/widgets.ts
  ui/app.pack.conf.js
  ui/design/src/components/EntryCard/card-actions.tsx
  ui/hooks/tsconfig.json
  ui/plugins/legal/src/components/App.tsx
  ui/plugins/legal/src/index.tsx
  ui/plugins/legal/tsconfig.json
Labels: design-system, examples, plugin/widget

#1199 Transparency log reasons
  api/hub/src/api.ts
  api/hub/src/collections/index.ts
  api/hub/src/collections/interfaces.ts
  api/hub/src/collections/moderation-reasons.ts
  api/hub/src/datasources/moderation-admin.ts
  api/hub/src/datasources/moderation-decision.ts
  api/hub/src/datasources/moderation-reasons.ts
  api/hub/src/helpers.ts
  package-lock.json
Labels: enhancement

#1204 Refactor fixes1
  apps/akasha/src/components/post-page/post-page.tsx
  ui/hooks/src/use-login-state.ts
  ui/hooks/src/use-tag-subscribe.ts
  ui/widgets/top-bar/package.json
  ui/widgets/top-bar/src/components/topbar-component.tsx
Labels: plugin/widget

#1205 fix(): local db schema
  sdk/src/auth/index.ts
  sdk/src/db/app.schema.ts
  sdk/src/db/settings.schema.ts
  sdk/src/profiles/index.ts
  ui/hooks/src/use-tag-subscribe.ts
  ui/widgets/trending/src/components/trending-widget-component.tsx
Labels: plugin/widget

#1206 fix(): tag subscriptions resp
  ui/hooks/src/use-tag-subscribe.ts
Labels: plugin/widget

#1210 Hooks update1
  ui/hooks/src/index.ts
  ui/hooks/src/use-sign-data.ts
Labels: plugin/widget
