Repository AKASHAorg/akasha-core, pull requests merged in 2021-08, with the labels that each got.

#1243 fixes and refactor getInterests
  api/hub/src/datasources/profile.ts
  api/hub/src/datasources/tag.ts
  api/hub/src/resolvers/query.ts
  api/hub/src/schema.ts
  sdk/src/definitions/graphql.d.ts
  sdk/src/posts/tag.graphql
  sdk/src/profiles/index.ts
  sdk/src/profiles/profile.graphql
  sdk/typings/src/interfaces/responses.ts
  ui/hooks/src/use-profile.new.ts
  ui/hooks/src/use-tag-subscribe.new.ts
  ui/hooks/src/use-tag-subscribe.ts
Labels: plugin/widget

#1244 chore(): fixes
  api/hub/src/datasources/comment.ts
  api/hub/src/datasources/post.ts
  api/hub/src/datasources/tag.ts
  sdk/src/container.ts
  ui/hooks/src/use-login-state.ts
Labels: plugin/widget

#1246 Hooks refactor5
  apps/akasha/src/components/app-routes.tsx
  apps/akasha/src/components/feed-page/feed-page.tsx
  apps/akasha/src/components/post-page/post-page.tsx
  apps/akasha/src/components/post-page/post-renderer.tsx
  apps/akasha/src/components/tag-feed-page/tag-feed-page.tsx
  apps/akasha/src/extensions/editor-modal.tsx
  ui/hooks/src/use-bookmarks.new.ts
  ui/hooks/src/use-comments.new.ts
  ui/hooks/src/use-follow.new.ts
  ui/hooks/src/use-legal.new.ts
  ui/hooks/src/use-notifications.new.ts
  ui/hooks/src/use-posts.new.ts
  ui/hooks/src/use-profile.new.ts
  ui/hooks/src/use-search.new.ts
  ui/hooks/src/use-tag-subscribe.new.ts
  ui/hooks/src/use-trending.new.ts
  ui/hooks/src/utils/error-handler.ts
  ui/plugins/bookmarks/src/components/bookmarks-page.tsx
  ui/plugins/bookmarks/src/components/entry-renderer.tsx
  ui/plugins/profile/src/components/profile-cards/profile-page-header.tsx
  ui/plugins/profile/src/extensions/profile-card-widget.tsx
  ui/plugins/search/src/components/routes/search-page.tsx
  ui/widgets/top-bar/src/components/topbar-component.tsx
Labels: plugin/widget

#1247 Feat/edit post
  apps/akasha/src/components/feed-page/entry-card-renderer.tsx
  apps/akasha/src/components/feed-page/feed-page.tsx
  apps/akasha/src/components/index.tsx
  apps/akasha/src/components/post-page/post-page.tsx
  apps/akasha/src/components/post-page/post-renderer.tsx
  apps/akasha/src/components/tag-feed-page/tag-feed-page.tsx
  apps/akasha/src/extensions/editor-modal.tsx
  apps/akasha/src/extensions/entry-edit-button.tsx
  apps/akasha/src/index.tsx
  sdk/src/posts/entry.graphql
  ui/app-loader/src/apps.ts
  ui/app-loader/src/index.ts
  ui/design/src/components/Editor/index.tsx
  ui/design/src/components/EditorCard/comment-editor.tsx
  ui/design/src/components/EditorCard/index.tsx
  ui/design/src/components/EditorModal/index.tsx
  ui/design/src/components/EntryCard/card-header-menu.tsx
  ui/design/src/components/EntryCard/entry-box.tsx
  ui/design/src/components/EntryCard/index.tsx
  ui/design/src/index.ts
  ui/hooks/src/use-comments.new.ts
  ui/hooks/src/use-posts.new.ts
  ui/hooks/src/utils/entry-utils.ts
  ui/plugins/profile/src/components/App.tsx
  ui/plugins/profile/src/components/routes/profile-page.tsx
  ui/plugins/search/src/components/App.tsx
  ui/typings/src/app-loader.ts
  ui/typings/src/index.ts
  ui/widgets/feed/src/components/App.tsx
  ui/widgets/feed/src/components/entry-feed.tsx
  ui/widgets/feed/src/components/entry-renderer.tsx
Labels: design-system, plugin/widget

#1248 Feat: moderation notifications and pubKey refactor
  api/hub/src/api.ts
  api/hub/src/collections/interfaces.ts
  api/hub/src/collections/moderators.ts
  api/hub/src/datasources/moderation-admin.ts
  api/hub/src/datasources/moderation-decision.ts
  ui/design/src/components/NotificationCard/NotificationCard.stories.tsx
  ui/design/src/components/NotificationCard/index.tsx
  ui/plugins/notifications/src/components/notifications-page.tsx
Labels: design-system, plugin/widget

#1250 Feat/scroll position
  apps/akasha/src/components/feed-page/entry-card-renderer.tsx
  apps/akasha/src/components/feed-page/feed-page.tsx
  apps/akasha/src/components/post-page/post-page.tsx
  apps/akasha/src/components/post-page/post-renderer.tsx
  apps/akasha/src/components/tag-feed-page/tag-feed-page.tsx
  apps/akasha/src/extensions/editor-modal.tsx
  apps/akasha/src/extensions/entry-remove-modal.tsx
  examples/ui/ethereum.world/public/index.dev.html
  examples/ui/ethereum.world/public/index.html
  ui/app.pack.conf.js
  ui/design/src/components/EntryList/index.tsx
  ui/design/src/components/Spinner/index.tsx
  ui/design/src/components/TagCard/tag-profile-card.tsx
  ui/design/src/components/VirtualList/index.tsx
  ui/design/src/components/VirtualList/interfaces.ts
  ui/design/src/index.ts
  ui/design/src/utils/intersection-observer.ts
  ui/hooks/src/use-bookmarks.new.ts
  ui/hooks/src/use-comments.new.ts
  ui/hooks/src/use-entry-bookmark.ts
  ui/hooks/src/use-follow.new.ts
  ui/hooks/src/use-posts.new.ts
  ui/hooks/src/use-posts.ts
  ui/hooks/src/utils/entry-utils.ts
  ui/hooks/src/utils/provider-hoc.tsx
  ui/plugins/bookmarks/src/components/App.tsx
  ui/plugins/bookmarks/src/components/bookmarks-page.tsx
  ui/plugins/bookmarks/src/components/entry-renderer.tsx
  ui/plugins/bookmarks/src/components/index.tsx
  ui/plugins/bookmarks/src/i18n.ts
  ui/plugins/profile/src/components/profile-cards/profile-page-header.tsx
  ui/plugins/profile/src/components/routes/index.tsx
  ui/plugins/profile/src/components/routes/profile-page.tsx
  ui/widgets/feed/src/components/App.tsx
  ui/widgets/feed/src/components/entry-feed.tsx
  ui/widgets/feed/src/components/entry-renderer.tsx
Labels: design-system, plugin/widget, examples

#1253 fix(): layout and apps fixes
  apps/akasha/src/components/post-page/post-page.tsx
  apps/akasha/src/components/tag-feed-page/tag-feed-page.tsx
  ui/design/src/components/EntryCard/entry-box.tsx
  ui/hooks/src/use-search.new.ts
  ui/hooks/src/use-tag-subscribe.new.ts
  ui/plugins/bookmarks/src/components/bookmarks-page.tsx
  ui/plugins/search/src/components/routes/search-page.tsx
  ui/widgets/feed/src/components/entry-feed.tsx
  ui/widgets/layout/src/components/layout-widget.tsx
  ui/widgets/layout/src/components/styled-containers.ts
  ui/widgets/layout/src/components/styled-slots.ts
  ui/widgets/trending/src/components/trending-widget-component.tsx
Labels: design-system, plugin/widget

#1251 Feat/replace moderation email sender
  api/hub/.env.example
  api/hub/package-lock.json
  api/hub/package.json
  api/hub/src/api.ts
  api/hub/src/datasources/moderation-report.ts
  api/hub/src/helpers.ts
  ui/webpack.config.js
Labels: plugin/widget

#1255 deps upgrades && adjustments to webpack-dev
  api/hub/package-lock.json
  api/hub/package.json
  api/hub/src/helpers.ts
  apps/akasha/package-lock.json
  apps/akasha/package.json
  apps/moderation/package-lock.json
  apps/moderation/package.json
  examples/ui/ethereum.world/package-lock.json
  examples/ui/ethereum.world/package.json
  examples/ui/ethereum.world/public/index.dev.html
  examples/ui/ethereum.world/public/index.html
  examples/ui/ethereum.world/webpack.config.js
  package-lock.json
  package.json
  sdk/package-lock.json
  sdk/package.json
  sdk/typings/package-lock.json
  sdk/typings/package.json
  sdk/webpack.config.js
  ui/app-loader/package-lock.json
  ui/app-loader/package.json
  ui/design/package-lock.json
  ui/design/package.json
  ui/hooks/package-lock.json
  ui/hooks/package.json
  ui/plugins/app-center/package-lock.json
  ui/plugins/app-center/package.json
  ui/plugins/bookmarks/package-lock.json
  ui/plugins/bookmarks/package.json
  ui/plugins/legal/package-lock.json
  ui/plugins/legal/package.json
  ui/plugins/notifications/package-lock.json
  ui/plugins/notifications/package.json
  ui/plugins/profile/package-lock.json
  ui/plugins/profile/package.json
  ui/plugins/search/package-lock.json
  ui/plugins/search/package.json
  ui/testing-utils/package-lock.json
  ui/testing-utils/package.json
  ui/typings/package-lock.json
  ui/typings/package.json
  ui/webpack.config.js
  ui/widgets/feed/package-lock.json
  ui/widgets/feed/package.json
  ui/widgets/layout/package-lock.json
  ui/widgets/layout/package.json
  ui/widgets/login-cta/package-lock.json
  ui/widgets/login-cta/package.json
  ui/widgets/sidebar/package-lock.json
  ui/widgets/sidebar/package.json
  ui/widgets/top-bar/package-lock.json
  ui/widgets/top-bar/package.json
  ui/widgets/trending/package-lock.json
  ui/widgets/trending/package.json
Labels: design-system, plugin/widget, examples

#1257 feat: added AbortController for moderation requests
  ui/hooks/src/moderation-request.ts
Labels: plugin/widget

#1259 feat: worker threads for notifications
  api/hub/package-lock.json
  api/hub/src/helpers.ts
  api/hub/src/notifications.ts
Labels: enhancement

#1261 reposting fix WIP
  apps/akasha/package.json
  apps/akasha/src/components/feed-page/entry-card-renderer.tsx
  apps/akasha/src/components/feed-page/feed-page-custom-entities.tsx
  apps/akasha/src/components/feed-page/feed-page.tsx
  apps/akasha/src/components/new-post-page.tsx
  apps/akasha/src/components/post-page/post-page-pending-comments.tsx
  apps/akasha/src/components/post-page/post-page.tsx
  apps/akasha/src/components/post-page/post-renderer.tsx
  apps/akasha/src/components/tag-feed-page/tag-feed-page.tsx
  apps/akasha/src/extensions/editor-modal.tsx
  apps/akasha/src/extensions/entry-edit-button.tsx
  apps/akasha/src/extensions/entry-remove-modal.tsx
  ui/design/src/components/Editor/index.tsx
  ui/design/src/components/EditorCard/comment-editor.tsx
  ui/design/src/components/EmbedBox/index.tsx
  ui/design/src/components/EntryCard/card-actions.tsx
  ui/design/src/components/EntryCard/entry-box.tsx
  ui/design/src/components/EntryCard/social-box.tsx
  ui/hooks/src/index.ts
  ui/hooks/src/use-comments.new.ts
  ui/hooks/src/use-mentions.new.ts
  ui/hooks/src/use-posts.new.ts
  ui/hooks/src/use-posts.ts
  ui/hooks/src/use-query-listener.ts
  ui/hooks/src/use-tag.new.ts
  ui/hooks/src/utils/entry-utils.ts
  ui/plugins/search/src/components/routes/search-page.tsx
  ui/testing-utils/src/data-generator/post.ts
  ui/testing-utils/src/data-generator/user.ts
  ui/typings/package-lock.json
  ui/typings/package.json
  ui/typings/src/entry.ts
  ui/typings/src/index.ts
  ui/typings/src/profile.ts
  ui/widgets/feed/src/components/entry-renderer.tsx
  ui/widgets/trending/src/components/trending-widget-component.tsx
Labels: design-system, plugin/widget
