Repository AKASHAorg/akasha-core, pull requests merged in 2021-05, with the labels that each got.

#1102 Moderation API migration (ready for review)
  api/hub/.env.example
  api/hub/package.json
  api/hub/src/api.ts
  api/hub/src/collections/index.ts
  api/hub/src/collections/interfaces.ts
  api/hub/src/collections/invites.ts
  api/hub/src/collections/moderation-decisions.ts
  api/hub/src/collections/moderation-reports.ts
  api/hub/src/collections/moderators.ts
  api/hub/src/datasources/moderation-admin.ts
  api/hub/src/datasources/moderation-decision.ts
  api/hub/src/datasources/moderation-report.ts
  api/hub/src/helpers.ts
  api/hub/src/schema.ts
  apps/akasha/src/components/feed-page/feed-page.tsx
  apps/akasha/src/components/post-page/post-page.tsx
  apps/akasha/src/components/tag-feed-page/tag-feed-page.tsx
  apps/moderation/src/components/explanations-box-entry.tsx
  apps/moderation/src/services/constants.ts
  ui/design/src/components/ModerateModal/moderate-modal.tsx
  ui/design/src/components/ReportModal/report-modal.tsx
  ui/design/src/components/ReportModal/report-success-modal.tsx
  ui/hooks/src/constants.ts
  ui/hooks/src/moderation-request.ts
  ui/hooks/src/use-profile.ts
  ui/plugins/profile/src/components/profile-cards/profile-page-header.tsx
  ui/plugins/profile/src/components/routes/profile-page.tsx
  ui/plugins/search/src/components/routes/search-page.tsx
Labels: design-system, plugin/widget

#1151 Public transparency log for moderation
  api/hub/src/api.ts
  api/hub/src/datasources/moderation-decision.ts
  api/hub/src/datasources/moderation-report.ts
Labels: enhancement

#1154 Chore: purge old stories
  package.json
  ui/storybook/.eslintignore
  ui/storybook/.storybook/main.js
  ui/storybook/.storybook/preview-body.html
  ui/storybook/.storybook/preview.js
  ui/storybook/.storybook/theme-sync-addon.js
  ui/storybook/package-lock.json
  ui/storybook/package.json
  ui/storybook/src/components/Avatar.stories.tsx
  ui/storybook/src/components/Bars.stories.tsx
  ui/storybook/src/components/Buttons.stories.tsx
  ui/storybook/src/components/Charts.stories.tsx
  ui/storybook/src/components/Editor.stories.tsx
  ui/storybook/src/components/EditorCards.stories.tsx
  ui/storybook/src/components/EntryCards.stories.tsx
  ui/storybook/src/components/ErrorLoader.stories.tsx
  ui/storybook/src/components/FormCards.stories.tsx
  ui/storybook/src/components/Icon.stories.tsx
  ui/storybook/src/components/Input.stories.tsx
  ui/storybook/src/components/Modals.stories.tsx
  ui/storybook/src/components/Notification.stories.tsx
  ui/storybook/src/components/OnboardingCards.stories.tsx
  ui/storybook/src/components/Popovers.stories.tsx
  ui/storybook/src/components/ProfileCards.stories.tsx
  ui/storybook/src/components/Spinner.stories.tsx
  ui/storybook/src/components/TagCards.stories.tsx
  ui/storybook/src/components/TextIcon.stories.tsx
  ui/storybook/src/components/UtilityCards.stories.tsx
  ui/storybook/src/components/WidgetCards.stories.tsx
  ui/storybook/src/components/cards-data.ts
  ui/storybook/src/components/editor-data.ts
  ui/storybook/tsconfig.json
Labels: design-system, plugin/widget

#1157 Email notifications for moderation
  api/hub/.env.example
  api/hub/package-lock.json
  api/hub/package.json
  api/hub/src/datasources/moderation-report.ts
  api/hub/src/helpers.ts
  package-lock.json
  sdk-packages/akasha/webpack.dev.config.js
  ui/app.pack.conf.js
Labels: plugin/widget, sdk
