Repository AKASHAorg/akasha-core, pull requests merged in 2021-07, with the labels that each got.

#1211 chore(): revert to menuitems and other fixes
  apps/akasha/package-lock.json
  apps/akasha/src/index.tsx
  apps/akasha/src/widgets/new-post-community-guidelines/index.ts
  apps/akasha/src/widgets/new-post-terms/index.ts
  apps/akasha/src/widgets/new-post-wohoo/index.ts
  apps/moderation/package-lock.json
  apps/moderation/src/index.tsx
  examples/ui/ethereum.world/public/importmap.dev.json
  examples/ui/ethereum.world/public/importmap.json
  examples/ui/ethereum.world/public/index.dev.html
  examples/ui/ethereum.world/public/index.html
  sdk-packages/app-loader/src/index.ts
  ui/app-loader/package.json
  ui/app-loader/src/apps.ts
  ui/app-loader/src/base-integration.ts
  ui/app-loader/src/index.ts
  ui/app-loader/src/utils.ts
  ui/app-loader/src/widgets.ts
  ui/design/src/index.ts
  ui/design/src/styles/themes/utils/create-theme.ts
  ui/design/src/utils/clickAway.ts
  ui/plugins/bookmarks/src/index.tsx
  ui/plugins/legal/src/index.tsx
  ui/plugins/notifications/src/index.tsx
  ui/plugins/profile/src/components/__tests__/profile-page-header.spec.tsx
  ui/plugins/profile/src/index.tsx
  ui/plugins/search/src/components/routes/index.tsx
  ui/plugins/search/src/components/routes/search-page.tsx
  ui/plugins/search/src/index.tsx
  ui/typings/src/app-loader.d.ts
  ui/typings/src/app-loader.ts
  ui/typings/src/index.d.ts
  ui/typings/src/index.ts
  ui/widgets/layout/src/components/layout-widget.tsx
  ui/widgets/sidebar/src/components/Sidebar-widget.tsx
  ui/widgets/top-bar/package.json
  ui/widgets/top-bar/src/components/topbar-component.tsx
  ui/widgets/trending/src/components/App.tsx
Labels: design-system, examples, plugin/widget, sdk

#1213 feat(): add edit post/comment
  api/hub/src/collections/comments.ts
  api/hub/src/collections/interfaces.ts
  api/hub/src/collections/posts.ts
  api/hub/src/datasources/comment.ts
  api/hub/src/datasources/post.ts
  api/hub/src/datasources/tag.ts
  api/hub/src/resolvers/mutations.ts
  api/hub/src/schema.ts
  apps/akasha/package.json
  apps/moderation/package.json
  package.json
  sdk/package.json
  sdk/src/definitions/graphql.d.ts
  sdk/src/index.ts
  sdk/src/posts/comments.graphql
  sdk/src/posts/comments.ts
  sdk/src/posts/entry.graphql
  sdk/src/posts/entry.ts
  sdk/typings/src/index.ts
  sdk/typings/src/interfaces/events.ts
  sdk/typings/src/interfaces/posts.ts
  ui/app-loader/package.json
  ui/design/package.json
  ui/hooks/package.json
  ui/plugins/app-center/package.json
  ui/plugins/bookmarks/package.json
  ui/plugins/legal/package.json
  ui/plugins/notifications/package.json
  ui/plugins/profile/package.json
  ui/plugins/search/package.json
  ui/testing-utils/package.json
  ui/typings/package.json
  ui/widgets/feed/package.json
  ui/widgets/layout/package.json
  ui/widgets/login/package.json
  ui/widgets/sidebar/package.json
  ui/widgets/top-bar/package.json
  ui/widgets/trending/package.json
Labels: design-system, plugin/widget

#1212 Feat: transparency log
  apps/moderation/src/components/app-routes.tsx
  apps/moderation/src/components/content-card/content-card.tsx
  apps/moderation/src/components/content-list.tsx
  apps/moderation/src/components/entry-data-card.tsx
  apps/moderation/src/components/prompt-authentication.tsx
  apps/moderation/src/components/transparency-log.tsx
  apps/moderation/src/routes.ts
  ui/design/src/components/EntryCard/basic-card-box.tsx
  ui/design/src/components/Icon/index.tsx
  ui/design/src/components/Icon/new-icons/book.tsx
  ui/design/src/components/Icon/new-icons/feedback.tsx
  ui/design/src/components/Icon/new-icons/index.ts
  ui/design/src/components/Icon/new-icons/quote.tsx
  ui/design/src/components/ModerationAppErrorCard/index.tsx
  ui/design/src/components/TopBar/__tests__/index.test.tsx
  ui/design/src/components/TopBar/index.tsx
  ui/design/src/components/TopBar/profile-menu.tsx
  ui/design/src/components/TransparencyLogBanner/index.tsx
  ui/design/src/components/TransparencyLogDetailCard/TransparencyLogDetailCard.stories.tsx
  ui/design/src/components/TransparencyLogDetailCard/__tests__/index.test.tsx
  ui/design/src/components/TransparencyLogDetailCard/index.tsx
  ui/design/src/components/TransparencyLogMiniCard/index.tsx
  ui/hooks/src/moderation-request.ts
  ui/widgets/top-bar/src/components/topbar-component.tsx
Labels: design-system, plugin/widget

#1215 chore(): pass isMobile prop to root components
  ui/app-loader/src/apps.ts
  ui/app-loader/src/base-integration.ts
  ui/app-loader/src/index.ts
  ui/app-loader/src/widgets.ts
  ui/typings/src/app-loader.ts
Labels: plugin/widget

#1218 chore(): rm sidebar; fix keys; add optional activityfn to extension p…
  apps/akasha/src/components/feed-page/feed-page-custom-entities.tsx
  examples/ui/ethereum.world/src/index.ts
  ui/app-loader/src/index.ts
  ui/design/src/components/VirtualList/card-renderer.tsx
  ui/design/src/components/VirtualList/list-viewport.tsx
  ui/typings/src/app-loader.ts
Labels: design-system, examples, plugin/widget

#1217 Refactor: update report reasons
  apps/akasha/src/components/feed-page/feed-page.tsx
  apps/akasha/src/components/post-page/post-page.tsx
  apps/akasha/src/components/tag-feed-page/tag-feed-page.tsx
  ui/plugins/profile/src/components/profile-cards/profile-page-header.tsx
  ui/plugins/profile/src/components/routes/profile-page.tsx
  ui/plugins/search/src/components/routes/search-page.tsx
Labels: plugin/widget

#1220 Refactor: modals to extensions
  apps/akasha/src/components/app-routes.tsx
  apps/akasha/src/components/feed-page/feed-page.tsx
  apps/akasha/src/components/post-page/post-page.tsx
  apps/akasha/src/components/tag-feed-page/tag-feed-page.tsx
  apps/moderation/src/components/app.tsx
  apps/moderation/src/components/content-list.tsx
  apps/moderation/src/extensions/moderate-modal.tsx
  apps/moderation/src/extensions/report-modal.tsx
  apps/moderation/src/index.tsx
  ui/app-loader/src/index.ts
  ui/design/src/components/ModerateModal/ModerateModal.stories.tsx
  ui/design/src/components/ModerateModal/__tests__/index.test.tsx
  ui/design/src/components/ModerateModal/moderate-modal.tsx
  ui/design/src/components/ReportModal/ReportModal.stories.tsx
  ui/design/src/components/ReportModal/__tests__/index.test.tsx
  ui/design/src/components/ReportModal/report-modal.tsx
  ui/hooks/src/moderation-request.ts
  ui/plugins/profile/src/components/profile-cards/profile-page-header.tsx
  ui/plugins/profile/src/components/routes/index.tsx
  ui/plugins/profile/src/components/routes/profile-page.tsx
  ui/plugins/profile/src/extensions/login-modal.tsx
  ui/plugins/profile/src/extensions/sign-in-modal.tsx
  ui/plugins/profile/src/extensions/sign-up-modal.tsx
  ui/plugins/search/src/components/routes/search-page.tsx
  ui/typings/src/index.ts
Labels: design-system, plugin/widget

#1225 Chore: update storybook
  ui/design/package-lock.json
  ui/design/package.json
Labels: design-system, plugin/widget

#1223 refactor(): add react-query hooks for posts
  api/hub/src/datasources/post.ts
  apps/akasha/src/components/feed-page/feed-page.tsx
  apps/akasha/src/components/post-page/post-page.tsx
  ui/design/src/components/EntryCard/entry-box.tsx
  ui/hooks/src/use-posts.new.ts
  ui/hooks/src/use-posts.ts
  ui/hooks/src/utils/entry-utils.ts
  ui/widgets/feed/i18next-parser.config.js
Labels: design-system, plugin/widget

#1224 Refactor fixes4
  apps/akasha/src/components/app-routes.tsx
  apps/akasha/src/components/app.tsx
  apps/akasha/src/components/feed-page/feed-page.tsx
  apps/akasha/src/components/index.tsx
  apps/akasha/src/components/post-page/post-page.tsx
  apps/akasha/src/components/tag-feed-page/tag-feed-page.tsx
  apps/akasha/src/extensions/editor-modal.tsx
  apps/akasha/src/index.tsx
  apps/moderation/src/components/app.tsx
  apps/moderation/src/components/index.ts
  apps/moderation/src/extensions/moderate-modal.tsx
  apps/moderation/src/extensions/report-modal.tsx
  examples/ui/ethereum.world/src/index.ts
  sdk/src/auth/hub.auth.ts
  ui/app-loader/src/integration-data.ts
  ui/design/src/components/EditorModal/index.tsx
  ui/hooks/src/index.ts
  ui/hooks/src/utils/provider-hoc.tsx
  ui/plugins/bookmarks/src/components/App.tsx
  ui/plugins/bookmarks/src/components/index.ts
  ui/plugins/bookmarks/src/index.tsx
  ui/plugins/legal/src/components/App.tsx
  ui/plugins/legal/src/components/index.ts
  ui/plugins/legal/src/components/routes/index.tsx
  ui/plugins/notifications/src/components/App.tsx
  ui/plugins/notifications/src/components/index.ts
  ui/plugins/notifications/src/index.tsx
  ui/plugins/profile/src/components/App.tsx
  ui/plugins/profile/src/components/index.ts
  ui/plugins/profile/src/components/routes/index.tsx
  ui/plugins/profile/src/components/routes/profile-page.tsx
  ui/plugins/profile/src/extensions/login-modal.tsx
  ui/plugins/profile/src/extensions/sign-in-modal.tsx
  ui/plugins/profile/src/extensions/sign-up-modal.tsx
  ui/plugins/search/src/components/App.tsx
  ui/plugins/search/src/components/index.ts
  ui/plugins/search/src/components/routes/index.tsx
  ui/plugins/search/src/components/routes/search-page.tsx
  ui/typings/src/index.ts
  ui/widgets/feed/src/components/App.tsx
  ui/widgets/feed/src/components/entry-feed.tsx
  ui/widgets/sidebar/package.json
  ui/widgets/sidebar/src/components/Sidebar-widget.tsx
  ui/widgets/sidebar/src/components/index.ts
  ui/widgets/top-bar/src/components/index.ts
  ui/widgets/top-bar/src/components/topbar-widget.tsx
  ui/widgets/top-bar/src/extensions/feedback-modal.tsx
  ui/widgets/trending/src/components/App.tsx
  ui/widgets/trending/src/components/index.tsx
Labels: design-system, examples, plugin/widget

#1228 Feat/remove entries
  apps/akasha/src/components/feed-page/entry-card-renderer.tsx
  apps/akasha/src/components/feed-page/feed-page.tsx
  apps/akasha/src/components/post-page/post-page.tsx
  apps/akasha/src/components/post-page/post-renderer.tsx
  apps/akasha/src/extensions/entry-remove-modal.tsx
  apps/akasha/src/index.tsx
  package.json
  sdk/src/posts/comments.graphql
  sdk/src/posts/entry.graphql
  ui/app-loader/src/index.ts
  ui/design/src/components/ConfirmationModal/ConfirmationModal.stories.tsx
  ui/design/src/components/ConfirmationModal/__tests__/index.test.tsx
  ui/design/src/components/ConfirmationModal/index.tsx
  ui/design/src/components/EntryCard/card-header-menu.tsx
  ui/design/src/components/EntryCard/entry-box.tsx
  ui/design/src/components/EntryCard/index.tsx
  ui/design/src/index.ts
  ui/design/src/test-utils/index.tsx
  ui/hooks/src/use-posts.ts
  ui/hooks/src/utils/entry-utils.ts
  ui/plugins/app-center/src/components/App.tsx
  ui/plugins/bookmarks/src/components/entry-renderer.tsx
  ui/plugins/legal/src/components/App.tsx
  ui/plugins/profile/package-lock.json
  ui/plugins/profile/package.json
  ui/plugins/profile/src/components/App.tsx
  ui/plugins/profile/src/components/routes/profile-page.tsx
  ui/plugins/search/src/components/App.tsx
  ui/plugins/search/src/components/routes/search-page.tsx
  ui/typings/src/app-loader.ts
  ui/typings/src/index.ts
  ui/widgets/feed/src/components/App.tsx
  ui/widgets/feed/src/components/entry-feed.tsx
  ui/widgets/feed/src/components/entry-renderer.tsx
  ui/widgets/login-cta/src/components/App.tsx
Labels: design-system, plugin/widget

#1214 feat: added moderation action log
  api/hub/.gitignore
  api/hub/src/api.ts
  api/hub/src/collections/interfaces.ts
  api/hub/src/collections/moderation-decisions.ts
  api/hub/src/collections/moderation-reasons.ts
  api/hub/src/datasources/moderation-decision.ts
  api/hub/src/datasources/moderation-report.ts
Labels: design-system, examples, plugin/widget, sdk

#1233 feat(hooks): add followers/following hooks
  ui/hooks/src/use-profile.new.ts
  ui/plugins/profile/src/components/routes/profile-page.tsx
Labels: plugin/widget

#1227 Feat: dynamic report reasons
  apps/moderation/src/extensions/report-modal.tsx
  ui/design/src/components/ReportModal/report-modal.tsx
  ui/hooks/src/constants.ts
  ui/hooks/src/index.ts
  ui/hooks/src/moderation-request.ts
  ui/hooks/src/use-reasons.ts
Labels: design-system, plugin/widget

#1237 Hooks refactor4
  apps/akasha/src/components/app.tsx
  apps/akasha/src/components/feed-page/entry-card-renderer.tsx
  apps/akasha/src/components/feed-page/feed-page.tsx
  apps/akasha/src/components/post-page/post-page.tsx
  apps/akasha/src/components/tag-feed-page/tag-feed-page.tsx
  apps/akasha/src/extensions/editor-modal.tsx
  apps/akasha/src/extensions/entry-remove-modal.tsx
  apps/akasha/src/services/posting-service.ts
  ui/design/src/utils/relative-time.tsx
  ui/hooks/src/index.ts
  ui/hooks/src/use-bookmarks.new.ts
  ui/hooks/src/use-comments.new.ts
  ui/hooks/src/use-entry-publisher.ts
  ui/hooks/src/use-feed-reducer.ts
  ui/hooks/src/use-follow.new.ts
  ui/hooks/src/use-legal.new.ts
  ui/hooks/src/use-mentions.new.ts
  ui/hooks/src/use-mentions.ts
  ui/hooks/src/use-network-state.new.ts
  ui/hooks/src/use-notifications.new.ts
  ui/hooks/src/use-notifications.ts
  ui/hooks/src/use-posts.new.ts
  ui/hooks/src/use-posts.ts
  ui/hooks/src/use-profile.ts
  ui/hooks/src/use-search.ts
  ui/hooks/src/use-tag-subscribe.new.ts
  ui/hooks/src/use-trending.new.ts
  ui/hooks/src/utils/entry-utils.ts
  ui/hooks/src/utils/media-utils.ts
  ui/plugins/legal/src/components/routes/code-of-conduct.tsx
  ui/plugins/legal/src/components/routes/developer-guidelines.tsx
  ui/plugins/legal/src/components/routes/privacy-policy.tsx
  ui/plugins/legal/src/components/routes/terms-of-service.tsx
  ui/plugins/legal/src/components/routes/terms-of-use.tsx
  ui/plugins/notifications/src/components/notifications-page.tsx
  ui/plugins/profile/src/components/profile-cards/profile-page-header.tsx
  ui/plugins/profile/src/components/routes/profile-page.tsx
  ui/widgets/feed/src/components/App.tsx
  ui/widgets/feed/src/components/entry-feed.tsx
  ui/widgets/top-bar/package-lock.json
  ui/widgets/top-bar/src/components/topbar-component.tsx
  ui/widgets/trending/package-lock.json
  ui/widgets/trending/package.json
  ui/widgets/trending/src/components/App.tsx
  ui/widgets/trending/src/components/trending-widget-component.tsx
Labels: design-system, plugin/widget

#1239 refactor(): interests/tag sub
  api/hub/src/collections/interfaces.ts
  api/hub/src/collections/profiles.ts
  api/hub/src/datasources/post.ts
  api/hub/src/datasources/profile.ts
  api/hub/src/resolvers/mutations.ts
  api/hub/src/schema.ts
  sdk/src/definitions/graphql.d.ts
  sdk/src/posts/comments.graphql
  sdk/src/posts/entry.graphql
  sdk/src/profiles/index.ts
  sdk/src/profiles/profile.graphql
  sdk/typings/src/interfaces/responses.ts
  ui/hooks/src/use-tag-subscribe.new.ts
  ui/hooks/src/use-tag-subscribe.ts
Labels: plugin/widget

#1240 chore()
  ui/plugins/profile/src/components/profile-cards/profile-page-header.tsx
Labels: plugin/widget

#1241 feat(): add interests && externalise hooks
  api/hub/src/datasources/post.ts
  api/hub/src/resolvers/query.ts
  examples/ui/ethereum.world/public/index.dev.html
  examples/ui/ethereum.world/public/index.html
  sdk/src/profiles/index.ts
  sdk/typings/src/interfaces/profile.ts
  ui/app.pack.conf.js
  ui/hooks/package.json
  ui/hooks/src/utils/provider-hoc.tsx
  ui/hooks/webpack.config.js
Labels: examples, plugin/widget
