Repository AKASHAorg/akasha-core, pull requests merged in 2021-04, with the labels that each got.

#1054 refactor signIn, notifications
  api/hub/.env.example
  api/hub/src/helpers.ts
  sdk-packages/akasha/webpack.dev.config.js
  sdk-packages/auth/src/auth.service.ts
  ui/webpack.config.js
Labels: plugin/widget, sdk

#1060 refactor(): sig generation and img uploader
  api/hub/package-lock.json
  api/hub/package.json
  api/hub/src/helpers.ts
  sdk-packages/akasha/webpack.dev.config.js
  sdk-packages/auth/package-lock.json
  sdk-packages/auth/package.json
  sdk-packages/auth/src/auth.service.ts
  ui/design/src/components/Editor/image-upload.tsx
Labels: design-system, plugin/widget, sdk

#1058 chore(): update profile avatar in topbar
  apps/akasha/src/components/app-routes.tsx
  apps/akasha/src/components/post-page/post-page.tsx
  apps/akasha/src/widgets/posts-profile-card-widget/profile-card-widget.tsx
  apps/moderation/src/components/content-card/content-card.tsx
  apps/moderation/src/components/content-card/content.tsx
  apps/moderation/src/components/content-list.tsx
  apps/moderation/src/components/explanations-box-entry.tsx
  apps/moderation/src/components/explanations-box.tsx
  apps/moderation/src/interfaces/content.ts
  ui/hooks/src/use-profile.ts
  ui/plugins/profile/src/components/routes/index.tsx
  ui/plugins/profile/src/components/routes/profile-page.tsx
  ui/plugins/search/src/components/routes/index.tsx
  ui/widgets/top-bar/src/components/topbar-component.tsx
Labels: plugin/widget

#1059 Feat: profile update popover mobile
  ui/design/src/components/Cards/entry-cards/card-header-menu.tsx
  ui/design/src/components/Cards/form-cards/box-form-card.tsx
  ui/design/src/components/Icon/icon.tsx
  ui/design/src/components/Icon/new-icons/report.tsx
  ui/design/src/components/Icon/new-icons/trash.tsx
  ui/design/src/components/Modals/list/mobile-list-modal.tsx
  ui/design/src/components/Popovers/image/form-image-popover.tsx
  ui/hooks/src/use-analytics.ts
Labels: design-system, plugin/widget

#1061 Feat: new user profile completed modal
  ui/design/src/components/Cards/__tests__/profile-card.test.tsx
  ui/design/src/components/Cards/form-cards/ens-form-card.tsx
  ui/design/src/components/Cards/profile-cards/profile-card-fields/profile-card-avatar.tsx
  ui/design/src/components/Cards/profile-cards/profile-widget-card.tsx
  ui/design/src/components/Modals/common/styled-modal.ts
  ui/design/src/components/Modals/index.ts
  ui/design/src/components/Modals/profile-completed/profile-completed.tsx
  ui/design/src/index.ts
  ui/design/src/static/img/profile-completed.png
  ui/plugins/profile/src/components/profile-cards/profile-page-header.tsx
  ui/plugins/profile/src/components/routes/profile-page.tsx
  ui/storybook/src/components/Modals.stories.tsx
Labels: design-system, plugin/widget

#1066 refactor(ens, profiles, entries): fix ens claim, encodings
  api/hub/src/datasources/profile.ts
  sdk-packages/akasha/webpack.dev.config.js
  sdk-packages/auth/src/auth.service.ts
  sdk-packages/posts/src/comment.service.ts
  sdk-packages/posts/src/entry.service.ts
  sdk-packages/profiles/src/profile.store.service.ts
  sdk-packages/registry/package.json
  sdk-packages/registry/src/ens.service.ts
  ui/hooks/src/use-ens-registration.ts
Labels: plugin/widget, sdk

#1068 Fix: switch card count label logic
  ui/design/src/components/Cards/utility-cards/switch-card.tsx
Labels: design-system, plugin/widget

#1067 Feat/update profile
  api/hub/docker-compose.yml
  sdk-packages/akasha/webpack.dev.config.js
  sdk-packages/runtime/package-lock.json
  ui/design/src/components/Cards/form-cards/box-form-card.tsx
  ui/hooks/src/use-profile.ts
  ui/plugins/profile/src/components/profile-cards/profile-page-header.tsx
Labels: design-system, plugin/widget, sdk

#1070 refactor(errors): throw on undefined returned values
  api/hub/src/datasources/comment.ts
  api/hub/src/datasources/post.ts
  api/hub/src/datasources/profile.ts
  api/hub/src/datasources/tag.ts
  api/hub/src/helpers.ts
  sdk-packages/common/package-lock.json
  sdk-packages/common/package.json
Labels: sdk

#1072 Patches21
  apps/akasha/src/components/post-page/post-page.tsx
  apps/akasha/src/components/tag-feed-page/tag-feed-page.tsx
  ui/design/src/components/Bars/topbar/topbar.tsx
  ui/design/src/components/Cards/notification-cards/notification-card.tsx
  ui/hooks/src/use-notifications.ts
Labels: design-system, plugin/widget

#1064 Fix: login widget style on firefox desktop
  ui/design/src/components/Cards/widget-cards/login-cta-widget-card.tsx
Labels: design-system, plugin/widget

#1074 Feat/update profile
  ui/design/src/components/Cards/form-cards/box-form-card.tsx
  ui/design/src/components/VirtualList/card-renderer.tsx
  ui/design/src/components/VirtualList/list-viewport.tsx
  ui/hooks/src/use-posts.ts
Labels: design-system, plugin/widget

#1078 chore(): fix the case of empty providers
  ui/design/src/components/VirtualList/card-renderer.tsx
  ui/hooks/src/use-profile.ts
  ui/plugins/profile/src/components/routes/profile-page.tsx
Labels: design-system, plugin/widget

#1083 Editor updates2
  apps/akasha/src/components/feed-page/entry-card-renderer.tsx
  apps/akasha/src/components/feed-page/feed-page-custom-entities.tsx
  apps/akasha/src/components/feed-page/feed-page.tsx
  apps/akasha/src/components/post-page/post-page-pending-comments.tsx
  apps/akasha/src/components/post-page/post-page.tsx
  apps/akasha/src/components/post-page/post-renderer.tsx
  apps/akasha/src/components/tag-feed-page/tag-feed-page.tsx
  apps/akasha/src/services/routing-service.ts
  ui/design/package-lock.json
  ui/design/package.json
  ui/design/src/components/Cards/entry-cards/entry-box.tsx
  ui/design/src/components/Cards/entry-cards/entry-card.tsx
  ui/design/src/components/Editor/editor-box.tsx
  ui/design/src/components/Editor/mention-popover.tsx
  ui/design/src/components/Editor/plugins.ts
  ui/design/src/components/Editor/read-only-editor.tsx
  ui/design/src/components/Editor/renderers.tsx
  ui/design/src/components/Editor/styled-editor-box.ts
  ui/plugins/bookmarks/src/components/bookmarks-page.tsx
  ui/plugins/bookmarks/src/components/entry-renderer.tsx
  ui/plugins/profile/src/components/routes/profile-page.tsx
  ui/plugins/search/src/components/routes/search-page.tsx
  ui/widgets/feed/src/components/App.tsx
  ui/widgets/feed/src/components/entry-feed.tsx
  ui/widgets/feed/src/components/entry-renderer.tsx
Labels: design-system, plugin/widget

#1080 Feat: implement anchors
  apps/akasha/src/components/feed-page/entry-card-renderer.tsx
  apps/akasha/src/components/post-page/post-page.tsx
  apps/akasha/src/components/post-page/post-renderer.tsx
  apps/akasha/src/widgets/trending-widget/trending-widget-card.tsx
  ui/design/src/components/Cards/common/basic-card-box.tsx
  ui/design/src/components/Cards/entry-cards/card-actions.tsx
  ui/design/src/components/Cards/entry-cards/entry-box.tsx
  ui/design/src/components/Cards/entry-cards/entry-card.tsx
  ui/design/src/components/Cards/profile-cards/profile-search-card.tsx
  ui/design/src/components/Cards/profile-cards/profile-widget-card.tsx
  ui/design/src/components/Cards/tag-cards/tag-search-card.tsx
  ui/design/src/components/Cards/widget-cards/trending-widget-card.tsx
  ui/plugins/bookmarks/src/components/entry-renderer.tsx
  ui/plugins/bookmarks/src/trending-widget/trending-widget-card.tsx
  ui/plugins/notifications/src/trending-widget/trending-widget-card.tsx
  ui/plugins/profile/src/components/widgets/trending-widget/trending-widget-card.tsx
  ui/plugins/search/src/components/routes/search-page.tsx
  ui/plugins/search/src/components/widgets/trending-widget/trending-widget-card.tsx
  ui/storybook/src/components/EntryCards.stories.tsx
  ui/storybook/src/components/ProfileCards.stories.tsx
  ui/storybook/src/components/TagCards.stories.tsx
  ui/storybook/src/components/WidgetCards.stories.tsx
  ui/widgets/feed/src/components/entry-renderer.tsx
Labels: design-system, plugin/widget

#1089 fix(): link is now uneditable
  ui/design/src/components/Editor/plugins.ts
  ui/design/src/components/Editor/renderers.tsx
Labels: design-system, plugin/widget

#1091 Fix save button in the onboarding
  ui/design/src/components/Cards/form-cards/box-form-card.tsx
Labels: design-system, plugin/widget

#1093 fix(): render links in entry card fix
  ui/design/src/components/Editor/helpers.ts
  ui/design/src/components/Editor/plugins.ts
  ui/design/src/components/Editor/read-only-editor.tsx
Labels: design-system, plugin/widget

#1095 Refactor sdk v0.2
  lerna.json
  package-lock.json
  package.json
  sdk/package-lock.json
  sdk/package.json
  sdk/src/container.ts
  sdk/src/db/app.schema.ts
  sdk/src/db/index.ts
  sdk/src/db/settings.schema.ts
  sdk/src/gql/index.ts
  sdk/src/helpers/observable.ts
  sdk/src/index.ts
  sdk/src/logging/index.ts
  sdk/src/settings/index.ts
  sdk/src/stash/index.ts
  sdk/src/sw.ts
  sdk/tsconfig.json
  sdk/typings/package-lock.json
  sdk/typings/package.json
  sdk/typings/src/index.ts
  sdk/typings/src/interfaces/db.ts
  sdk/typings/src/interfaces/gql.ts
  sdk/typings/src/interfaces/index.ts
  sdk/typings/src/interfaces/log.ts
  sdk/typings/src/interfaces/responses.ts
  sdk/typings/src/interfaces/settings.ts
  sdk/typings/src/interfaces/stash.ts
  sdk/typings/src/service.interfaces.ts
  sdk/typings/src/service.types.ts
  sdk/typings/tsconfig.json
  sdk/webpack.config.js
  ui/design/src/stories/Button.js
  ui/design/src/stories/Button.stories.js
  ui/design/src/stories/Header.js
  ui/design/src/stories/Header.stories.js
  ui/design/src/stories/Introduction.stories.mdx
  ui/design/src/stories/Page.js
  ui/design/src/stories/Page.stories.js
  ui/design/src/stories/assets/code-brackets.svg
  ui/design/src/stories/assets/colors.svg
  ui/design/src/stories/assets/comments.svg
  ui/design/src/stories/assets/direction.svg
  ui/design/src/stories/assets/flow.svg
  ui/design/src/stories/assets/plugin.svg
  ui/design/src/stories/assets/repo.svg
  ui/design/src/stories/assets/stackalt.svg
  ui/design/src/stories/button.css
  ui/design/src/stories/header.css
  ui/design/src/stories/page.css
Labels: design-system, plugin/widget

#1127 chore(): makedefault call
  ui/hooks/src/use-profile.ts
Labels: plugin/widget

#1128 prevent parallel changes to the profile
  ui/hooks/src/use-profile.ts
Labels: plugin/widget

#1130 chore(): fix
  ui/plugins/profile/src/components/profile-cards/profile-page-header.tsx
Labels: plugin/widget

#1129 add root eslint config
  .circleci/config.yml
  .eslintrc.js
  api/hub/src/datasources/post.ts
  api/hub/src/datasources/profile.ts
  api/hub/src/helpers.ts
  apps/akasha/.eslintrc.js
  apps/moderation/.eslintrc.js
  package-lock.json
  package.json
  sdk-packages/akasha/src/channel.ts
  sdk-packages/akasha/src/sw.ts
  sdk-packages/auth/src/auth.service.ts
  sdk-packages/profiles/src/profile.legacy.service.ts
  sdk-packages/runtime/src/gql.network.client.ts
  sdk/.eslintrc.js
  sdk/package-lock.json
  sdk/package.json
  sdk/src/container.ts
  sdk/src/db/index.ts
  sdk/src/gql/index.ts
  sdk/src/index.ts
  sdk/src/settings/index.ts
  sdk/typings/src/interfaces/db.ts
  sdk/typings/src/interfaces/gql.ts
  sdk/typings/src/interfaces/settings.ts
  sdk/typings/src/interfaces/stash.ts
  sdk/typings/src/service.interfaces.ts
  tslint.json
  ui/design/.eslintrc.js
  ui/design/package-lock.json
  ui/design/src/components/Icon/new-icons/discord.tsx
  ui/design/src/components/Icon/new-icons/email.tsx
  ui/design/src/components/Icon/new-icons/github.tsx
  ui/design/src/components/Modals/moderate/moderate-modal.tsx
  ui/design/src/components/VirtualList/use-viewport.ts
  ui/design/src/styled.d.ts
  ui/design/src/test-utils/index.tsx
  ui/design/src/utils/string-utils.ts
  ui/hooks/.eslintrc.js
  ui/plugins/app-center/.eslintrc.js
  ui/plugins/bookmarks/.eslintrc.js
  ui/plugins/legal/.eslintrc.js
  ui/plugins/notifications/.eslintrc.js
  ui/plugins/profile/.eslintrc.js
  ui/plugins/profile/src/components/routes/index.tsx
  ui/plugins/search/.eslintrc.js
  ui/typings/.eslintrc.js
  ui/typings/src/app-loader.ts
  ui/widgets/feed/.eslintrc.js
  ui/widgets/layout/.eslintrc.js
  ui/widgets/login/.eslintrc.js
  ui/widgets/sidebar/.eslintrc.js
  ui/widgets/top-bar/.eslintrc.js
Labels: design-system, plugin/widget, sdk

#1132 chore(): add missing scripts and tests
  README.md
  jest.config.base.js
  package.json
  scripts/translations-server/package.json
  ui/design/package.json
  ui/design/src/components/Providers/__tests__/viewport-dimension.test.tsx
  ui/hooks/package.json
  ui/plugins/app-center/package.json
  ui/plugins/bookmarks/package.json
  ui/plugins/notifications/package.json
  ui/plugins/profile/package.json
  ui/plugins/search/package.json
  ui/testing-utils/package.json
  ui/testing-utils/src/mocks/channels.ts
  ui/tsconfig.json
  ui/typings/package.json
  ui/widgets/feed/package.json
  ui/widgets/layout/package.json
  ui/widgets/login/package.json
  ui/widgets/sidebar/package.json
  ui/widgets/top-bar/package.json
  ui/widgets/trending/jest.config.js
  ui/widgets/trending/jest.setup.js
  ui/widgets/trending/package.json
  ui/widgets/trending/src/components/__tests__/trending-widget-component.spec.tsx
  ui/widgets/trending/src/components/trending-widget-component.tsx
Labels: design-system, plugin/widget
