Repository AKASHAorg/akasha-core, pull requests merged in 2022-01, with the labels that each got.

#1522 fix(ui): correctly fetch following state after pagination in statmodal
  ui/plugins/profile/src/components/profile-cards/stat-modal-wrapper.tsx
Labels: plugin/widget

#1523 chore(): update slate, react-query and single-spa-react
  apps/akasha/package-lock.json
  apps/akasha/package.json
  apps/auth-app/package-lock.json
  apps/auth-app/package.json
  apps/moderation/package-lock.json
  apps/moderation/package.json
  examples/ui/ethereum.world/public/index.html
  ui/design/package-lock.json
  ui/design/package.json
  ui/hooks/package-lock.json
  ui/hooks/package.json
  ui/plugins/app-center/package-lock.json
  ui/plugins/app-center/package.json
  ui/plugins/bookmarks/package-lock.json
  ui/plugins/bookmarks/package.json
  ui/plugins/legal/package-lock.json
  ui/plugins/legal/package.json
  ui/plugins/notifications/package-lock.json
  ui/plugins/notifications/package.json
  ui/plugins/profile/package-lock.json
  ui/plugins/profile/package.json
  ui/plugins/search/package-lock.json
  ui/plugins/search/package.json
  ui/typings/package-lock.json
  ui/typings/package.json
  ui/widgets/feed/package-lock.json
  ui/widgets/feed/package.json
  ui/widgets/layout/package-lock.json
  ui/widgets/layout/package.json
  ui/widgets/login-cta/package-lock.json
  ui/widgets/login-cta/package.json
  ui/widgets/sidebar/package-lock.json
  ui/widgets/sidebar/package.json
  ui/widgets/top-bar/package-lock.json
  ui/widgets/top-bar/package.json
  ui/widgets/trending/package-lock.json
  ui/widgets/trending/package.json
Labels: design-system, plugin/widget, examples, apps

#1524 remove isMobile flag from app-loader and apps
  apps/akasha/src/components/app-routes.tsx
  apps/moderation/src/components/app-routes.tsx
  apps/moderation/src/components/dashboard/index.tsx
  apps/moderation/src/components/transparency-log/index.tsx
  ui/app-loader/package.json
  ui/app-loader/src/apps.ts
  ui/app-loader/src/base-integration.ts
  ui/app-loader/src/index.ts
  ui/app-loader/src/widgets.ts
  ui/design/src/components/AreaChart/index.tsx
  ui/design/src/components/Avatar/avatar-image.tsx
  ui/design/src/components/Editor/index.tsx
  ui/design/src/components/Editor/plugins.ts
  ui/design/src/components/EnsFormCard/ens-form-card.backup.tsx
  ui/design/src/components/ImageOverlay/index.tsx
  ui/design/src/components/ImageOverlay/multiple-image-overlay.tsx
  ui/design/src/components/LineChart/index.tsx
  ui/design/src/components/SideBar/index.tsx
  ui/design/src/components/SignInModal/eth-provider-modal.tsx
  ui/design/src/components/SignInModal/index.tsx
  ui/design/src/components/SwitchCard/SwitchCard.stories.tsx
  ui/design/src/components/SwitchCard/__tests__/index.test.tsx
  ui/design/src/components/SwitchCard/index.tsx
  ui/design/src/components/TopBar/index.tsx
  ui/design/src/components/TransparencyLogBanner/index.tsx
  ui/design/src/components/TransparencyLogDetailCard/index.tsx
  ui/design/src/components/TransparencyLogMiniCard/index.tsx
  ui/design/src/components/VirtualList/card-renderer.tsx
  ui/design/src/components/VirtualList/index.tsx
  ui/design/src/components/VirtualList/use-viewport.ts
  ui/design/src/components/VirtualList/utils.ts
  ui/design/src/components/VirtualList/virtual-list.tsx
  ui/design/src/index.ts
  ui/design/src/utils/clickAway.ts
  ui/design/src/utils/extension-point.tsx
  ui/plugins/search/src/components/routes/search-page.tsx
  ui/typings/src/app-loader.ts
  ui/typings/src/index.ts
  ui/widgets/layout/src/components/layout-widget.tsx
  ui/widgets/layout/src/components/styled-containers.ts
Labels: design-system, plugin/widget, apps

#1528 feat: integrations registry
  examples/ui/ethereum.world/src/registry-overwrites.ts
  sdk/package-lock.json
  sdk/package.json
  sdk/src/contracts/.gitignore
  sdk/src/contracts/artifacts/IntegrationRegistry.json
  sdk/src/contracts/artifacts/Resolver.json
  sdk/src/contracts/scripts/deploy-integration-registry.js
  sdk/src/contracts/src/AbstractIntegrationRegistry.sol
  sdk/src/contracts/src/IntegrationRegistry.sol
  sdk/src/registry/index.ts
  sdk/tsconfig.json
Labels: examples

#1526 Chore: update DS typings
  ui/design/package.json
  ui/design/src/components/CommentInput/index.tsx
  ui/design/src/components/DropSearchInput/content/search-input-apps.tsx
  ui/design/src/components/DropSearchInput/content/search-input-tags.tsx
  ui/design/src/components/DropSearchInput/content/search-input-users.tsx
  ui/design/src/components/DropSearchInput/index.tsx
  ui/design/src/components/Editor/helpers.ts
  ui/design/src/components/EntryCard/basic-card-box.tsx
  ui/design/src/components/ErrorLoader/error-card.tsx
  ui/design/src/components/ErrorLoader/styled-elements.ts
  ui/design/src/components/FilterCard/menu-drop.tsx
  ui/design/src/components/IconButton/IconButton.stories.tsx
  ui/design/src/components/IconLink/IconLink.stories.tsx
  ui/design/src/components/ImagePopover/form-image-popover.tsx
  ui/design/src/components/MobileListModal/index.tsx
  ui/design/src/components/ModerateModal/moderate-modal.tsx
  ui/design/src/components/NotificationCard/index.tsx
  ui/design/src/components/NotificationToast/index.tsx
  ui/design/src/components/PlainButton/PlainButton.stories.tsx
  ui/design/src/components/ProfileAvatarButton/ProfileAvatarButton.stories.tsx
  ui/design/src/components/ProfileAvatarButton/index.tsx
  ui/design/src/components/ProfileCard/profile-mini-card.tsx
  ui/design/src/components/ProfileCard/profile-widget-card.tsx
  ui/design/src/components/ReportModal/report-modal.tsx
  ui/design/src/components/ReportModal/report-success-modal.tsx
  ui/design/src/components/SideBar/SideBar.stories.tsx
  ui/design/src/components/SignUpModal/index.tsx
  ui/design/src/components/StackedAvatar/StackedAvatar.stories.tsx
  ui/design/src/components/StatModal/index.tsx
  ui/design/src/components/StatModal/profile-entry.tsx
  ui/design/src/components/StatModal/tag-entry.tsx
  ui/design/src/components/TopBar/__tests__/index.test.tsx
  ui/design/src/components/TopBar/mobile-search-bar.tsx
  ui/design/src/components/VirtualList/interfaces.ts
  ui/design/src/test-utils/index.tsx
  ui/design/src/utils/simpleClickAway.ts
Labels: design-system, plugin/widget

#1529 replace buidler, transform registry to be upgradable
  sdk/.openzeppelin/rinkeby.json
  sdk/hardhat.config.js
  sdk/package-lock.json
  sdk/package.json
  sdk/src/contracts/.gitignore
  sdk/src/contracts/abi/AkashaRegistrar.json
  sdk/src/contracts/abi/ENS.json
  sdk/src/contracts/abi/IntegrationRegistry.json
  sdk/src/contracts/abi/ReverseRegistrar.json
  sdk/src/contracts/artifacts/AkashaRegistrar.json
  sdk/src/contracts/artifacts/NameResolver.json
  sdk/src/contracts/artifacts/Resolver.json
  sdk/src/contracts/scripts/deploy-integration-registry.js
  sdk/src/contracts/scripts/deploy.js
  sdk/src/contracts/scripts/reg-name.js
  sdk/src/contracts/scripts/transfer-ownership.js
  sdk/src/contracts/src/AbstractIntegrationRegistry.sol
  sdk/src/registry/index.ts
  sdk/tsconfig.json
  ui/app-loader/package-lock.json
Labels: plugin/widget

#1533 fix(): repost modal
  ui/widgets/feed/src/components/entry-feed.tsx
Labels: plugin/widget

#1527 docs(): update packages, fix and expand extraction and linking, tsdoc fixes
  .eslintrc.js
  package-lock.json
  package.json
  sdk/src/auth/index.ts
  sdk/src/common/event-bus.ts
  sdk/src/common/ipfs.connector.ts
  sdk/src/common/web3.connector.ts
  sdk/src/db/index.ts
  sdk/src/gql/index.ts
  sdk/src/posts/comments.ts
  sdk/src/posts/entry.ts
  sdk/src/posts/tags.ts
  sdk/src/profiles/index.ts
  sdk/src/registry/index.ts
  sdk/src/settings/index.ts
  sdk/typings/src/interfaces/auth.ts
  sdk/typings/src/interfaces/db.ts
  sdk/typings/src/interfaces/gql.ts
  sdk/typings/src/interfaces/ipfs.connector.ts
  sdk/typings/src/interfaces/log.ts
  sdk/typings/src/interfaces/profile.ts
  sdk/typings/src/interfaces/settings.ts
  sdk/typings/src/interfaces/stash.ts
  tsconfig.typedoc.json
  ui/design/src/components/Spinner/index.tsx
Labels: design-system, plugin/widget

#1531 feat(): add more cypress tests, fix failing ones
  tests/ethereum-world/cypress/integration/feedpage.spec.ts
  tests/ethereum-world/cypress/integration/legalpages.spec.ts
  tests/ethereum-world/cypress/integration/partials/layout-widget.spec.ts
  tests/ethereum-world/cypress/integration/profilepage.spec.ts
  tests/ethereum-world/cypress/integration/searchpage.spec.ts
  tests/ethereum-world/cypress/integration/tagpage.spec.ts
  tests/package-lock.json
  tests/package.json
  ui/design/src/components/DuplexButton/index.tsx
  ui/design/src/components/MdCard/index.tsx
  ui/design/src/components/ProfileCard/index.tsx
  ui/plugins/profile/src/extensions/login-modal.tsx
Labels: design-system, plugin/widget

#1534 App loader adjustments
  examples/ui/ethereum.world/src/index.ts
  examples/ui/ethereum.world/src/registry-overrides.ts
  examples/ui/ethereum.world/src/registry-overwrites.ts
  ui/app-loader/src/apps.ts
  ui/app-loader/src/base-integration.ts
  ui/app-loader/src/import-maps.ts
  ui/app-loader/src/index.ts
  ui/app-loader/src/registry.ts
  ui/app-loader/src/widgets.ts
  ui/typings/src/app-loader.ts
Labels: plugin/widget, examples

#1536 chore(): remove any type, update typings, remove unused vars
  api/hub/src/api.ts
  api/hub/src/collections/comments.ts
  api/hub/src/collections/interfaces.ts
  api/hub/src/collections/invites.ts
  api/hub/src/collections/moderation-decisions.ts
  api/hub/src/collections/moderation-reasons.ts
  api/hub/src/collections/moderation-reports.ts
  api/hub/src/collections/moderators.ts
  api/hub/src/collections/posts.ts
  api/hub/src/collections/profiles.ts
  api/hub/src/collections/tags.ts
  api/hub/src/datasources/comment.ts
  api/hub/src/datasources/moderation-admin.ts
  api/hub/src/datasources/moderation-decision.ts
  api/hub/src/datasources/moderation-reasons.ts
  api/hub/src/datasources/moderation-report.ts
  api/hub/src/datasources/post.ts
  api/hub/src/datasources/profile.ts
  api/hub/src/datasources/tag.ts
  api/hub/src/helpers.ts
  api/hub/src/notifications.ts
  api/hub/src/plugins/metrics.ts
  api/hub/src/resolvers/query.ts
  api/hub/src/storage/i-lru.ts
  api/hub/src/storage/mem-lru.ts
  api/hub/src/storage/redis-lru.ts
  api/hub/src/wss.ts
  apps/akasha/src/components/post-page/invite-page.tsx
  apps/akasha/src/components/post-page/reply-page.tsx
  apps/akasha/src/services/posting-service.ts
  apps/auth-app/src/components/sign-up/steps/styles.ts
  apps/moderation/src/components/dashboard/content-card/entry-data-card.tsx
  sdk/src/auth/index.ts
  sdk/src/db/app.schema.ts
  sdk/src/db/settings.schema.ts
  sdk/typings/src/interfaces/auth.ts
  sdk/typings/src/interfaces/ipfs.connector.ts
  sdk/typings/src/interfaces/settings.ts
  sdk/typings/src/interfaces/web3.connector.ts
  tests/ethereum-world/cypress/support/commands.ts
  ui/design/src/index.ts
  ui/design/src/interfaces/common.interface.ts
  ui/hooks/src/use-analytics.ts
  ui/hooks/src/use-notifications.ts
  ui/hooks/src/use-posts.ts
  ui/hooks/src/utils/media-utils.ts
  ui/widgets/feed/src/components/App.tsx
  ui/widgets/layout/src/components/global-style.ts
  ui/widgets/sidebar/src/components/Sidebar-widget.tsx
  ui/widgets/top-bar/src/components/__tests__/topbar-component.spec.tsx
Labels: design-system, plugin/widget, api, apps

#1544 Settings app
  tests/ethereum-world/cypress/integration/partials/topbar.spec.ts
  ui/apps/auth-app/src/components/sign-up/steps/StepTwo.tsx
  ui/apps/settings-app/package-lock.json
  ui/apps/settings-app/package.json
  ui/apps/settings-app/src/components/app-routes.tsx
  ui/apps/settings-app/src/components/settings-page.tsx
  ui/apps/settings-app/src/index.tsx
  ui/apps/settings-app/src/routes.ts
  ui/design/src/components/Checkbox/Checkbox.stories.tsx
  ui/design/src/components/Checkbox/__tests__/index.test.tsx
  ui/design/src/components/Checkbox/index.tsx
  ui/design/src/index.ts
  ui/design/src/styles/themes/utils/create-grommet-theme.ts
  ui/hooks/src/index.ts
  ui/hooks/src/use-analytics.tsx
  ui/i18next.parser.config.js
  ui/widgets/analytics/src/components/cookie-widget.tsx
  ui/widgets/top-bar/src/components/topbar-component.tsx
Labels: design-system, plugin/widget

#1542 Feat: recenter banner image
  ui/apps/moderation/package.json
  ui/design/package-lock.json
  ui/design/package.json
  ui/design/src/components/BoxFormCard/index.tsx
  ui/design/src/components/BoxFormCard/sections/CoverImageSection.tsx
  ui/design/src/components/ImagePopover/form-image-popover.tsx
  ui/design/src/components/ProfileCard/index.tsx
  ui/design/src/utils/get-cropped-image.ts
Labels: design-system, plugin/widget

#1547 Decouple bookmarks app
  api/hub/package-lock.json
  ui/app-loader/src/apps.ts
  ui/app-loader/src/base-integration.ts
  ui/app-loader/src/index.ts
  ui/app-loader/src/widgets.ts
  ui/apps/akasha/src/components/feed-page/feed-page.tsx
  ui/apps/akasha/src/components/post-page/post-page.tsx
  ui/apps/akasha/src/extensions/editor-modal.tsx
  ui/apps/akasha/src/index.tsx
  ui/apps/bookmarks/i18next-parser.config.js
  ui/apps/bookmarks/src/bookmarks-topbar-button.tsx
  ui/apps/bookmarks/src/components/bookmarks-page.tsx
  ui/apps/bookmarks/src/components/entry-renderer.tsx
  ui/apps/bookmarks/src/extensions/entry-card-save-button.tsx
  ui/apps/bookmarks/src/extensions/topbar-bookmarks-button.tsx
  ui/apps/bookmarks/src/index.tsx
  ui/apps/search/src/components/routes/entry-renderer.tsx
  ui/apps/search/src/components/routes/search-page.tsx
  ui/design/src/components/EntryCard/__tests__/index.test.tsx
  ui/design/src/components/EntryCard/card-actions.tsx
  ui/design/src/components/EntryCard/entry-box.tsx
  ui/design/src/components/EntryCard/index.tsx
  ui/design/src/components/ErrorLoader/error-card.tsx
  ui/design/src/components/TopBar/index.tsx
  ui/design/src/styles/themes/utils/theme-selector.tsx
  ui/hooks/src/helpers.ts
  ui/lib/feed/src/components/App.tsx
  ui/lib/feed/src/components/entry-feed.tsx
  ui/lib/feed/src/components/entry-renderer.tsx
  ui/lib/feed/src/components/profile-feed.tsx
  ui/typings/src/app-loader.ts
  ui/typings/src/index.ts
  ui/widgets/analytics/src/components/cookie-widget.tsx
  ui/widgets/top-bar/src/components/index.tsx
  ui/widgets/top-bar/src/components/topbar-component.tsx
Labels: design-system, plugin/widget, api

#1548 IC sc redeploy && fixes
  .env.example
  build/integrations_bucket.json
  build/integrations_bucket_store.js
  examples/ui/ethereum.world/.gitignore
  examples/ui/ethereum.world/public/.gitignore
  examples/ui/ethereum.world/src/.gitignore
  sdk/.openzeppelin/rinkeby.json
  sdk/src/contracts/scripts/deploy-integration-registry.js
  sdk/src/registry/icRegistry.ts
Labels: examples

#1549 Feat: Integration Center widget
  ui/design/src/components/AppInfoWidgetCard/styled-widget-cards.ts
  ui/design/src/components/ICWidgetCard/ICWidgetCard.stories.tsx
  ui/design/src/components/ICWidgetCard/__tests__/index.test.tsx
  ui/design/src/components/ICWidgetCard/index.tsx
  ui/design/src/components/Icon/Icon.stories.tsx
  ui/design/src/components/Icon/index.tsx
  ui/design/src/components/Icon/new-icons/app-ic.tsx
  ui/design/src/components/Icon/new-icons/index.ts
  ui/design/src/index.ts
  ui/design/src/utils/dummy-data.ts
  ui/typings/src/index.ts
  ui/widgets/ic/README.md
  ui/widgets/ic/i18next-parser.config.js
  ui/widgets/ic/jest.config.js
  ui/widgets/ic/jest.setup.js
  ui/widgets/ic/package-lock.json
  ui/widgets/ic/package.json
  ui/widgets/ic/src/components/App.tsx
  ui/widgets/ic/src/components/ic-widget-component.tsx
  ui/widgets/ic/src/components/index.tsx
  ui/widgets/ic/src/i18n.ts
  ui/widgets/ic/src/index.tsx
  ui/widgets/ic/tsconfig.json
  ui/widgets/ic/webpack.config.js
Labels: design-system, plugin/widget

#1546 Fix: profile cover image update
  tsconfig.json
  ui/design/src/components/BoxFormCard/index.tsx
Labels: design-system, plugin/widget
