Repository AKASHAorg/akasha-core, pull requests merged in 2022-03, with the labels that each got.

#1570 Feat: sidebar UI updates
  ui/apps/auth-app/src/components/sign-in/sign-in-status.tsx
  ui/apps/auth-app/src/components/sign-in/suggest-signup.tsx
  ui/design/src/components/AppAvatar/AppAvatar.stories.tsx
  ui/design/src/components/AppAvatar/__tests__/index.test.tsx
  ui/design/src/components/AppAvatar/index.tsx
  ui/design/src/components/Button/index.tsx
  ui/design/src/components/Button/styled-button.ts
  ui/design/src/components/Icon/app-icon.tsx
  ui/design/src/components/Icon/index.tsx
  ui/design/src/components/Icon/new-icons/app-moderation.tsx
  ui/design/src/components/Icon/new-icons/app-social.tsx
  ui/design/src/components/Icon/new-icons/app.tsx
  ui/design/src/components/Icon/new-icons/bookmark.tsx
  ui/design/src/components/Icon/new-icons/explore.tsx
  ui/design/src/components/Icon/new-icons/index.ts
  ui/design/src/components/SideBar/SideBar.stories.tsx
  ui/design/src/components/SideBar/__tests__/index.test.tsx
  ui/design/src/components/SideBar/index.tsx
  ui/design/src/components/SideBar/menu-app-button.tsx
  ui/design/src/components/SideBar/section-title.tsx
  ui/design/src/components/SideBar/skeleton.tsx
  ui/design/src/components/SideBar/styled-sidebar.ts
  ui/design/src/index.ts
  ui/design/src/static/img/sidebar-app-placeholder-1.png
  ui/design/src/static/img/sidebar-app-placeholder-2.png
  ui/design/src/static/img/sidebar-app-placeholder-3.png
  ui/design/src/static/img/sidebar-widget-placeholder-1.png
  ui/design/src/static/img/sidebar-widget-placeholder-2.png
  ui/design/src/styles/themes/dark/colors-dark.ts
  ui/design/src/styles/themes/interfaces.ts
  ui/design/src/styles/themes/light/colors-light.ts
  ui/design/src/styles/themes/utils/create-grommet-theme.ts
  ui/design/src/utils/dummy-data.ts
  ui/typings/src/app-loader.ts
  ui/typings/src/index.ts
  ui/widgets/sidebar/src/components/Sidebar-widget.tsx
  ui/widgets/sidebar/src/index.tsx
  ui/widgets/top-bar/src/index.tsx
Labels: design-system, plugin/widget

#1587 fix(sdk:apps): collection access
  examples/ui/ethereum.world/public/_redirects
  sdk/src/settings/apps.ts
Labels: examples

#1575 fix unit tests
  .circleci/config.yml
  babel.config.js
  jest.config.base.js
  package.json
  tests/ethereum-world/cypress/staging.json
  ui/apps/akasha/jest.config.js
  ui/apps/auth-app/jest.config.js
  ui/apps/moderation/jest.config.js
  ui/apps/profile/jest.config.js
  ui/apps/profile/jest.setup.js
  ui/apps/profile/package.json
  ui/apps/profile/src/components/__tests__/profile-page-header.spec.tsx
  ui/apps/settings-app/jest.config.js
  ui/design/package.json
  ui/design/src/components/EditorCard/__tests__/index.test.tsx
  ui/design/src/components/EntryCard/__tests__/entry-card-hidden-test.tsx
  ui/design/src/components/ICDetailCard/__tests__/index.test.tsx
  ui/design/src/components/LoginCTAWidgetCard/__tests__/index.test.tsx
  ui/design/src/components/MobileListModal/__tests__/index.test.tsx
  ui/design/src/components/WelcomeCard/__tests__/index.test.tsx
  ui/testing-utils/src/data-generator/config.ts
  ui/testing-utils/src/data-generator/index.ts
  ui/testing-utils/src/data-generator/user.ts
  yarn.lock
Labels: design-system, plugin/widget

#1588 Design system updates
  ui/apps/app-center/src/components/pages/my-apps-page.tsx
  ui/apps/bookmarks/src/extensions/topbar-bookmarks-button.tsx
  ui/apps/moderation/src/components/dashboard/content-card/content.tsx
  ui/apps/profile/src/extensions/login-modal.tsx
  ui/design/.storybook/main.js
  ui/design/package.json
  ui/design/src/components/Avatar/Avatar.stories.tsx
  ui/design/src/components/BookmarkPill/index.tsx
  ui/design/src/components/Button/Button.stories.tsx
  ui/design/src/components/Button/styled-button.ts
  ui/design/src/components/DuplexButton/styled-duplex-button.ts
  ui/design/src/components/Editor/image-upload.tsx
  ui/design/src/components/Editor/styled-editor-box.ts
  ui/design/src/components/Editor/tag-popover.tsx
  ui/design/src/components/EmbedBox/index.tsx
  ui/design/src/components/EmojiPopover/EmojiPopover.stories.tsx
  ui/design/src/components/EntryCard/basic-card-box.tsx
  ui/design/src/components/ErrorLoader/error-card.tsx
  ui/design/src/components/ErrorLoader/interfaces.ts
  ui/design/src/components/ICWidgetCard/ICWidgetCard.stories.tsx
  ui/design/src/components/ICWidgetCard/index.tsx
  ui/design/src/components/Icon/Icon.stories.tsx
  ui/design/src/components/Icon/index.tsx
  ui/design/src/components/NotificationToast/index.tsx
  ui/design/src/components/ProfileCard/profile-card-fields/profile-card-cover-image.tsx
  ui/design/src/components/StackedAvatar/StackedAvatar.stories.tsx
  ui/design/src/components/TopBar/TopBar.stories.tsx
  ui/design/src/components/TopBar/search-bar.tsx
  ui/design/src/components/TopicsWidgetCard/TopicsWidgetCard.stories.tsx
  ui/design/src/components/TopicsWidgetCard/__tests__/index.test.tsx
  ui/design/src/components/TopicsWidgetCard/index.tsx
  ui/design/src/components/TrendingWidgetCard/TrendingWidgetCard.stories.tsx
  ui/design/src/index.ts
  ui/design/src/styles/themes/dark/colors-dark.ts
  ui/design/src/styles/themes/interfaces.ts
  ui/design/src/styles/themes/light/colors-light.ts
  ui/design/src/styles/themes/utils/create-grommet-theme.ts
  ui/widgets/top-bar/src/components/topbar-component.tsx
  yarn.lock
Labels: design-system, plugin/widget

#1585 feat(): implement routing app
  examples/ui/ethereum.world/src/index.ts
  examples/ui/ethereum.world/src/registry-overrides.ts
  package.json
  ui/app-loader/src/extensions.ts
  ui/app-loader/src/integrations.ts
  ui/app-loader/src/utils.ts
  ui/apps/akasha/src/index.tsx
  ui/apps/app-center/src/components/app-routes.tsx
  ui/apps/app-center/src/components/pages/explore-page.tsx
  ui/apps/app-center/src/components/pages/my-apps-page.tsx
  ui/apps/app-center/src/index.tsx
  ui/apps/auth-app/src/components/sign-in/index.tsx
  ui/apps/auth-app/src/components/sign-up/index.tsx
  ui/apps/auth-app/src/index.tsx
  ui/apps/auth-app/src/routes.ts
  ui/apps/bookmarks/src/components/bookmarks-page.tsx
  ui/apps/bookmarks/src/index.tsx
  ui/apps/legal/src/index.tsx
  ui/apps/moderation/src/index.tsx
  ui/apps/moderation/src/routes.ts
  ui/apps/notifications/src/index.tsx
  ui/apps/profile/src/components/profile-cards/profile-page-header.tsx
  ui/apps/profile/src/extensions/login-modal.tsx
  ui/apps/profile/src/index.tsx
  ui/apps/routing/.eslintrc.js
  ui/apps/routing/README.md
  ui/apps/routing/package.json
  ui/apps/routing/src/index.tsx
  ui/apps/routing/src/types.ts
  ui/apps/routing/tsconfig.json
  ui/apps/routing/webpack.config.js
  ui/apps/search/src/index.tsx
  ui/apps/settings-app/src/index.tsx
  ui/design/src/components/SideBar/SideBar.stories.tsx
  ui/design/src/components/SideBar/menu-app-button.tsx
  ui/design/src/components/TopBar/TopBar.stories.tsx
  ui/design/src/components/TopBar/index.tsx
  ui/design/src/utils/dummy-data.ts
  ui/typings/src/app-loader.ts
  ui/typings/src/index.ts
  ui/widgets/sidebar/src/components/Sidebar-widget.tsx
  ui/widgets/top-bar/src/components/__tests__/topbar-component.spec.tsx
  ui/widgets/top-bar/src/components/topbar-component.tsx
  workspace.json
Labels: design-system, plugin/widget, examples

#1589 Tracking/matomo
  ui/apps/akasha/src/components/post-page/post-page.tsx
  ui/apps/akasha/src/extensions/editor-modal.tsx
  ui/apps/akasha/src/extensions/entry-remove-modal.tsx
  ui/apps/auth-app/src/components/sign-in/index.tsx
  ui/apps/auth-app/src/components/sign-up/steps/StepFive.tsx
  ui/apps/auth-app/src/components/sign-up/steps/StepFour.tsx
  ui/apps/auth-app/src/components/sign-up/steps/StepOne.tsx
  ui/apps/auth-app/src/components/sign-up/steps/StepThree.tsx
  ui/apps/auth-app/src/components/sign-up/steps/StepTwo.tsx
  ui/apps/auth-app/src/components/sign-up/steps/required-network.tsx
  ui/apps/bookmarks/src/extensions/entry-card-save-button.tsx
  ui/apps/moderation/src/extensions/report-modal.tsx
  ui/apps/search/src/components/routes/search-page.tsx
  ui/hooks/src/use-login.ts
  ui/lib/feed/src/components/entry-renderer.tsx
  ui/typings/src/analytics.ts
  ui/typings/src/index.ts
  ui/widgets/top-bar/src/components/topbar-component.tsx
  ui/widgets/trending/src/components/trending-widget-component.tsx
Labels: plugin/widget

#1591 UI Install App Flow
  examples/ui/ethereum.world/src/index.ts
  ui/app-loader/src/extensions.ts
  ui/app-loader/src/integrations.ts
  ui/apps/akasha/src/extensions/entry-remove-modal.tsx
  ui/apps/app-center/package.json
  ui/apps/app-center/src/components/pages/explore-page.tsx
  ui/apps/app-center/src/components/pages/my-apps-page.tsx
  ui/apps/app-center/src/extensions/install-modal.tsx
  ui/apps/app-center/src/index.tsx
  ui/apps/settings-app/src/utils/settings-items.ts
  ui/design/src/components/EditorMeter/index.tsx
  ui/design/src/components/InstallModal/InstallModal.stories.tsx
  ui/design/src/components/InstallModal/index.tsx
  ui/design/src/components/InstallModal/install-step-icon.tsx
  ui/design/src/components/InstallModal/styles.ts
  ui/design/src/components/VirtualList/placeholders/entry-card-placeholder.tsx
  ui/design/src/index.ts
  ui/design/src/styles/themes/dark/colors-dark.ts
  ui/design/src/styles/themes/interfaces.ts
  ui/design/src/styles/themes/light/colors-light.ts
  ui/hooks/src/index.ts
  ui/hooks/src/use-app-settings.ts
Labels: design-system, plugin/widget, examples

#1593 refactor(): metrics, pgk info, resolvers
  api/hub/src/collections/tags.ts
  api/hub/src/resolvers/mutations.ts
  api/hub/src/resolvers/query.ts
  api/hub/src/schema.ts
  api/hub/src/wss.ts
  build/integrations_bucket.json
  examples/ui/ethereum.world/src/index.ts
  sdk/src/contracts/scripts/deploy-integration-registry.js
  sdk/src/registry/icRegistry.graphql
  sdk/src/settings/apps.ts
  sdk/typings/src/interfaces/registry.ts
  ui/apps/akasha/package.json
  ui/apps/app-center/package.json
  ui/apps/auth-app/package.json
  ui/apps/bookmarks/package.json
  ui/apps/legal/package.json
  ui/apps/moderation/package.json
  ui/apps/notifications/package.json
  ui/apps/profile/package.json
  ui/apps/routing/package.json
  ui/apps/search/package.json
  ui/apps/settings-app/package.json
  ui/webpack.config.js
  ui/widgets/analytics/package.json
  ui/widgets/layout/package.json
  ui/widgets/sidebar/package.json
  ui/widgets/top-bar/package.json
  ui/widgets/trending/package.json
Labels: plugin/widget, examples, api

#1590 Feat: sidebar integration
  tests/ethereum-world/cypress/integration/partials/topbar.spec.ts
  tests/ethereum-world/cypress/integration/partials/trendingWidget.spec.ts
  tests/ethereum-world/cypress/integration/searchpage.spec.ts
  ui/apps/akasha/src/index.tsx
  ui/apps/auth-app/src/components/sign-up/index.tsx
  ui/apps/profile/src/index.tsx
  ui/apps/search/src/index.tsx
  ui/apps/settings-app/src/index.tsx
  ui/design/src/components/AppAvatar/index.tsx
  ui/design/src/components/Avatar/index.tsx
  ui/design/src/components/Icon/app-icon.tsx
  ui/design/src/components/Icon/index.tsx
  ui/design/src/components/Icon/styled-icon.ts
  ui/design/src/components/SideBar/SideBar.stories.tsx
  ui/design/src/components/SideBar/__tests__/index.test.tsx
  ui/design/src/components/SideBar/index.tsx
  ui/design/src/components/SideBar/menu-app-button.tsx
  ui/design/src/components/SideBar/menu-item-label.tsx
  ui/design/src/components/SideBar/menu-sub-items.tsx
  ui/design/src/components/SideBar/section-title.tsx
  ui/design/src/components/SideBar/styled-sidebar.ts
  ui/design/src/components/SwitchCard/index.tsx
  ui/design/src/components/TopBar/__tests__/index.test.tsx
  ui/design/src/components/TopBar/index.tsx
  ui/design/src/components/TopBar/profile-menu.tsx
  ui/design/src/components/TopBar/styled-topbar.ts
  ui/design/src/styles/responsive-breakpoints.ts
  ui/design/src/styles/themes/dark/colors-dark.ts
  ui/design/src/styles/themes/interfaces.ts
  ui/design/src/styles/themes/light/colors-light.ts
  ui/design/src/styles/themes/utils/create-grommet-theme.ts
  ui/widgets/layout/src/components/layout-widget.tsx
  ui/widgets/layout/src/components/styled-containers.ts
  ui/widgets/layout/src/components/styled-slots.ts
  ui/widgets/sidebar/src/components/Sidebar-widget.tsx
  ui/widgets/sidebar/src/components/sidebar-component.tsx
  ui/widgets/top-bar/src/components/topbar-component.tsx
Labels: design-system, plugin/widget, examples

#1594 Update search page
  ui/apps/search/src/components/routes/index.tsx
  ui/apps/search/src/components/routes/search-page.tsx
  ui/design/src/components/EntryCard/basic-card-box.tsx
  ui/design/src/components/Icon/index.tsx
  ui/design/src/components/InfoCard/InfoCard.stories.tsx
  ui/design/src/components/InfoCard/__tests__/index.test.tsx
  ui/design/src/components/InfoCard/index.tsx
  ui/design/src/components/ProfileCard/profile-search-card.tsx
  ui/design/src/components/ProfileCard/profile-widget-card.tsx
  ui/design/src/components/SearchBar/SearchBar.stories.tsx
  ui/design/src/components/SearchBar/__tests__/index.test.tsx
  ui/design/src/components/SearchBar/index.tsx
  ui/design/src/components/SearchStartCard/SearchStartCard.stories.tsx
  ui/design/src/components/SearchStartCard/__tests__/index.test.tsx
  ui/design/src/components/SearchStartCard/index.tsx
  ui/design/src/components/SearchStartCard/styled.ts
  ui/design/src/components/SwitchCard/index.tsx
  ui/design/src/components/TopBar/__tests__/index.test.tsx
  ui/design/src/components/TopBar/index.tsx
  ui/design/src/index.ts
  ui/design/src/static/img/search-page-start.png
  ui/hooks/src/use-search.ts
  ui/widgets/top-bar/src/components/topbar-component.tsx
Labels: design-system, plugin/widget

#1596 refactor(api): add cache directive
  api/hub/package.json
  api/hub/src/resolvers/query.ts
  api/hub/src/schema.ts
  build/integrations_bucket.json
  yarn.lock
Labels: api

#1592 Test/app loader
  babel.config.js
  tests/package-lock.json
  ui/app-loader/__tests__/apps.test.ts
  ui/app-loader/__tests__/events.test.ts
  ui/app-loader/__tests__/extensions.test.ts
  ui/app-loader/__tests__/index.test.ts
  ui/app-loader/__tests__/integrations.test.ts
  ui/app-loader/__tests__/manifests.test.ts
  ui/app-loader/__tests__/state.test.ts
  ui/app-loader/__tests__/utils.test.ts
  ui/app-loader/__tests__/widgets.test.ts
  ui/app-loader/jest.config.js
  ui/app-loader/jest.setup.js
  ui/app-loader/package.json
  ui/app-loader/src/events.ts
  ui/app-loader/src/extensions.ts
  ui/app-loader/src/index.ts
  ui/app-loader/src/integrations.ts
  ui/app-loader/src/manifests.ts
  ui/app-loader/src/modals.ts
  ui/app-loader/src/state.ts
  ui/app-loader/src/utils.ts
  ui/app.pack.conf.js
  ui/apps/akasha/serve.json
  ui/apps/app-center/src/extensions/install-modal.tsx
  ui/apps/profile/src/components/__tests__/profile-page-header.spec.tsx
  ui/apps/routing/package.json
  ui/apps/routing/src/index.tsx
  ui/testing-utils/src/data-generator/app-loader-extensions.ts
  ui/testing-utils/src/data-generator/config.ts
  ui/testing-utils/src/data-generator/index.ts
  ui/testing-utils/src/data-generator/integrations.ts
  ui/testing-utils/src/data-generator/world-config.ts
  ui/testing-utils/src/index.ts
  ui/testing-utils/src/mocks/channels.ts
  ui/testing-utils/src/mocks/sdk.ts
  ui/testing-utils/src/mocks/single-spa.ts
  ui/webpack.config.js
  yarn.lock
Labels: plugin/widget, examples

#1602 Integration Center Updates
  tests/ethereum-world/cypress/support/hooks.ts
  ui/app-loader/src/integrations.ts
  ui/apps/app-center/src/components/app-routes.tsx
  ui/apps/app-center/src/components/pages/explore-page.tsx
  ui/apps/app-center/src/components/pages/info-page.tsx
  ui/apps/app-center/src/components/pages/my-apps-page.tsx
  ui/apps/app-center/src/components/pages/widgets-page.tsx
  ui/apps/app-center/src/extensions/install-modal.tsx
  ui/apps/app-center/src/extensions/integrations-widget.tsx
  ui/apps/translation/package.json
  ui/design/src/components/DuplexButton/index.tsx
  ui/design/src/components/DuplexButton/styled-duplex-button.ts
  ui/design/src/components/Editor/link-preview.tsx
  ui/design/src/components/EntryCard/basic-card-box.tsx
  ui/design/src/components/ErrorLoader/index.tsx
  ui/design/src/components/ErrorLoader/interfaces.ts
  ui/design/src/components/ICDetailCard/ICDetailCard.stories.tsx
  ui/design/src/components/ICDetailCard/__tests__/index.test.tsx
  ui/design/src/components/ICDetailCard/ic-detail-card-fields/avatar.tsx
  ui/design/src/components/ICDetailCard/ic-detail-card-fields/cover-image.tsx
  ui/design/src/components/ICDetailCard/index.tsx
  ui/design/src/components/ICWidgetCard/index.tsx
  ui/design/src/components/ImagePopover/index.tsx
  ui/design/src/components/InstallModal/index.tsx
  ui/design/src/components/NotificationPill/NotificationPill.stories.tsx
  ui/design/src/components/NotificationPill/index.tsx
  ui/design/src/components/SideBar/styled-sidebar.ts
  ui/design/src/components/SubtitleTextIcon/styled-subtitle-text-icon.ts
  ui/design/src/index.ts
  ui/design/src/static/img/no-apps-error.png
  ui/design/src/styles/themes/dark/colors-dark.ts
  ui/design/src/styles/themes/interfaces.ts
  ui/design/src/styles/themes/light/colors-light.ts
  ui/design/src/styles/themes/utils/create-grommet-theme.ts
  ui/design/src/utils/dummy-data.ts
  ui/hooks/src/index.ts
  ui/hooks/src/use-integration-registry.ts
  ui/hooks/src/use-profile.ts
Labels: design-system, plugin/widget

#1603 Fix ic
  ui/apps/app-center/src/extensions/integrations-widget.tsx
Labels: plugin/widget
