Repository AKASHAorg/akasha-core, pull requests merged in 2022-05, with the labels that each got.

#1636 Fix: a11y issues
  ui/apps/auth-app/src/components/sign-up/steps/StepThree.tsx
  ui/apps/moderation/src/interfaces/content.ts
  ui/design/src/components/AreaChart/index.tsx
  ui/design/src/components/Editor/format-toolbar.tsx
  ui/design/src/components/EntryPublishErrorCard/index.tsx
  ui/design/src/components/Icon/new-icons/add-app-grey.tsx
  ui/design/src/components/Icon/new-icons/app.tsx
  ui/design/src/components/Icon/new-icons/arrow-down.tsx
  ui/design/src/components/Icon/new-icons/arrow-left.tsx
  ui/design/src/components/Icon/new-icons/arrow-right.tsx
  ui/design/src/components/Icon/new-icons/arrow-up.tsx
  ui/design/src/components/Icon/new-icons/available.tsx
  ui/design/src/components/Icon/new-icons/checkSimple.tsx
  ui/design/src/components/Icon/new-icons/closed-eye.tsx
  ui/design/src/components/Icon/new-icons/copy.tsx
  ui/design/src/components/Icon/new-icons/discord.tsx
  ui/design/src/components/Icon/new-icons/emoji.tsx
  ui/design/src/components/Icon/new-icons/github.tsx
  ui/design/src/components/Icon/new-icons/hashtag-gray.tsx
  ui/design/src/components/Icon/new-icons/home.tsx
  ui/design/src/components/Icon/new-icons/integration-app-cta.tsx
  ui/design/src/components/Icon/new-icons/integration-app-large.tsx
  ui/design/src/components/Icon/new-icons/integration-app-small-fill.tsx
  ui/design/src/components/Icon/new-icons/integration-app-small.tsx
  ui/design/src/components/Icon/new-icons/integration-widget-large.tsx
  ui/design/src/components/Icon/new-icons/integration-widget-small.tsx
  ui/design/src/components/Icon/new-icons/loading.tsx
  ui/design/src/components/Icon/new-icons/media.tsx
  ui/design/src/components/Icon/new-icons/more-grey.tsx
  ui/design/src/components/Icon/new-icons/plus-grey.tsx
  ui/design/src/components/Icon/new-icons/question-mark.tsx
  ui/design/src/components/Icon/new-icons/quote.tsx
  ui/design/src/components/Icon/new-icons/reply.tsx
  ui/design/src/components/Icon/new-icons/share-small-blue.tsx
  ui/design/src/components/Icon/new-icons/share-small-grey.tsx
  ui/design/src/components/Icon/new-icons/subscribe.tsx
  ui/design/src/components/Icon/new-icons/thumbs-down-grey.tsx
  ui/design/src/components/Icon/new-icons/thumbs-up-grey.tsx
  ui/design/src/components/Icon/new-icons/video.tsx
  ui/design/src/components/LineChart/index.tsx
  ui/design/src/components/SideBar/section-title.tsx
  ui/design/src/components/TopBar/index.tsx
  ui/design/src/components/TopBar/styled-topbar.ts
  ui/design/src/styles/themes/dark/colors-dark.ts
  ui/design/src/styles/themes/interfaces.ts
  ui/design/src/styles/themes/light/colors-light.ts
Labels: design-system, plugin/widget

#1642 Feat: tests package
  package.json
  tests/package.json
  tests/src/data-generator/app-loader-extensions.ts
  tests/src/data-generator/index.ts
  tests/src/data-generator/integrations.ts
  tests/src/data-generator/post.ts
  tests/src/data-generator/user.ts
  tests/src/data-generator/world-config.ts
  tests/src/i18n.ts
  tests/src/index.ts
  tests/src/mocks/operator.ts
  tests/src/mocks/sdk.ts
  tests/src/mocks/single-spa.ts
  tests/src/providers.tsx
  tests/tsconfig.json
  tsconfig.json
  tsconfig.typedoc.json
  ui/app-loader/__tests__/extensions.test.ts
  ui/app-loader/__tests__/integrations.test.ts
  ui/app-loader/__tests__/manifests.test.ts
  ui/app-loader/__tests__/state.test.ts
  ui/app-loader/package.json
  ui/apps/akasha/package.json
  ui/apps/app-center/package.json
  ui/apps/app-center/src/components/__tests__/App.spec.tsx
  ui/apps/auth-app/package.json
  ui/apps/bookmarks/package.json
  ui/apps/bookmarks/src/components/_tests_/bookmarks-page.spec.tsx
  ui/apps/moderation/package.json
  ui/apps/moderation/src/components/__tests__/content-card.spec.tsx
  ui/apps/notifications/package.json
  ui/apps/notifications/src/components/__tests__/notification-page.spec.tsx
  ui/apps/profile/package.json
  ui/apps/profile/src/components/__tests__/profile-page-header.spec.tsx
  ui/apps/search/package.json
  ui/apps/search/src/components/__tests__/search-page.spec.tsx
  ui/apps/settings-app/package.json
  ui/lib/feed/package.json
  ui/lib/feed/src/components/__tests__/entry-renderer.spec.tsx
  ui/testing-utils/README.md
  ui/testing-utils/package.json
  ui/widgets/layout/package.json
  ui/widgets/layout/src/components/__tests__/cookie-widget.spec.tsx
  ui/widgets/mini-profile/package.json
  ui/widgets/my-apps/package.json
  ui/widgets/sidebar/package.json
  ui/widgets/sidebar/src/components/__tests__/sidebar-widget.spec.tsx
  ui/widgets/top-bar/package.json
  ui/widgets/top-bar/src/components/__tests__/topbar-component.spec.tsx
  ui/widgets/trending/package.json
  ui/widgets/trending/src/components/__tests__/trending-widget-component.spec.tsx
  workspace.json
  yarn.lock
Labels: plugin/widget

#1645 tests/hooks
  .github/workflows/cypress.staging.yml
  package.json
  tests/src/index.ts
  tests/src/mocks/sdk.ts
  tests/src/mocks/uiEvents.ts
  ui/hooks/jest.config.js
  ui/hooks/package.json
  ui/hooks/src/__mocks__/bookmarks.ts
  ui/hooks/src/__mocks__/comments.ts
  ui/hooks/src/__mocks__/integration-registry.ts
  ui/hooks/src/__mocks__/moderation.ts
  ui/hooks/src/__mocks__/notifications.ts
  ui/hooks/src/__mocks__/posts.ts
  ui/hooks/src/__mocks__/profiles.ts
  ui/hooks/src/__mocks__/search.ts
  ui/hooks/src/__mocks__/trending.ts
  ui/hooks/src/__mocks__/user.ts
  ui/hooks/src/__tests__/use-analytics.spec.ts
  ui/hooks/src/__tests__/use-analytics.spec.tsx
  ui/hooks/src/__tests__/use-bookmarks.spec.ts
  ui/hooks/src/__tests__/use-comments-crud.spec.ts
  ui/hooks/src/__tests__/use-comments.spec.ts
  ui/hooks/src/__tests__/use-injected-provider.spec.ts
  ui/hooks/src/__tests__/use-integration-registry.spec.ts
  ui/hooks/src/__tests__/use-invite-token-validation.spec.ts
  ui/hooks/src/__tests__/use-legal.spec.ts
  ui/hooks/src/__tests__/use-mentions.spec.ts
  ui/hooks/src/__tests__/use-navigation.spec.ts
  ui/hooks/src/__tests__/use-network-state.spec.ts
  ui/hooks/src/__tests__/use-notifications.spec.ts
  ui/hooks/src/__tests__/use-posts-crud.spec.ts
  ui/hooks/src/__tests__/use-posts.spec.ts
  ui/hooks/src/__tests__/use-profile.spec.ts
  ui/hooks/src/__tests__/use-query-listener.spec.ts
  ui/hooks/src/__tests__/use-search.spec.ts
  ui/hooks/src/__tests__/use-trending.spec.ts
  ui/hooks/src/__tests__/utils.tsx
  ui/hooks/src/use-bookmarks.ts
  ui/hooks/src/use-invite-token-validation.ts
  ui/hooks/tsconfig.json
Labels: plugin/widget

#1643 Custom feed
  ui/apps/akasha/src/components/app-routes.tsx
  ui/apps/akasha/src/components/my-feed-page/my-feed-page.tsx
  ui/apps/akasha/src/index.tsx
  ui/apps/akasha/src/routes.tsx
  ui/apps/auth-app/src/components/welcome/index.tsx
  ui/apps/bookmarks/src/components/bookmarks-page.tsx
  ui/apps/notifications/src/components/notifications-page.tsx
  ui/apps/search/src/components/routes/index.tsx
  ui/apps/search/src/components/routes/onboarding-page.tsx
  ui/apps/search/src/index.tsx
  ui/apps/search/src/routes.ts
  ui/design/src/components/EntryCard/basic-card-box.tsx
  ui/design/src/components/EntryCard/index.tsx
  ui/design/src/components/MyFeedCard/index.tsx
  ui/design/src/components/OnboardingStartCard/OnboardingStartCard.stories.tsx
  ui/design/src/components/OnboardingStartCard/index.tsx
  ui/design/src/components/OnboardingSuggestionsCard/OnboardingSuggestionsCard.stories.tsx
  ui/design/src/components/OnboardingSuggestionsCard/TagButton.tsx
  ui/design/src/components/OnboardingSuggestionsCard/index.tsx
  ui/design/src/components/SearchBar/index.tsx
  ui/design/src/components/SearchStartCard/index.tsx
  ui/design/src/components/StartCard/index.tsx
  ui/design/src/components/StartCard/styled.ts
  ui/design/src/components/TopBar/index.tsx
  ui/design/src/index.ts
  ui/design/src/static/img/news-feed.png
  ui/design/src/styles/shapes.ts
  ui/hooks/src/index.ts
  ui/hooks/src/use-posts.ts
  ui/lib/feed/src/components/App.tsx
  ui/lib/feed/src/components/entry-feed.tsx
  ui/lib/feed/src/components/entry-renderer.tsx
Labels: design-system, plugin/widget

#1648 chore(): use a generic selector for root layout widget node
  tests/ethereum-world/cypress/integration/partials/topbar.spec.ts
  ui/widgets/layout/src/components/global-style.ts
Labels: plugin/widget

#1650 Ic fixes
  ui/apps/akasha/src/components/my-feed-page/my-feed-page.tsx
  ui/apps/app-center/src/components/app-routes.tsx
  ui/apps/app-center/src/components/pages/apps-page.tsx
  ui/apps/app-center/src/components/pages/explore-page.tsx
  ui/apps/app-center/src/components/pages/my-apps-page.tsx
  ui/apps/app-center/src/hidden-integrations.ts
  ui/design/src/components/BoxFormCard/sections/NameInputSection.tsx
  ui/design/src/components/BoxFormCard/sections/UsernameInputSection.tsx
  ui/design/src/components/Editor/image-upload.tsx
  ui/design/src/components/NewPostsPill/index.tsx
  ui/design/src/components/OnboardingStartCard/index.tsx
  ui/design/src/components/SignInModal/eth-provider-list-modal.tsx
  ui/design/src/components/WalletRequestStep/index.tsx
  ui/design/src/styles/themes/dark/colors-dark.ts
  ui/design/src/styles/themes/interfaces.ts
  ui/design/src/styles/themes/light/colors-light.ts
  ui/design/src/styles/themes/utils/create-grommet-theme.ts
  ui/widgets/my-apps/src/MyAppsWidget.tsx
  ui/widgets/my-apps/src/hidden-integrations.ts
Labels: design-system, plugin/widget

#1649 Chore: update apps info
  ui/apps/akasha/DESCRIPTION.md
  ui/apps/akasha/package.json
  ui/apps/auth-app/DESCRIPTION.md
  ui/apps/auth-app/package.json
  ui/apps/bookmarks/DESCRIPTION.md
  ui/apps/bookmarks/package.json
  ui/apps/legal/DESCRIPTION.md
  ui/apps/legal/package.json
  ui/apps/moderation/DESCRIPTION.md
  ui/apps/moderation/package.json
  ui/apps/notifications/DESCRIPTION.md
  ui/apps/notifications/package.json
  ui/apps/profile/DESCRIPTION.md
  ui/apps/profile/package.json
  ui/apps/search/DESCRIPTION.md
  ui/apps/search/package.json
  ui/apps/settings-app/DESCRIPTION.md
  ui/apps/settings-app/package.json
Labels: plugin/widget

#1652 Text accent color
  ui/apps/search/src/components/routes/search-page.tsx
  ui/design/src/components/AppInfoWidgetCard/styled-widget-cards.ts
  ui/design/src/components/BoxFormCard/sections/DescriptionSection.tsx
  ui/design/src/components/Editor/renderers.tsx
  ui/design/src/components/IconLink/styled-icon-link.tsx
  ui/design/src/components/LoginCTAWidgetCard/index.tsx
  ui/design/src/components/PlainButton/styled-plain-button.ts
  ui/design/src/components/ProfileAvatarButton/styled-profile-avatar-button.ts
  ui/design/src/components/SideBar/menu-item-label.tsx
  ui/design/src/components/StepIndicator/index.tsx
  ui/design/src/components/SwitchCard/index.tsx
  ui/design/src/components/TextIcon/styled-text-icon.ts
  ui/design/src/components/TextInputIconForm/styles.ts
  ui/design/src/styles/themes/light/colors-light.ts
Labels: design-system, plugin/widget

#1651 Chore: analytics updates
  ui/apps/akasha/src/components/post-page/post-page.tsx
  ui/apps/akasha/src/extensions/editor-modal.tsx
  ui/apps/akasha/src/extensions/entry-remove-modal.tsx
  ui/apps/bookmarks/src/extensions/entry-card-save-button.tsx
  ui/apps/moderation/src/extensions/report-modal.tsx
  ui/apps/search/src/components/routes/search-page.tsx
  ui/lib/feed/src/components/entry-renderer.tsx
  ui/typings/src/analytics.ts
  ui/widgets/trending/src/components/trending-widget-component.tsx
Labels: plugin/widget

#1639 Docusaurus plugin typedoc
  package.json
  sdk/src/auth/index.ts
  sdk/src/db/index.ts
  sdk/src/gql/index.ts
  sdk/src/index.ts
  sdk/src/posts/comments.ts
  sdk/typings/src/index.ts
  sdk/typings/src/interfaces/posts.ts
  typedoc.js
  ui/hooks/src/constants.ts
  ui/hooks/src/use-analytics.tsx
  ui/hooks/src/use-comments.ts
  ui/hooks/src/use-follow.ts
  ui/hooks/src/use-posts.ts
  ui/hooks/src/use-profile.ts
  ui/hooks/src/utils/theme-wrapper.tsx
  yarn.lock
Labels: plugin/widget

#1653 feat(): implement collapsible description for IC apps
  sdk/typings/src/interfaces/ipfs.connector.ts
  tests/src/mocks/sdk.ts
  ui/apps/app-center/src/components/pages/info-page.tsx
  ui/design/src/components/ICDetailCard/ic-detail-card-fields/description.tsx
  ui/design/src/components/ICDetailCard/index.tsx
  ui/design/src/components/MdCard/index.tsx
  ui/hooks/src/__tests__/use-app-description.spec.ts
  ui/hooks/src/__tests__/use-legal.spec.ts
  ui/hooks/src/index.ts
  ui/hooks/src/use-app-description.ts
Labels: design-system, plugin/widget

#1654 Patch1
  ui/apps/app-center/src/components/app-routes.tsx
  ui/apps/app-center/src/components/pages/explore-page.tsx
  ui/hooks/src/use-integration-registry.ts
Labels: plugin/widget

#1655 Chore: patch analytics updates
  ui/apps/auth-app/src/components/sign-in/index.tsx
  ui/apps/moderation/src/extensions/report-modal.tsx
Labels: plugin/widget

#1656 Patch explore page
  ui/apps/app-center/src/components/app-routes.tsx
  ui/apps/app-center/src/components/pages/explore-page.tsx
  ui/design/src/styles/themes/dark/colors-dark.ts
  ui/widgets/my-apps/src/MyAppsWidget.tsx
Labels: design-system, plugin/widget

#1641 migrate followers schema
  api/hub/src/collections/followers.ts
  api/hub/src/collections/index.ts
  api/hub/src/collections/interfaces.ts
  api/hub/src/datasources/follower.ts
  api/hub/src/datasources/profile.ts
  api/hub/src/helpers.ts
  api/hub/src/index.ts
  api/hub/src/migrations/followers.ts
  api/hub/src/resolvers/mutations.ts
  api/hub/src/resolvers/query.ts
Labels: api

#1659 chore(): add custom event for theme-change
  examples/ui/ethereum.world/public/index.dev.html
  examples/ui/ethereum.world/public/index.html
  ui/apps/settings-app/src/components/app-routes.tsx
Labels: plugin/widget, examples

#1661 Update copy
  ui/apps/akasha/DESCRIPTION.md
  ui/apps/akasha/src/components/my-feed-page/my-feed-page.tsx
  ui/apps/app-center/DESCRIPTION.md
  ui/apps/app-center/src/components/app-routes.tsx
  ui/apps/app-center/src/components/pages/explore-page.tsx
  ui/apps/app-center/src/components/pages/my-apps-page.tsx
  ui/apps/app-center/src/components/pages/my-widgets-page.tsx
  ui/apps/app-center/src/routes.ts
  ui/apps/auth-app/DESCRIPTION.md
  ui/apps/bookmarks/DESCRIPTION.md
  ui/apps/bookmarks/src/components/bookmarks-page.tsx
  ui/apps/legal/DESCRIPTION.md
  ui/apps/moderation/DESCRIPTION.md
  ui/apps/moderation/src/components/transparency-log/banner.tsx
  ui/apps/moderation/src/pages/intro.tsx
  ui/apps/notifications/DESCRIPTION.md
  ui/apps/notifications/src/components/notifications-page.tsx
  ui/apps/profile/DESCRIPTION.md
  ui/apps/search/src/components/routes/onboarding-page.tsx
  ui/apps/search/src/components/routes/search-page.tsx
  ui/apps/settings-app/DESCRIPTION.md
  ui/apps/settings-app/src/components/app-routes.tsx
  ui/apps/settings-app/src/components/option-appearance.tsx
  ui/apps/settings-app/src/components/option-privacy.tsx
  ui/design/src/components/ModerationAppErrorCard/ModerationAppErrorCard.stories.tsx
  ui/design/src/components/ModerationAppErrorCard/__tests__/index.test.tsx
  ui/design/src/components/SearchStartCard/SearchStartCard.stories.tsx
  ui/design/src/components/SearchStartCard/__tests__/index.test.tsx
  ui/design/src/components/TransparencyLogBanner/TransparencyLogBanner.stories.tsx
  ui/design/src/components/TransparencyLogBanner/__tests__/index.test.tsx
  ui/design/src/components/TransparencyLogBanner/index.tsx
  ui/widgets/analytics/src/components/cookie-widget.tsx
  ui/widgets/sidebar/src/components/sidebar-component.tsx
  ui/widgets/top-bar/src/extensions/feedback-modal.tsx
Labels: design-system, plugin/widget

#1660 refactor(): update follow hooks to use pubKey instead of ethAddress
  ui/apps/akasha/src/components/post-page/post-page.tsx
  ui/apps/bookmarks/src/components/entry-renderer.tsx
  ui/apps/profile/src/components/profile-cards/profile-page-header.tsx
  ui/apps/profile/src/components/profile-cards/stat-modal-wrapper.tsx
  ui/apps/search/src/components/routes/entry-renderer.tsx
  ui/apps/search/src/components/routes/onboarding-page.tsx
  ui/apps/search/src/components/routes/search-page.tsx
  ui/design/src/components/OnboardingSuggestionsCard/index.tsx
  ui/design/src/components/ProfileCard/profile-mini-card.tsx
  ui/design/src/components/StatModal/profile-entry.tsx
  ui/design/src/components/TrendingWidgetCard/index.tsx
  ui/hooks/src/use-follow.ts
  ui/lib/feed/src/components/entry-renderer.tsx
  ui/widgets/mini-profile/src/MiniProfileWidget.tsx
  ui/widgets/trending/src/components/trending-widget-component.tsx
Labels: design-system, plugin/widget

#1663 chore(): copy update
  ui/apps/app-center/src/components/pages/explore-page.tsx
  ui/apps/settings-app/src/components/app-routes.tsx
  ui/widgets/sidebar/src/components/sidebar-component.tsx
Labels: plugin/widget

#1664 Docs: hooks
  ui/hooks/src/moderation-requests.ts
  ui/hooks/src/use-analytics.tsx
  ui/hooks/src/use-app-description.ts
  ui/hooks/src/use-app-settings.ts
  ui/hooks/src/use-bookmarks.ts
  ui/hooks/src/use-comments.ts
  ui/hooks/src/use-follow.ts
  ui/hooks/src/use-global-login.ts
  ui/hooks/src/use-injected-provider.ts
  ui/hooks/src/use-integration-registry.ts
  ui/hooks/src/use-invite-token-validation.ts
  ui/hooks/src/use-legal.ts
  ui/hooks/src/use-login.ts
  ui/hooks/src/use-mentions.ts
  ui/hooks/src/use-moderation.ts
  ui/hooks/src/use-navigation.ts
  ui/hooks/src/use-network-state.ts
  ui/hooks/src/use-notifications.ts
  ui/hooks/src/use-posts.ts
  ui/hooks/src/use-profile.ts
  ui/hooks/src/use-query-listener.ts
  ui/hooks/src/use-reasons.ts
  ui/hooks/src/use-search.ts
  ui/hooks/src/use-tag.ts
  ui/hooks/src/use-username.ts
  ui/hooks/src/utils/ens-utils.ts
  ui/hooks/src/utils/entry-utils.ts
  ui/hooks/src/utils/error-handler.ts
  ui/hooks/src/utils/getProviderDetails.tsx
  ui/hooks/src/utils/media-utils.ts
  ui/hooks/src/utils/provider-hoc.tsx
Labels: plugin/widget

#1665 chore(): adjust IC copy, fix stat modal interests
  ui/apps/app-center/DESCRIPTION.md
  ui/apps/app-center/src/components/app-routes.tsx
  ui/apps/app-center/src/components/pages/my-apps-page.tsx
  ui/design/src/components/StatModal/tag-entry.tsx
Labels: design-system, plugin/widget

#1667 chore(): fix extension points
  ui/app-loader/src/extensions.ts
Labels: plugin/widget

#1666 fix sidebar not showing active selection on refresh
  ui/design/src/components/SideBar/index.tsx
  ui/widgets/sidebar/src/components/sidebar-component.tsx
Labels: design-system, plugin/widget

#1668 fix useIsFollowingMultiple hook in repeated calls
  ui/hooks/src/use-follow.ts
Labels: plugin/widget

#1669 Fix: update theme colors
  ui/design/src/components/TransparencyLogBanner/index.tsx
  ui/design/src/components/TransparencyLogMiniCard/index.tsx
  ui/design/src/styles/themes/dark/colors-dark.ts
  ui/design/src/styles/themes/interfaces.ts
  ui/design/src/styles/themes/light/colors-light.ts
  ui/design/src/styles/themes/utils/create-grommet-theme.ts
Labels: design-system, plugin/widget

#1671 Fix images, link preview
  ui/apps/notifications/src/components/notifications-page.tsx
  ui/design/src/components/Editor/image-gallery.tsx
  ui/design/src/components/Editor/link-preview.tsx
  ui/design/src/components/Editor/renderers.tsx
  ui/design/src/components/EntryCard/entry-image-gallery.tsx
  ui/design/src/components/ImageOverlay/index.tsx
  ui/design/src/components/ImageOverlay/multiple-image-overlay.tsx
Labels: design-system, plugin/widget
