Repository AKASHAorg/akasha-core, pull requests merged in 2022-02, with the labels that each got.

#1552 fix(): replace i18n template strings with string interpolation
  ui/apps/akasha/src/extensions/entry-edit-button.tsx
  ui/apps/auth-app/src/components/sign-in/index.tsx
  ui/apps/auth-app/src/components/sign-up/index.tsx
  ui/apps/bookmarks/src/components/bookmarks-page.tsx
  ui/apps/bookmarks/src/components/entry-renderer.tsx
  ui/apps/moderation/src/components/dashboard/content-card/entry-data-card.tsx
  ui/apps/moderation/src/components/error-cards/no-items-found.tsx
  ui/apps/moderation/src/components/transparency-log/detail-card.tsx
  ui/apps/moderation/src/components/transparency-log/index.tsx
  ui/apps/moderation/src/extensions/report-modal.tsx
  ui/apps/profile/src/components/profile-cards/stat-modal-wrapper.tsx
  ui/apps/profile/src/components/routes/profile-page.tsx
  ui/apps/search/src/components/routes/entry-renderer.tsx
  ui/lib/feed/src/components/entry-renderer.tsx
Labels: plugin/widget

#1554 Update settings schema and api
  sdk/src/auth/index.ts
  sdk/src/db/app.schema.ts
  sdk/src/db/index.ts
  sdk/src/db/settings.schema.ts
  sdk/src/profiles/index.ts
  sdk/src/registry/icRegistry.ts
  sdk/src/settings/apps.ts
  sdk/src/settings/index.ts
  sdk/typings/src/interfaces/settings.ts
  ui/app-loader/src/index.ts
  ui/hooks/src/use-bookmarks.ts
Labels: plugin/widget

#1551 Feat: Integration Center Detail Card
  ui/design/src/components/ICDetailCard/ICDetailCard.stories.tsx
  ui/design/src/components/ICDetailCard/__tests__/index.test.tsx
  ui/design/src/components/ICDetailCard/ic-detail-card-fields/avatar.tsx
  ui/design/src/components/ICDetailCard/ic-detail-card-fields/cover-image.tsx
  ui/design/src/components/ICDetailCard/ic-detail-card-fields/name.tsx
  ui/design/src/components/ICDetailCard/ic-detail-card-fields/section-wrapper.tsx
  ui/design/src/components/ICDetailCard/index.tsx
  ui/design/src/components/Icon/index.tsx
  ui/design/src/components/Icon/new-icons/app-ic-cta.tsx
  ui/design/src/components/Icon/new-icons/index.ts
  ui/design/src/components/Icon/new-icons/license-wtfpl.tsx
  ui/design/src/index.ts
  ui/design/src/utils/dummy-data.ts
  ui/typings/src/index.ts
Labels: design-system, plugin/widget

#1557 Feat: Profile avatar crop
  ui/design/src/components/BoxFormCard/index.tsx
  ui/design/src/components/BoxFormCard/sections/AvatarSection.tsx
  ui/design/src/components/BoxFormCard/sections/CoverImageSection.tsx
  ui/design/src/components/ImagePopover/form-image-popover.tsx
  ui/design/src/utils/get-cropped-image.ts
Labels: design-system, plugin/widget

#1562 Add extra data for release info
  api/hub/src/resolvers/query.ts
  api/hub/src/schema.ts
  package.json
  sdk/src/common/ipfs.connector.ts
  sdk/src/registry/icRegistry.graphql
  sdk/src/registry/icRegistry.ts
  sdk/typings/src/interfaces/registry.ts
  ui/app-loader/src/index.ts
Labels: plugin/widget, api

#1560 Refactor: profile photo update
  ui/apps/profile/src/extensions/update-profile-modal.tsx
  ui/design/src/components/BoxFormCard/index.tsx
  ui/design/src/components/BoxFormCard/sections/AvatarSection.tsx
  ui/design/src/components/BoxFormCard/sections/CoverImageSection.tsx
  ui/design/src/components/BoxFormCard/sections/TitleSection.tsx
  ui/design/src/components/BoxFormCard/styled-form-card.ts
  ui/design/src/components/Icon/index.tsx
  ui/design/src/components/Icon/new-icons/arrow-left.tsx
  ui/design/src/components/Icon/new-icons/image.tsx
  ui/design/src/components/Icon/new-icons/index.ts
  ui/design/src/components/Icon/new-icons/zoom-in-alt.tsx
  ui/design/src/components/Icon/new-icons/zoom-out-alt.tsx
  ui/design/src/components/ImagePopover/form-image-popover.tsx
Labels: design-system, plugin/widget

#1558 Feat: Settings app updates
  ui/apps/settings-app/src/components/app-routes.tsx
  ui/apps/settings-app/src/components/option-appearance.tsx
  ui/apps/settings-app/src/components/option-apps.tsx
  ui/apps/settings-app/src/components/option-privacy.tsx
  ui/apps/settings-app/src/components/settings-page.tsx
  ui/apps/settings-app/src/routes.ts
  ui/apps/settings-app/src/styles/index.ts
  ui/apps/settings-app/src/utils/settings-items.ts
  ui/design/src/components/Icon/index.tsx
  ui/design/src/components/Icon/new-icons/chevron-left.tsx
  ui/design/src/components/Icon/new-icons/chevron-right.tsx
  ui/design/src/components/Icon/new-icons/index.ts
  ui/design/src/components/TopBar/index.tsx
  ui/design/src/components/TopBar/profile-menu.tsx
  ui/design/src/styles/themes/dark/colors-dark.ts
  ui/design/src/styles/themes/interfaces.ts
  ui/design/src/styles/themes/light/colors-light.ts
  ui/design/src/styles/themes/utils/create-grommet-theme.ts
  ui/widgets/top-bar/src/components/topbar-component.tsx
Labels: design-system, plugin/widget

#1565 Feat: customizable ic avatar
  ui/design/src/components/Avatar/styled-avatar.ts
  ui/design/src/components/ICDetailCard/ic-detail-card-fields/avatar.tsx
  ui/design/src/components/Icon/index.tsx
  ui/design/src/components/Icon/new-icons/index.ts
  ui/design/src/components/Icon/new-icons/integration-widget-large.tsx
Labels: design-system, plugin/widget

#1566 Refactor: bookmarks page
  ui/apps/bookmarks/package.json
  ui/apps/bookmarks/src/components/bookmarks-page.tsx
Labels: plugin/widget

#1567 I18n quickfixes
  examples/ui/ethereum.world/src/index.ts
  examples/ui/ethereum.world/src/registry-overrides.ts
  package.json
  ui/app-loader/src/integration-data.ts
  ui/apps/akasha/src/components/feed-page/feed-page.tsx
  ui/apps/akasha/src/components/post-page/post-page.tsx
  ui/apps/akasha/src/components/tag-feed-page/tag-feed-page.tsx
  ui/apps/bookmarks/src/components/bookmarks-page.tsx
  ui/apps/profile/src/components/routes/profile-page.tsx
  ui/apps/translation/.eslintrc.js
  ui/apps/translation/README.md
  ui/apps/translation/package.json
  ui/apps/translation/src/i18n.ts
  ui/apps/translation/src/index.tsx
  ui/apps/translation/tsconfig.json
  ui/apps/translation/webpack.config.js
  ui/lib/feed/src/components/App.tsx
  ui/lib/feed/src/components/entry-feed.tsx
  workspace.json
Labels: plugin/widget, examples

#1568 fix(): dont escape string interpolated values i18n
  ui/apps/translation/src/i18n.ts
Labels: plugin/widget
