Repository AKASHAorg/akasha-core, pull requests merged in 2022-11, with the labels that each got.

#1775 Test: fix failing hooks unit tests
  ui/hooks/src/__mocks__/comments.ts
  ui/hooks/src/__mocks__/posts.ts
  ui/hooks/src/__mocks__/trending.ts
  ui/hooks/src/__tests__/use-app-description.spec.ts
  ui/hooks/src/__tests__/use-comments-crud.spec.ts
  ui/hooks/src/__tests__/use-comments.spec.ts
  ui/hooks/src/__tests__/use-integration-registry.spec.ts
  ui/hooks/src/__tests__/use-legal.spec.ts
  ui/hooks/src/__tests__/use-mentions.spec.ts
  ui/hooks/src/__tests__/use-notifications.spec.ts
  ui/hooks/src/__tests__/use-posts-crud.spec.ts
  ui/hooks/src/__tests__/use-posts.spec.ts
  ui/hooks/src/__tests__/use-profile.spec.ts
  ui/hooks/src/__tests__/use-search.spec.ts
  ui/hooks/src/__tests__/use-trending.spec.ts
  ui/hooks/src/use-search.ts
Labels: plugin/widget

#1773 Fix: prevent empty post div's on feed page
  ui/design/src/components/EntryList/index.tsx
  ui/lib/feed/src/components/entry-renderer.tsx
Labels: design-system, plugin/widget

#1772 Feat: enable retry whenever an error occurs while posting a reply
  ui/apps/akasha/src/components/feed-page/feed-page.tsx
  ui/apps/akasha/src/components/post-page/pending-entry.tsx
  ui/apps/akasha/src/extensions/inline-editor/inline-editor.tsx
  ui/apps/akasha/src/extensions/inline-editor/reply-error.tsx
  ui/design/src/components/EntryCard/entry-box.tsx
  ui/design/src/components/EntryCard/entry-card-error.tsx
  ui/design/src/components/EntryCard/index.tsx
  ui/design/src/components/Icon/index.tsx
  ui/design/src/components/Icon/new-icons/alert.tsx
  ui/design/src/components/Icon/new-icons/index.ts
  ui/design/src/styles/themes/utils/create-grommet-theme.ts
  ui/hooks/src/__tests__/use-query-listener.spec.ts
  ui/hooks/src/use-query-listener.ts
Labels: design-system, plugin/widget

#1770 Feat: add view all replies
  ui/apps/akasha/src/components/feed-page/feed-page.tsx
  ui/apps/akasha/src/components/my-feed-page/my-feed-page.tsx
  ui/apps/akasha/src/components/post-page/common/base-entry-page.tsx
  ui/apps/akasha/src/components/post-page/common/reply-entry.tsx
  ui/apps/akasha/src/components/tag-feed-page/tag-feed-page.tsx
  ui/apps/akasha/src/extensions/entry-edit-button.tsx
  ui/apps/akasha/src/extensions/inline-editor/base.tsx
  ui/apps/bookmarks/src/components/bookmarks-page.tsx
  ui/apps/profile/src/components/routes/profile-page.tsx
  ui/design/src/components/EntryCard/card-actions.tsx
  ui/design/src/components/EntryCard/entry-box.tsx
  ui/design/src/components/EntryCard/index.tsx
  ui/design/src/components/EntryList/index.tsx
  ui/design/src/styles/themes/dark/colors-dark.ts
  ui/design/src/styles/themes/interfaces.ts
  ui/design/src/styles/themes/light/colors-light.ts
  ui/design/src/styles/themes/utils/create-grommet-theme.ts
  ui/hooks/src/__tests__/use-comments.spec.ts
  ui/hooks/src/use-comments.ts
  ui/lib/feed/src/components/App.tsx
  ui/lib/feed/src/components/entry-feed.tsx
  ui/lib/feed/src/components/entry-renderer.tsx
Labels: design-system, plugin/widget

#1765 Feat: Implement new replies UI/UX
  ui/apps/akasha/src/components/app-routes.tsx
  ui/apps/akasha/src/components/feed-page/feed-page.tsx
  ui/apps/akasha/src/components/my-feed-page/my-feed-page.tsx
  ui/apps/akasha/src/components/post-page/common/base-entry-page.tsx
  ui/apps/akasha/src/components/post-page/common/main-entry.tsx
  ui/apps/akasha/src/components/post-page/common/pending-reply.tsx
  ui/apps/akasha/src/components/post-page/post-page.tsx
  ui/apps/akasha/src/components/post-page/reply-page.tsx
  ui/apps/akasha/src/components/tag-feed-page/tag-feed-page.tsx
  ui/apps/akasha/src/extensions/entry-edit-button.tsx
  ui/apps/akasha/src/extensions/inline-editor/base.tsx
  ui/apps/akasha/src/extensions/inline-editor/inline-editor.tsx
  ui/apps/akasha/src/extensions/inline-editor/post-editor/index.tsx
  ui/apps/akasha/src/extensions/inline-editor/reply-editor/index.tsx
  ui/apps/bookmarks/src/components/bookmarks-page.tsx
  ui/apps/profile/src/components/routes/profile-page.tsx
  ui/apps/search/src/components/routes/entry-renderer.tsx
  ui/design/src/components/EntryCard/card-actions.tsx
  ui/design/src/components/EntryCard/entry-box.tsx
  ui/design/src/components/EntryCard/index.tsx
  ui/design/src/components/EntryList/index.tsx
  ui/design/src/styles/themes/dark/colors-dark.ts
  ui/design/src/styles/themes/interfaces.ts
  ui/design/src/styles/themes/light/colors-light.ts
  ui/design/src/styles/themes/utils/create-grommet-theme.ts
  ui/design/src/utils/extension-point.tsx
  ui/design/src/utils/extension.tsx
  ui/hooks/src/__tests__/use-comments.spec.ts
  ui/hooks/src/use-comments.ts
  ui/hooks/src/use-navigation.ts
  ui/hooks/src/utils/entry-utils.ts
  ui/lib/feed/src/components/App.tsx
  ui/lib/feed/src/components/entry-feed.tsx
  ui/lib/feed/src/components/entry-renderer.tsx
Labels: design-system, plugin/widget

#1777 Notification for reply to reply
  ui/apps/notifications/src/components/notifications-page.tsx
  ui/design/src/components/NotificationCard/NotificationCard.stories.tsx
  ui/design/src/components/NotificationCard/__tests__/index.test.tsx
  ui/design/src/components/NotificationCard/index.tsx
Labels: design-system, plugin/widget

#1781 Fix: apps failing unit tests
  tests/src/mocks/sdk.ts
  ui/apps/articles/jest.config.js
  ui/apps/articles/jest.setup.js
  ui/apps/articles/src/pages/__tests__/dashboard.spec.tsx
  ui/apps/profile/src/components/__tests__/profile-page-header.spec.tsx
Labels: plugin/widget

#1778 feat: enable saving draft of a post
  ui/apps/akasha/src/extensions/inline-editor/inline-editor.tsx
  ui/apps/akasha/src/extensions/inline-editor/post-editor/index.tsx
  ui/apps/akasha/src/extensions/inline-editor/utils/index.ts
  ui/design/src/components/Editor/Editor.stories.tsx
  ui/design/src/components/Editor/index.tsx
  ui/design/src/components/EditorCard/comment-editor.tsx
Labels: design-system, plugin/widget

#1786 Fix: move selection at the end when editor mounts
  ui/design/src/components/Editor/index.tsx
Labels: design-system, plugin/widget

#1787 Fix: add missing prop on comment editor
  ui/design/src/components/EditorCard/comment-editor.tsx
Labels: design-system, plugin/widget

#1789 Fix: pending entry ui should disappear immediately after the entry appears on a feed
  ui/apps/akasha/src/components/feed-page/feed-page.tsx
  ui/apps/akasha/src/components/post-page/common/base-entry-page.tsx
  ui/apps/akasha/src/components/post-page/common/pending-reply.tsx
  ui/hooks/src/use-comments.ts
  ui/hooks/src/use-posts.ts
Labels: plugin/widget

#1767 profile feed page
  ui/apps/akasha/src/components/app-routes.tsx
  ui/apps/akasha/src/components/profile-feed-page/profile-feed-page.tsx
  ui/apps/akasha/src/index.tsx
  ui/apps/akasha/src/routes.tsx
  ui/apps/profile/src/components/profile-cards/profile-page-header.tsx
Labels: plugin/widget

#1788 Fix: post editor should remain open whenever there is a draft post
  ui/apps/akasha/src/extensions/inline-editor/post-editor/index.tsx
Labels: plugin/widget

#1785 Fix: show pending entry for multiple posts or replies
  ui/apps/akasha/src/components/__tests__/my-feed-page.spec.tsx
  ui/apps/akasha/src/components/__tests__/pending-reply.spec.tsx
  ui/apps/akasha/src/components/feed-page/feed-page.tsx
  ui/apps/akasha/src/components/post-page/common/base-entry-page.tsx
  ui/apps/akasha/src/components/post-page/common/pending-reply.tsx
  ui/hooks/src/__tests__/use-query-listener.spec.ts
  ui/hooks/src/index.ts
  ui/hooks/src/use-comments.ts
  ui/hooks/src/use-posts.ts
  ui/hooks/src/use-query-listener.ts
Labels: plugin/widget

#1760 feat: add breadcrumb navigation extension
  ui/apps/routing/package.json
  ui/apps/routing/src/extensions/back-navigation.tsx
  ui/apps/routing/src/index.tsx
  ui/design/src/utils/extension.tsx
  ui/widgets/layout/src/components/layout-widget.tsx
Labels: design-system, plugin/widget

#1780 feat(usePost hook): filter deleted posts after querying
  ui/hooks/src/use-posts.ts
Labels: plugin/widget

#1794 Fix image pathnames
  ui/apps/bookmarks/src/components/bookmarks-page.tsx
  ui/apps/moderation/src/services/values.ts
  ui/apps/notifications/src/components/notifications-page.tsx
  ui/apps/profile/src/components/profile-cards/profile-page-header.tsx
  ui/design/src/components/SearchStartCard/index.tsx
  ui/design/src/static/img/community-resilience.webp
  ui/design/src/static/img/human-centric-products.webp
  ui/design/src/static/img/integration-center.webp
  ui/design/src/static/img/intellectual-honesty.webp
  ui/design/src/static/img/news-feed.webp
  ui/design/src/static/img/people-first.webp
Labels: design-system, plugin/widget

#1795 Fix: comment editor state fix
  ui/apps/akasha/src/extensions/inline-editor/base.tsx
  ui/apps/akasha/src/extensions/inline-editor/post-editor/index.tsx
  ui/apps/akasha/src/extensions/inline-editor/reply-editor/index.tsx
  ui/design/src/components/EditorCard/comment-editor.tsx
Labels: design-system, plugin/widget

#1792 feat: replace moment with dayjs
  ui/apps/auth-app/package.json
  ui/apps/moderation/package.json
  ui/apps/moderation/src/components/content-card/content.tsx
  yarn.lock
Labels: plugin/widget

#1799 Fix Akasha logo in dark mode
  ui/design/src/components/SideBar/index.tsx
  ui/design/src/components/TopBar/index.tsx
Labels: design-system, plugin/widget

#1790 refactor: ui-events type names
  typings/src/ui/index.ts
  typings/src/ui/moderation.ts
  typings/src/ui/navigation.ts
  typings/src/ui/ui-events.ts
  ui/apps/akasha/src/components/__tests__/post-page.spec.tsx
  ui/apps/akasha/src/components/__tests__/reply-page.spec.tsx
  ui/apps/akasha/src/components/feed-page/feed-page.tsx
  ui/apps/akasha/src/components/my-feed-page/my-feed-page.tsx
  ui/apps/akasha/src/components/post-page/common/base-entry-page.tsx
  ui/apps/akasha/src/components/post-page/common/main-entry.tsx
  ui/apps/akasha/src/components/post-page/post-page.tsx
  ui/apps/akasha/src/components/post-page/reply-page.tsx
  ui/apps/akasha/src/components/profile-feed-page/profile-feed-page.tsx
  ui/apps/akasha/src/components/tag-feed-page/tag-feed-page.tsx
  ui/apps/akasha/src/extensions/entry-edit-button.tsx
  ui/apps/akasha/src/extensions/entry-remove-modal.tsx
  ui/apps/akasha/src/extensions/inline-editor/inline-editor.tsx
  ui/apps/articles/src/pages/article.tsx
  ui/apps/articles/src/pages/dashboard.tsx
  ui/apps/articles/src/pages/my-articles.tsx
  ui/apps/bookmarks/src/components/bookmarks-page.tsx
  ui/apps/bookmarks/src/extensions/entry-card-save-button.tsx
  ui/apps/moderation/Readme.md
  ui/apps/moderation/src/components/__tests__/content-card.spec.tsx
  ui/apps/moderation/src/components/content-card/content.tsx
  ui/apps/moderation/src/components/content-card/entry-data-card.tsx
  ui/apps/moderation/src/components/content-card/explanations-box.tsx
  ui/apps/moderation/src/components/content-card/index.tsx
  ui/apps/moderation/src/components/transparency-log/detail-card.tsx
  ui/apps/moderation/src/extensions/moderate-modal.tsx
  ui/apps/moderation/src/extensions/report-modal.tsx
  ui/apps/moderation/src/interfaces/content.ts
  ui/apps/moderation/src/pages/dashboard.tsx
  ui/apps/moderation/src/services/constants.ts
  ui/apps/notifications/src/components/notifications-page.tsx
  ui/apps/profile/src/components/profile-cards/profile-page-header.tsx
  ui/apps/search/src/components/routes/entry-renderer.tsx
  ui/apps/search/src/components/routes/search-page.tsx
  ui/design/src/components/EntryCard/entry-box.tsx
  ui/design/src/components/EntryList/index.tsx
  ui/design/src/components/NotificationCard/index.tsx
  ui/design/src/components/ReportModal/report-modal.tsx
  ui/design/src/utils/extension.tsx
  ui/hooks/src/use-navigation.ts
  ui/lib/feed/src/components/App.tsx
  ui/lib/feed/src/components/__tests__/entry-renderer.spec.tsx
  ui/lib/feed/src/components/entry-feed.tsx
  ui/lib/feed/src/components/entry-renderer.tsx
Labels: design-system, plugin/widget

#1793 Test: add unit test coverage to feed and post pages
  tests/src/index.ts
  tests/src/mocks/localStorage.ts
  ui/apps/akasha/src/components/__tests__/feed-page.spec.tsx
  ui/apps/akasha/src/components/__tests__/pending-reply.spec.tsx
  ui/apps/akasha/src/components/__tests__/post-page.spec.tsx
  ui/apps/akasha/src/components/__tests__/reply-page.spec.tsx
  ui/apps/akasha/src/components/app-routes.tsx
  ui/apps/akasha/src/components/entry-page/common/base-entry-page.tsx
  ui/apps/akasha/src/components/entry-page/common/main-entry.tsx
  ui/apps/akasha/src/components/entry-page/common/pending-reply.tsx
  ui/apps/akasha/src/components/entry-page/invite-page.tsx
  ui/apps/akasha/src/components/entry-page/post-page.tsx
  ui/apps/akasha/src/components/entry-page/reply-page.tsx
  ui/apps/akasha/src/extensions/inline-editor/inline-editor.tsx
  ui/apps/akasha/src/extensions/inline-editor/post-editor/index.tsx
  ui/apps/akasha/src/extensions/inline-editor/utils/draft.ts
  ui/apps/akasha/src/extensions/inline-editor/utils/index.ts
  ui/lib/feed/src/components/entry-renderer.tsx
Labels: plugin/widget

#1803 Fix: moderation UI v3
  ui/apps/moderation/src/components/content-card/content.tsx
  ui/apps/moderation/src/components/transparency-log/index.tsx
  ui/apps/moderation/src/pages/moderation-value.tsx
  ui/apps/moderation/src/pages/overview.tsx
  ui/apps/moderation/src/utils/external-links.ts
Labels: plugin/widget

#1800 Feat: repost on feed page
  ui/apps/akasha/src/components/__tests__/feed-page.spec.tsx
  ui/apps/akasha/src/components/__tests__/post-page.spec.tsx
  ui/apps/akasha/src/components/app-routes.tsx
  ui/apps/akasha/src/components/feed-page/feed-page.tsx
  ui/apps/akasha/src/components/item-page/common/base-page.tsx
  ui/apps/akasha/src/components/item-page/common/original-item.tsx
  ui/apps/akasha/src/components/item-page/common/pending-reply.tsx
  ui/apps/akasha/src/components/item-page/invite-page.tsx
  ui/apps/akasha/src/components/item-page/post-page.tsx
  ui/apps/akasha/src/components/item-page/reply-page.tsx
  ui/apps/akasha/src/extensions/inline-editor/base.tsx
  ui/apps/akasha/src/extensions/inline-editor/post-editor/index.tsx
  ui/apps/akasha/src/extensions/inline-editor/reply-editor/index.tsx
  ui/apps/akasha/src/extensions/inline-editor/utils/draft.ts
  ui/apps/search/src/components/routes/search-page.tsx
  ui/design/src/components/Editor/index.tsx
  ui/design/src/components/EditorCard/comment-editor.tsx
  ui/design/src/components/EntryList/index.tsx
  ui/lib/feed/src/components/entry-feed.tsx
  ui/lib/feed/src/components/entry-renderer.tsx
Labels: design-system, plugin/widget

#1801 fix: back navigating button
  ui/apps/routing/src/extensions/back-navigation.tsx
Labels: plugin/widget

#1804 Migrate dev dashboard to an installable app
  examples/ui/ethereum.world/src/registry-overrides.ts
  package.json
  tsconfig.json
  ui/apps/dev-dashboard/.eslintrc.js
  ui/apps/dev-dashboard/DESCRIPTION.md
  ui/apps/dev-dashboard/README.md
  ui/apps/dev-dashboard/jest.config.js
  ui/apps/dev-dashboard/jest.setup.js
  ui/apps/dev-dashboard/package.json
  ui/apps/dev-dashboard/src/components/App.tsx
  ui/apps/dev-dashboard/src/components/app-routes.tsx
  ui/apps/dev-dashboard/src/components/dev-dashboard.tsx
  ui/apps/dev-dashboard/src/components/index.tsx
  ui/apps/dev-dashboard/src/components/onboarding/intro-card.tsx
  ui/apps/dev-dashboard/src/components/onboarding/list-item.tsx
  ui/apps/dev-dashboard/src/components/onboarding/onboarding-steps.tsx
  ui/apps/dev-dashboard/src/components/onboarding/step-four.tsx
  ui/apps/dev-dashboard/src/components/onboarding/step-one.tsx
  ui/apps/dev-dashboard/src/components/onboarding/step-three.tsx
  ui/apps/dev-dashboard/src/components/onboarding/step-two.tsx
  ui/apps/dev-dashboard/src/components/profile/add-dev-key.tsx
  ui/apps/dev-dashboard/src/components/profile/card-title.tsx
  ui/apps/dev-dashboard/src/components/profile/dev-keys.tsx
  ui/apps/dev-dashboard/src/components/profile/dev-message-form.tsx
  ui/apps/dev-dashboard/src/components/profile/dev-profile-card.tsx
  ui/apps/dev-dashboard/src/components/profile/edit-message-name.tsx
  ui/apps/dev-dashboard/src/components/profile/hero-image-card.tsx
  ui/apps/dev-dashboard/src/components/profile/published-apps.tsx
  ui/apps/dev-dashboard/src/components/profile/sign-message.tsx
  ui/apps/dev-dashboard/src/components/profile/summary-card.tsx
  ui/apps/dev-dashboard/src/components/profile/verify-signature.tsx
  ui/apps/dev-dashboard/src/extensions/delete-dev-key.tsx
  ui/apps/dev-dashboard/src/index.tsx
  ui/apps/dev-dashboard/src/routes.ts
  ui/apps/dev-dashboard/tsconfig.json
  ui/apps/dev-dashboard/webpack.config.js
  ui/apps/profile/src/components/profile-cards/profile-page-header.tsx
  ui/apps/profile/src/components/routes/index.tsx
  ui/apps/profile/src/index.tsx
  ui/apps/profile/src/routes.ts
  ui/hooks/src/use-integration-registry.ts
  workspace.json
Labels: plugin/widget, examples

#1796 close buttons for the merge + private alpha notifications
  ui/apps/akasha/src/components/feed-page/feed-page.tsx
  ui/design/src/components/LoginCTAWidgetCard/index.tsx
  ui/hooks/src/index.ts
  ui/hooks/src/use-dismissed-card.ts
  ui/widgets/layout/src/components/layout-widget.tsx
Labels: design-system, plugin/widget

#1805 Fix: delete post
  ui/app-loader/src/extension-loader.ts
  ui/apps/akasha/src/extensions/entry-remove-modal.tsx
Labels: plugin/widget

#1810 WalletConnect wallet change
  ui/apps/auth-app/src/components/sign-up/steps/StepThree.tsx
  ui/hooks/src/index.ts
  ui/hooks/src/use-injected-provider.ts
Labels: plugin/widget

#1811 Extension Points
  tests/ethereum-world/cypress/integration/feedpage.spec.ts
  tests/ethereum-world/cypress/integration/partials/topbar.spec.ts
  ui/app-loader/src/extension-loader.ts
  ui/app-loader/src/extension-matcher.ts
  ui/app-loader/src/index.ts
  ui/app-loader/src/integrations.ts
  ui/apps/bookmarks/src/extensions/entry-card-save-button.tsx
  ui/design/src/utils/extension-point.tsx
Labels: design-system, plugin/widget

#1812 Fix search page styling
  ui/design/src/components/SearchStartCard/styled.ts
Labels: design-system, plugin/widget

#1814 Fix: replies count
  typings/src/ui/index.ts
  ui/apps/akasha/src/extensions/entry-remove-modal.tsx
  ui/hooks/src/use-comments.ts
Labels: plugin/widget

#1802 Feat: add ability to scroll top
  ui/apps/akasha/src/extensions/inline-editor/post-editor/index.tsx
  ui/design/src/components/EditorCard/comment-editor.tsx
  ui/design/src/components/EntryList/elementIntersectionObserver.ts
  ui/design/src/components/EntryList/index.tsx
  ui/design/src/components/ScrollTopButton/ScrollTopButton.stories.tsx
  ui/design/src/components/ScrollTopButton/index.tsx
  ui/design/src/index.ts
  ui/design/src/styles/themes/dark/colors-dark.ts
  ui/design/src/styles/themes/interfaces.ts
  ui/design/src/styles/themes/light/colors-light.ts
  ui/lib/feed/src/components/entry-feed.tsx
  ui/widgets/layout/src/components/layout-widget.tsx
Labels: design-system, plugin/widget

#1808 Feat: filter inactive replies and comments
  ui/apps/bookmarks/src/components/bookmarks-page.tsx
  ui/hooks/src/__tests__/checkEntryActive.spec.ts
  ui/hooks/src/index.ts
  ui/hooks/src/use-comments.ts
  ui/hooks/src/use-posts.ts
  ui/hooks/src/utils/checkEntryActive.ts
Labels: plugin/widget

#1815 Add tests for use dismissed card hook
  ui/hooks/src/__tests__/use-dismissed-card.spec.ts
  ui/hooks/src/use-dismissed-card.ts
  ui/hooks/src/utils/storage.ts
Labels: plugin/widget

#1822 fix: prevent scroll top button from showing on page load
  ui/design/src/components/EntryList/index.tsx
Labels: design-system, plugin/widget

#1817 Fix cancel button's border when editing a post
  ui/design/src/components/Button/index.tsx
  ui/design/src/components/Button/styled-button.ts
  ui/design/src/components/Editor/index.tsx
Labels: design-system, plugin/widget

#1813 Add tests for dismissable notification card
  tests/ethereum-world/cypress/integration/feedpage.spec.ts
  tests/ethereum-world/cypress/integration/partials/layout-widget.spec.ts
  ui/apps/akasha/src/components/__tests__/feed-page.spec.tsx
  ui/design/src/components/LoginCTAWidgetCard/index.tsx
  ui/widgets/layout/src/components/layout-widget.tsx
Labels: design-system, plugin/widget

#1818 fix useDismissedCard hook tests
  ui/hooks/src/__tests__/use-dismissed-card.spec.ts
  ui/hooks/src/use-dismissed-card.ts
  ui/hooks/src/utils/storage.ts
Labels: plugin/widget

#1820 Image and link preview draft post
  ui/apps/akasha/src/extensions/inline-editor/base.tsx
  ui/apps/akasha/src/extensions/inline-editor/post-editor/index.tsx
  ui/design/src/components/Editor/index.tsx
  ui/design/src/components/EditorCard/comment-editor.tsx
Labels: design-system, plugin/widget

#1816 Feat: implement CircleCI test splitting
  .circleci/config.yml
  .circleci/continuation.yml
  package.json
  ui/apps/akasha/jest.setup.js
  ui/apps/akasha/src/components/__tests__/feed-page.spec.tsx
  ui/apps/akasha/src/components/__tests__/pending-reply.spec.tsx
  ui/apps/akasha/src/components/__tests__/reply-page.spec.tsx
  ui/apps/akasha/src/extensions/inline-editor/post-editor/index.tsx
  ui/apps/app-center/jest.setup.js
  ui/apps/articles/jest.setup.js
  ui/apps/auth-app/jest.setup.js
  ui/apps/bookmarks/jest.setup.js
  ui/apps/dev-dashboard/jest.setup.js
  ui/apps/moderation/jest.setup.js
  ui/apps/notifications/jest.setup.js
  ui/apps/profile/jest.setup.js
  ui/apps/profile/src/components/__tests__/profile-page-header.spec.tsx
  ui/apps/search/jest.setup.js
  ui/apps/settings-app/jest.setup.js
  ui/hooks/package.json
  ui/hooks/src/__tests__/use-navigation.spec.ts
  ui/lib/feed/jest.config.cjs
  ui/lib/feed/jest.setup.js
  ui/lib/feed/src/components/__tests__/entry-renderer.spec.tsx
  ui/lib/feed/src/components/entry-feed.tsx
  ui/widgets/layout/package.json
  ui/widgets/top-bar/package.json
  ui/widgets/trending/package.json
  yarn.lock
Labels: plugin/widget

#1827 Fix: moderation app
  ui/apps/moderation/src/pages/overview.tsx
  ui/design/.storybook/main.cjs
  ui/design/src/components/FeedbackModal/index.tsx
  ui/design/src/components/Icon/index.tsx
  ui/design/src/components/ModerationIntroCard/index.tsx
  ui/design/src/components/ModeratorDetailCard/index.tsx
  ui/design/src/components/ModeratorDetailCard/social-link.tsx
  ui/design/src/components/ProfileForm/sections/social-links-section.tsx
  ui/design/src/components/ProfileLinksCard/index.tsx
  ui/design/src/components/ReportModal/report-success-modal.tsx
Labels: design-system, plugin/widget

#1823 patch ext point unloading logic
  typings/src/ui/app-loader.ts
  ui/app-loader/src/extension-loader.ts
  ui/app-loader/src/extension-matcher.ts
  ui/app-loader/src/index.ts
  ui/app-loader/src/integrations.ts
  ui/apps/articles/src/pages/article-card-settings.tsx
  ui/design/src/utils/extension-point.tsx
Labels: design-system, plugin/widget
