Repository AKASHAorg/akasha-core, pull requests merged in 2022-04, with the labels that each got.

#1605 Feat/bookmarks notifications updates
  ui/apps/bookmarks/src/components/bookmarks-page.tsx
  ui/design/src/components/StartCard/index.tsx
  ui/design/src/components/StartCard/styled.ts
Labels: design-system, plugin/widget

#1599 Fix: ui apps style updates
  ui/apps/app-center/src/extensions/install-modal.tsx
  ui/apps/app-center/src/index.tsx
  ui/apps/moderation/src/components/transparency-log/index.tsx
  ui/apps/notifications/src/index.tsx
  ui/design/src/components/Icon/app-icon.tsx
  ui/design/src/components/SideBar/index.tsx
  ui/design/src/components/SideBar/menu-app-button.tsx
  ui/design/src/components/SideBar/menu-item-label.tsx
  ui/design/src/components/SideBar/menu-sub-items.tsx
  ui/design/src/components/SideBar/section-title.tsx
  ui/design/src/components/SideBar/sidebar-menu-item.tsx
  ui/design/src/components/SideBar/styled-sidebar.ts
  ui/design/src/components/TopBar/__tests__/index.test.tsx
  ui/design/src/components/TopBar/index.tsx
  ui/design/src/components/TopBar/profile-menu.tsx
  ui/design/src/components/TopBar/styled-topbar.ts
  ui/design/src/styles/responsive-breakpoints.ts
  ui/design/src/styles/themes/dark/colors-dark.ts
  ui/design/src/styles/themes/interfaces.ts
  ui/design/src/styles/themes/light/colors-light.ts
  ui/design/src/styles/themes/utils/create-grommet-theme.ts
  ui/widgets/layout/src/components/styled-containers.ts
  ui/widgets/sidebar/src/components/sidebar-component.tsx
  ui/widgets/top-bar/src/components/topbar-component.tsx
Labels: design-system, plugin/widget

#1606 fix(): fix slate ReadOnlyEditor not updating content passed to it
  ui/design/src/components/ReadOnlyEditor/index.tsx
Labels: design-system, plugin/widget

#1607 UI Fixes
  ui/apps/app-center/src/components/pages/apps-page.tsx
  ui/apps/app-center/src/components/pages/explore-page.tsx
  ui/apps/app-center/src/components/pages/info-page.tsx
  ui/apps/app-center/src/components/pages/my-apps-page.tsx
  ui/apps/bookmarks/src/components/bookmarks-page.tsx
  ui/apps/notifications/src/components/notifications-page.tsx
  ui/apps/search/src/components/routes/search-page.tsx
  ui/design/src/components/ICDetailCard/__tests__/index.test.tsx
  ui/design/src/components/ICDetailCard/index.tsx
  ui/design/src/components/ICWidgetCard/index.tsx
  ui/design/src/components/Icon/index.tsx
  ui/design/src/components/Icon/new-icons/closed-eye.tsx
  ui/design/src/components/Icon/new-icons/index.ts
  ui/design/src/components/InfoCard/index.tsx
  ui/design/src/components/NotificationCard/NotificationCard.stories.tsx
  ui/design/src/components/NotificationCard/index.tsx
  ui/design/src/components/SearchStartCard/index.tsx
  ui/design/src/components/StartCard/index.tsx
  ui/design/src/components/SubtitleTextIcon/index.tsx
Labels: design-system, plugin/widget

#1608 fix(): fix topbar scroll desktop, offset mobile, and update icon size
  ui/design/src/components/SideBar/menu-app-button.tsx
  ui/widgets/layout/src/components/styled-containers.ts
Labels: design-system, plugin/widget

#1609 UI fixes
  ui/apps/app-center/src/components/app-routes.tsx
  ui/apps/app-center/src/components/pages/info-page.tsx
  ui/apps/app-center/src/extensions/integrations-widget.tsx
  ui/apps/app-center/src/hidden-integrations.ts
  ui/apps/notifications/src/components/notifications-page.tsx
  ui/apps/search/src/components/routes/search-page.tsx
  ui/apps/settings-app/src/components/option-appearance.tsx
  ui/apps/settings-app/src/components/option-privacy.tsx
  ui/design/src/components/EntryCard/basic-card-box.tsx
  ui/design/src/components/ICDetailCard/__tests__/index.test.tsx
  ui/design/src/components/ICDetailCard/index.tsx
  ui/design/src/components/SearchStartCard/index.tsx
  ui/design/src/components/SideBar/index.tsx
  ui/design/src/components/SwitchCard/__tests__/index.test.tsx
  ui/design/src/components/SwitchCard/index.tsx
  ui/design/src/components/Tooltip/index.tsx
  ui/design/src/components/TopBar/index.tsx
  ui/design/src/components/TopBar/styled-topbar.ts
  ui/design/src/styles/themes/light/colors-light.ts
  ui/hooks/src/use-integration-registry.ts
Labels: design-system, plugin/widget

#1610 update contracts, sw and resolvers
  .env.example
  api/hub/src/resolvers/query.ts
  api/hub/src/schema.ts
  build/integrations_bucket.json
  examples/ui/ethereum.world/src/index.ts
  sdk/.openzeppelin/rinkeby.json
  sdk/package.json
  sdk/src/contracts/abi/IntegrationRegistry.json
  sdk/src/contracts/src/AbstractIntegrationRegistry.sol
  sdk/src/contracts/src/IntegrationRegistry.sol
  sdk/src/registry/icRegistry.graphql
  sdk/src/registry/icRegistry.ts
  sdk/src/sw.ts
  sdk/typings/src/interfaces/registry.ts
  yarn.lock
Labels: examples, api

#1611 fix: increase topbar zindex
  ui/widgets/layout/src/components/styled-slots.ts
Labels: plugin/widget

#1613 apply `flex-direction` to widget slots
  ui/widgets/layout/src/components/styled-slots.ts
Labels: plugin/widget

#1614 fix: add links to sidebar menu items
  ui/apps/app-center/src/components/app-routes.tsx
  ui/design/src/components/SideBar/index.tsx
  ui/design/src/components/SideBar/menu-sub-items.tsx
  ui/design/src/components/SideBar/sidebar-menu-item.tsx
  ui/design/src/components/SideBar/styled-sidebar.ts
Labels: design-system, plugin/widget

#1616 UI Fixes
  ui/apps/app-center/src/components/pages/info-page.tsx
  ui/apps/app-center/src/extensions/integrations-widget.tsx
  ui/design/src/components/ICDetailCard/__tests__/index.test.tsx
  ui/design/src/components/ICDetailCard/index.tsx
  ui/design/src/components/ICDetailCard/version.tsx
  ui/design/src/components/SubtitleTextIcon/index.tsx
  ui/design/src/utils/dummy-data.ts
  ui/hooks/src/use-integration-registry.ts
Labels: design-system, plugin/widget

#1612 Feat: moderation app updates
  ui/apps/moderation/src/components/app-routes.tsx
  ui/apps/moderation/src/components/content-card/content.tsx
  ui/apps/moderation/src/components/content-card/entry-data-card.tsx
  ui/apps/moderation/src/components/content-card/explanations-box-entry.tsx
  ui/apps/moderation/src/components/content-card/explanations-box.tsx
  ui/apps/moderation/src/components/content-card/index.tsx
  ui/apps/moderation/src/components/content-tab/index.tsx
  ui/apps/moderation/src/components/error-cards/index.tsx
  ui/apps/moderation/src/components/error-cards/no-items-found.tsx
  ui/apps/moderation/src/components/error-cards/prompt-authentication.tsx
  ui/apps/moderation/src/components/error-cards/prompt-authorization.tsx
  ui/apps/moderation/src/components/transparency-log/index.tsx
  ui/apps/moderation/src/components/transparency-log/mini-card-renderer.tsx
  ui/apps/moderation/src/index.tsx
  ui/apps/moderation/src/interfaces/index.ts
  ui/apps/moderation/src/interfaces/shared.ts
  ui/apps/moderation/src/pages/dashboard.tsx
  ui/apps/moderation/src/pages/guest.tsx
  ui/apps/moderation/src/pages/index.tsx
  ui/apps/moderation/src/pages/intro.tsx
  ui/apps/moderation/src/routes.ts
  ui/apps/profile/src/components/routes/profile-page.tsx
  ui/apps/search/src/components/routes/search-page.tsx
  ui/design/src/components/EntryCard/basic-card-box.tsx
  ui/design/src/components/EntryCard/entry-card-hidden.tsx
  ui/design/src/components/ModerationIntroCard/ModerationIntroCard.stories.tsx
  ui/design/src/components/ModerationIntroCard/__tests__/index.test.tsx
  ui/design/src/components/ModerationIntroCard/index.tsx
  ui/design/src/components/SearchStartCard/SearchStartCard.stories.tsx
  ui/design/src/components/SearchStartCard/__tests__/index.test.tsx
  ui/design/src/components/SearchStartCard/index.tsx
  ui/design/src/components/SwitchCard/index.tsx
  ui/design/src/components/TransparencyLogDetailCard/index.tsx
  ui/design/src/components/TransparencyLogDetailCard/mobile-heading.tsx
  ui/design/src/components/TransparencyLogMiniCard/index.tsx
  ui/design/src/index.ts
  ui/design/src/static/img/moderation.png
  ui/widgets/layout/src/components/layout-widget.tsx
  ui/widgets/layout/src/components/styled-containers.ts
  ui/widgets/layout/src/components/styled-slots.ts
  ui/widgets/sidebar/src/components/sidebar-component.tsx
  ui/widgets/top-bar/src/components/topbar-component.tsx
Labels: design-system, plugin/widget

#1618 Fix: analytics
  ui/apps/auth-app/src/components/sign-up/index.tsx
  ui/apps/auth-app/src/components/sign-up/steps/StepFour.tsx
  ui/apps/auth-app/src/components/sign-up/steps/StepOne.tsx
  ui/apps/auth-app/src/components/sign-up/steps/StepThree.tsx
  ui/apps/auth-app/src/components/sign-up/steps/required-network.tsx
  ui/apps/search/src/components/routes/search-page.tsx
  ui/hooks/src/use-login.ts
Labels: plugin/widget

#1617 fix(ui,apps): search page updates
  ui/apps/search/src/components/routes/search-page.tsx
  ui/design/src/components/ImageOverlay/index.tsx
  ui/design/src/components/ImageOverlay/multiple-image-overlay.tsx
  ui/design/src/components/SearchStartCard/SearchStartCard.stories.tsx
  ui/design/src/components/SearchStartCard/__tests__/index.test.tsx
  ui/design/src/components/SearchStartCard/index.tsx
  ui/design/src/components/SwitchCard/index.tsx
Labels: design-system, plugin/widget

#1619 refactor: replace app-based usages of navigateToUrl with routing navi…
  ui/apps/akasha/src/components/feed-page/feed-page.tsx
  ui/apps/akasha/src/components/post-page/invite-page.tsx
  ui/apps/akasha/src/components/post-page/post-page.tsx
  ui/apps/akasha/src/components/post-page/reply-page.tsx
  ui/apps/akasha/src/components/tag-feed-page/tag-feed-page.tsx
  ui/apps/akasha/src/extensions/profile-card-widget.tsx
  ui/apps/akasha/src/index.tsx
  ui/apps/app-center/src/extensions/integrations-widget.tsx
  ui/apps/auth-app/src/components/sign-up/index.tsx
  ui/apps/auth-app/src/components/sign-up/steps/StepFive.tsx
  ui/apps/auth-app/src/components/welcome/index.tsx
  ui/apps/bookmarks/src/components/bookmarks-page.tsx
  ui/apps/bookmarks/src/components/entry-renderer.tsx
  ui/apps/moderation/src/components/app-routes.tsx
  ui/apps/moderation/src/components/content-card/content.tsx
  ui/apps/moderation/src/components/content-card/entry-data-card.tsx
  ui/apps/moderation/src/components/transparency-log/detail-card.tsx
  ui/apps/moderation/src/components/transparency-log/index.tsx
  ui/apps/moderation/src/interfaces/content.ts
  ui/apps/notifications/src/components/notifications-page.tsx
  ui/apps/profile/src/components/profile-cards/profile-page-header.tsx
  ui/apps/profile/src/components/profile-cards/stat-modal-wrapper.tsx
  ui/apps/profile/src/components/routes/profile-page.tsx
  ui/apps/profile/src/extensions/login-modal.tsx
  ui/apps/profile/src/index.tsx
  ui/apps/profile/src/routes.ts
  ui/apps/routing/src/index.tsx
  ui/apps/routing/src/types.ts
  ui/apps/search/src/components/routes/entry-renderer.tsx
  ui/apps/search/src/components/routes/search-page.tsx
  ui/apps/settings-app/src/components/app-routes.tsx
  ui/apps/settings-app/src/components/settings-page.tsx
  ui/apps/settings-app/src/index.tsx
  ui/design/src/components/EntryCard/entry-box.tsx
  ui/design/src/components/EntryCard/index.tsx
  ui/hooks/src/index.ts
  ui/hooks/src/use-navigation.ts
  ui/lib/feed/src/components/App.tsx
  ui/lib/feed/src/components/entry-feed.tsx
  ui/lib/feed/src/components/entry-renderer.tsx
  ui/typings/src/index.ts
  ui/widgets/analytics/src/components/cookie-widget.tsx
  ui/widgets/top-bar/src/components/topbar-component.tsx
  ui/widgets/trending/src/components/trending-widget-component.tsx
Labels: design-system, plugin/widget

#1620 Patches1
  ui/apps/app-center/src/components/pages/explore-page.tsx
  ui/apps/app-center/src/components/pages/info-page.tsx
  ui/apps/app-center/src/components/pages/my-apps-page.tsx
  ui/apps/app-center/src/components/pages/widgets-page.tsx
  ui/apps/moderation/src/components/content-card/content.tsx
  ui/apps/moderation/src/components/transparency-log/detail-card.tsx
  ui/apps/moderation/src/components/transparency-log/index.tsx
  ui/apps/moderation/src/components/transparency-log/mini-card-renderer.tsx
  ui/apps/profile/src/components/profile-cards/stat-modal-wrapper.tsx
  ui/design/src/components/Icon/index.tsx
  ui/design/src/components/Icon/new-icons/explore.tsx
  ui/design/src/components/ProfileCard/profile-mini-card.tsx
  ui/design/src/components/SideBar/index.tsx
  ui/design/src/components/StatModal/index.tsx
  ui/design/src/components/StatModal/profile-entry.tsx
  ui/design/src/styles/themes/utils/create-grommet-theme.ts
  ui/hooks/src/index.ts
  ui/hooks/src/use-network-state.ts
  ui/hooks/src/utils/entry-utils.ts
  ui/hooks/src/utils/media-utils.ts
Labels: design-system, plugin/widget

#1622 chore(): attempt to fix sidebar multiple entries
  ui/apps/routing/src/index.tsx
Labels: plugin/widget

#1623 Fix/small updates
  ui/apps/notifications/src/components/notifications-page.tsx
  ui/design/src/components/ImageOverlay/index.tsx
  ui/design/src/components/ImageOverlay/multiple-image-overlay.tsx
  ui/design/src/components/NotificationCard/index.tsx
  ui/design/src/components/NotificationCard/styled-notifications.ts
  ui/widgets/layout/src/components/styled-slots.ts
  ui/widgets/mini-profile/src/index.ts
  ui/widgets/my-apps/src/index.ts
Labels: design-system, plugin/widget

#1627 Fix : UI updates
  ui/apps/profile/src/components/profile-cards/stat-modal-wrapper.tsx
  ui/apps/profile/src/extensions/login-modal.tsx
  ui/apps/search/src/components/routes/search-page.tsx
  ui/design/src/components/Button/index.tsx
  ui/design/src/components/Button/styled-button.ts
  ui/design/src/components/EntryCard/basic-card-box.tsx
  ui/design/src/components/Icon/index.tsx
  ui/design/src/components/Icon/new-icons/follower.tsx
  ui/design/src/components/Icon/new-icons/following.tsx
  ui/design/src/components/Icon/new-icons/index.ts
  ui/design/src/components/ProfileCard/index.tsx
  ui/design/src/components/ProfileCard/profile-search-card.tsx
  ui/design/src/components/StatModal/profile-entry.tsx
  ui/design/src/components/TagCard/tag-search-card.tsx
  ui/design/src/components/TopBar/index.tsx
  ui/design/src/components/TopBar/profile-menu.tsx
Labels: design-system, plugin/widget

#1630 Fix: update legal icon
  ui/design/src/components/Icon/Icon.stories.tsx
  ui/design/src/components/Icon/index.tsx
  ui/design/src/components/Icon/new-icons/legal.tsx
Labels: design-system, plugin/widget

#1629 fix(): moderation avatars
  ui/apps/moderation/src/components/content-card/content.tsx
  ui/apps/moderation/src/components/transparency-log/detail-card.tsx
  ui/apps/moderation/src/components/transparency-log/mini-card-renderer.tsx
  ui/design/src/components/StatModal/profile-entry.tsx
  ui/hooks/src/utils/entry-utils.ts
Labels: design-system, plugin/widget

#1631 prevent duplicated reg && multiple sources from graphql
  api/hub/src/resolvers/query.ts
  package.json
  ui/app-loader/src/integrations.ts
  ui/app-loader/src/state.ts
  ui/typings/src/app-loader.ts
  yarn.lock
Labels: plugin/widget, api

#1633 Minor fixes
  ui/apps/app-center/src/components/app-routes.tsx
  ui/apps/search/src/components/routes/search-page.tsx
  ui/design/src/components/Button/index.tsx
  ui/design/src/components/Icon/index.tsx
  ui/design/src/components/Icon/new-icons/app-center.tsx
  ui/design/src/components/SideBar/index.tsx
  ui/design/src/components/SideBar/menu-sub-items.tsx
  ui/design/src/components/SideBar/styled-sidebar.ts
  ui/design/src/components/TabButton/index.tsx
Labels: design-system, plugin/widget

#1635 Splash Screen
  examples/ui/ethereum.world/public/.gitignore
  examples/ui/ethereum.world/public/css/global.css
  examples/ui/ethereum.world/public/img/eth_logo_splash.png
  examples/ui/ethereum.world/public/index.dev.html
  examples/ui/ethereum.world/public/index.html
  package.json
  sdk/src/common/event-bus.ts
  sdk/src/index.ts
  sdk/src/logging/index.ts
  sdk/typings/src/index.ts
  sdk/typings/src/interfaces/auth.ts
  sdk/typings/src/interfaces/common.ts
  sdk/typings/src/interfaces/settings.ts
  sdk/typings/src/service.interfaces.ts
  ui/design/src/styles/themes/utils/theme-selector.tsx
  ui/widgets/layout/src/components/styled-containers.ts
  yarn.lock
Labels: design-system, plugin/widget, examples
