Repository AKASHAorg/akasha-core, pull requests merged in 2022-06, with the labels that each got.

#1679 tests(): setup working config for integration testing of apps - akasha
  tests/ethereum-world/cypress/integration/feedpage.spec.ts
  tests/src/mocks/uiEvents.ts
  ui/apps/akasha/jest.config.js
  ui/apps/akasha/jest.setup.js
  ui/apps/akasha/package.json
  ui/apps/akasha/src/components/__tests__/feed-page.spec.tsx
  ui/apps/akasha/tsconfig.json
  ui/hooks/jest.config.js
Labels: plugin/widget

#1686 chore(): fix navigations to home-app
  ui/app-loader/src/integrations.ts
  ui/app-loader/src/utils.ts
  ui/apps/routing/src/index.tsx
  ui/widgets/layout/src/components/layout-widget.tsx
  ui/widgets/top-bar/src/components/index.tsx
  ui/widgets/top-bar/src/components/topbar-component.tsx
Labels: plugin/widget

#1678 chore(): add messaging app
  examples/ui/ethereum.world/src/registry-overrides.ts
  package.json
  ui/apps/akasha/public/index.html
  ui/apps/akasha/public/serve.json
  ui/apps/app-center/public/index.html
  ui/apps/app-center/public/serve.json
  ui/apps/bookmarks/public/index.html
  ui/apps/bookmarks/public/serve.json
  ui/apps/legal/public/index.html
  ui/apps/legal/public/serve.json
  ui/apps/messaging/.eslintrc.js
  ui/apps/messaging/DESCRIPTION.md
  ui/apps/messaging/README.md
  ui/apps/messaging/jest.config.js
  ui/apps/messaging/jest.setup.js
  ui/apps/messaging/package.json
  ui/apps/messaging/src/components/App.tsx
  ui/apps/messaging/src/components/app-routes.tsx
  ui/apps/messaging/src/components/index.tsx
  ui/apps/messaging/src/extensions/profile-message-button.tsx
  ui/apps/messaging/src/index.tsx
  ui/apps/messaging/src/routes.tsx
  ui/apps/messaging/tsconfig.json
  ui/apps/messaging/webpack.config.js
  ui/apps/notifications/public/index.html
  ui/apps/notifications/public/serve.json
  ui/apps/profile/public/index.html
  ui/apps/profile/public/serve.json
  ui/apps/search/public/index.html
  ui/apps/search/public/serve.json
  ui/typings/src/analytics.ts
  ui/typings/src/app-loader.ts
  workspace.json
Labels: plugin/widget, examples

#1685 Change extension loading mechanism
  babel.config.js
  tests/src/data-generator/app-loader-extensions.ts
  tests/src/data-generator/integrations.ts
  ui/app-loader/__tests__/events.test.ts
  ui/app-loader/__tests__/extensions.test.ts
  ui/app-loader/__tests__/integrations.test.ts
  ui/app-loader/__tests__/utils.test.ts
  ui/app-loader/jest.setup.js
  ui/app-loader/src/events.ts
  ui/app-loader/src/extension-loader.ts
  ui/app-loader/src/extension-matcher.ts
  ui/app-loader/src/extensions.ts
  ui/app-loader/src/index.ts
  ui/app-loader/src/integrations.ts
  ui/app-loader/src/layout.ts
  ui/app-loader/src/modals.ts
  ui/app-loader/src/state.ts
  ui/app-loader/src/utils.ts
  ui/apps/akasha/src/components/feed-page/feed-page.tsx
  ui/apps/akasha/src/components/post-page/post-page.tsx
  ui/apps/akasha/src/extensions/editor-modal.tsx
  ui/apps/akasha/src/extensions/entry-edit-button.tsx
  ui/apps/akasha/src/extensions/entry-remove-modal.tsx
  ui/apps/akasha/src/index.tsx
  ui/apps/app-center/src/extensions/install-modal.tsx
  ui/apps/app-center/src/index.tsx
  ui/apps/bookmarks/src/components/_tests_/bookmarks-page.spec.tsx
  ui/apps/bookmarks/src/index.tsx
  ui/apps/messaging/src/index.tsx
  ui/apps/moderation/src/extensions/moderate-modal.tsx
  ui/apps/moderation/src/extensions/report-modal.tsx
  ui/apps/moderation/src/index.tsx
  ui/apps/profile/src/components/__tests__/profile-page-header.spec.tsx
  ui/apps/profile/src/extensions/share-profile-modal.tsx
  ui/apps/profile/src/extensions/update-ens-modal.tsx
  ui/apps/profile/src/index.tsx
  ui/apps/search/src/components/routes/search-page.tsx
  ui/design/src/utils/extension-point.tsx
  ui/lib/feed/src/components/entry-feed.tsx
  ui/typings/src/app-loader.ts
  ui/typings/src/index.ts
  ui/widgets/layout/src/components/layout-widget.tsx
  ui/widgets/top-bar/src/components/__tests__/topbar-component.spec.tsx
  ui/widgets/top-bar/src/components/topbar-component.tsx
  ui/widgets/top-bar/src/index.tsx
Labels: design-system, plugin/widget

#1690 Image placeholders
  ui/apps/app-center/src/components/app-routes.tsx
  ui/design/src/components/Editor/image-gallery.tsx
  ui/design/src/components/Editor/image-upload.tsx
  ui/design/src/components/Editor/index.tsx
  ui/design/src/components/EntryCard/entry-image-gallery.tsx
  ui/design/src/static/img/image-placeholder.png
  ui/hooks/src/utils/entry-utils.ts
  ui/hooks/src/utils/media-utils.ts
  ui/typings/src/entry.ts
Labels: design-system, plugin/widget
