Repository AKASHAorg/akasha-core, pull requests merged in 2022-09, with the labels that each got.

#1715 chore(): fix profile route
  ui/apps/profile/src/index.tsx
Labels: plugin/widget

#1716 chore(): fix harcoded refs
  ui/apps/akasha/src/components/feed-page/feed-page.tsx
  ui/apps/akasha/src/components/my-feed-page/my-feed-page.tsx
  ui/apps/akasha/src/components/post-page/post-page.tsx
  ui/apps/akasha/src/components/tag-feed-page/tag-feed-page.tsx
  ui/apps/bookmarks/src/components/bookmarks-page.tsx
  ui/apps/bookmarks/src/components/entry-renderer.tsx
  ui/apps/moderation/src/components/transparency-log/detail-card.tsx
  ui/apps/notifications/src/routes.ts
  ui/apps/profile/src/components/profile-cards/stat-modal-wrapper.tsx
  ui/apps/profile/src/components/routes/profile-page.tsx
  ui/apps/search/src/components/routes/entry-renderer.tsx
  ui/apps/search/src/components/routes/search-page.tsx
  ui/design/src/components/EntryCard/EntryCard.stories.tsx
  ui/design/src/components/TagCard/TagCard.stories.tsx
  ui/design/src/components/TrendingWidgetCard/TrendingWidgetCard.stories.tsx
  ui/lib/feed/src/components/entry-feed.tsx
  ui/lib/feed/src/components/entry-renderer.tsx
  ui/widgets/trending/src/components/trending-widget-component.tsx
Labels: design-system, plugin/widget

#1714 chore(): add notification system, plugin fixes
  typings/src/sdk/auth.ts
  typings/src/ui/app-loader.ts
  ui/app-loader/src/integrations.ts
  ui/app-loader/src/plugins.ts
  ui/apps/akasha/src/index.tsx
  ui/apps/notifications/package.json
  ui/apps/notifications/src/index.tsx
  ui/apps/notifications/src/plugins/notification-plugin.ts
  ui/apps/routing/src/index.tsx
  ui/design/src/components/Icon/app-icon.tsx
  ui/design/src/components/SideBar/SideBar.stories.tsx
  ui/design/src/components/SideBar/__tests__/index.test.tsx
  ui/design/src/components/SideBar/index.tsx
  ui/design/src/components/SideBar/menu-app-button.tsx
  ui/design/src/components/SideBar/sidebar-menu-item.tsx
  ui/design/src/components/SideBar/styled-sidebar.ts
  ui/design/src/index.ts
  ui/widgets/sidebar/src/components/sidebar-component.tsx
  ui/widgets/sidebar/src/components/sidebar-menu-item.tsx
Labels: design-system, plugin/widget

#1717 fix(moderation-app): fix typo in the dashboard
  ui/apps/moderation/src/pages/guest.tsx
  ui/apps/moderation/src/pages/intro.tsx
Labels: plugin/widget

#1722 Fix/new notifications
  ui/apps/notifications/src/index.tsx
  ui/design/src/components/SideBar/styled-sidebar.ts
Labels: design-system, plugin/widget

#1721 Refactor Image Gallery
  ui/design/src/components/Editor/image-gallery.tsx
  ui/design/src/components/Editor/index.tsx
  ui/design/src/components/EntryCard/entry-box.tsx
  ui/design/src/components/EntryCard/entry-image-gallery.tsx
  ui/design/src/components/ImageGallery/entry-image-gallery.tsx
  ui/design/src/components/ImageGallery/image-grid-item.tsx
  ui/design/src/components/ImageGallery/index.tsx
  ui/design/src/components/ImageGallery/more-images-pill.tsx
  ui/design/src/components/ImageOverlay/multiple-image-overlay.tsx
  ui/design/src/static/img/image-placeholder.png
  ui/design/src/static/img/image-placeholder.webp
  ui/design/src/utils/delay-load.tsx
  ui/hooks/src/utils/entry-utils.ts
Labels: design-system, plugin/widget

#1724 chore(): fixes
  ui/apps/auth-app/src/components/sign-in/index.tsx
  ui/apps/notifications/src/plugins/notification-plugin.ts
Labels: plugin/widget

#1725 fix: handle undefined data from useGetBookmarks hook
  ui/apps/bookmarks/src/components/bookmarks-page.tsx
  ui/hooks/src/__tests__/use-bookmarks.spec.ts
  ui/hooks/src/use-bookmarks.ts
Labels: plugin/widget

#1727 fix(): remove transition animation from image overlay
  ui/design/src/components/ImageOverlay/index.tsx
  ui/design/src/components/ImageOverlay/multiple-image-overlay.tsx
Labels: design-system, plugin/widget

#1728 chore(): improve error handling
  ui/apps/auth-app/src/components/sign-in/index.tsx
  ui/apps/auth-app/src/components/sign-in/sign-in-status.tsx
  ui/apps/auth-app/src/components/sign-up/steps/StepFour.tsx
  ui/hooks/src/use-login.ts
Labels: plugin/widget

#1730 chore: update docs for use-posts hook and checkPostActive utility function
  ui/hooks/src/use-posts.ts
  ui/hooks/src/utils/checkPostActive.ts
Labels: plugin/widget

#1731 fix(): redefine uiEvents as Subject
  typings/src/ui/app-loader.ts
  ui/app-loader/src/events.ts
Labels: plugin/widget

#1733 refactor(api:profile): add pubKey validator for resolver
  api/hub/src/datasources/profile.ts
  package.json
  sdk/webpack.config.js
  yarn.lock
Labels: api

#1734 fix(app:chat): gracefuly close textile sub
  ui/apps/messaging/src/components/chat-page.tsx
  ui/apps/messaging/src/components/inbox/inbox-page.tsx
Labels: plugin/widget

#1737 message app UI improvements
  ui/apps/messaging/src/components/app-routes.tsx
  ui/apps/messaging/src/components/chat-page.tsx
  ui/apps/messaging/src/components/inbox/inbox-page.tsx
  ui/design/src/components/ChatList/index.tsx
  ui/design/src/components/MessageContactCard/MessageAppContactCard.stories.tsx
  ui/design/src/components/MessageContactCard/__tests__/index.test.tsx
  ui/design/src/components/MessageContactCard/index.tsx
  ui/design/src/index.ts
Labels: design-system, plugin/widget

#1736 Fix: message button on widget
  examples/ui/ethereum.world/src/index.ts
  ui/apps/messaging/src/extensions/mini-profile-message-button.tsx
  ui/apps/messaging/src/extensions/profile-message-button.tsx
Labels: plugin/widget, examples

#1739 tests(bookmarks): fix failing unit test for bookmarks app
  tests/src/providers.tsx
  ui/apps/bookmarks/jest.config.js
  ui/apps/bookmarks/jest.setup.js
  ui/apps/bookmarks/src/components/__tests__/bookmarks-page.spec.tsx
  ui/apps/bookmarks/src/components/_tests_/bookmarks-page.spec.tsx
  ui/apps/bookmarks/src/components/bookmarks-page.tsx
  ui/design/src/styles/themes/utils/theme-selector.tsx
Labels: design-system, plugin/widget

#1738 Fix: IC initial state
  ui/apps/app-center/src/components/app-routes.tsx
  ui/apps/app-center/src/components/pages/explore-page.tsx
  ui/design/src/components/ICWidgetCard/index.tsx
  ui/hooks/src/use-integration-registry.ts
  ui/widgets/my-apps/src/MyAppsWidget.tsx
Labels: design-system, plugin/widget

#1743 Chore: remove redundant icons
  ui/design/src/components/Icon/index.tsx
  ui/design/src/components/Icon/new-icons/app-3box.tsx
  ui/design/src/components/Icon/new-icons/dev.tsx
  ui/design/src/components/Icon/new-icons/index.ts
  ui/design/src/components/Icon/new-icons/nifty.tsx
  ui/design/src/components/Icon/new-icons/publisher.tsx
  ui/design/src/utils/dummy-data.ts
Labels: design-system, plugin/widget

#1741 Add encryptMessage and dev keys
  sdk/src/auth/index.ts
  sdk/src/common/misc.ts
  ui/design/webpack.config.js
Labels: design-system, plugin/widget

#1740 Fix: Failing unit tests
  tests/src/data-generator/integrations.ts
  tests/src/data-generator/user.ts
  ui/apps/akasha/jest.config.js
  ui/apps/akasha/jest.setup.js
  ui/apps/akasha/src/components/__tests__/feed-page.spec.tsx
  ui/apps/app-center/jest.config.js
  ui/apps/app-center/jest.setup.js
  ui/apps/app-center/src/components/__tests__/App.spec.tsx
  ui/apps/auth-app/jest.config.js
  ui/apps/auth-app/jest.setup.js
  ui/apps/auth-app/src/components/__tests__/sign-in.spec.tsx
  ui/apps/bookmarks/src/components/__tests__/bookmarks-page.spec.tsx
  ui/apps/moderation/jest.config.js
  ui/apps/moderation/jest.setup.js
  ui/apps/moderation/src/components/__tests__/content-card.spec.tsx
  ui/apps/notifications/jest.config.js
  ui/apps/notifications/jest.setup.js
  ui/apps/notifications/src/components/__tests__/notification-page.spec.tsx
  ui/apps/profile/jest.config.js
  ui/apps/profile/jest.setup.js
  ui/apps/profile/src/components/__tests__/profile-page-header.spec.tsx
  ui/apps/search/jest.config.js
  ui/apps/search/jest.setup.js
  ui/apps/search/setupGlobals.js
  ui/apps/search/src/components/__tests__/search-page.spec.tsx
  ui/apps/settings-app/jest.config.js
  ui/apps/settings-app/jest.setup.js
  ui/apps/settings-app/src/components/__tests__/settings-page.spec.tsx
Labels: plugin/widget
