Repository AKASHAorg/akasha-core, pull requests merged in 2023-01, with the labels that each got.

#1832 Feat/auth UI v3
  typings/src/sdk/events.ts
  ui/apps/auth-app/src/components/__tests__/connect.spec.tsx
  ui/apps/auth-app/src/components/__tests__/sign-in.spec.tsx
  ui/apps/auth-app/src/components/__tests__/sign-up.spec.tsx
  ui/apps/auth-app/src/components/app-routes.tsx
  ui/apps/auth-app/src/components/connect/boxed-icon.tsx
  ui/apps/auth-app/src/components/connect/choose-provider.tsx
  ui/apps/auth-app/src/components/connect/connect-wallet.tsx
  ui/apps/auth-app/src/components/connect/index.tsx
  ui/apps/auth-app/src/components/connect/indicator-dots.tsx
  ui/apps/auth-app/src/components/connect/invite-code.tsx
  ui/apps/auth-app/src/components/connect/styles.ts
  ui/apps/auth-app/src/components/sign-in/choose-provider.tsx
  ui/apps/auth-app/src/components/sign-in/index.tsx
  ui/apps/auth-app/src/components/sign-in/sign-in-status.tsx
  ui/apps/auth-app/src/components/sign-in/suggest-signup.tsx
  ui/apps/auth-app/src/components/sign-up/index.tsx
  ui/apps/auth-app/src/components/sign-up/steps/StepFive.tsx
  ui/apps/auth-app/src/components/sign-up/steps/StepFour.tsx
  ui/apps/auth-app/src/components/sign-up/steps/StepOne.tsx
  ui/apps/auth-app/src/components/sign-up/steps/StepThree.tsx
  ui/apps/auth-app/src/components/sign-up/steps/StepTwo.tsx
  ui/apps/auth-app/src/components/sign-up/steps/required-network.tsx
  ui/apps/auth-app/src/components/sign-up/steps/styles.ts
  ui/apps/auth-app/src/index.tsx
  ui/apps/auth-app/src/routes.ts
  ui/apps/auth-app/src/utils/connect.ts
  ui/design/src/components/Icon/index.tsx
  ui/design/src/components/Icon/new-icons/disconnect.tsx
  ui/design/src/components/Icon/new-icons/expand.tsx
  ui/design/src/components/Icon/new-icons/index.ts
  ui/design/src/components/Icon/new-icons/walletconnect.tsx
  ui/design/src/components/ProfileForm/index.tsx
  ui/design/src/components/TextInputIconForm/index.tsx
  ui/design/src/components/Web3ConnectCard/index.tsx
  ui/design/src/index.ts
  ui/design/src/static/img/invite-letter.webp
  ui/design/src/styles/themes/dark/colors-dark.ts
  ui/design/src/styles/themes/interfaces.ts
  ui/design/src/styles/themes/light/colors-light.ts
  ui/design/src/styles/themes/utils/create-grommet-theme.ts
  ui/hooks/src/__tests__/use-injected-provider.spec.ts
  ui/hooks/src/use-login.ts
  ui/hooks/src/use-notifications.ts
  ui/hooks/src/utils/getProviderDetails.tsx
  ui/widgets/layout/src/components/layout-widget.tsx
  ui/widgets/layout/src/components/styled-slots.ts
  ui/widgets/top-bar/src/components/topbar-component.tsx
Labels: design-system, plugin/widget

#1838 Fix: auth routes
  ui/apps/auth-app/src/components/welcome/index.tsx
  ui/apps/auth-app/src/index.tsx
  ui/apps/dev-dashboard/src/components/app-routes.tsx
  ui/apps/dev-dashboard/src/components/onboarding/onboarding-steps.tsx
  ui/apps/profile/src/components/routes/index.tsx
  ui/apps/profile/src/extensions/login-modal.tsx
Labels: plugin/widget

#1837 Feat/design system and layouts
  examples/ui/ethereum.world/package.json
  examples/ui/ethereum.world/public/css/global.css
  examples/ui/ethereum.world/public/index.dev.html
  examples/ui/ethereum.world/public/index.html
  examples/ui/ethereum.world/src/index.ts
  examples/ui/ethereum.world/src/twind.config.ts
  examples/ui/ethereum.world/webpack.config.cjs
  ui/apps/akasha/src/components/app.tsx
  ui/apps/app-center/src/components/App.tsx
  ui/apps/articles/src/components/app.tsx
  ui/apps/auth-app/src/components/app.tsx
  ui/apps/bookmarks/src/components/App.tsx
  ui/apps/dev-dashboard/src/components/App.tsx
  ui/apps/legal/src/components/App.tsx
  ui/apps/messaging/src/components/App.tsx
  ui/apps/moderation/src/components/app.tsx
  ui/apps/notifications/src/components/App.tsx
  ui/apps/profile/src/components/App.tsx
  ui/apps/search/src/components/App.tsx
  ui/apps/settings-app/src/components/app.tsx
  ui/design-system-core/src/components/Container/Container.tsx
  ui/design-system-core/src/components/Container/index.ts
  ui/design-system-core/src/components/FlexContainer/index.tsx
  ui/design-system-core/src/components/GridContainer/GridContainer.tsx
  ui/design-system-core/src/components/GridContainer/GridContainerItem.tsx
  ui/design-system-core/src/components/GridContainer/__tests__/index.test.tsx
  ui/design-system-core/src/components/GridContainer/index.tsx
  ui/design-system-core/src/utils/match-columns-from-children.ts
  ui/widgets/layout/package.json
  ui/widgets/layout/src/components/layout-widget.tsx
  ui/widgets/layout/src/components/styled-slots.ts
  ui/widgets/sidebar/src/components/sidebar-component.tsx
  yarn.lock
Labels: plugin/widget, examples

#1839 chore(ui): fix spacing
  ui/apps/auth-app/src/components/connect/choose-provider.tsx
  ui/apps/auth-app/src/components/connect/index.tsx
Labels: plugin/widget

#1841 Layout widget responsiveness
  examples/ui/ethereum.world/public/css/global.css
  examples/ui/ethereum.world/public/index.html
  ui/app-loader/src/utils.ts
  ui/design/src/utils/extension.tsx
  ui/widgets/layout/src/components/layout-widget.tsx
  ui/widgets/sidebar/src/components/sidebar-component.tsx
Labels: design-system, plugin/widget, examples

#1840 test(e2e): update e2e tests
  .github/workflows/cypress.staging.yml
  tests/ethereum-world/cypress/integration/bookmarks.spec.ts
  tests/ethereum-world/cypress/integration/integration-center.spec.ts
  tests/ethereum-world/cypress/integration/notifications.spec.ts
  tests/ethereum-world/cypress/integration/partials/layout-widget.spec.ts
  tests/ethereum-world/cypress/integration/profilepage.spec.ts
  tests/ethereum-world/cypress/integration/searchpage.spec.ts
  tests/ethereum-world/cypress/integration/sign-in-up.spec.ts
  tests/package.json
  ui/apps/app-center/src/components/app-routes.tsx
  ui/apps/auth-app/src/components/connect/choose-provider.tsx
  ui/apps/bookmarks/src/components/bookmarks-page.tsx
  ui/apps/notifications/src/components/notifications-page.tsx
  ui/apps/search/src/components/routes/search-page.tsx
Labels: plugin/widget

#1842 Ceramic migration
  .github/workflows/ewa.production.yml
  api/hub/src/datasources/comment.ts
  api/hub/src/datasources/post.ts
  api/hub/src/datasources/tag.ts
  api/hub/src/helpers.ts
  package.json
  sdk/package.json
  sdk/src/models/deploy.mjs
  sdk/src/models/load.mjs
  sdk/src/models/model.dev.json
  sdk/src/models/schema.dev.json
  sdk/src/models/schema/crypto-accounts.json
  sdk/src/models/schema/post.json
  sdk/src/models/schema/profile.json
  sdk/src/models/schema/web-links.json
  sdk/tsconfig.json
  ui/design-system-core/.babelrc.json
  ui/design-system-core/.eslintrc.cjs
  ui/design-system-core/.storybook/main.cjs
  ui/design-system-core/.storybook/main.js
  ui/design-system-core/.storybook/preview.js
  ui/design-system-core/jest.setup.cjs
  ui/design-system-core/package.json
  ui/design-system-core/src/components/GridContainer/GridContainer.tsx
  ui/design-system-core/tsconfig.json
  ui/design/.storybook/main.cjs
  ui/design/.storybook/preview.js
  ui/design/package.json
  yarn.lock
Labels: design-system, plugin/widget, api

#1843 Design core1
  examples/ui/ethereum.world/public/index.dev.html
  examples/ui/ethereum.world/public/index.html
  twindBaseConfig.js
  ui/design-system-core/.storybook/preview.js
  ui/design-system-core/jest.setup.js
  ui/design-system-core/package.json
  ui/design-system-core/postcss.config.cjs
  ui/design-system-core/src/components/Card/Card.stories.tsx
  ui/design-system-core/src/components/Card/index.tsx
  ui/design-system-core/src/components/Container/Container.tsx
  ui/design-system-core/src/components/Container/index.ts
  ui/design-system-core/src/components/GridContainer/GridContainer.stories.tsx
  ui/design-system-core/src/components/GridContainer/GridContainer.tsx
  ui/design-system-core/src/components/GridContainer/GridContainerItem.tsx
  ui/design-system-core/src/components/GridContainer/__tests__/index.test.tsx
  ui/design-system-core/src/components/GridContainer/index.tsx
  ui/design-system-core/src/tailwind/tailwind.config.cjs
  ui/design-system-core/src/tailwind/tailwind.src.css
  ui/design-system-core/src/twind/main.css
  ui/design-system-core/src/twind/twind.config.js
  ui/design-system-core/src/utils/match-columns-from-children.ts
  ui/design-system-core/webpack.config.cjs
  ui/design/src/components/Avatar/Avatar.stories.tsx
  ui/design/src/components/BasicPopover/BasicPopover.stories.tsx
  ui/design/src/components/Button/Button.stories.tsx
  ui/design/src/components/EmojiPopover/EmojiPopover.stories.tsx
  ui/design/src/components/ICWidgetCard/ICWidgetCard.stories.tsx
  ui/design/src/components/Icon/Icon.stories.tsx
  ui/design/src/components/StackedAvatar/StackedAvatar.stories.tsx
  ui/design/src/components/TopBar/TopBar.stories.tsx
  ui/design/src/components/TrendingWidgetCard/TrendingWidgetCard.stories.tsx
  yarn.lock
Labels: design-system, plugin/widget, examples

#1845 Feat/button component
  ui/design-system-core/src/components/Button/Button.stories.tsx
  ui/design-system-core/src/components/Button/Button.tsx
  ui/design-system-core/src/components/Button/index.ts
  ui/design-system-core/src/components/Icon/Icon.tsx
  ui/design-system-core/src/components/Icon/index.ts
Labels: plugin/widget

#1844 Feat: new DS core components
  ui/design-system-core/package.json
  ui/design-system-core/src/components/AppAvatar/AppAvatar.stories.tsx
  ui/design-system-core/src/components/AppAvatar/index.tsx
  ui/design-system-core/src/components/Avatar/Avatar.stories.tsx
  ui/design-system-core/src/components/Avatar/AvatarImage.tsx
  ui/design-system-core/src/components/Avatar/index.tsx
  ui/design-system-core/src/components/BasicCardBox/BasicCardBox.stories.tsx
  ui/design-system-core/src/components/BasicCardBox/index.tsx
  ui/design-system-core/src/components/BasicPopover/BasicPopover.stories.tsx
  ui/design-system-core/src/components/BasicPopover/index.tsx
  ui/design-system-core/src/components/Button/Button.stories.tsx
  ui/design-system-core/src/components/Button/Button.tsx
  ui/design-system-core/src/components/Card/Card.stories.tsx
  ui/design-system-core/src/components/ErrorCard/ErrorCard.stories.tsx
  ui/design-system-core/src/components/ErrorCard/index.tsx
  ui/design-system-core/src/components/Icon/index.ts
  ui/design-system-core/src/components/Icon/index.tsx
  ui/design-system-core/src/components/StackedAvatar/StackedAvatar.stories.tsx
  ui/design-system-core/src/components/StackedAvatar/index.tsx
  ui/design-system-core/src/utils/dummy-data.ts
  ui/design-system-core/src/utils/get-avatar-from-seed.ts
  ui/design/src/stories/Button.stories.js
Labels: design-system, plugin/widget
