Repository AKASHAorg/akasha-core, pull requests merged in 2023-02, with the labels that each got.

#1848 feat(ui): create trendingwidgetcard component
  examples/ui/ethereum.world/package.json
  examples/ui/ethereum.world/public/index.dev.html
  examples/ui/ethereum.world/public/index.html
  examples/ui/ethereum.world/src/index.ts
  examples/ui/ethereum.world/src/setup.twind.ts
  examples/ui/ethereum.world/webpack.config.cjs
  package.json
  ui/app.pack.conf.js
  ui/design-system-core/package.json
  ui/design-system-core/src/components/Button/Button.tsx
  ui/design-system-core/src/components/Card/index.tsx
  ui/design-system-core/src/components/DuplexButton/DuplexButton.stories.tsx
  ui/design-system-core/src/components/DuplexButton/index.tsx
  ui/design-system-core/src/components/Icon/Icon.stories.tsx
  ui/design-system-core/src/components/ProfileAvatarButton/index.tsx
  ui/design-system-core/src/components/SubtitleTextIcon/SubtitleTextIcon.stories.tsx
  ui/design-system-core/src/components/SubtitleTextIcon/index.tsx
  ui/design-system-core/src/components/TextLine/index.tsx
  ui/design-system-core/src/components/TrendingWidgetCard/TrendingWidgetCard.stories.jsx
  ui/design-system-core/src/components/TrendingWidgetCard/dummy-data.ts
  ui/design-system-core/src/components/TrendingWidgetCard/index.tsx
  ui/design-system-core/src/utils/string-utils.ts
  ui/design-system-core/webpack.config.cjs
  ui/widgets/trending/package.json
  ui/widgets/trending/src/components/trending-widget-component.tsx
  yarn.lock
Labels: plugin/widget, examples

#1851 Feat: new sidebar
  twindBaseConfig.js
  ui/design-system-core/src/components/Accordion/Accordion.stories.tsx
  ui/design-system-core/src/components/Accordion/index.tsx
  ui/design-system-core/src/components/Button/Button.stories.tsx
  ui/design-system-core/src/components/Button/Button.tsx
  ui/design-system-core/src/components/Button/index.ts
  ui/design-system-core/src/components/Button/index.tsx
  ui/design-system-core/src/components/DuplexButton/index.tsx
  ui/design-system-core/src/components/ErrorCard/index.tsx
  ui/design-system-core/src/components/Sidebar/Sidebar.stories.tsx
  ui/design-system-core/src/components/Sidebar/index.tsx
  ui/design-system-core/src/twind/main.css
  ui/design-system-core/src/utils/dummy-data.ts
Labels: plugin/widget

#1854 feat(design-system-core): add new tooltip component
  twindBaseConfig.js
  ui/design-system-core/package.json
  ui/design-system-core/src/components/Tooltip/Tooltip.stories.tsx
  ui/design-system-core/src/components/Tooltip/arrowClasses.ts
  ui/design-system-core/src/components/Tooltip/contentClasses.ts
  ui/design-system-core/src/components/Tooltip/index.tsx
  ui/design-system-core/src/twind/main.css
  ui/design-system-core/tsconfig.json
  yarn.lock
Labels: plugin/widget

#1850 Fix/trendingwidget
  examples/ui/ethereum.world/public/css/global.css
  examples/ui/ethereum.world/src/twind.config.ts
  ui/design-system-core/package.json
  ui/design-system-core/src/components/ProfileAvatarButton/index.tsx
  ui/design-system-core/src/components/SubtitleTextIcon/index.tsx
  ui/design-system-core/src/components/TrendingWidgetCard/TrendingWidgetCard.stories.jsx
  ui/design-system-core/src/components/TrendingWidgetCard/dummy-data.ts
  ui/design-system-core/webpack.config.cjs
  ui/widgets/trending/src/components/TrendingWidgetCard.tsx
  ui/widgets/trending/src/components/trending-widget-component.tsx
Labels: plugin/widget, examples

#1856 Feat: text component
  ui/design-system-core/src/components/Text/Text.stories.tsx
  ui/design-system-core/src/components/Text/getAlignmentClasses.ts
  ui/design-system-core/src/components/Text/getColorClasses.ts
  ui/design-system-core/src/components/Text/getTag.ts
  ui/design-system-core/src/components/Text/index.tsx
  ui/design-system-core/src/components/Tooltip/index.tsx
Labels: plugin/widget

#1857 Feat: add editor meter component
  twindBaseConfig.js
  ui/design-system-core/src/components/EditorMeter/EditorMeter.stories.tsx
  ui/design-system-core/src/components/EditorMeter/index.tsx
  ui/design-system-core/src/components/Meter/Meter.stories.tsx
  ui/design-system-core/src/components/Meter/index.tsx
  ui/design-system-core/src/components/Text/getColorClasses.ts
  ui/design-system-core/src/components/Text/getTag.ts
  ui/design-system-core/src/components/Text/getWeightClasses.ts
  ui/design-system-core/src/components/Text/index.tsx
  ui/design-system-core/src/components/Tooltip/index.tsx
  ui/design-system-core/src/components/types/common.types.ts
  ui/design-system-core/src/twind/main.css
  ui/design-system-core/src/utils/getColorClasses.ts
  ui/design-system-core/src/utils/graphics.ts
Labels: plugin/widget

#1859 Feat/radio button comp
  ui/design-system-core/src/components/DuplexButton/DuplexButton.stories.tsx
  ui/design-system-core/src/components/RadioButton/RadioButton.stories.tsx
  ui/design-system-core/src/components/RadioButton/index.tsx
Labels: plugin/widget

#1860 Feat: new text field component
  twindBaseConfig.js
  ui/design-system-core/src/components/EditorMeter/index.tsx
  ui/design-system-core/src/components/Meter/index.tsx
  ui/design-system-core/src/components/Text/index.tsx
  ui/design-system-core/src/components/TextField/Caption/getIconClasses.ts
  ui/design-system-core/src/components/TextField/Caption/index.tsx
  ui/design-system-core/src/components/TextField/Input/getContainerClasses.ts
  ui/design-system-core/src/components/TextField/Input/getIconClasses.ts
  ui/design-system-core/src/components/TextField/Input/getInputClasses.ts
  ui/design-system-core/src/components/TextField/Input/index.tsx
  ui/design-system-core/src/components/TextField/Label/index.tsx
  ui/design-system-core/src/components/TextField/TextField.stories.tsx
  ui/design-system-core/src/components/TextField/index.tsx
  ui/design-system-core/src/components/TextField/types.ts
  ui/design-system-core/src/components/Tooltip/getArrowClasses.ts
  ui/design-system-core/src/components/Tooltip/getContentClasses.ts
  ui/design-system-core/src/components/Tooltip/index.tsx
  ui/design-system-core/src/components/types/common.types.ts
  ui/design-system-core/src/utils/getColorClasses.ts
Labels: plugin/widget

#1853 chore(): cleanup
  sdk/package.json
  sdk/src/auth/hub.auth.ts
  sdk/src/auth/index.ts
  sdk/src/common/web3.connector.ts
  sdk/src/db/index.ts
  sdk/src/gql/index.ts
  sdk/src/helpers/observable.ts
  sdk/src/profiles/index.ts
  sdk/src/registry/ens.ts
  sdk/src/settings/apps.ts
  sdk/src/settings/index.ts
  sdk/src/stash/index.ts
  ui/apps/messaging/src/api/message.ts
  ui/apps/messaging/src/components/app-routes.tsx
  ui/apps/messaging/src/index.tsx
  ui/apps/notifications/src/index.tsx
  ui/hooks/src/__mocks__/bookmarks.ts
  ui/hooks/src/__tests__/use-bookmarks.spec.ts
  ui/hooks/src/__tests__/use-injected-provider.spec.ts
  ui/hooks/src/__tests__/use-notifications.spec.ts
  ui/hooks/src/__tests__/use-profile.spec.ts
  ui/hooks/src/use-bookmarks.ts
  ui/hooks/src/use-injected-provider.ts
  ui/hooks/src/use-login.ts
  ui/hooks/src/use-network-state.ts
  ui/hooks/src/use-notifications.ts
  ui/hooks/src/use-profile.ts
  ui/hooks/src/use-username.ts
  ui/hooks/src/utils/media-utils.ts
Labels: plugin/widget

#1858 Feat: sidebar widget
  examples/ui/ethereum.world/public/css/global.css
  ui/design-system-core/package.json
  ui/design-system-core/src/components/Accordion/index.tsx
  ui/design-system-core/src/components/AppAvatar/index.tsx
  ui/design-system-core/src/components/AppIcon/AppIcon.stories.tsx
  ui/design-system-core/src/components/AppIcon/index.tsx
  ui/design-system-core/src/components/Avatar/index.tsx
  ui/design-system-core/src/components/Button/index.tsx
  ui/design-system-core/src/components/DuplexButton/index.tsx
  ui/design-system-core/src/components/Icon/Icon.stories.tsx
  ui/design-system-core/src/components/Icon/akasha-icons/akasha.tsx
  ui/design-system-core/src/components/Icon/akasha-icons/app-center.tsx
  ui/design-system-core/src/components/Icon/akasha-icons/app-moderation.tsx
  ui/design-system-core/src/components/Icon/akasha-icons/bookmark.tsx
  ui/design-system-core/src/components/Icon/akasha-icons/discord.tsx
  ui/design-system-core/src/components/Icon/akasha-icons/github.tsx
  ui/design-system-core/src/components/Icon/akasha-icons/index.ts
  ui/design-system-core/src/components/Icon/akasha-icons/notifications.tsx
  ui/design-system-core/src/components/Icon/akasha-icons/search.tsx
  ui/design-system-core/src/components/Icon/akasha-icons/settings-alt.tsx
  ui/design-system-core/src/components/Icon/akasha-icons/telegram.tsx
  ui/design-system-core/src/components/Icon/akasha-icons/twitter.tsx
  ui/design-system-core/src/components/Icon/index.tsx
  ui/design-system-core/src/components/Sidebar/Sidebar.stories.tsx
  ui/design-system-core/src/components/Sidebar/index.tsx
  ui/design-system-core/src/components/SubtitleTextIcon/index.tsx
  ui/design-system-core/src/components/Text/index.tsx
  ui/design-system-core/src/components/TextField/Caption/index.tsx
  ui/design-system-core/src/components/TextField/Input/index.tsx
  ui/design-system-core/src/components/TextField/TextField.stories.tsx
  ui/design-system-core/src/components/TextField/types.ts
  ui/design-system-core/src/index.ts
  ui/design-system-core/src/twind/main.css
  ui/design-system-core/webpack.config.cjs
  ui/design/src/components/SideBar/index.tsx
  ui/widgets/sidebar/package.json
  ui/widgets/sidebar/src/components/list-sidebar-apps.tsx
  ui/widgets/sidebar/src/components/menu-item-label.tsx
  ui/widgets/sidebar/src/components/menu-sub-items.tsx
  ui/widgets/sidebar/src/components/sidebar-component.tsx
  ui/widgets/sidebar/src/components/sidebar-new.tsx
Labels: design-system, plugin/widget, examples

#1866 Feat: own profile app
  twindBaseConfig.js
  ui/apps/jest.setup.js
  ui/apps/profile/package.json
  ui/apps/profile/src/components/profile-cards/profile-page-header.tsx
  ui/apps/profile/src/components/routes/profile-page.tsx
  ui/design-system-core/src/components/AppIcon/index.tsx
  ui/design-system-core/src/components/Avatar/index.tsx
  ui/design-system-core/src/components/Button/index.tsx
  ui/design-system-core/src/components/Card/index.tsx
  ui/design-system-core/src/components/CircularPlaceholder/index.tsx
  ui/design-system-core/src/components/CopyToClipboard/index.tsx
  ui/design-system-core/src/components/Icon/index.tsx
  ui/design-system-core/src/components/ProfileCard/Bio/Bio.stories.tsx
  ui/design-system-core/src/components/ProfileCard/Bio/index.tsx
  ui/design-system-core/src/components/ProfileCard/Header/Header.stories.tsx
  ui/design-system-core/src/components/ProfileCard/Header/index.tsx
  ui/design-system-core/src/components/ProfileCard/Links/Links.stories.tsx
  ui/design-system-core/src/components/ProfileCard/Links/getIconFromType.ts
  ui/design-system-core/src/components/ProfileCard/Links/getLinkFromType.ts
  ui/design-system-core/src/components/ProfileCard/Links/index.tsx
  ui/design-system-core/src/components/ProfileCard/Stats/Stats.stories.tsx
  ui/design-system-core/src/components/ProfileCard/Stats/index.tsx
  ui/design-system-core/src/components/ProfileCard/index.ts
  ui/design-system-core/src/components/Stack/index.tsx
  ui/design-system-core/src/components/Text/index.tsx
  ui/design-system-core/src/components/TextLine/index.tsx
  ui/design-system-core/src/components/Tooltip/index.tsx
  ui/design-system-core/src/components/types/common.types.ts
  ui/design-system-core/src/index.ts
Labels: plugin/widget

#1861 Feat/checkbox component
  ui/design-system-core/src/components/Checkbox/Checkbox.stories.tsx
  ui/design-system-core/src/components/Checkbox/index.tsx
Labels: plugin/widget
