Repository AKASHAorg/akasha-core, pull requests merged in 2023-11, with the labels that each got.

#2086 Feat: profile app enhancements
  typings/src/ui/icon.ts
  ui/apps/akasha/src/components/pages/entry-page/reflection-page.tsx
  ui/apps/akasha/src/components/pages/entry-page/reflection-section.tsx
  ui/apps/akasha/src/extensions/entry-edit-button.tsx
  ui/apps/akasha/src/extensions/entry-remove-modal.tsx
  ui/apps/akasha/src/index.tsx
  ui/apps/profile/src/components/follow-profile-button/index.tsx
  ui/apps/profile/src/components/following-feedback.tsx
  ui/apps/profile/src/components/profile-header-hoc.tsx
  ui/apps/search/src/components/routes/entry-renderer.tsx
  ui/design-system-components/src/components/Entry/EntryCard/card-header-menu.tsx
  ui/design-system-components/src/components/Entry/EntryCard/index.tsx
  ui/design-system-core/src/components/Icon/akasha-icons/following.tsx
  ui/design-system-core/src/components/Icon/akasha-icons/index.ts
  ui/design-system-core/src/components/List/index.tsx
  ui/design-system-core/src/components/List/list-element.tsx
  ui/design-system-core/src/components/Menu/index.tsx
  ui/design-system-core/src/components/Tooltip/index.tsx
  ui/hooks/src/use-query-listener.ts
  ui/lib/feed/src/components/cards/beam-card.tsx
  ui/lib/feed/src/components/cards/reflection-card.tsx
  ui/lib/feed/src/components/editable-reflection/index.tsx
Labels: plugin/widget

#2088 Feat: create reflection preview
  ui/apps/akasha/src/components/pages/entry-page/beam-page.tsx
  ui/apps/akasha/src/components/pages/entry-page/reflection-page.tsx
  ui/apps/profile/src/components/follow-profile-button/index.tsx
  ui/design-system-components/src/components/Entry/EntryCard/index.tsx
  ui/design-system-core/src/components/Button/IconOnlyButton/index.tsx
  ui/design-system-core/src/components/Button/index.tsx
  ui/design-system-core/src/components/Button/types.ts
  ui/design-system-core/src/components/ProfileAvatarButton/index.tsx
  ui/lib/feed/src/components/back-to-orignal-beam/index.tsx
  ui/lib/feed/src/components/beam-feed.tsx
  ui/lib/feed/src/components/cards/reflection-card.tsx
  ui/lib/feed/src/components/editable-reflection/index.tsx
  ui/lib/feed/src/components/reflect-feed.tsx
  ui/lib/feed/src/components/reflection-preview/index.tsx
Labels: plugin/widget

#2081 Feat/lazy loaders
  ui/apps/akasha/src/components/app-routes.tsx
  ui/design-system-components/src/components/Loaders/antenna-loader.tsx
  ui/design-system-components/src/components/Loaders/sidebar-loader.tsx
  ui/design-system-components/src/components/Loaders/topbar-loader.tsx
  ui/design-system-components/src/components/Loaders/trending-widget-loader.tsx
  ui/design-system-components/src/components/TrendingWidgetLoadingCard/index.tsx
  ui/design-system-components/src/components/TrendingWidgetLoadingCard/trending-widget-item-loader.tsx
  ui/design-system-components/src/stories/dscomponents/antenna-loader.stories.tsx
  ui/design-system-components/src/stories/dscomponents/sidebar-loader.stories.tsx
  ui/design-system-components/src/stories/dscomponents/topbar-loader.stories.tsx
  ui/design-system-components/src/stories/dscomponents/trending-widget-loader.stories.tsx
  ui/lib/extensions/src/react/widget.tsx
  ui/lib/feed/src/components/beam-feed.tsx
  ui/widgets/layout/src/components/layout-widget.tsx
  ui/widgets/trending/src/components/cards/latest-profiles.tsx
  ui/widgets/trending/src/components/cards/latest-topics.tsx
  ui/widgets/trending/src/components/trending-widget-component.tsx
Labels: plugin/widget

#2092 Fix: sidebar
  ui/widgets/sidebar/src/components/list-sidebar-apps.tsx
  ui/widgets/sidebar/src/components/menu-sub-items.tsx
Labels: plugin/widget

#2094 Fix: failing profile app tests
  ui/apps/profile/jest.setup.js
  ui/apps/profile/src/components/__tests__/profile-edit-general.spec.tsx
  ui/apps/profile/src/components/__tests__/profile-info.spec.tsx
Labels: plugin/widget

#2093 Fix: sidebar
  ui/apps/auth-app/src/components/connect/choose-provider.tsx
  ui/apps/moderation/src/components/report/report-item.tsx
  ui/design-system-components/src/stories/dscore/accordion-base.stories.tsx
  ui/design-system-components/src/stories/dscore/sidebar-base.stories.tsx
  ui/design-system-core/src/components/Accordion/__tests__/index.test.tsx
  ui/design-system-core/src/components/Accordion/index.tsx
  ui/design-system-core/src/components/Sidebar/__tests__/index.test.tsx
  ui/design-system-core/src/components/Sidebar/index.tsx
  ui/hooks/src/index.ts
  ui/hooks/src/use-accordion.ts
  ui/widgets/sidebar/src/components/list-sidebar-apps.tsx
  ui/widgets/sidebar/src/components/sidebar-component.tsx
  ui/widgets/top-bar/src/components/topbar-component.tsx
  ui/widgets/trending/src/components/cards/latest-profiles.tsx
  ui/widgets/trending/src/components/cards/latest-topics.tsx
Labels: plugin/widget

#2098 refactor(sdk:auth): add better connect flow
  package.json
  sdk/src/auth/index.ts
  sdk/src/common/web3.connector.ts
  ui/hooks/src/use-injected-provider.ts
  ui/hooks/src/use-login.new.ts
  yarn.lock
Labels: plugin/widget

#2095 Fix: Settings privacy button
  typings/src/ui/ui-events.ts
  ui/apps/settings-app/src/components/app-routes.tsx
  ui/hooks/src/use-settings.ts
  ui/widgets/analytics/src/components/cookie-widget.tsx
Labels: plugin/widget

#2107 feat(sdk:gql): add composedb viewer header
  examples/ui/akasha.world/public/index.dev.html
  examples/ui/akasha.world/public/index.html
  sdk/package.json
  sdk/src/auth/index.ts
  sdk/src/common/ipfs.connector.ts
  sdk/src/gql/index.ts
  sdk/tsconfig.json
  tools/functions/cloudflare/package.json
  yarn.lock
Labels: examples

#2108 feat(sdk:ipfs): add w3storage delegation upload
  .env.example
  examples/ui/akasha.world/public/index.html
  sdk/package.json
  sdk/src/common/ceramic.ts
  sdk/src/common/ipfs.connector.ts
  sdk/src/profiles/index.ts
  tools/functions/cloudflare/package.json
  ui/hooks/src/utils/media-utils.ts
  yarn.lock
Labels: plugin/widget, examples

#2103 Fix/login getmyprofile hook
  sdk/src/common/web3.connector.ts
  ui/apps/akasha/src/components/pages/entry-page/pending-reflect.tsx
  ui/apps/akasha/src/extensions/slate-block/slate-editor-block.tsx
  ui/apps/auth-app/src/components/connect/index.tsx
  ui/apps/dev-dashboard/src/pages/add-dev-key.tsx
  ui/apps/dev-dashboard/src/pages/onboarding-steps.tsx
  ui/apps/dev-dashboard/src/pages/verify-signature.tsx
  ui/apps/lists/src/extensions/entry-card-save-button.tsx
  ui/apps/notifications/src/components/app-routes.tsx
  ui/apps/notifications/src/components/pages/notifications-page.tsx
  ui/apps/notifications/src/components/pages/welcome-page.tsx
  ui/apps/profile/src/components/pages/interests/index.tsx
  ui/apps/profile/src/components/pages/profile-engagement/followers-page.tsx
  ui/apps/profile/src/components/pages/profile-engagement/following-page.tsx
  ui/apps/profile/src/components/profile-header-hoc.tsx
  ui/apps/search/src/components/routes/entry-renderer.tsx
  ui/hooks/src/use-global-login.ts
  ui/hooks/src/use-logged-in.ts
  ui/hooks/src/use-login.new.ts
  ui/lib/feed/src/components/cards/beam-card.tsx
  ui/lib/feed/src/components/cards/reflection-card.tsx
  ui/widgets/sidebar/src/components/fallback-header.tsx
  ui/widgets/sidebar/src/components/sidebar-component.tsx
  ui/widgets/sidebar/src/components/sidebar-header.tsx
  ui/widgets/trending/src/components/cards/latest-profiles.tsx
  ui/widgets/trending/src/components/trending-widget-component.tsx
Labels: plugin/widget

#2091 Fix/minor fixes
  ui/apps/akasha/src/components/pages/feed-page/feed-page.tsx
  ui/apps/lists/src/components/lists-page.tsx
  ui/apps/notifications/src/components/pages/notifications-page.tsx
  ui/apps/profile/src/components/follow-profile-button/index.tsx
  ui/apps/search/src/components/routes/index.tsx
  ui/apps/search/src/components/routes/onboarding-page.tsx
  ui/apps/search/src/components/routes/search-page.tsx
  ui/apps/search/src/components/routes/settings-page.tsx
  ui/design-system-components/src/components/DropDownFilter/index.tsx
  ui/design-system-components/src/components/ListAppTopbar/index.tsx
  ui/design-system-components/src/components/SearchAppDropdownFilter/index.tsx
  ui/design-system-components/src/components/SwitchCard/index.tsx
  ui/design-system-components/src/stories/dscomponents/switch-card.stories.tsx
  ui/design-system-core/src/components/Button/index.tsx
  ui/design-system-core/src/components/DuplexButton/index.tsx
  ui/design-system-core/src/components/SubtitleTextIcon/index.tsx
  ui/widgets/layout/src/components/layout-widget.tsx
  ui/widgets/trending/src/components/cards/latest-topics.tsx
  ui/widgets/trending/src/components/trending-widget-component.tsx
Labels: plugin/widget

#2109 add loading state when checking if current session exists
  ui/apps/profile/src/components/pages/edit-profile/index.tsx
  ui/hooks/src/use-logged-in.ts
  ui/hooks/src/use-login.new.ts
Labels: plugin/widget

#2106 Refactor: Auth app
  ui/apps/akasha/src/index.tsx
  ui/apps/articles/src/index.tsx
  ui/apps/auth-app/src/components/app-routes.tsx
  ui/apps/auth-app/src/components/app.tsx
  ui/apps/auth-app/src/components/connect/choose-provider.tsx
  ui/apps/auth-app/src/components/connect/connect-wallet.tsx
  ui/apps/auth-app/src/components/connect/index.tsx
  ui/apps/auth-app/src/components/connect/indicator-dots.tsx
  ui/apps/auth-app/src/components/connect/web3-connect-card.tsx
  ui/apps/auth-app/src/components/index.tsx
  ui/apps/auth-app/src/index.tsx
  ui/apps/auth-app/src/routes.ts
  ui/apps/moderation/src/index.tsx
  ui/apps/settings-app/src/index.tsx
  ui/design-system-core/src/components/DidField/index.tsx
  ui/hooks/src/__tests__/use-injected-provider.spec.ts
  ui/hooks/src/index.ts
  ui/hooks/src/use-injected-provider.ts
  ui/hooks/src/use-login.new.ts
Labels: plugin/widget
