Repository AKASHAorg/akasha-core, pull requests merged in 2023-04, with the labels that each got.

#1895 Feat(app-profile): add modals and react hook form to general tab
  package.json
  tsconfig.json
  ui/apps/profile/package.json
  ui/apps/profile/src/components/profile/index.tsx
  ui/design-system-components/src/components/EditProfile/GeneralForm/GeneralForm.stories.tsx
  ui/design-system-components/src/components/EditProfile/GeneralForm/Header/DeleteImageModal/index.tsx
  ui/design-system-components/src/components/EditProfile/GeneralForm/Header/EditImageModal/index.tsx
  ui/design-system-components/src/components/EditProfile/GeneralForm/Header/Header.stories.tsx
  ui/design-system-components/src/components/EditProfile/GeneralForm/Header/index.tsx
  ui/design-system-components/src/components/EditProfile/GeneralForm/index.tsx
  ui/design-system-components/src/twind/main.css
  ui/design-system-core/package.json
  ui/design-system-core/src/components/ActionDropDown/ActionDropDown.stories.tsx
  ui/design-system-core/src/components/ActionDropDown/index.tsx
  ui/design-system-core/src/components/Avatar/index.tsx
  ui/design-system-core/src/components/Button/index.tsx
  ui/design-system-core/src/components/Button/types.ts
  ui/design-system-core/src/components/Card/index.tsx
  ui/design-system-core/src/components/EditProfile/General/Header/Header.stories.tsx
  ui/design-system-core/src/components/EditProfile/General/Header/index.tsx
  ui/design-system-core/src/components/EditProfile/General/index.tsx
  ui/design-system-core/src/components/Icon/index.tsx
  ui/design-system-core/src/components/ImageCropper/ImageCropper.stories.tsx
  ui/design-system-core/src/components/ImageCropper/index.tsx
  ui/design-system-core/src/components/Modal/Modal.stories.tsx
  ui/design-system-core/src/components/Modal/index.tsx
  ui/design-system-core/src/components/ProfileCard/Header/index.tsx
  ui/design-system-core/src/components/Stack/index.tsx
  ui/design-system-core/src/components/Text/index.tsx
  ui/design-system-core/src/components/TextField/Caption/getIconClasses.ts
  ui/design-system-core/src/components/TextField/Caption/index.tsx
  ui/design-system-core/src/components/TextField/Input/getContainerClasses.ts
  ui/design-system-core/src/components/TextField/Input/getIconClasses.ts
  ui/design-system-core/src/components/TextField/Input/getInputClasses.ts
  ui/design-system-core/src/components/TextField/Input/index.tsx
  ui/design-system-core/src/components/TextField/Label/index.tsx
  ui/design-system-core/src/components/TextField/Multiline/index.tsx
  ui/design-system-core/src/components/TextField/index.tsx
  ui/design-system-core/src/components/TextField/types.ts
  ui/design-system-core/src/components/types/common.types.ts
  ui/design-system-core/src/utils/getColorClasses.ts
  ui/design-system-core/tsconfig.json
  yarn.lock
Labels: plugin/widget

#1892 Feat: Transparency log UI
  ui/apps/moderation/src/components/__tests__/moderators.spec.tsx
  ui/apps/moderation/src/components/__tests__/overview.spec.tsx
  ui/apps/moderation/src/components/app-routes.tsx
  ui/apps/moderation/src/components/transparency-log/banner.tsx
  ui/apps/moderation/src/components/transparency-log/detail-card.tsx
  ui/apps/moderation/src/components/transparency-log/index.tsx
  ui/apps/moderation/src/components/transparency-log/mini-card-renderer.tsx
  ui/apps/moderation/src/pages/dashboard.tsx
  ui/apps/moderation/src/pages/index.tsx
  ui/apps/moderation/src/pages/moderation-value.tsx
  ui/apps/moderation/src/pages/moderators.tsx
  ui/apps/moderation/src/pages/overview.tsx
  ui/apps/moderation/src/pages/transparency-log-item.tsx
  ui/apps/moderation/src/pages/transparency-log.tsx
  ui/apps/moderation/src/routes.ts
  ui/design-system-components/src/components/Entry/card-actions.tsx
  ui/design-system-core/src/components/Dropdown/Dropdown.stories.tsx
  ui/design-system-core/src/components/Dropdown/index.tsx
  ui/design-system-core/src/components/Pagination/Pagination.stories.tsx
  ui/design-system-core/src/components/Pagination/index.tsx
  ui/design-system-core/src/components/Table/Table.stories.tsx
  ui/design-system-core/src/components/Table/index.tsx
Labels: plugin/widget

#1898 Feat: properly handle colors
  twindBaseConfig.js
  typings/src/ui/colors.ts
  typings/src/ui/index.ts
  ui/apps/moderation/src/pages/transparency-log-item.tsx
  ui/apps/moderation/src/pages/transparency-log.tsx
  ui/apps/settings-app/src/components/option-privacy.tsx
  ui/design-system-components/src/components/EditProfile/GeneralForm/Header/index.tsx
  ui/design-system-components/src/components/Editor/index.tsx
  ui/design-system-components/src/components/Entry/entry-card-error.tsx
  ui/design-system-components/src/components/Entry/entry-card-hidden.tsx
  ui/design-system-core/src/components/Accordion/index.tsx
  ui/design-system-core/src/components/ActionDropDown/ActionDropDown.stories.tsx
  ui/design-system-core/src/components/ActionDropDown/index.tsx
  ui/design-system-core/src/components/Anchor/index.tsx
  ui/design-system-core/src/components/AppIcon/index.tsx
  ui/design-system-core/src/components/Avatar/index.tsx
  ui/design-system-core/src/components/Button/ButtonIcon.tsx
  ui/design-system-core/src/components/Button/getContainerClasses.ts
  ui/design-system-core/src/components/Button/getTextClasses.ts
  ui/design-system-core/src/components/Card/index.tsx
  ui/design-system-core/src/components/Checkbox/index.tsx
  ui/design-system-core/src/components/Dropdown/index.tsx
  ui/design-system-core/src/components/DuplexButton/index.tsx
  ui/design-system-core/src/components/EditorMeter/index.tsx
  ui/design-system-core/src/components/ErrorLoader/error-card.tsx
  ui/design-system-core/src/components/ErrorLoader/error-info-card.tsx
  ui/design-system-core/src/components/Icon/index.tsx
  ui/design-system-core/src/components/InfoCard/index.tsx
  ui/design-system-core/src/components/ModerationIntroCard/index.tsx
  ui/design-system-core/src/components/ModerationSwitchCard/index.tsx
  ui/design-system-core/src/components/ModerationValuesCard/index.tsx
  ui/design-system-core/src/components/ModerationValuesCard/value-card/index.tsx
  ui/design-system-core/src/components/ModeratorDetailCard/index.tsx
  ui/design-system-core/src/components/Pagination/index.tsx
  ui/design-system-core/src/components/Pill/index.tsx
  ui/design-system-core/src/components/ProfileCard/Header/index.tsx
  ui/design-system-core/src/components/ProfileCard/Links/index.tsx
  ui/design-system-core/src/components/ProfileCard/Stats/index.tsx
  ui/design-system-core/src/components/ProfileCard/placeholders/ProfileLoading.tsx
  ui/design-system-core/src/components/ProfileStatLists/Entry/index.tsx
  ui/design-system-core/src/components/ProfileStatLists/placeholders/ListEntryLoading.tsx
  ui/design-system-core/src/components/RadioButton/index.tsx
  ui/design-system-core/src/components/Snackbar/getColor.ts
  ui/design-system-core/src/components/Snackbar/index.tsx
  ui/design-system-core/src/components/Tab/index.tsx
  ui/design-system-core/src/components/Table/index.tsx
  ui/design-system-core/src/components/Text/index.tsx
  ui/design-system-core/src/components/TextField/Caption/index.tsx
  ui/design-system-core/src/components/TextField/Input/getContainerClasses.ts
  ui/design-system-core/src/components/TextField/Label/index.tsx
  ui/design-system-core/src/components/Toggle/index.tsx
  ui/design-system-core/src/components/Tooltip/getArrowClasses.ts
  ui/design-system-core/src/components/Tooltip/index.tsx
  ui/design-system-core/src/components/types/common.types.ts
  ui/design-system-core/src/utils/getColorClasses.ts
  ui/widgets/sidebar/src/components/menu-sub-items.tsx
  ui/widgets/trending/src/components/TrendingWidgetCard.tsx
Labels: plugin/widget

#1897 Refactor: moderation components
  ui/apps/moderation/package.json
  ui/apps/moderation/src/pages/moderation-value.tsx
  ui/apps/moderation/src/pages/moderators.tsx
  ui/apps/moderation/src/pages/overview.tsx
  ui/design-system-components/src/components/ModerationIntroCard/ModerationIntroCard.stories.tsx
  ui/design-system-components/src/components/ModerationIntroCard/index.tsx
  ui/design-system-components/src/components/ModerationSwitchCard/ModerationSwitchCard.stories.tsx
  ui/design-system-components/src/components/ModerationSwitchCard/index.tsx
  ui/design-system-components/src/components/ModerationValuesCard/index.tsx
  ui/design-system-components/src/components/ModerationValuesCard/value-card/ModerationValueCard.stories.tsx
  ui/design-system-components/src/components/ModerationValuesCard/value-card/index.tsx
  ui/design-system-components/src/components/ModeratorDetailCard/ModeratorDetailCard.stories.tsx
  ui/design-system-components/src/components/ModeratorDetailCard/index.tsx
  ui/design-system-components/src/components/ModeratorDetailCard/social-link.tsx
Labels: plugin/widget

#1902 Fix(index.html): add guard while adding theme
  examples/ui/ethereum.world/public/index.html
Labels: examples

#1901 Feat: add new social links page
  .github/workflows/cypress.staging.yml
  tests/ethereum-world/cypress/integration/profilepage.spec.ts
  tests/ethereum-world/cypress/integration/tagpage.spec.ts
  ui/apps/profile/src/components/__tests__/index.spec.tsx
  ui/apps/profile/src/components/__tests__/profile.spec.tsx
  ui/apps/profile/src/components/pages/index.tsx
  ui/apps/profile/src/components/pages/no-profile-found.tsx
  ui/apps/profile/src/components/pages/page-by-type.tsx
  ui/apps/profile/src/components/pages/profile-edit.tsx
  ui/apps/profile/src/components/pages/profile-stat.tsx
  ui/apps/profile/src/components/pages/profile.tsx
  ui/apps/profile/src/components/routes/index.tsx
  ui/apps/profile/src/components/routes/profile-page.tsx
  ui/apps/profile/src/index.tsx
  ui/apps/profile/src/routes.ts
  ui/design-system-components/src/components/EditProfile/GeneralForm/index.tsx
  ui/design-system-components/src/components/EditProfile/SocialLinks/SocialLink.tsx
  ui/design-system-components/src/components/EditProfile/SocialLinks/SocialLinks.stories.tsx
  ui/design-system-components/src/components/EditProfile/SocialLinks/index.tsx
  ui/design-system-components/src/components/EditProfile/types.ts
  ui/design-system-core/src/components/ActionDropDown/index.tsx
  ui/design-system-core/src/components/Button/IconOnlyButton/index.tsx
  ui/design-system-core/src/components/Button/index.tsx
  ui/design-system-core/src/components/InfoCard/index.tsx
  ui/design-system-core/src/components/Modal/index.tsx
  ui/design-system-core/src/components/ProfileCard/Header/index.tsx
  ui/design-system-core/src/components/ProfileCard/placeholders/ProfileLoading.tsx
  ui/design-system-core/src/components/ProfileStatLists/placeholders/ListEntryLoading.tsx
  ui/design-system-core/src/components/Stack/index.tsx
Labels: plugin/widget, examples

#1900 Add zod validations
  sdk/src/auth-v2/lit.ts
  sdk/src/auth/index.ts
  sdk/src/common/ipfs.connector.ts
  sdk/src/common/misc.ts
  sdk/src/common/validator.ts
  sdk/src/common/web3.connector.ts
  sdk/src/db/app.schema.ts
  sdk/src/db/index.ts
  sdk/src/logging/index.ts
  sdk/src/posts/comments.ts
  sdk/src/posts/entry.ts
  sdk/src/posts/tags.ts
  sdk/src/profiles/index.ts
  sdk/src/registry/ens.ts
  sdk/src/registry/icRegistry.ts
  sdk/src/settings/apps.ts
  sdk/src/settings/index.ts
  sdk/src/stash/index.ts
  tests/src/data-generator/integrations.ts
  typings/src/sdk/comments.ts
  typings/src/sdk/common.ts
  typings/src/sdk/index.ts
  typings/src/sdk/posts.ts
  typings/src/sdk/registry.ts
  ui/hooks/src/use-integration-registry.ts
  ui/hooks/src/use-notifications.ts
Labels: plugin/widget

#1890 feat(): create datepicker component
  ui/design-system-core/src/components/DatePicker/DatePicker.stories.tsx
  ui/design-system-core/src/components/DatePicker/DateSelector.tsx
  ui/design-system-core/src/components/DatePicker/MonthSelector.tsx
  ui/design-system-core/src/components/DatePicker/calendarHelpers.ts
  ui/design-system-core/src/components/DatePicker/index.tsx
  ui/widgets/layout/src/components/layout-widget.tsx
Labels: plugin/widget

#1877 Feat/stepper
  ui/design-system-core/src/components/Checkbox/index.tsx
  ui/design-system-core/src/components/Icon/akasha-icons/StepIndicatorCompletedStep.tsx
  ui/design-system-core/src/components/Icon/akasha-icons/StepIndicatorIncompleteStep.tsx
  ui/design-system-core/src/components/Stepper/Stepper.stories.tsx
  ui/design-system-core/src/components/Stepper/index.tsx
Labels: plugin/widget

#1896 Feat/ds core tests
  ui/design-system-core/jest.setup.js
  ui/design-system-core/src/components/Accordion/__tests__/index.test.tsx
  ui/design-system-core/src/components/BasicCardBox/__tests__/index.test.tsx
  ui/design-system-core/src/components/Button/__tests__/index.test.tsx
  ui/design-system-core/src/components/Button/index.tsx
  ui/design-system-core/src/components/Checkbox/Checkbox.stories.tsx
  ui/design-system-core/src/components/Checkbox/__tests__/index.test.tsx
  ui/design-system-core/src/components/Icon/__tests__/index.test.tsx
  ui/design-system-core/src/components/Modal/__tests__/index.test.tsx
  ui/design-system-core/src/components/Pill/__tests__/index.test.tsx
  ui/design-system-core/src/components/Pill/index.tsx
  ui/design-system-core/src/components/RadioButton/__tests__/index.test.tsx
  ui/design-system-core/src/components/Snackbar/Snackbar.stories.tsx
  ui/design-system-core/src/components/Snackbar/__tests__/index.test.tsx
  ui/design-system-core/src/components/Snackbar/index.tsx
  ui/design-system-core/src/components/Stack/__tests__/index.test.tsx
  ui/design-system-core/src/components/Tab/__tests__/index.test.tsx
  ui/design-system-core/src/components/Table/__tests__/index.test.tsx
  ui/design-system-core/src/components/TextField/__tests__/index.test.tsx
  ui/design-system-core/src/components/Toggle/Toggle.stories.tsx
  ui/design-system-core/src/components/Toggle/__tests__/index.test.tsx
  ui/design-system-core/src/components/Tooltip/__tests__/index.test.tsx
  ui/design-system-core/src/test-utils/index.tsx
  ui/design-system-core/src/test-utils/mocks.tsx
Labels: plugin/widget

#1899 Feat: moderator dashboard
  ui/apps/moderation/src/components/app-routes.tsx
  ui/apps/moderation/src/components/dashboard/categories.tsx
  ui/apps/moderation/src/components/dashboard/contact-info.tsx
  ui/apps/moderation/src/components/dashboard/guest/index.tsx
  ui/apps/moderation/src/components/dashboard/index.tsx
  ui/apps/moderation/src/components/dashboard/max-applicants.tsx
  ui/apps/moderation/src/components/dashboard/page-header.tsx
  ui/apps/moderation/src/components/dashboard/resign-confirmation.tsx
  ui/apps/moderation/src/components/dashboard/resign-role.tsx
  ui/apps/moderation/src/pages/dashboard.tsx
  ui/apps/moderation/src/pages/edit-categories.tsx
  ui/apps/moderation/src/pages/edit-contact-info.tsx
  ui/apps/moderation/src/pages/edit-max-applicants.tsx
  ui/apps/moderation/src/pages/index.tsx
  ui/apps/moderation/src/pages/resign-confirmation.tsx
  ui/apps/moderation/src/pages/resign-role.tsx
  ui/apps/moderation/src/routes.ts
  ui/apps/moderation/src/utils/reasons.ts
  ui/design-system-components/src/components/ModerationIntroCard/index.tsx
  ui/design-system-core/src/components/Divider/index.tsx
  ui/design-system-core/src/components/Pill/Pill.stories.tsx
  ui/design-system-core/src/components/Pill/__tests__/index.test.tsx
  ui/design-system-core/src/components/Pill/index.tsx
  ui/design-system-core/src/components/ProfileAvatarButton/index.tsx
  ui/design-system-core/src/components/Snackbar/__tests__/index.test.tsx
  ui/design-system-core/src/components/SubtitleTextIcon/index.tsx
  ui/design-system-core/src/components/Tab/index.tsx
  ui/design-system-core/src/components/TextField/Multiline/index.tsx
  ui/widgets/trending/src/components/TrendingProfileCard.tsx
  ui/widgets/trending/src/components/TrendingTagCard.tsx
Labels: plugin/widget

#1911 Refactor auth module
  .editorconfig
  .graphqlconfig
  sdk/package.json
  sdk/src/auth/constants.ts
  sdk/src/auth/hub.auth.ts
  sdk/src/auth/index.ts
  sdk/src/common/ceramic.ts
  sdk/src/common/lit.ts
  sdk/src/common/misc.ts
  sdk/src/container.ts
  sdk/src/db/app.schema.ts
  sdk/src/db/db.wrapper.ts
  sdk/src/db/index.ts
  sdk/src/db/integrations.schema.ts
  sdk/src/db/settings.schema.ts
  sdk/src/gql/index.new.ts
  sdk/src/index.ts
  sdk/src/posts/comments.graphql
  sdk/src/posts/entry.graphql
  sdk/src/posts/entry.ts
  sdk/src/profiles/index.ts
  sdk/src/profiles/profile.graphql
  sdk/src/settings/apps.ts
  sdk/src/settings/index.ts
  sdk/webpack.config.cjs
  typings/src/sdk/common.ts
  ui/hooks/src/use-app-settings.ts
  ui/hooks/src/use-bookmarks.ts
  ui/hooks/src/use-dev-profile.ts
  ui/hooks/src/use-login.ts
  ui/webpack.config.js
  yarn.lock
Labels: plugin/widget

#1907 Feat: add interests page
  examples/ui/ethereum.world/public/css/global.css
  ui/apps/moderation/src/components/dashboard/contact-info.tsx
  ui/apps/moderation/src/components/dashboard/max-applicants.tsx
  ui/apps/profile/src/components/pages/page-by-type.tsx
  ui/apps/profile/src/components/pages/profile-edit.tsx
  ui/apps/profile/src/components/routes/index.tsx
  ui/design-system-components/src/components/EditProfile/GeneralForm/Header/index.tsx
  ui/design-system-components/src/components/EditProfile/GeneralForm/index.tsx
  ui/design-system-components/src/components/EditProfile/Interests/Interests.stories.tsx
  ui/design-system-components/src/components/EditProfile/Interests/index.tsx
  ui/design-system-components/src/components/EditProfile/SocialLinks/SocialLink.tsx
  ui/design-system-components/src/components/EditProfile/SocialLinks/index.tsx
  ui/design-system-components/src/twind/main.css
  ui/design-system-core/src/components/ActionDropDown/index.tsx
  ui/design-system-core/src/components/AutoComplete/AutoComplete.stories.tsx
  ui/design-system-core/src/components/AutoComplete/index.tsx
  ui/design-system-core/src/components/Button/Button.stories.tsx
  ui/design-system-core/src/components/Button/IconOnlyButton/index.tsx
  ui/design-system-core/src/components/Button/getContainerClasses.ts
  ui/design-system-core/src/components/Button/index.tsx
  ui/design-system-core/src/components/Button/types.ts
  ui/design-system-core/src/components/List/List.stories.tsx
  ui/design-system-core/src/components/List/index.tsx
  ui/design-system-core/src/components/ProfileStatLists/Entry/index.tsx
  ui/design-system-core/src/components/TextField/Input/index.tsx
  ui/design-system-core/src/components/TextField/Multiline/index.tsx
  ui/design-system-core/src/components/TextField/__tests__/index.test.tsx
  ui/design-system-core/src/components/TextField/index.tsx
  ui/design-system-core/src/components/TextField/types.ts
  ui/design-system-core/src/twind/main.css
Labels: plugin/widget, examples

#1906 chore: fix color and border for dark mode
  ui/widgets/layout/src/components/layout-widget.tsx
  ui/widgets/top-bar/src/components/Topbar.tsx
Labels: plugin/widget

#1912 Feat: moderator profile
  ui/apps/moderation/src/components/app-routes.tsx
  ui/apps/moderation/src/components/moderator/dismiss-moderator.tsx
  ui/apps/moderation/src/components/moderator/index.tsx
  ui/apps/moderation/src/components/moderator/mini-card.tsx
  ui/apps/moderation/src/components/transparency-log/paginated-table.tsx
  ui/apps/moderation/src/pages/dismiss-moderator.tsx
  ui/apps/moderation/src/pages/index.tsx
  ui/apps/moderation/src/pages/moderator-detail.tsx
  ui/apps/moderation/src/pages/moderators.tsx
  ui/apps/moderation/src/pages/transparency-log.tsx
  ui/apps/moderation/src/routes.ts
  ui/apps/moderation/src/utils/dummy-data.ts
  ui/apps/moderation/src/utils/format-date.ts
  ui/design-system-components/package.json
  ui/design-system-components/src/components/ModeratorDetailCard/ModeratorDetailCard.stories.tsx
  ui/design-system-components/src/components/ModeratorDetailCard/index.tsx
  ui/design-system-components/src/components/ModeratorDetailCard/social-link.tsx
  ui/design-system-core/src/components/Table/index.tsx
Labels: plugin/widget

#1913 Fix: sidebar
  ui/widgets/sidebar/src/components/sidebar-new.tsx
  ui/widgets/trending/src/components/trending-widget-component.tsx
Labels: plugin/widget

#1918 Feat: enhance profile app
  ui/apps/moderation/src/components/dashboard/categories.tsx
  ui/apps/moderation/src/components/dashboard/index.tsx
  ui/apps/profile/src/components/pages/edit-profile.tsx
  ui/apps/profile/src/components/pages/index.tsx
  ui/design-system-components/src/components/EditProfile/GeneralForm/index.tsx
  ui/design-system-components/src/components/EditProfile/Interests/Interests.stories.tsx
  ui/design-system-components/src/components/EditProfile/Interests/index.tsx
  ui/design-system-components/src/components/EditProfile/SocialLinks/index.tsx
  ui/design-system-core/src/components/AutoComplete/AutoComplete.stories.tsx
  ui/design-system-core/src/components/AutoComplete/index.tsx
  ui/design-system-core/src/components/Button/IconOnlyButton/index.tsx
  ui/design-system-core/src/components/Button/getContainerClasses.ts
  ui/design-system-core/src/components/Button/getTextClasses.ts
  ui/design-system-core/src/components/Button/index.tsx
  ui/design-system-core/src/components/Button/types.ts
  ui/design-system-core/src/components/List/index.tsx
  ui/design-system-core/src/components/Pill/Pill.stories.tsx
  ui/design-system-core/src/components/Pill/__tests__/index.test.tsx
  ui/design-system-core/src/components/Pill/index.tsx
Labels: plugin/widget

#1916 Feat/notifications app display notifications
  typings/src/ui/ui-events.ts
  ui/apps/notifications/src/components/app-routes.tsx
  ui/apps/notifications/src/components/newComponents/CustomizeNotificationPage.tsx
  ui/apps/notifications/src/components/newComponents/NotificationsPage.tsx
  ui/apps/notifications/src/components/newComponents/WelcomePage.tsx
  ui/apps/notifications/src/routes.ts
  ui/design-system-core/src/components/Accordion/index.tsx
  ui/design-system-core/src/components/BasicInfoCard/index.tsx
  ui/design-system-core/src/components/NotificationsCard/NotificationCard.stories.tsx
  ui/design-system-core/src/components/NotificationsCard/ProfileAvatarNotificationApp.tsx
  ui/design-system-core/src/components/NotificationsCard/__tests__/index.test.tsx
  ui/design-system-core/src/components/NotificationsCard/index.tsx
  ui/design-system-core/src/components/Snackbar/index.tsx
  ui/design-system-core/src/utils/time.ts
  ui/widgets/top-bar/src/components/Topbar.tsx
  ui/widgets/top-bar/src/components/topbar-component.tsx
Labels: plugin/widget

#1921 Feat: create new cookie banner
  ui/design-system-components/src/components/CookieCard/CookieCard.stories.tsx
  ui/design-system-components/src/components/CookieCard/index.tsx
  ui/widgets/analytics/jest.setup.js
  ui/widgets/analytics/package.json
  ui/widgets/analytics/src/components/__tests__/cookie-widget.spec.tsx
  ui/widgets/analytics/src/components/cookie-widget.tsx
  ui/widgets/jest.setup.js
Labels: plugin/widget
