Repository AKASHAorg/akasha-core, pull requests merged in 2023-07, with the labels that each got.

#1974 Fix: profile app bugs
  ui/apps/profile/src/components/app-routes.tsx
  ui/apps/profile/src/components/pages/edit-profile/index.tsx
  ui/design-system-components/src/components/EditProfile/GeneralForm/Header/index.tsx
  ui/design-system-components/src/components/EditProfile/Interests/index.tsx
  ui/design-system-components/src/components/EditProfile/SocialLinks/index.tsx
  ui/design-system-components/src/utils/get-icon-from-link.ts
  ui/design-system-core/src/utils/useCloseActions.ts
Labels: plugin/widget

#1976 Articles app/minor changes
  typings/src/ui/icon.ts
  ui/apps/articles/src/components/article-editor-card.tsx
  ui/apps/articles/src/components/my-articles-header.tsx
  ui/apps/articles/src/utils/licenses.ts
  ui/design-system-core/src/components/Icon/akasha-icons/index.ts
  ui/design-system-core/src/components/Icon/akasha-icons/integration-app-cta.tsx
  ui/design-system-core/src/components/Icon/akasha-icons/license-all-rights.tsx
  ui/design-system-core/src/components/Icon/akasha-icons/license-attribution.tsx
  ui/design-system-core/src/components/Icon/akasha-icons/license-no-derivatives.tsx
  ui/design-system-core/src/components/Icon/akasha-icons/license-no-rights.tsx
  ui/design-system-core/src/components/Icon/akasha-icons/license-non-commercial.tsx
  ui/design-system-core/src/components/Icon/akasha-icons/license-share-alike.tsx
  ui/design-system-core/src/components/Icon/akasha-icons/license-some-rights.tsx
  ui/design-system-core/src/components/Icon/akasha-icons/license-wtfpl.tsx
Labels: plugin/widget

#1977 Fix auth app
  sdk/package.json
  sdk/src/common/web3.connector.ts
  ui/apps/auth-app/src/components/connect/index.tsx
  ui/apps/messaging/src/components/chat-page.tsx
  ui/apps/profile/src/components/pages/profile-engagement.tsx
  ui/apps/profile/src/components/pages/profile-info-page.tsx
  yarn.lock
Labels: plugin/widget

#1979 Fix: wallet authorization interface
  tests/ethereum-world/cypress/integration/partials/layout-widget.spec.ts
  typings/src/ui/colors.ts
  ui/apps/auth-app/package.json
  ui/apps/auth-app/src/components/connect/boxed-icon.tsx
  ui/apps/auth-app/src/components/connect/choose-provider.tsx
  ui/apps/auth-app/src/components/connect/connect-wallet.tsx
  ui/apps/auth-app/src/components/connect/web3-connect-card.tsx
  ui/apps/profile/src/components/pages/edit-profile/index.tsx
  ui/apps/profile/src/components/pages/profile-info-page.tsx
  ui/apps/profile/src/components/utils.tsx
  ui/design-system-components/src/components/AppList/index.tsx
  ui/design-system-components/src/components/ChatList/index.tsx
  ui/design-system-components/src/components/ConnectErrorCard/ConnectErrorCard.stories.tsx
  ui/design-system-components/src/components/ConnectErrorCard/index.tsx
  ui/design-system-components/src/components/Editor/image-upload.tsx
  ui/design-system-components/src/components/Entry/EntryCardHidden/index.tsx
  ui/design-system-components/src/components/Entry/EntryPublishErrorCard/index.tsx
  ui/design-system-components/src/components/StartCard/index.tsx
  ui/design-system-core/src/components/Accordion/index.tsx
  ui/design-system-core/src/components/AppIcon/AppIcon.stories.tsx
  ui/design-system-core/src/components/AppIcon/index.tsx
  ui/design-system-core/src/components/Button/ButtonIcon.tsx
  ui/design-system-core/src/components/Card/index.tsx
  ui/design-system-core/src/components/Icon/index.tsx
  ui/design-system-core/src/components/MessageCard/MessageCard.stories.tsx
  ui/design-system-core/src/components/MessageCard/index.tsx
  ui/design-system-core/src/components/SeventyFivePercentSpinner/index.tsx
  ui/design-system-core/src/components/types/common.types.ts
  ui/design-system-core/src/utils/getColorClasses.ts
  ui/hooks/src/index.ts
  ui/hooks/src/utils/media-utils.ts
  ui/widgets/layout/src/components/layout-widget.tsx
  ui/widgets/sidebar/src/components/sidebar-component.tsx
Labels: plugin/widget

#1978 Feat/update sidebar connect button and sidebar toggling
  ui/apps/bookmarks/src/components/lists-page.tsx
  ui/design-system-core/src/utils/breakpoints.ts
  ui/widgets/layout/src/components/layout-widget.tsx
  ui/widgets/sidebar/src/components/sidebar-component.tsx
  ui/widgets/top-bar/src/components/topbar-component.tsx
  ui/widgets/top-bar/src/components/topbar.tsx
Labels: plugin/widget

#1980 Refactor: trending widget
  tests/package.json
  typings/src/ui/entry.ts
  ui/apps/akasha/src/components/item-page/common/original-item.tsx
  ui/apps/akasha/src/components/my-feed-page/my-feed-page.tsx
  ui/apps/dev-dashboard/src/components/App.tsx
  ui/apps/moderation/src/components/app.tsx
  ui/apps/moderation/src/pages/transparency-log-item.tsx
  ui/design-system-components/src/components/Entry/EntryBox/index.tsx
  ui/design-system-components/src/components/Entry/EntryCard/index.tsx
  ui/design-system-core/src/components/AppAvatar/AppAvatar.stories.tsx
  ui/design-system-core/src/components/AppAvatar/index.tsx
  ui/design-system-core/src/components/Avatar/Avatar.stories.tsx
  ui/design-system-core/src/components/Avatar/avatar-image.tsx
  ui/design-system-core/src/components/Avatar/index.tsx
  ui/design-system-core/src/components/DuplexButton/index.tsx
  ui/design-system-core/src/components/ProfileAvatarButton/index.tsx
  ui/design-system-core/src/components/SubtitleTextIcon/index.tsx
  ui/design-system-core/src/utils/get-avatar-from-seed.ts
  ui/widgets/top-bar/package.json
  ui/widgets/top-bar/src/components/topbar-component.tsx
  ui/widgets/trending/src/components/cards/index.ts
  ui/widgets/trending/src/components/cards/latest-profiles.tsx
  ui/widgets/trending/src/components/cards/latest-topics.tsx
  ui/widgets/trending/src/components/trending-tag-card.tsx
  ui/widgets/trending/src/components/trending-widget-component.tsx
Labels: plugin/widget

#1981 Did display
  typings/src/ui/icon.ts
  ui/apps/settings-app/src/components/app-routes.tsx
  ui/design-system-components/src/components/Profile/Header/index.tsx
  ui/design-system-core/src/components/CopyToClipboard/index.tsx
  ui/design-system-core/src/components/DidField/DidField.stories.tsx
  ui/design-system-core/src/components/DidField/index.tsx
  ui/design-system-core/src/components/Icon/akasha-icons/didKey.tsx
  ui/design-system-core/src/components/Icon/akasha-icons/eth.tsx
  ui/design-system-core/src/components/Icon/akasha-icons/index.ts
  ui/design-system-core/src/components/Icon/akasha-icons/solana.tsx
  ui/design-system-core/src/utils/did-utils.ts
  ui/widgets/sidebar/src/components/sidebar-component.tsx
Labels: plugin/widget

#1982 Fix: profile image upload flow
  typings/src/ui/profile.ts
  ui/apps/auth-app/src/components/connect/choose-provider.tsx
  ui/apps/profile/src/components/delete-image-and-get-profile-content.tsx
  ui/apps/profile/src/components/pages/edit-profile/index.tsx
  ui/apps/profile/src/components/use-save-image.ts
  ui/design-system-components/src/components/EditProfile/GeneralForm/Header/EditImageModal/index.tsx
  ui/design-system-components/src/components/EditProfile/GeneralForm/Header/index.tsx
Labels: plugin/widget

#1983 Refactor: extensions
  ui/apps/akasha/src/extensions/entry-edit-button.tsx
  ui/apps/akasha/src/extensions/entry-remove-modal.tsx
  ui/apps/akasha/src/extensions/inline-editor/reply-error.tsx
  ui/apps/profile/src/extensions/share-profile-modal.tsx
  ui/design-system-components/src/components/EditProfile/GeneralForm/Header/index.tsx
  ui/widgets/top-bar/src/extensions/feedback-modal.tsx
  ui/widgets/top-bar/src/index.tsx
Labels: plugin/widget

#1987 Initial doc indexing && follow fragment update
  sdk/src/gql/api.new.ts
  sdk/src/profiles/profile-compose-new.graphql
  tools/composedb/models/99_indices.graphql
  typings/src/sdk/graphql-operation-types-new.ts
  ui/hooks/src/generated/hooks-new.ts
Labels: plugin/widget

#1986 Feat: create follow extension point
  ui/apps/profile/src/components/follow-profile/follow-profile.tsx
  ui/apps/profile/src/components/follow-profile/icon-button-follow/icon-button-follow.tsx
  ui/apps/profile/src/components/follow-profile/icon-button-follow/use-followings-of-logged-in-profile.ts
  ui/apps/profile/src/components/follow-profile/index.tsx
  ui/apps/profile/src/components/follow-profile/type.ts
  ui/apps/profile/src/components/pages/edit-profile/delete-image-and-get-profile-content.tsx
  ui/apps/profile/src/components/pages/edit-profile/index.tsx
  ui/apps/profile/src/components/pages/edit-profile/save-and-get-image-obj.tsx
  ui/apps/profile/src/components/pages/edit-profile/use-save-image.ts
  ui/apps/profile/src/components/pages/profile-engagement.tsx
  ui/apps/profile/src/components/pages/profile-info-page.tsx
  ui/apps/profile/src/extensions/follow-profile.tsx
  ui/apps/profile/src/index.tsx
  ui/design-system-components/src/components/Profile/Header/Header.stories.tsx
  ui/design-system-components/src/components/Profile/Header/index.tsx
  ui/design-system-components/src/components/ProfileEngagements/Engagement.tsx
  ui/design-system-components/src/components/ProfileEngagements/Engagements.stories.tsx
  ui/design-system-components/src/components/ProfileEngagements/Entry/index.tsx
  ui/design-system-components/src/components/ProfileEngagements/index.tsx
  ui/design/src/components/ImagePopover/dropzone.tsx
Labels: design-system, plugin/widget

#1985 Fix/profile sidebar widget fixes
  ui/apps/profile/src/components/pages/profile-info-page.tsx
  ui/design-system-components/jest.setup.js
  ui/design-system-components/src/components/Profile/Header/index.tsx
  ui/design-system-components/src/components/TrendingWidgetLoadingCard/index.tsx
  ui/design-system-components/src/components/TrendingWidgetLoadingCard/trending-widget-loading-card.stories.tsx
  ui/design-system-core/src/components/DidField/index.tsx
  ui/design-system-core/src/components/ProfileAvatarButton/__tests__/index.test.tsx
  ui/design-system-core/src/components/ProfileAvatarButton/index.tsx
  ui/design-system-core/src/utils/did-utils.ts
  ui/hooks/src/use-login.new.ts
  ui/widgets/layout/src/components/layout-widget.tsx
  ui/widgets/my-apps/src/no-apps-message.tsx
  ui/widgets/sidebar/src/components/sidebar-component.tsx
  ui/widgets/trending/package.json
  ui/widgets/trending/src/components/cards/latest-profiles.tsx
  ui/widgets/trending/src/components/cards/latest-topics.tsx
  ui/widgets/trending/src/components/trending-widget-component.tsx
Labels: plugin/widget

#1991 Fix: edit profile
  ui/apps/profile/src/components/pages/edit-profile/index.tsx
  ui/design-system-components/src/components/EditProfile/GeneralForm/index.tsx
  ui/design-system-components/src/components/EditProfile/Interests/index.tsx
  ui/design-system-components/src/components/EditProfile/SocialLinks/index.tsx
Labels: plugin/widget

#1993 Chore: remove network card && enable theme switcher
  examples/Readme.md
  examples/ui/akasha.world/public/.gitignore
  ui/apps/settings-app/src/components/option-privacy.tsx
  ui/apps/settings-app/src/components/option-theme.tsx
  ui/widgets/layout/src/components/layout-widget.tsx
Labels: plugin/widget, examples

#1992 Sidebar fixes
  ui/widgets/layout/src/components/layout-widget.tsx
  ui/widgets/sidebar/src/components/sidebar-component.tsx
  ui/widgets/top-bar/src/components/topbar.tsx
Labels: plugin/widget
