Repository AKASHAorg/akasha-core, pull requests merged in 2023-06, with the labels that each got.

#1938 Feat: connect new hooks with profile info and engagements pages
  ui/apps/profile/src/components/App.tsx
  ui/apps/profile/src/components/__tests__/index.spec.tsx
  ui/apps/profile/src/components/__tests__/profile.spec.tsx
  ui/apps/profile/src/components/app-routes.tsx
  ui/apps/profile/src/components/moderator-label.tsx
  ui/apps/profile/src/components/pages/edit-profile.tsx
  ui/apps/profile/src/components/pages/index.tsx
  ui/apps/profile/src/components/pages/page-by-type.tsx
  ui/apps/profile/src/components/pages/profile-engagement.tsx
  ui/apps/profile/src/components/pages/profile-info-page.tsx
  ui/apps/profile/src/components/pages/profile-page.tsx
  ui/apps/profile/src/components/pages/profile.tsx
  ui/apps/profile/src/components/profile-edit-page.tsx
  ui/apps/profile/src/components/profile-stats-presentation.tsx
  ui/apps/profile/src/components/routes/index.tsx
  ui/apps/profile/src/index.tsx
  ui/apps/profile/src/routes.ts
  ui/design-system-components/src/components/EditProfile/SocialLinks/index.tsx
  ui/design-system-components/src/components/Profile/Header/index.tsx
  ui/design-system-components/src/components/Profile/Links/index.tsx
  ui/design-system-components/src/components/Profile/Stats/index.tsx
  ui/design-system-components/src/components/ProfileEngagements/Engagement.tsx
  ui/design-system-components/src/components/ProfileEngagements/Entry/index.tsx
  ui/design-system-components/src/components/ProfileEngagements/index.tsx
  ui/design-system-components/src/components/types/common.types.ts
  ui/design-system-components/src/utils/get-icon-from-link.ts
  ui/design-system-components/src/utils/getIconFromType.ts
  ui/design-system-components/src/utils/getLinkFromType.ts
Labels: plugin/widget

#1935 Refactor: pagination
  ui/design-system-core/src/components/Pagination/index.tsx
  ui/design-system-core/src/components/Pagination/page-bubble.tsx
Labels: plugin/widget

#1936 Replace old DS components in social app
  ui/apps/akasha/package.json
  ui/apps/akasha/src/components/app-routes.tsx
  ui/apps/akasha/src/components/app.tsx
  ui/apps/akasha/src/components/feed-page/feed-page.tsx
  ui/apps/akasha/src/components/my-feed-page/my-feed-page.tsx
  ui/apps/akasha/src/components/profile-feed-page/profile-feed-page.tsx
  ui/apps/akasha/src/components/tag-feed-page/tag-feed-page.tsx
  ui/apps/akasha/src/extensions/inline-editor/base.tsx
  ui/apps/akasha/src/extensions/inline-editor/post-editor/index.tsx
  ui/apps/akasha/src/extensions/inline-editor/reply-editor/index.tsx
  ui/design-system-components/src/components/Editor/index.tsx
  ui/design-system-components/src/components/Entry/EntryPublishErrorCard/EntryPublishErrorCard.stories.tsx
  ui/design-system-components/src/components/Entry/EntryPublishErrorCard/__tests__/index.test.tsx
  ui/design-system-components/src/components/Entry/EntryPublishErrorCard/index.tsx
  ui/design-system-components/src/components/ImageGallery/index.tsx
  ui/design-system-components/src/components/LoginCTACard/LoginCTACard.stories.tsx
  ui/design-system-components/src/components/LoginCTACard/__tests__/index.test.tsx
  ui/design-system-components/src/components/LoginCTACard/index.tsx
  ui/design-system-components/src/components/MyFeedCard/index.tsx
  ui/design-system-components/src/components/ReflectionEditor/index.tsx
  ui/design-system-components/src/components/StartCard/StartCard.stories.tsx
  ui/design-system-components/src/components/StartCard/__tests__/index.test.tsx
  ui/design-system-components/src/components/StartCard/index.tsx
  ui/design-system-components/src/components/TagProfileCard/index.tsx
  ui/design-system-components/src/utils/clickAway.ts
  ui/design-system-core/package.json
  ui/design-system-core/src/components/BasicCardBox/index.tsx
  ui/design-system-core/src/utils/helmet.ts
Labels: plugin/widget

#1939 Feat/list app start page
  build/integrations_bucket.json
  build/integrations_bucket_prod.json
  examples/ui/ethereum.world/src/index.ts
  examples/ui/ethereum.world/src/registry-overrides.ts
  package.json
  tests/ethereum-world/cypress/integration/bookmarks.spec.ts
  ui/apps/README.md
  ui/apps/bookmarks/DESCRIPTION.md
  ui/apps/bookmarks/README.md
  ui/apps/bookmarks/package.json
  ui/apps/bookmarks/src/components/App.tsx
  ui/apps/bookmarks/src/components/__tests__/bookmarks-page.spec.tsx
  ui/apps/bookmarks/src/components/__tests__/lists-page.spec.tsx
  ui/apps/bookmarks/src/components/app-routes.tsx
  ui/apps/bookmarks/src/components/index.tsx
  ui/apps/bookmarks/src/components/lists-page.tsx
  ui/apps/bookmarks/src/extensions/entry-card-save-button.tsx
  ui/apps/bookmarks/src/index.tsx
  ui/apps/bookmarks/src/routes.ts
  ui/apps/notifications/src/components/newComponents/CustomizeNotificationPage.tsx
  ui/apps/notifications/src/components/newComponents/NotificationsPage.tsx
  ui/apps/routing/src/index.tsx
  ui/apps/search/src/components/routes/search-page.tsx
  ui/design-system-components/src/components/DefaultEmptyCard/index.tsx
  ui/design-system-components/src/components/EntryList/elementIntersectionObserver.ts
  ui/design-system-components/src/components/EntryList/index.tsx
  ui/design-system-components/src/components/ListAppTopbar/ListAppTopbar.stories.tsx
  ui/design-system-components/src/components/ListAppTopbar/index.tsx
  ui/design-system-components/src/components/SearchAppFilter/index.tsx
  ui/design-system-core/src/components/Helmet/index.tsx
  ui/design-system-core/src/components/NotificationsCard/index.tsx
  ui/design-system-core/src/components/ScrollTopButton/ScrollTopButton.stories.tsx
  ui/design-system-core/src/components/ScrollTopButton/index.tsx
  ui/design-system-core/src/components/ScrollTopWrapper/index.tsx
  ui/lib/feed/src/components/entry-feed.tsx
  ui/lib/feed/src/components/entry-renderer.tsx
  ui/widgets/layout/src/components/layout-widget.tsx
  workspace.json
Labels: plugin/widget, examples

#1946 refactor tw:globals, add css modules
  examples/ui/ethereum.world/public/css/global.css
  examples/ui/ethereum.world/public/index.dev.html
  examples/ui/ethereum.world/public/index.html
  examples/ui/ethereum.world/src/index.ts
  sdk/src/gql/.eslintignore
  typings/src/sdk/.eslintignore
  ui/design-system-core/package.json
  ui/design-system-core/src/twind/globals.css
  ui/design-system-core/src/twind/main.css
  ui/webpack.config.js
Labels: plugin/widget, examples

#1949 Feat: enhance tooltip component
  ui/apps/app-center/src/components/pages/explore-page.tsx
  ui/design-system-core/src/components/Tooltip/Tooltip.stories.tsx
  ui/design-system-core/src/components/Tooltip/index.tsx
Labels: plugin/widget

#1948 Update apps
  ui/apps/legal/package.json
  ui/apps/legal/src/components/App.tsx
  ui/apps/legal/src/components/routes/code-of-conduct.tsx
  ui/apps/legal/src/components/routes/developer-guidelines.tsx
  ui/apps/legal/src/components/routes/index.tsx
  ui/apps/legal/src/components/routes/privacy-policy.tsx
  ui/apps/legal/src/components/routes/terms-of-service.tsx
  ui/apps/legal/src/components/routes/terms-of-use.tsx
  ui/apps/messaging/package.json
  ui/apps/messaging/src/components/App.tsx
  ui/apps/messaging/src/components/app-routes.tsx
  ui/apps/messaging/src/components/chat-page.tsx
  ui/apps/messaging/src/components/inbox/inbox-page.tsx
  ui/apps/messaging/src/components/settings-page.tsx
  ui/apps/messaging/src/extensions/mini-profile-message-button.tsx
  ui/apps/messaging/src/extensions/profile-message-button.tsx
  ui/apps/settings-app/src/components/app-routes.tsx
  ui/apps/settings-app/src/components/app.tsx
  ui/design-system-components/src/components/BubbleCard/BubbleCard.stories.tsx
  ui/design-system-components/src/components/BubbleCard/__tests__/index.test.tsx
  ui/design-system-components/src/components/BubbleCard/index.tsx
  ui/design-system-components/src/components/ChatAreaHeader/ChatAreaHeader.stories.tsx
  ui/design-system-components/src/components/ChatAreaHeader/__tests__/index.test.tsx
  ui/design-system-components/src/components/ChatAreaHeader/index.tsx
  ui/design-system-components/src/components/ChatEditor/index.tsx
  ui/design-system-components/src/components/ChatList/ChatList.stories.tsx
  ui/design-system-components/src/components/ChatList/__tests__/index.test.tsx
  ui/design-system-components/src/components/ChatList/index.tsx
  ui/design-system-components/src/components/LoginCTACard/index.tsx
  ui/design-system-components/src/components/MessageContactCard/MessageAppContactCard.stories.tsx
  ui/design-system-components/src/components/MessageContactCard/__tests__/index.test.tsx
  ui/design-system-components/src/components/MessageContactCard/index.tsx
  ui/design-system-components/src/components/StartCard/index.tsx
  ui/design-system-core/package.json
  ui/design-system-core/src/components/MarkdownCard/MarkdownCard.stories.tsx
  ui/design-system-core/src/components/MarkdownCard/__tests__/index.test.tsx
  ui/design-system-core/src/components/MarkdownCard/index.tsx
  ui/design/package.json
  ui/design/src/components/ICDetailCard/ic-detail-card-fields/description.tsx
  ui/design/src/components/MdCard/MdCard.stories.tsx
  ui/design/src/components/MdCard/index.tsx
  ui/design/src/index.ts
  yarn.lock
Labels: design-system, plugin/widget

#1951 Refactor/sign in up
  examples/ui/ethereum.world/public/index.dev.html
  examples/ui/ethereum.world/public/index.html
  examples/ui/ethereum.world/src/index.ts
  sdk/src/common/web3.connector.ts
  tsconfig.json
  typings/src/sdk/common.ts
  typings/src/sdk/events.ts
  typings/src/ui/icon.ts
  ui/apps/auth-app/package.json
  ui/apps/auth-app/src/components/__tests__/connect.spec.tsx
  ui/apps/auth-app/src/components/app-routes.tsx
  ui/apps/auth-app/src/components/app.tsx
  ui/apps/auth-app/src/components/connect/boxed-icon.tsx
  ui/apps/auth-app/src/components/connect/choose-provider.tsx
  ui/apps/auth-app/src/components/connect/connect-wallet.tsx
  ui/apps/auth-app/src/components/connect/index.tsx
  ui/apps/auth-app/src/components/connect/indicator-dots.tsx
  ui/apps/auth-app/src/components/connect/invite-code.obsolete.tsx
  ui/apps/auth-app/src/components/connect/invite-code.tsx
  ui/apps/auth-app/src/components/connect/styles.ts
  ui/apps/auth-app/src/components/connect/web3-connect-card.tsx
  ui/apps/auth-app/src/components/welcome/index.tsx
  ui/apps/auth-app/src/routes.ts
  ui/apps/auth-app/src/utils/connect.ts
  ui/apps/auth-app/src/utils/getInjectedProvider.ts
  ui/apps/routing/src/index.tsx
  ui/design-system-components/src/components/ReflectionEditor/index.tsx
  ui/design-system-core/src/components/BasicCardBox/index.tsx
  ui/design-system-core/src/components/Box/index.tsx
  ui/design-system-core/src/components/Icon/akasha-icons/index.ts
  ui/design-system-core/src/components/Icon/akasha-icons/metamask.tsx
  ui/design-system-core/src/components/Icon/akasha-icons/walletconnect.tsx
  ui/design-system-core/src/components/Icon/index.tsx
  ui/design-system-core/src/components/ModalContainer/index.tsx
  ui/design-system-core/src/twind/globals.css
  ui/design-system-core/src/twind/main.css
  ui/hooks/src/__tests__/use-injected-provider.spec.ts
  ui/hooks/src/__tests__/utils.tsx
  ui/hooks/src/index.ts
  ui/hooks/src/use-analytics.tsx
  ui/hooks/src/use-injected-provider.ts
  ui/hooks/src/use-login.ts
  ui/hooks/src/use-network-state.ts
  ui/hooks/src/utils/getProviderDetails.tsx
  ui/hooks/tsconfig.json
  ui/widgets/layout/src/components/layout-widget.tsx
  yarn.lock
Labels: plugin/widget, examples

#1952 chore(): remove unused components from sign-in
  ui/apps/auth-app/src/components/__tests__/connect.spec.tsx
  ui/apps/auth-app/src/components/__tests__/welcome.spec.tsx
  ui/apps/auth-app/src/components/app-routes.tsx
  ui/apps/auth-app/src/components/connect/invite-code.obsolete.tsx
  ui/apps/auth-app/src/components/welcome/index.tsx
  ui/apps/auth-app/src/utils/connect.ts
Labels: plugin/widget

#1950 Feat: create install and uninstall app
  ui/apps/app-center/src/components/pages/apps-page.tsx
  ui/apps/app-center/src/components/pages/explore-page.tsx
  ui/apps/app-center/src/components/pages/info-page.tsx
  ui/apps/app-center/src/components/pages/my-apps-page.tsx
  ui/apps/app-center/src/components/pages/my-widgets-page.tsx
  ui/apps/app-center/src/extensions/install-app.tsx
  ui/apps/app-center/src/index.tsx
  ui/design-system-components/src/components/AppInfo/AppInfo.stories.tsx
  ui/design-system-components/src/components/AppInfo/duplex-app-icon.tsx
  ui/design-system-components/src/components/AppInfo/index.tsx
  ui/design-system-components/src/components/AppList/index.tsx
  ui/design-system-components/src/components/DevInfo/index.tsx
  ui/design-system-components/src/components/EditProfile/GeneralForm/Header/EditImageModal/index.tsx
  ui/design-system-components/src/components/InstallApp/InstallApp.stories.tsx
  ui/design-system-components/src/components/InstallApp/error-icon.tsx
  ui/design-system-components/src/components/InstallApp/index.tsx
  ui/design-system-components/src/components/InstallApp/install-icon.tsx
  ui/design-system-components/src/components/InstallApp/success-icon.tsx
  ui/design-system-components/src/components/Profile/placeholders/ProfileLoading.tsx
  ui/design-system-core/src/components/AppIcon/AppIcon.stories.tsx
  ui/design-system-core/src/components/AppIcon/IconByType.tsx
  ui/design-system-core/src/components/AppIcon/index.tsx
  ui/design-system-core/src/components/AutoComplete/index.tsx
  ui/design-system-core/src/components/Button/index.tsx
  ui/design-system-core/src/components/List/__tests__/index.test.tsx
  ui/design-system-core/src/components/List/index.tsx
  ui/design-system-core/src/components/Menu/__tests__/index.test.tsx
Labels: plugin/widget

#1954 Feat: rename app-center into akasha-verse
  examples/ui/ethereum.world/src/index.ts
  examples/ui/ethereum.world/src/registry-overrides.ts
  package.json
  tests/ethereum-world/cypress/integration/akasha-verse.spec.ts
  tsconfig.json
  tsconfig.typedoc.json
  ui/apps/README.md
  ui/apps/akasha-verse/.eslintrc.cjs
  ui/apps/akasha-verse/DESCRIPTION.md
  ui/apps/akasha-verse/README.md
  ui/apps/akasha-verse/jest.config.cjs
  ui/apps/akasha-verse/jest.setup.js
  ui/apps/akasha-verse/package.json
  ui/apps/akasha-verse/src/components/App.tsx
  ui/apps/akasha-verse/src/components/__tests__/apps-page.spec.tsx
  ui/apps/akasha-verse/src/components/__tests__/explore-page.spec.tsx
  ui/apps/akasha-verse/src/components/__tests__/my-apps-page.spec.tsx
  ui/apps/akasha-verse/src/components/__tests__/my-widgets-page.spec.tsx
  ui/apps/akasha-verse/src/components/app-routes.tsx
  ui/apps/akasha-verse/src/components/index.tsx
  ui/apps/akasha-verse/src/components/pages/apps-page.tsx
  ui/apps/akasha-verse/src/components/pages/explore-page.tsx
  ui/apps/akasha-verse/src/components/pages/info-page.tsx
  ui/apps/akasha-verse/src/components/pages/master-page.tsx
  ui/apps/akasha-verse/src/components/pages/my-apps-page.tsx
  ui/apps/akasha-verse/src/components/pages/my-widgets-page.tsx
  ui/apps/akasha-verse/src/extensions/install-app.tsx
  ui/apps/akasha-verse/src/hidden-integrations.ts
  ui/apps/akasha-verse/src/index.tsx
  ui/apps/akasha-verse/src/routes.ts
  ui/apps/akasha-verse/tsconfig.json
  ui/apps/akasha-verse/webpack.config.cjs
  ui/apps/articles/src/components/onboarding/onboarding-steps.tsx
  ui/apps/dev-dashboard/src/components/onboarding/onboarding-steps.tsx
  ui/apps/notifications/src/components/newComponents/CustomizeNotificationPage.tsx
  ui/widgets/my-apps/README.md
  ui/widgets/my-apps/package.json
  ui/widgets/my-apps/src/MyAppsWidget.tsx
  ui/widgets/my-apps/src/index.ts
  ui/widgets/sidebar/README.md
  ui/widgets/sidebar/src/components/sidebar-component.tsx
  workspace.json
Labels: plugin/widget, examples

#1957 Fix ref errors
  ui/design-system-core/src/components/Box/index.tsx
  ui/design-system-core/src/components/ProfileAvatarButton/index.tsx
Labels: plugin/widget

#1958 Fix: optional check registered
  ui/apps/auth-app/src/components/connect/connect-wallet.tsx
  ui/apps/auth-app/src/components/connect/index.tsx
  ui/hooks/src/use-login.ts
Labels: plugin/widget

#1959 Fix/sign in styling
  examples/ui/ethereum.world/public/index.dev.html
  examples/ui/ethereum.world/public/index.html
  ui/apps/akasha/jest.setup.js
  ui/apps/auth-app/src/components/connect/boxed-icon.tsx
  ui/apps/auth-app/src/components/connect/choose-provider.tsx
  ui/apps/auth-app/src/components/connect/connect-wallet.tsx
  ui/apps/auth-app/src/components/connect/web3-connect-card.tsx
  ui/design-system-core/src/components/BasicCardBox/index.tsx
  ui/hooks/src/index.ts
  ui/hooks/src/use-login.new.ts
  ui/hooks/src/use-login.ts
  ui/hooks/src/use-network-state.ts
  ui/hooks/src/utils/provider-hoc.tsx
  ui/widgets/layout/src/components/layout-widget.tsx
Labels: plugin/widget, examples

#1960 Esm fix v1
  .circleci/config.yml
  .circleci/continuation.yml
  .env.example
  .eslintrc.js
  .github/workflows/cypress.staging.yml
  build/integrations_bucket_store.js
  package.json
  sdk/package.json
  sdk/src/common/web3.connector.ts
  sdk/src/gql/api.new.ts
  sdk/src/profiles/profile-compose-new.graphql
  sdk/webpack.config.cjs
  tools/composedb/build/2_models.json
  tools/composedb/build/6_main_blocks.json
  tools/composedb/build/8_blocks.json
  tools/composedb/build/merged-composite.json
  tools/composedb/models/6_main_blocks.graphql
  tools/composedb/models/7_blocks.graphql
  tools/composedb/models/8_blocks.graphql
  tools/composedb/src/create-composite.mjs
  tsconfig.json
  typings/src/sdk/auth.ts
  typings/src/sdk/graphql-operation-types-new.ts
  ui/design-system-core/jest.setup.js
  ui/design-system-core/package.json
  ui/hooks/src/generated/hooks-new.ts
  workspace.json
  yarn.lock
Labels: plugin/widget

#1961 Update apps2
  ui/apps/akasha/src/components/feed-page/feed-page.tsx
  ui/apps/akasha/src/components/item-page/common/base-page.tsx
  ui/apps/notifications/package.json
  ui/apps/notifications/src/components/App.tsx
  ui/apps/notifications/src/components/__tests__/customize-notification-page.spec.tsx
  ui/apps/notifications/src/components/__tests__/welcome-page.spec.tsx
  ui/apps/notifications/src/components/app-routes.tsx
  ui/apps/notifications/src/components/notifications-page.tsx
  ui/apps/notifications/src/components/pages/customize-notification-page.tsx
  ui/apps/notifications/src/components/pages/notification-page.tsx
  ui/apps/notifications/src/components/pages/welcome-page.tsx
  ui/apps/search/package.json
  ui/apps/search/src/components/App.tsx
  ui/apps/search/src/components/routes/onboarding-page.tsx
  ui/design-system-components/src/components/NotificationsCard/ProfileAvatarNotificationApp.tsx
  ui/design-system-components/src/components/NotificationsCard/__tests__/index.test.tsx
  ui/design-system-components/src/components/NotificationsCard/index.tsx
  ui/design-system-components/src/components/NotificationsCard/notifications-card.stories.tsx
  ui/design-system-components/src/components/OnboardingStartCard/index.tsx
  ui/design-system-components/src/components/OnboardingStartCard/onboarding-start-card.stories.tsx
  ui/design-system-components/src/components/OnboardingSuggestionsCard/TagButton.tsx
  ui/design-system-components/src/components/OnboardingSuggestionsCard/index.tsx
  ui/design-system-components/src/components/OnboardingSuggestionsCard/onboarding-suggestions-card.stories.tsx
  ui/widgets/trending/src/components/trending-widget-component.tsx
Labels: plugin/widget

#1965 chore(): fix sidebar bg, fix theme change/select
  examples/ui/ethereum.world/public/.gitignore
  examples/ui/ethereum.world/public/index.dev.html
  examples/ui/ethereum.world/public/index.html
  examples/ui/ethereum.world/public/scripts/theme.js
  ui/widgets/layout/src/components/layout-widget.tsx
Labels: plugin/widget, examples

#1967 change single-spa-react options
  ui/apps/akasha-verse/package.json
  ui/apps/akasha-verse/src/components/index.tsx
  ui/apps/akasha-verse/src/extensions/install-app.tsx
  ui/apps/akasha/src/components/index.tsx
  ui/apps/akasha/src/extensions/entry-edit-button.tsx
  ui/apps/akasha/src/extensions/entry-remove-modal.tsx
  ui/apps/akasha/src/extensions/inline-editor/index.tsx
  ui/apps/articles/package.json
  ui/apps/articles/src/components/index.tsx
  ui/apps/articles/src/extensions/manage-collaborators-modal.tsx
  ui/apps/auth-app/src/components/index.tsx
  ui/apps/bookmarks/package.json
  ui/apps/bookmarks/src/components/index.tsx
  ui/apps/bookmarks/src/extensions/entry-card-save-button.tsx
  ui/apps/dev-dashboard/package.json
  ui/apps/dev-dashboard/src/components/index.tsx
  ui/apps/dev-dashboard/src/extensions/delete-dev-key.tsx
  ui/apps/legal/src/components/index.tsx
  ui/apps/messaging/package.json
  ui/apps/messaging/src/components/index.tsx
  ui/apps/messaging/src/extensions/mini-profile-message-button.tsx
  ui/apps/messaging/src/extensions/profile-message-button.tsx
  ui/apps/moderation/src/components/index.tsx
  ui/apps/notifications/src/components/index.tsx
  ui/apps/profile/src/components/index.tsx
  ui/apps/profile/src/extensions/login-modal.tsx
  ui/apps/profile/src/extensions/share-profile-modal.tsx
  ui/apps/search/src/components/index.tsx
  ui/apps/settings-app/src/components/index.tsx
  ui/lib/feed/src/components/index.tsx
  ui/widgets/analytics/src/components/index.tsx
  ui/widgets/layout/src/components/index.tsx
  ui/widgets/mini-profile/src/MiniProfileWidget.tsx
  ui/widgets/my-apps/src/my-apps-widget.tsx
  ui/widgets/sidebar/src/components/index.tsx
  ui/widgets/top-bar/src/components/index.tsx
  ui/widgets/top-bar/src/extensions/feedback-modal.tsx
  ui/widgets/trending/src/components/index.tsx
  yarn.lock
Labels: plugin/widget

#1968 Feat/dummy data refactor
  ui/apps/articles/src/components/dummy-data.ts
  ui/design-system-core/src/utils/dummy-data.ts
  ui/design/src/utils/dummy-data.ts
Labels: design-system, plugin/widget

#1970 Feat: connect latest hooks with profile app
  ui/apps/akasha-verse/src/components/app-routes.tsx
  ui/apps/auth-app/src/components/connect/index.tsx
  ui/apps/profile/src/components/app-routes.tsx
  ui/apps/profile/src/components/pages/edit-profile.tsx
  ui/apps/profile/src/components/pages/profile-info-page.tsx
  ui/apps/profile/src/components/pages/profile-page.tsx
  ui/apps/profile/src/components/saveMedia.ts
  ui/design-system-components/src/components/AppInfo/duplex-app-button.tsx
  ui/design-system-components/src/components/AppInfo/duplex-app-icon.tsx
  ui/design-system-components/src/components/AppInfo/index.tsx
  ui/design-system-components/src/components/AppList/index.tsx
  ui/design-system-components/src/components/EditProfile/GeneralForm/Header/Header.stories.tsx
  ui/design-system-components/src/components/EditProfile/GeneralForm/Header/index.tsx
  ui/design-system-components/src/components/EditProfile/GeneralForm/index.tsx
  ui/design-system-components/src/components/Profile/Header/index.tsx
  ui/design-system-components/src/components/Profile/Stats/index.tsx
  ui/design-system-core/src/components/AppIcon/index.tsx
  ui/design-system-core/src/components/Button/ButtonIcon.tsx
  ui/design-system-core/src/components/Text/index.tsx
  ui/hooks/src/utils/media-utils.ts
  ui/widgets/my-apps/src/my-apps-widget.tsx
  ui/widgets/sidebar/src/components/sidebar-new.tsx
Labels: plugin/widget

#1971 Feat/topbar and toggle fixes
  ui/apps/notifications/src/components/pages/customize-notification-page.tsx
  ui/apps/notifications/src/components/pages/notifications-page.tsx
  ui/design-system-core/src/components/Toggle/Toggle.stories.tsx
  ui/design-system-core/src/components/Toggle/index.tsx
  ui/widgets/top-bar/src/components/Topbar.tsx
  ui/widgets/top-bar/src/components/topbar-component.tsx
Labels: plugin/widget

#1973 Refactor: app profile
  ui/apps/profile/src/components/__tests__/profile.spec.tsx
  ui/apps/profile/src/components/app-routes.tsx
  ui/apps/profile/src/components/pages/edit-profile/index.tsx
  ui/apps/profile/src/components/pages/profile-info-page.tsx
  ui/apps/profile/src/components/pages/profile-page.tsx
  ui/apps/profile/src/components/saveMedia.ts
  ui/apps/profile/src/components/utils.tsx
  ui/design-system-components/src/components/AppList/index.tsx
  ui/design-system-components/src/components/EditProfile/GeneralForm/Header/index.tsx
  ui/design-system-components/src/components/EditProfile/GeneralForm/index.tsx
  ui/design-system-components/src/components/EditProfile/types.ts
  ui/hooks/src/index.ts
  ui/hooks/src/utils/media-utils.ts
Labels: plugin/widget
