Repository AKASHAorg/akasha-core, pull requests merged in 2023-05, with the labels that each got.

#1923 Rename composedb models, attributes and redeploy
  .graphqlconfig
  graphql.config.yml
  sdk/src/gql/api.new.ts
  sdk/src/posts/beam-compose-new.graphql
  sdk/src/posts/comment-compose-new.graphql
  sdk/src/posts/reflect-compose-new.graphql
  tools/composedb/build/0_application.json
  tools/composedb/build/0_integration.json
  tools/composedb/build/0_models.json
  tools/composedb/build/1_application.json
  tools/composedb/build/1_beams.json
  tools/composedb/build/1_follow.json
  tools/composedb/build/1_integration.json
  tools/composedb/build/1_posts.json
  tools/composedb/build/2_application.json
  tools/composedb/build/2_beams.json
  tools/composedb/build/2_integration.json
  tools/composedb/build/2_models.json
  tools/composedb/build/2_posts.json
  tools/composedb/build/3_beams.json
  tools/composedb/build/3_posts.json
  tools/composedb/build/4_beams.json
  tools/composedb/build/4_posts.json
  tools/composedb/build/5_beams.json
  tools/composedb/build/5_posts.json
  tools/composedb/build/merged-composite.json
  tools/composedb/lib/runtime-composite.js
  tools/composedb/lib/runtime-composite.json
  tools/composedb/lib/schema.graphql
  tools/composedb/models/1_application.graphql
  tools/composedb/models/1_beams.graphql
  tools/composedb/models/1_integration.graphql
  tools/composedb/models/2_application.graphql
  tools/composedb/models/2_beams.graphql
  tools/composedb/models/2_integration.graphql
  tools/composedb/models/2_posts.graphql
  tools/composedb/models/3_beams.graphql
  tools/composedb/models/3_posts.graphql
  tools/composedb/models/4_beams.graphql
  tools/composedb/models/4_posts.graphql
  tools/composedb/models/5_beams.graphql
  tools/composedb/models/5_posts.graphql
  tools/composedb/models/base/0_application.graphql
  tools/composedb/src/create-composite.mjs
  tools/composedb/src/merge-composites.mjs
  typings/src/sdk/graphql-operation-types-new.ts
  typings/src/sdk/graphql-resolver-types-new.ts
  typings/src/sdk/graphql-types-new.ts
  ui/hooks/src/generated/hooks-new.ts
Labels: plugin/widget

#1927 Feat: new explore page
  ui/apps/app-center/package.json
  ui/apps/app-center/src/components/__tests__/explore-page.spec.tsx
  ui/apps/app-center/src/components/pages/explore-page.tsx
  ui/design-system-components/src/components/AppList/AppList.stories.tsx
  ui/design-system-components/src/components/AppList/index.tsx
  ui/design-system-components/src/components/ProfileEngagements/Entry/EmptyEntry/index.tsx
  ui/design-system-components/src/components/ProfileEngagements/Entry/EntryError/index.tsx
  ui/design-system-core/src/components/InfoCard/InfoCard.stories.tsx
  ui/design-system-core/src/components/InfoCard/index.tsx
  ui/design-system-core/src/components/Text/index.tsx
  ui/design-system-core/src/static/img/akasha-verse.webp
  ui/widgets/layout/src/components/layout-widget.tsx
Labels: plugin/widget

#1925 Fix: failing e2e tests
  .github/workflows/cypress.staging.yml
  tests/ethereum-world/cypress.config.ts
  tests/ethereum-world/cypress/integration/bookmarks.spec.ts
  tests/ethereum-world/cypress/integration/feedpage.spec.ts
  tests/ethereum-world/cypress/integration/integration-center.spec.ts
  tests/ethereum-world/cypress/integration/legalpages.spec.ts
  tests/ethereum-world/cypress/integration/notifications.spec.ts
  tests/ethereum-world/cypress/integration/profilepage.spec.ts
  tests/ethereum-world/cypress/integration/searchpage.spec.ts
  tests/ethereum-world/cypress/integration/sign-in-up.spec.ts
  tests/ethereum-world/cypress/integration/tagpage.spec.ts
  tests/ethereum-world/cypress/pull-request.json
  tests/ethereum-world/cypress/utils/constants.ts
  tests/package.json
  ui/apps/notifications/src/components/newComponents/WelcomePage.tsx
  ui/design-system-components/src/components/Entry/EntryBox/card-header-menu.tsx
  ui/design-system-components/src/components/Entry/EntryBox/index.tsx
  ui/design-system-core/src/components/Card/index.tsx
  ui/design-system-core/src/components/Stack/index.tsx
Labels: plugin/widget, run-e2e

#1928 Feat: report item ui
  typings/src/ui/moderation.ts
  ui/apps/moderation/src/components/app-routes.tsx
  ui/apps/moderation/src/components/common/category-pills.tsx
  ui/apps/moderation/src/components/common/subtitle-renderer.tsx
  ui/apps/moderation/src/components/overview/hello-moderator-card.tsx
  ui/apps/moderation/src/components/report/confirmation.tsx
  ui/apps/moderation/src/components/report/index.tsx
  ui/apps/moderation/src/components/report/report-item.tsx
  ui/apps/moderation/src/pages/application-status.tsx
  ui/apps/moderation/src/pages/become-moderator.tsx
  ui/apps/moderation/src/pages/dashboard.tsx
  ui/apps/moderation/src/pages/edit-categories.tsx
  ui/apps/moderation/src/pages/index.tsx
  ui/apps/moderation/src/pages/moderator-detail.tsx
  ui/apps/moderation/src/pages/moderators.tsx
  ui/apps/moderation/src/pages/modify-application.tsx
  ui/apps/moderation/src/pages/overview.tsx
  ui/apps/moderation/src/pages/report-item.tsx
  ui/apps/moderation/src/routes.ts
  ui/apps/moderation/src/utils/format-date.ts
  ui/apps/moderation/src/utils/index.ts
  ui/apps/moderation/src/utils/reasons.ts
  ui/apps/moderation/src/utils/subtitles.ts
  ui/apps/moderation/src/utils/tenure-info.ts
  ui/design-system-components/src/components/EditProfile/Interests/index.tsx
  ui/design-system-core/src/components/Accordion/index.tsx
  ui/design-system-core/src/components/Button/ButtonIcon.tsx
  ui/design-system-core/src/components/Button/getTextClasses.ts
  ui/design-system-core/src/components/Button/index.tsx
  ui/design-system-core/src/components/Pill/__tests__/index.test.tsx
  ui/design-system-core/src/components/Pill/index.tsx
  ui/hooks/src/index.ts
  ui/hooks/src/use-moderation-categories.ts
Labels: plugin/widget, run-e2e

#1929 Feat: create new AkashaVerse tab
  ui/apps/app-center/src/components/app-routes.tsx
  ui/apps/app-center/src/components/pages/explore-page.tsx
  ui/apps/app-center/src/components/pages/getTabIndexFromType.ts
  ui/apps/app-center/src/components/pages/page-by-type.tsx
  ui/apps/moderation/src/components/dashboard/index.tsx
  ui/apps/moderation/src/pages/moderators.tsx
  ui/apps/notifications/src/components/newComponents/NotificationsPage.tsx
  ui/apps/profile/src/components/pages/edit-profile.tsx
  ui/design-system-components/src/components/ProfileEngagements/index.tsx
  ui/design-system-components/src/components/ProfileEngagements/placeholders/ProfileEngagementLoading.tsx
  ui/design-system-core/src/components/Tab/Tab.stories.tsx
  ui/design-system-core/src/components/Tab/__tests__/index.test.tsx
  ui/design-system-core/src/components/Tab/index.tsx
Labels: plugin/widget

#1930 Fix: failing e2e tests for AkashaVerse
  tests/ethereum-world/cypress/integration/integration-center.spec.ts
  ui/apps/app-center/src/components/pages/explore-page.tsx
Labels: plugin/widget, run-e2e

#1931 Feat: create new my apps, apps and my widgets page
  .github/workflows/cypress.staging.yml
  ui/apps/app-center/src/components/__tests__/apps-page.spec.tsx
  ui/apps/app-center/src/components/__tests__/my-widgets-page.spec.tsx
  ui/apps/app-center/src/components/app-routes.tsx
  ui/apps/app-center/src/components/nav-button.tsx
  ui/apps/app-center/src/components/pages/apps-page.tsx
  ui/apps/app-center/src/components/pages/getTabIndexFromType.ts
  ui/apps/app-center/src/components/pages/master-page.tsx
  ui/apps/app-center/src/components/pages/my-apps-page.tsx
  ui/apps/app-center/src/components/pages/my-widgets-page.tsx
  ui/apps/app-center/src/components/pages/page-by-type.tsx
  ui/design-system-core/src/components/Tab/index.tsx
  ui/design-system-core/src/components/TabList/index.tsx
Labels: plugin/widget, run-e2e

#1917 Feat: assign new admin
  ui/apps/moderation/src/components/app-routes.tsx
  ui/apps/moderation/src/components/dashboard/assign-admin.tsx
  ui/apps/moderation/src/components/dashboard/index.tsx
  ui/apps/moderation/src/components/dashboard/moderator-list-item.tsx
  ui/apps/moderation/src/extensions/moderate-modal.tsx
  ui/apps/moderation/src/extensions/report-modal.tsx
  ui/apps/moderation/src/pages/assign-admin.tsx
  ui/apps/moderation/src/pages/dashboard.tsx
  ui/apps/moderation/src/pages/index.tsx
  ui/apps/moderation/src/pages/moderator-detail.tsx
  ui/apps/moderation/src/pages/moderators.tsx
  ui/apps/moderation/src/pages/transparency-log.tsx
  ui/apps/moderation/src/routes.ts
  ui/apps/moderation/src/utils/dummy-data.ts
  ui/design-system-core/src/components/AutoComplete/index.tsx
Labels: plugin/widget, run-e2e

#1932 Feat: review moderator applications
  typings/src/ui/moderation.ts
  ui/apps/moderation/src/components/__tests__/content-card.spec.tsx
  ui/apps/moderation/src/components/__tests__/content-tab.spec.tsx
  ui/apps/moderation/src/components/app-routes.tsx
  ui/apps/moderation/src/components/common/page-header.tsx
  ui/apps/moderation/src/components/content-card/content.tsx
  ui/apps/moderation/src/components/content-card/entry-data-card.tsx
  ui/apps/moderation/src/components/content-card/explanations-box-entry.tsx
  ui/apps/moderation/src/components/content-card/explanations-box.tsx
  ui/apps/moderation/src/components/content-card/index.tsx
  ui/apps/moderation/src/components/content-tab/index.tsx
  ui/apps/moderation/src/components/dashboard/applicant-detail-intro.tsx
  ui/apps/moderation/src/components/dashboard/applicant-detail.tsx
  ui/apps/moderation/src/components/dashboard/index.tsx
  ui/apps/moderation/src/components/dashboard/tabs/activity/index.tsx
  ui/apps/moderation/src/components/dashboard/tabs/applications/applicant.tsx
  ui/apps/moderation/src/components/dashboard/tabs/applications/index.tsx
  ui/apps/moderation/src/components/dashboard/tabs/general/categories.tsx
  ui/apps/moderation/src/components/dashboard/tabs/general/contact-info.tsx
  ui/apps/moderation/src/components/dashboard/tabs/general/index.tsx
  ui/apps/moderation/src/components/dashboard/tabs/general/max-applicants.tsx
  ui/apps/moderation/src/components/dashboard/tabs/general/resign-confirmation.tsx
  ui/apps/moderation/src/components/dashboard/tabs/general/resign-role.tsx
  ui/apps/moderation/src/components/dashboard/tabs/index.tsx
  ui/apps/moderation/src/components/error-cards/no-items-found.tsx
  ui/apps/moderation/src/components/moderator/index.tsx
  ui/apps/moderation/src/components/moderator/mini-card.tsx
  ui/apps/moderation/src/extensions/moderate-modal.tsx
  ui/apps/moderation/src/extensions/report-modal.tsx
  ui/apps/moderation/src/index.tsx
  ui/apps/moderation/src/interfaces/content.ts
  ui/apps/moderation/src/interfaces/index.ts
  ui/apps/moderation/src/pages/applicant-detail.tsx
  ui/apps/moderation/src/pages/dashboard.tsx
  ui/apps/moderation/src/pages/edit-categories.tsx
  ui/apps/moderation/src/pages/edit-contact-info.tsx
  ui/apps/moderation/src/pages/edit-max-applicants.tsx
  ui/apps/moderation/src/pages/index.tsx
  ui/apps/moderation/src/pages/resign-confirmation.tsx
  ui/apps/moderation/src/pages/resign-role.tsx
  ui/apps/moderation/src/routes.ts
  ui/apps/moderation/src/utils/dummy-data.ts
  ui/design/src/components/ModeratorDetailCard/__tests__/index.test.tsx
Labels: design-system, plugin/widget

#1926 Search app: all pages
  tests/ethereum-world/cypress/integration/searchpage.spec.ts
  ui/apps/jest.setup.js
  ui/apps/search/src/components/__tests__/search-page.spec.tsx
  ui/apps/search/src/components/routes/entry-renderer.tsx
  ui/apps/search/src/components/routes/index.tsx
  ui/apps/search/src/components/routes/onboarding-page.tsx
  ui/apps/search/src/components/routes/search-page.tsx
  ui/apps/search/src/components/routes/search-result-count.tsx
  ui/apps/search/src/components/routes/settings-page.tsx
  ui/apps/search/src/routes.ts
  ui/design-system-components/jest.setup.js
  ui/design-system-components/src/components/InfoCard/InfoCard.stories.tsx
  ui/design-system-components/src/components/InfoCard/__tests__/index.test.tsx
  ui/design-system-components/src/components/InfoCard/index.tsx
  ui/design-system-components/src/components/ProfileSearchCard/ProfileSearchCard.stories.tsx
  ui/design-system-components/src/components/ProfileSearchCard/index.tsx
  ui/design-system-components/src/components/SearchAppDropdownFilter/index.tsx
  ui/design-system-components/src/components/SearchAppFilter/index.tsx
  ui/design-system-components/src/components/SearchBar/SearchBar.stories.tsx
  ui/design-system-components/src/components/SearchBar/__tests__/index.test.tsx
  ui/design-system-components/src/components/SearchBar/index.tsx
  ui/design-system-components/src/components/SearchDefaultCard/index.tsx
  ui/design-system-components/src/components/SearchStartCard/SearchStartCard.stories.tsx
  ui/design-system-components/src/components/SearchStartCard/__tests__/index.test.tsx
  ui/design-system-components/src/components/SearchStartCard/index.tsx
  ui/design-system-components/src/components/SwitchCard/SwitchCard.stories.tsx
  ui/design-system-components/src/components/SwitchCard/__tests__/index.test.tsx
  ui/design-system-components/src/components/SwitchCard/index.tsx
  ui/design-system-components/src/components/TagSearchCard/TagSearchCard.stories.tsx
  ui/design-system-components/src/components/TagSearchCard/index.tsx
  ui/design-system-core/src/components/Box/index.tsx
  ui/design-system-core/src/components/ProfileAvatarButton/index.tsx
  ui/design-system-core/src/components/SeventyFivePercentSpinner/SeventyPercentSpinner.stories.tsx
  ui/design-system-core/src/components/SeventyFivePercentSpinner/index.tsx
  ui/design-system-core/src/utils/dummy-data.ts
  ui/design-system-core/src/utils/intersection-observer.ts
Labels: plugin/widget, run-e2e
