Repository AKASHAorg/akasha-core, pull requests merged in 2024-09, with the labels that each got.

#2390 Update extension creation form
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/pages/extension-creation-page/extension-creation-page.tsx
  extensions/apps/extensions/src/components/pages/extension-creation-page/post-extension-creation-page.tsx
  extensions/apps/extensions/src/components/pages/index.ts
  libs/design-system-components/src/components/AppCreationForm/index.tsx
Labels: design-system, apps, extensions, libs

#2382 Add 404 pages and fix styling on the 404 html template
  extensions/apps/antenna/src/components/app-routes/index.tsx
  extensions/apps/antenna/src/components/app-routes/not-found-component.tsx
  extensions/apps/auth-app/src/components/app-routes/index.tsx
  extensions/apps/auth-app/src/components/app-routes/not-found-component.tsx
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/app-routes/not-found-component.tsx
  extensions/apps/legal/src/components/app-routes/index.tsx
  extensions/apps/legal/src/components/app-routes/not-found-component.tsx
  extensions/apps/notifications/src/components/app-routes/index.tsx
  extensions/apps/notifications/src/components/app-routes/not-found-component.tsx
  extensions/apps/profile/src/components/app-routes/index.tsx
  extensions/apps/profile/src/components/app-routes/not-found-component.tsx
  extensions/apps/search/src/components/app-routes/index.tsx
  extensions/apps/search/src/components/app-routes/not-found-component.tsx
  extensions/apps/settings/src/components/app-routes/index.tsx
  extensions/apps/settings/src/components/app-routes/not-found-component.tsx
  extensions/apps/vibes-console/src/components/app-routes/index.tsx
  extensions/apps/vibes-console/src/components/app-routes/not-found-component.tsx
  extensions/apps/vibes/src/components/app-routes/index.tsx
  extensions/apps/vibes/src/components/app-routes/not-found-component.tsx
  extensions/widgets/top-bar/src/components/topbar.tsx
  libs/app-loader/src/html-template-handlers.ts
  libs/app-loader/src/index.ts
  libs/design-system-components/src/components/Editor/tag-popover.tsx
  libs/design-system-components/src/components/NotificationsCard/index.tsx
  libs/design-system-components/src/components/NotificationsCard/profile-avatar-notification-app.tsx
  libs/design-system-components/src/components/ProfileSearchCard/index.tsx
  libs/design-system-components/src/components/SearchBar/index.tsx
  libs/design-system-components/src/components/TagProfileCard/index.tsx
  libs/design-system-components/src/components/TagSearchCard/index.tsx
  libs/design-system-core/src/components/ErrorBoundary/index.tsx
  libs/design-system-core/src/components/ErrorLoader/error-card.tsx
  libs/design-system-core/src/components/ErrorLoader/index.tsx
  libs/sdk/src/index.ts
  worlds/akasha.world/public/index.dev.html
  worlds/akasha.world/public/index.html
Labels: design-system, sdk, apps, widgets, extensions, libs, feature, world

#2391 Fix: mentions popover
  extensions/apps/antenna/src/extensions/beam-editor/beam-editor.tsx
  libs/design-system-components/src/components/Editor/helpers.ts
  libs/design-system-components/src/components/Editor/mention-popover.tsx
  libs/design-system-core/src/components/Stack/index.tsx
Labels: design-system, apps, extensions, fix, libs

#2393 Fix editor mentions
  libs/design-system-components/src/components/Editor/helpers.ts
  libs/design-system-components/src/components/Editor/renderers.tsx
  libs/typings/src/ui/editor.ts
Labels: design-system, fix, libs, typings

#2392 fix dropdown on beam card
  libs/design-system-core/src/components/Menu/index.tsx
  libs/design-system-core/src/utils/useCloseActions.ts
Labels: design-system, fix, libs

#2398 Fix disable publish on block delete
  extensions/apps/antenna/src/extensions/beam-editor/beam-editor.tsx
  extensions/apps/antenna/src/extensions/beam-editor/use-blocks-publishing.ts
Labels: apps, extensions, fix

#2400 fix(): image fields sent to server while creating new profile
  extensions/apps/profile/src/components/pages/edit-profile/index.tsx
Labels: apps, extensions, fix

#2394 Add extension install terms page
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/pages/install-extension/install-extension-page.tsx
  extensions/apps/extensions/src/components/pages/install-extension/install-terms-conditions.tsx
  extensions/apps/extensions/src/components/pages/install-extension/utils.ts
  extensions/webpack.config.js
  libs/app-loader/src/index.ts
  libs/app-loader/src/plugins/extension-installer.ts
  libs/app-loader/src/plugins/utils.ts
  libs/app-loader/src/utils.ts
  libs/design-system-core/src/components/AppAvatar/index.tsx
  libs/design-system-core/src/components/Checkbox/index.tsx
  libs/design-system-core/src/components/Text/index.tsx
  libs/sdk/src/db/db.wrapper.ts
  libs/sdk/src/db/installed-extensions.schema.ts
  libs/sdk/src/settings/apps.ts
  libs/typings/src/ui/plugins.ts
  tests/utils/src/data-generator/integrations.ts
  worlds/akasha.world/src/index.ts
Labels: design-system, sdk, apps, extensions, libs, feature, typings, tests, config, world

#2401 chore(): refactor getCroppedImage to better handle CORS and errors
  libs/design-system-core/src/components/ImageCropper/index.tsx
  libs/design-system-core/src/utils/get-cropped-image.ts
Labels: design-system, libs

#2397 Fix: Mini Profile Widget UI
  extensions/apps/profile/src/components/follow-profile-button/follow-button.tsx
  extensions/apps/profile/src/components/follow-profile-button/index.tsx
  extensions/apps/profile/src/extensions/follow-profile-button.tsx
  extensions/widgets/mini-profile/src/mini-profile-widget.tsx
  libs/design-system-components/src/components/MiniProfileCard/index.tsx
  libs/design-system-components/src/stories/dscore/duplex-button.stories.tsx
Labels: design-system, apps, widgets, extensions, fix, stories, libs

#2403 Feat: Nsfw info
  extensions/widgets/trending/src/components/cards/latest-profiles.tsx
  libs/design-system-components/src/components/ProfileEngagements/Engagement/Followers.tsx
  libs/design-system-components/src/components/ProfileEngagements/Engagement/Following.tsx
  libs/design-system-components/src/components/ProfileEngagements/Entry/index.tsx
  libs/design-system-components/src/stories/dscore/avatar.stories.tsx
  libs/design-system-components/src/stories/dscore/profile-avatar-button.stories.tsx
  libs/design-system-core/src/components/Avatar/index.tsx
  libs/design-system-core/src/components/ProfileAvatarButton/index.tsx
  libs/design-system-core/src/components/ProfileNameField/index.tsx
  libs/design-system-core/src/utils/generate-avatar-classes.ts
  libs/feed/src/components/cards/author-profile-avatar/index.tsx
Labels: design-system, widgets, extensions, stories, libs, feature

#2405 chore(): disable beam publish when upload fails
  extensions/apps/antenna/src/extensions/image-block/image-editor-block.tsx
Labels: apps, extensions

#2404 chore(): fix checkbox component on Firefox
  extensions/widgets/layout/src/components/layout-widget.tsx
  libs/design-system-core/src/components/Checkbox/index.tsx
  libs/design-system-core/src/twind/globals.css
Labels: design-system, widgets, extensions, fix, libs

#2410 chore(): mention only one user per block
  extensions/apps/antenna/src/extensions/slate-block/slate-editor-block.tsx
  extensions/apps/profile/src/components/__mocks__/get-edit-profile-mocks.ts
  extensions/apps/profile/src/components/follow-profile-button/follow-button.tsx
  extensions/jest.setup.js
  libs/design-system-components/src/components/Editor/index.tsx
  libs/design-system-components/src/components/Editor/renderers.tsx
  libs/design-system-components/src/stories/dscore/message-card.stories.tsx
  libs/design-system-core/src/components/MessageCard/__tests__/index.test.tsx
  libs/design-system-core/src/components/MessageCard/index.tsx
  tests/utils/src/data-generator/beam.ts
  tests/utils/src/data-generator/user.ts
Labels: design-system, apps, extensions, stories, libs, tests

#2412 chore(): bug fixes on beam editor
  extensions/apps/antenna/src/extensions/beam-editor/use-blocks-publishing.ts
  extensions/apps/profile/src/components/follow-profile-button/follow-button.tsx
  libs/design-system-components/src/components/Editor/index.tsx
  libs/design-system-components/src/components/Editor/renderers.tsx
Labels: design-system, apps, extensions, fix, libs

#2407 Fix: NSFW info
  extensions/apps/antenna/src/components/pages/editor-page/editor-page.tsx
  extensions/apps/antenna/src/extensions/beam-editor/beam-editor.tsx
  extensions/apps/profile/src/components/pages/profile-engagement/followers-page.tsx
  extensions/apps/profile/src/components/pages/profile-engagement/following-page.tsx
  extensions/apps/profile/src/components/pages/profile-info/nsfw.tsx
  extensions/widgets/trending/src/components/cards/latest-profiles.tsx
  libs/design-system-components/src/components/ProfileEngagements/Engagement/Followers.tsx
  libs/design-system-components/src/components/ProfileEngagements/Engagement/Following.tsx
  libs/design-system-components/src/components/ProfileEngagements/Entry/index.tsx
  libs/design-system-components/src/components/ProfileEngagements/types.ts
  libs/design-system-components/src/stories/dscore/profile-avatar-button.stories.tsx
  libs/design-system-core/src/components/ErrorLoader/error-card.tsx
  libs/design-system-core/src/components/ErrorLoader/index.tsx
  libs/design-system-core/src/components/ProfileAvatarButton/index.tsx
  libs/design-system-core/src/components/ProfileNameField/index.tsx
  libs/design-system-core/src/components/Stack/index.tsx
  libs/feed/src/components/cards/author-profile-avatar/index.tsx
Labels: design-system, apps, widgets, extensions, fix, stories, libs

#2411 Install Progress page
  extensions/apps/extensions/src/components/pages/install-extension/install-extension-page.tsx
  extensions/apps/extensions/src/components/pages/install-extension/utils.ts
  extensions/apps/profile/src/plugins/profile-plugin.ts
  libs/design-system-components/src/components/IndicatorDots/index.tsx
  libs/design-system-components/src/components/InstallApp/index.tsx
  libs/design-system-core/src/components/AppAvatar/index.tsx
  libs/design-system-core/src/twind/globals.css
  libs/webpack.config.js
Labels: design-system, apps, extensions, libs, config, world

#2413 chore(): refactor link element implementation on editor
  libs/design-system-components/src/components/Editor/helpers.ts
  libs/design-system-components/src/components/Editor/index.tsx
  libs/design-system-components/src/components/Editor/plugins.ts
  libs/design-system-components/src/components/Editor/renderers.tsx
  libs/typings/src/ui/editor.ts
Labels: design-system, libs, typings

#2414 Update Sensitive Content component UI
  libs/design-system-components/src/components/Entry/NSFW/index.tsx
Labels: design-system, fix, libs

#2415 Fix/sensitive component
  libs/design-system-components/src/components/Entry/NSFW/index.tsx
Labels: design-system, fix, libs

#2402 Chore: UI fixes
  extensions/apps/auth-app/src/components/pages/choose-provider.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/contact-support-page.tsx
  extensions/apps/profile/src/components/follow-profile-button/follow-button.tsx
  libs/design-system-components/src/components/AppInfo/index.tsx
  libs/design-system-components/src/components/Entry/EntryCard/index.tsx
  libs/design-system-components/src/components/Loaders/mini-profile-widget-loader.tsx
  libs/design-system-components/src/components/MiniProfileCard/index.tsx
  libs/design-system-components/src/components/Profile/Header/index.tsx
  libs/design-system-components/src/components/Profile/Links/index.tsx
  libs/design-system-components/src/components/Web3ConnectCard/index.tsx
  libs/design-system-components/src/stories/dscomponents/install-app.stories.tsx
  libs/design-system-components/src/stories/dscore/copy-to-clipboard.stories.tsx
  libs/design-system-components/src/stories/dscore/tooltip.stories.tsx
  libs/design-system-core/src/components/Button/button-icon.tsx
  libs/design-system-core/src/components/CopyToClipboard/index.tsx
  libs/design-system-core/src/components/DidField/index.tsx
  libs/design-system-core/src/components/ProfileNameField/index.tsx
  libs/design-system-core/src/components/Tooltip/getArrowClasses.ts
  libs/design-system-core/src/components/Tooltip/index.tsx
Labels: design-system, apps, extensions, fix, stories, libs

#2416 chore(): remove revokeObjectURL from onload handler of createImage function
  libs/design-system-core/src/utils/get-cropped-image.ts
Labels: design-system, libs

#2419 chore(): fix space behaviour on editor
  libs/design-system-components/src/components/Editor/index.tsx
Labels: design-system, fix, libs

#2423 Fixes and improvements
  extensions/apps/antenna/src/components/__mocks__/get-my-antenna-page-mocks.ts
  extensions/apps/antenna/src/components/__mocks__/get-tag-feed-mocks.ts
  extensions/apps/antenna/src/components/__mocks__/get-tag-feed-page-mocks.ts
  extensions/apps/antenna/src/components/__tests__/beam-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/global-antenna-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/my-antenna-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/tag-feed-page.spec.tsx
  extensions/apps/antenna/src/components/app-routes/data-loaders.ts
  extensions/apps/antenna/src/components/app-routes/index.tsx
  extensions/apps/antenna/src/components/pages/entry-page/beam-page.tsx
  extensions/apps/antenna/src/components/pages/entry-page/beam-section.tsx
  extensions/apps/antenna/src/extensions/image-block/image-editor-block.tsx
  extensions/apps/antenna/src/extensions/slate-block/slate-editor-block.tsx
  extensions/apps/extensions/src/components/pages/install-extension/install-extension-page.tsx
  extensions/apps/extensions/src/components/pages/install-extension/install-terms-conditions.tsx
  extensions/apps/extensions/src/components/pages/install-extension/utils.ts
  extensions/apps/profile/src/components/__tests__/profile-info-page.spec.tsx
  extensions/apps/profile/src/components/pages/profile-beams/index.tsx
  libs/app-loader/src/plugins/content-block-store.ts
  libs/design-system-components/src/components/ImageOverlay/index.tsx
  libs/design-system-core/src/components/ErrorBoundary/index.tsx
  libs/extensions/src/react/content-block/block-error-card.tsx
  libs/extensions/src/react/content-block/content-block-extension/index.tsx
  libs/extensions/src/react/content-block/content-block-extension/render-block.tsx
  libs/extensions/src/react/content-block/content-block-extension/render-error.tsx
  libs/feed/src/components/beam-content-resolver.tsx
  libs/feed/src/components/beam-feed-by-author.tsx
  libs/feed/src/components/cards/beam-card/action-buttons.tsx
  libs/feed/src/components/cards/beam-card/content-block-renderer.tsx
  libs/feed/src/components/cards/beam-card/index.tsx
  libs/hooks/src/selectors/get-apps-by-id-query.ts
  libs/hooks/src/selectors/get-apps-by-publisher-did-query.ts
  libs/hooks/src/selectors/get-beam-by-id-query.ts
  libs/hooks/src/selectors/selector-utils.ts
  libs/hooks/src/utils/entry-utils.ts
  libs/sdk/codegen.cjs
  libs/typings/src/ui/entry.ts
Labels: design-system, sdk, apps, extensions, fix, libs, hooks, typings, tests, config

#2425 fix(): add optional chaining everywhere a profile object is used
  extensions/apps/profile/src/components/pages/profile-info/index.tsx
  extensions/apps/search/src/components/pages/search-page.tsx
  libs/design-system-components/src/components/Editor/helpers.ts
  libs/design-system-components/src/components/ExtensionEditStep3Form/Collaborators/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep3Form/index.tsx
  libs/design-system-components/src/components/NotificationsCard/index.tsx
  libs/design-system-components/src/components/OnboardingSuggestionsCard/index.tsx
  libs/design-system-components/src/components/ProfileSearchCard/index.tsx
  libs/hooks/src/use-mentions.ts
Labels: design-system, apps, extensions, fix, libs, hooks

#2417 Fix: Delisted beam card UI
  libs/design-system-components/src/components/Entry/EntryCard/card-actions.tsx
  libs/design-system-components/src/components/Entry/EntryCard/index.tsx
Labels: design-system, fix, libs
