Repository AKASHAorg/akasha-core, pull requests merged in 2024-08, with the labels that each got.

#2359 Refactor: antenna and settings
  extensions/apps/antenna/src/components/pages/my-antenna-page/index.tsx
  extensions/apps/extensions/src/components/explore.tsx
  extensions/apps/extensions/src/components/extensions-hub.tsx
  extensions/apps/extensions/src/components/installed-extensions.tsx
  extensions/apps/settings/src/components/pages/privacy-option.tsx
  extensions/widgets/layout/src/components/layout-widget.tsx
  libs/design-system-components/src/components/MyAntennaIntroCard/__tests__/index.test.tsx
  libs/design-system-components/src/components/MyAntennaIntroCard/index.tsx
  libs/design-system-components/src/components/StartCard/__tests__/index.test.tsx
  libs/design-system-components/src/components/StartCard/index.tsx
  libs/design-system-components/src/stories/dscomponents/edit-profile.stories.tsx
  libs/design-system-components/src/stories/dscomponents/my-antenna-intro-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/start-card.stories.tsx
Labels: design-system, apps, widgets, extensions, stories, libs, config

#2362 app-loader: select the newest release in the list
  libs/app-loader/src/index.ts
Labels: fix, libs

#2356 Chore: DS icons
  extensions/apps/antenna/src/index.tsx
  libs/design-system-components/src/components/VibesConsoleContentCard/index.tsx
  libs/design-system-core/src/components/Icon/akasha-icons/antenna.tsx
  libs/feed/src/components/cards/beam-card/action-buttons.tsx
Labels: design-system, apps, extensions, libs

#2360 Feat: DS stepper component
  libs/design-system-components/src/components/Stepper/index.tsx
  libs/design-system-components/src/stories/dscomponents/stepper.stories.tsx
Labels: design-system, stories, libs, feature

#2363 Patch: Interests limit edge case
  extensions/apps/antenna/src/components/pages/tag-feed-page/tag-feed-page.tsx
  extensions/widgets/trending/src/components/cards/latest-topics.tsx
Labels: apps, widgets, extensions, fix

#2365 refactor(sdk): add type safe env conf
  .env.example
  libs/app-loader/src/extensions.ts
  libs/design-system-core/src/components/ImageCropper/index.tsx
  libs/sdk/src/common/config.ts
  libs/sdk/src/common/env.ts
  libs/sdk/src/common/misc.ts
  libs/sdk/src/common/web3.connector.ts
  package.json
  tsconfig.json
  yarn.lock
Labels: design-system, sdk, libs, config

#2364 chore(profile-app): fix edit profile page
  extensions/apps/profile/src/components/pages/edit-profile/delete-image-and-get-profile-content.tsx
  extensions/apps/profile/src/components/pages/edit-profile/get-profile-images.ts
  extensions/apps/profile/src/components/pages/edit-profile/index.tsx
  extensions/apps/profile/src/components/pages/edit-profile/use-save-image.ts
  libs/design-system-components/src/components/EditProfile/General/Header/index.tsx
  libs/design-system-components/src/components/EditProfile/General/index.tsx
  libs/design-system-components/src/components/EditProfile/SocialLinks/index.tsx
  libs/design-system-components/src/components/EditProfile/index.tsx
  libs/design-system-components/src/components/EditProfile/types.ts
  libs/design-system-components/src/components/Profile/Bio/index.tsx
  libs/design-system-components/src/stories/dscomponents/edit-header.stories.tsx
  libs/design-system-components/src/stories/dscomponents/edit-profile.stories.tsx
  libs/design-system-core/src/components/Text/index.tsx
  libs/design-system-core/src/components/TextField/Multiline/index.tsx
  libs/hooks/src/utils/media-utils.ts
  libs/typings/src/ui/profile.ts
Labels: design-system, apps, extensions, fix, stories, libs, hooks, typings

#2368 Chore: update settings app copy
  extensions/apps/settings/src/components/pages/privacy-option.tsx
Labels: apps, extensions

#2354 Chore: Update DS stories
  libs/design-system-components/src/stories/dscomponents/app-info.stories.tsx
  libs/design-system-components/src/stories/dscomponents/app-list.stories.tsx
  libs/design-system-components/src/stories/dscomponents/cookie-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/edit-profile-header.stories.tsx
  libs/design-system-components/src/stories/dscomponents/edit-profile-interests.stories.tsx
  libs/design-system-components/src/stories/dscomponents/edit-profile.stories.tsx
  libs/design-system-components/src/stories/dscomponents/entry-card-loading.stories.tsx
  libs/design-system-components/src/stories/dscomponents/entry-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/entry-publish-error-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/install-app.stories.tsx
  libs/design-system-components/src/stories/dscomponents/mini-profile-widget-loader.stories.tsx
  libs/design-system-components/src/stories/dscomponents/onboarding-start-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/onboarding-suggestions-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/profile-entry.stories.tsx
  libs/design-system-components/src/stories/dscomponents/profile-followers.stories.tsx
  libs/design-system-components/src/stories/dscomponents/profile-following.stories.tsx
  libs/design-system-components/src/stories/dscomponents/profile-header.stories.tsx
  libs/design-system-components/src/stories/dscomponents/sidebar-loader.stories.tsx
  libs/design-system-components/src/stories/dscomponents/topbar-loader.stories.tsx
  libs/design-system-components/src/stories/dscomponents/trending-widget-loader.stories.tsx
  libs/design-system-components/src/stories/dscomponents/vibes-console-content-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/vibes-console-mini-profile-cta.stories.tsx
  libs/design-system-components/src/stories/dscomponents/vibes-value-card.stories.tsx
  libs/design-system-components/src/stories/dscore/accordion.stories.tsx
  libs/design-system-components/src/stories/dscore/app-avatar.stories.tsx
  libs/design-system-components/src/stories/dscore/app-icon.stories.tsx
  libs/design-system-components/src/stories/dscore/auto-complete.stories.tsx
  libs/design-system-components/src/stories/dscore/avatar.stories.tsx
  libs/design-system-components/src/stories/dscore/basic-popover.stories.tsx
  libs/design-system-components/src/stories/dscore/button.stories.tsx
  libs/design-system-components/src/stories/dscore/card.stories.tsx
  libs/design-system-components/src/stories/dscore/checkbox.stories.tsx
  libs/design-system-components/src/stories/dscore/content-block.stories.tsx
  libs/design-system-components/src/stories/dscore/did-field.stories.tsx
  libs/design-system-components/src/stories/dscore/dropdown.stories.tsx
  libs/design-system-components/src/stories/dscore/duplex-button.stories.tsx
  libs/design-system-components/src/stories/dscore/error-card.stories.tsx
  libs/design-system-components/src/stories/dscore/icon.stories.tsx
  libs/design-system-components/src/stories/dscore/image-cropper.stories.tsx
  libs/design-system-components/src/stories/dscore/list.stories.tsx
  libs/design-system-components/src/stories/dscore/markdown-card.stories.tsx
  libs/design-system-components/src/stories/dscore/menu.stories.tsx
  libs/design-system-components/src/stories/dscore/message-card.stories.tsx
  libs/design-system-components/src/stories/dscore/meter.stories.tsx
  libs/design-system-components/src/stories/dscore/modal.stories.tsx
  libs/design-system-components/src/stories/dscore/pagination.stories.tsx
  libs/design-system-components/src/stories/dscore/pill.stories.tsx
  libs/design-system-components/src/stories/dscore/profile-avatar-button.stories.tsx
  libs/design-system-components/src/stories/dscore/radio-button.stories.tsx
  libs/design-system-components/src/stories/dscore/snackbar.stories.tsx
  libs/design-system-components/src/stories/dscore/spinner.stories.tsx
  libs/design-system-components/src/stories/dscore/stack.stories.tsx
  libs/design-system-components/src/stories/dscore/stacked-avatar.stories.tsx
  libs/design-system-components/src/stories/dscore/subtitle-text-icon.stories.tsx
  libs/design-system-components/src/stories/dscore/table.stories.tsx
  libs/design-system-components/src/stories/dscore/tablist.stories.tsx
  libs/design-system-components/src/stories/dscore/text.stories.tsx
  libs/design-system-components/src/stories/dscore/textfield.stories.tsx
  libs/design-system-components/src/stories/dscore/toggle.stories.tsx
  libs/design-system-components/src/stories/dscore/tooltip.stories.tsx
Labels: design-system, stories, libs

#2370 fix(profile-app): prevent edit and delete menu options showing for empty images
  extensions/apps/profile/src/components/pages/edit-profile/get-profile-images.ts
  libs/design-system-components/src/components/EditProfile/General/Header/index.tsx
  libs/design-system-components/src/components/EditProfile/index.tsx
Labels: design-system, apps, extensions, fix, libs

#2366 Feat: Extensions app Review and Publish
  libs/design-system-components/src/components/AppCreationForm/index.tsx
  libs/design-system-components/src/components/AppInfo/header.tsx
  libs/design-system-components/src/components/AppInfo/info-pill.tsx
  libs/design-system-components/src/components/ReviewAndPublish/index.tsx
  libs/design-system-components/src/components/ReviewAndPublish/section.tsx
  libs/design-system-components/src/stories/dscomponents/review-and-publish.stories.tsx
  libs/design-system-components/src/stories/dscore/label.stories.tsx
  libs/design-system-components/src/stories/dscore/textfield.stories.tsx
  libs/design-system-core/src/components/Dropdown/index.tsx
  libs/design-system-core/src/components/Label/index.tsx
  libs/design-system-core/src/components/TextField/Input/getInputClasses.ts
  libs/design-system-core/src/components/TextField/Label/index.tsx
  libs/design-system-core/src/components/TextField/index.tsx
  libs/design-system-core/src/components/TextField/types.ts
Labels: design-system, stories, libs, feature

#2369 Feat: Restrict dev mode page
  extensions/apps/extensions/src/components/pages/developer-mode.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/my-extensions.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/not-connected.tsx
  extensions/apps/legal/src/components/pages/page-renderer.tsx
  extensions/apps/notifications/src/components/app-routes/index.tsx
  extensions/apps/notifications/src/components/pages/welcome-page.tsx
  extensions/apps/profile/src/components/profile-header/index.tsx
  libs/design-system-components/src/stories/dscore/error-card.stories.tsx
  libs/design-system-components/src/stories/dscore/error-loader.stories.tsx
  libs/design-system-core/src/components/ErrorCard/__tests__/index.test.tsx
  libs/design-system-core/src/components/ErrorCard/index.tsx
  libs/design-system-core/src/components/ErrorLoader/error-card.tsx
  libs/design-system-core/src/components/ErrorLoader/error-info-card.tsx
  libs/design-system-core/src/components/ErrorLoader/index.tsx
  libs/design-system-core/src/static/img/not-authenticated.webp
  libs/feed/src/components/beam-feed-by-author.tsx
  libs/feed/src/components/beam-feed.tsx
  libs/feed/src/components/reflect-feed.tsx
  libs/feed/src/components/tag-feed.tsx
Labels: design-system, apps, extensions, stories, libs, feature

#2367 chore(): integration test for edit profile page
  extensions/apps/antenna/src/components/__tests__/global-antenna-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/my-antenna-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/tag-feed-page.spec.tsx
  extensions/apps/antenna/src/components/reflect-editor/index.tsx
  extensions/apps/profile/src/components/__mocks__/constants.ts
  extensions/apps/profile/src/components/__mocks__/get-edit-profile-mocks.ts
  extensions/apps/profile/src/components/__tests__/edit-profile-page.spec.tsx
  extensions/apps/profile/src/components/__tests__/profile-info-page.spec.tsx
  extensions/apps/profile/src/components/pages/edit-profile/index.tsx
  extensions/jest.setup.js
  libs/design-system-components/src/components/EditProfile/General/Header/index.tsx
  libs/design-system-components/src/components/EditProfile/SocialLinks/index.tsx
  libs/design-system-components/src/components/EditProfile/index.tsx
  libs/design-system-components/src/components/EditProfile/types.ts
  libs/design-system-core/src/components/Toggle/index.tsx
Labels: design-system, apps, extensions, libs, tests

#2349 Extension edit form
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/installed-extensions.tsx
  extensions/apps/extensions/src/components/pages/extension-creation-page.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/index.ts
  extensions/apps/extensions/src/components/pages/extension-edit-page/main-page.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/step1-page.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/step2-page.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/step3-page.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/step4-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/dev-info-page.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/extension-element.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/my-extensions.tsx
  extensions/apps/extensions/src/constants.ts
  extensions/apps/extensions/src/extensions/remove-extension-confirmation/index.tsx
  extensions/apps/extensions/src/routes.ts
  extensions/apps/extensions/src/utils/save-and-get-image-obj.tsx
  extensions/apps/extensions/src/utils/use-save-image.ts
  extensions/apps/profile/src/components/pages/edit-profile/index.tsx
  extensions/apps/vibes-console/src/pages/applications-log.tsx
  extensions/apps/vibes/src/pages/transparency-log.tsx
  libs/design-system-components/src/components/AppCreationForm/index.tsx
  libs/design-system-components/src/components/EditProfile/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep1Form/Header/DeleteImageModal/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep1Form/Header/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep1Form/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep2Form/DocumentationLinks/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep2Form/DocumentationLinks/link-element.tsx
  libs/design-system-components/src/components/ExtensionEditStep2Form/Gallery/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep2Form/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep3Form/Collaborators/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep3Form/ContactInfo/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep3Form/ContactInfo/info-field.tsx
  libs/design-system-components/src/components/ExtensionEditStep3Form/index.tsx
  libs/design-system-components/src/components/NSFW/index.tsx
  libs/design-system-components/src/components/ReviewAndPublish/index.tsx
  libs/design-system-components/src/components/SearchBar/index.tsx
  libs/design-system-components/src/stories/dscore/stepper.stories.tsx
  libs/design-system-core/src/components/AppAvatar/__tests__/index.test.tsx
  libs/design-system-core/src/components/AppAvatar/index.tsx
  libs/design-system-core/src/components/Dropdown/__tests__/index.test.tsx
  libs/design-system-core/src/components/Dropdown/index.tsx
  libs/design-system-core/src/components/Stepper/index.tsx
  libs/hooks/src/use-mentions.ts
  libs/typings/src/ui/extensions.ts
  libs/typings/src/ui/media.ts
Labels: design-system, apps, extensions, stories, libs, hooks, typings

#2371 Fix: App specific widgets
  extensions/apps/extensions/src/plugins/widget-store.ts
  libs/app-loader/src/index.ts
  libs/app-loader/src/utils.ts
Labels: apps, extensions, fix, libs

#2375 chore(): create integration test for managing images on edit profile page
  extensions/apps/profile/src/components/__mocks__/constants.ts
  extensions/apps/profile/src/components/__mocks__/image-cropper-mock.tsx
  extensions/apps/profile/src/components/__tests__/edit-profile-page.spec.tsx
  libs/design-system-components/src/components/EditProfile/General/Header/index.tsx
  libs/design-system-core/src/components/ImageCropper/index.tsx
Labels: design-system, apps, extensions, libs, tests

#2377 chore(): update follow info on mini profile and latest profile widgets
  extensions/apps/profile/src/components/__mocks__/get-profile-info-mocks.ts
  extensions/apps/profile/src/components/__tests__/profile-info-page.spec.tsx
  extensions/apps/profile/src/components/follow-profile-button/follow-button.tsx
  extensions/apps/profile/src/components/follow-profile-button/index.tsx
  extensions/apps/profile/src/components/pages/profile-engagement/followers-page.tsx
  extensions/apps/profile/src/components/pages/profile-engagement/following-page.tsx
  extensions/apps/profile/src/components/profile-header/follow-button.tsx
  extensions/apps/profile/src/components/profile-header/index.tsx
  extensions/apps/profile/src/extensions/follow-profile-button.tsx
  extensions/widgets/mini-profile/src/mini-profile-widget.tsx
  extensions/widgets/trending/src/components/cards/latest-profiles.tsx
  extensions/widgets/trending/src/components/trending-widget-component.tsx
  libs/design-system-components/src/components/ProfileEngagements/Engagement/Followers.tsx
  libs/design-system-components/src/components/ProfileEngagements/Engagement/Following.tsx
  libs/design-system-components/src/components/ProfileEngagements/Entry/index.tsx
  libs/design-system-components/src/components/ProfileEngagements/types.ts
  libs/hooks/src/index.ts
  libs/hooks/src/utils/getFollowList.ts
Labels: design-system, apps, widgets, extensions, libs, hooks, tests

#2379 chore(): show mentions vertically
  extensions/apps/antenna/src/components/reflect-editor/index.tsx
  extensions/apps/antenna/src/extensions/slate-block/slate-editor-block.tsx
  libs/design-system-components/src/components/Editor/index.tsx
  libs/design-system-components/src/components/Editor/mention-popover.tsx
  libs/design-system-components/src/components/ProfileEngagements/Engagement/Followers.tsx
  libs/design-system-components/src/components/ProfileEngagements/Engagement/Following.tsx
  libs/design-system-components/src/components/ProfileEngagements/Entry/index.tsx
  libs/design-system-components/src/components/ProfileEngagements/types.ts
  libs/design-system-components/src/components/ReflectionEditor/index.tsx
  libs/design-system-core/src/components/Button/index.tsx
  libs/design-system-core/src/components/ProfileAvatarButton/index.tsx
Labels: design-system, apps, extensions, libs

#2378 Update extension form
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/pages/extension-creation-page.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/index.ts
  extensions/apps/extensions/src/components/pages/extension-edit-page/main-page.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/step1-page.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/step3-page.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/step4-page.tsx
  extensions/widgets/top-bar/src/components/topbar.tsx
  libs/design-system-components/src/components/AppCreationForm/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep1Form/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep3Form/Collaborators/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep3Form/index.tsx
  libs/design-system-components/src/components/SearchBar/index.tsx
  libs/design-system-core/src/components/Dropdown/index.tsx
Labels: design-system, apps, widgets, extensions, libs

#2372 Fix: Beam delisting
  extensions/apps/antenna/src/components/__mocks__/get-reflect-editor-mocks.ts
  extensions/apps/antenna/src/components/__mocks__/get-reflection-page-mocks.ts
  extensions/apps/antenna/src/components/__tests__/beam-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/reflection-page.spec.tsx
  extensions/apps/antenna/src/components/app-routes/data-loaders.ts
  extensions/apps/antenna/src/components/app-routes/index.tsx
  extensions/apps/antenna/src/components/pages/entry-page/beam-page.tsx
  extensions/apps/antenna/src/components/pages/entry-page/beam-section.tsx
  extensions/apps/antenna/src/components/pages/entry-page/reflection-page.tsx
  extensions/apps/antenna/src/components/pages/entry-page/reflection-section.tsx
  extensions/apps/antenna/src/components/pages/tag-feed-page/tag-feed-page.tsx
  libs/design-system-components/src/components/Entry/EntryCard/index.tsx
  libs/design-system-components/src/components/TagProfileCard/index.tsx
  libs/design-system-components/src/stories/dscomponents/edit-profile.stories.tsx
  libs/design-system-components/src/stories/dscore/dropdown.stories.tsx
  libs/feed/src/components/cards/beam-card/index.tsx
  tests/utils/src/data-generator/beam.ts
Labels: design-system, apps, widgets, extensions, fix, stories, libs, tests

#2384 fix(): cors issue on create image utility function
  libs/design-system-core/src/utils/get-cropped-image.ts
Labels: design-system, fix, libs

#2380 App loader/install flow
  extensions/apps/antenna/src/extensions/beam-editor/use-blocks-publishing.ts
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/pages/explore.tsx
  extensions/apps/extensions/src/components/pages/index.ts
  extensions/apps/extensions/src/components/pages/info-page/info-page.tsx
  extensions/apps/extensions/src/components/pages/install-extension/install-extension-page.tsx
  extensions/apps/extensions/src/components/pages/install-extension/utils.ts
  extensions/apps/extensions/src/extensions/install-app/index.tsx
  extensions/apps/extensions/src/index.tsx
  extensions/apps/extensions/src/plugins/base-store.ts
  extensions/apps/extensions/src/plugins/extension-point-store.ts
  extensions/apps/extensions/src/plugins/installed-app-store.ts
  extensions/apps/extensions/src/plugins/widget-store.ts
  extensions/apps/routing/src/index.tsx
  libs/app-loader/src/extensions.ts
  libs/app-loader/src/index.ts
  libs/app-loader/src/plugins/content-block-store.ts
  libs/app-loader/src/plugins/extension-installer.ts
  libs/app-loader/src/plugins/extension-point-store.ts
  libs/app-loader/src/plugins/utils.ts
  libs/app-loader/src/plugins/widget-store.ts
  libs/app-loader/src/type-utils/index.ts
  libs/extensions/src/react/content-block/content-block-extension/index.tsx
  libs/extensions/src/react/content-block/editor-block-extension.tsx
  libs/extensions/src/react/extension.tsx
  libs/extensions/src/react/widget.tsx
  libs/feed/src/components/cards/beam-card/content-block-renderer.tsx
  libs/hooks/src/use-root-props.tsx
  libs/sdk/src/auth/index.ts
  libs/sdk/src/db/db.wrapper.ts
  libs/sdk/src/db/index.ts
  libs/sdk/src/db/installed-extensions.schema.ts
  libs/sdk/src/db/integrations.schema.ts
  libs/sdk/src/settings/apps.ts
  libs/typings/src/sdk/common.ts
  libs/typings/src/sdk/events.ts
  libs/typings/src/ui/editor-blocks.ts
  libs/typings/src/ui/extension-point.ts
  libs/typings/src/ui/extensions.ts
  libs/typings/src/ui/ui-events.ts
  libs/typings/src/ui/widgets.ts
  tests/utils/src/data-generator/integrations.ts
  worlds/akasha.world/src/index.ts
  worlds/akasha.world/src/registry-overrides.ts
Labels: sdk, apps, extensions, libs, hooks, typings, tests, world

#2386 chore(): bug fixes v2
  extensions/apps/antenna/src/components/__mocks__/constants.ts
  extensions/apps/antenna/src/components/__tests__/beam-page.spec.tsx
  extensions/apps/antenna/src/components/reflect-editor/get-editor-value-for-test.ts
  extensions/apps/antenna/src/components/reflect-editor/index.tsx
  extensions/apps/profile/src/components/__tests__/edit-profile-page.spec.tsx
  libs/design-system-components/src/components/DynamicInfiniteScroll/index.tsx
  libs/design-system-components/src/components/EditProfile/index.tsx
  libs/design-system-components/src/components/Editor/index.tsx
  libs/design-system-components/src/components/Editor/renderers.tsx
  libs/design-system-components/src/components/ReflectionEditor/index.tsx
Labels: design-system, apps, extensions, fix, libs, tests
