Repository AKASHAorg/akasha-core, pull requests merged in 2024-04, with the labels that each got.

#2224 profile interest page fix
  ui/apps/profile/src/components/pages/interests/index.tsx
Labels: plugin/widget

#2226 fix(): editor bug
  ui/lib/extensions/src/react/content-block/content-block-extension.tsx
  ui/lib/extensions/src/react/content-block/resolve-configs.ts
  ui/lib/feed/src/components/cards/beam-card/content-block-renderer.tsx
Labels: plugin/widget

#2227 chore(): migrate features
  .env.example
  examples/ui/akasha.world/public/.gitignore
  examples/ui/akasha.world/public/icons/world/large.png
  examples/ui/akasha.world/public/icons/world/large_dark.png
  examples/ui/akasha.world/public/icons/world/medium.png
  examples/ui/akasha.world/public/icons/world/medium_dark.png
  examples/ui/akasha.world/public/icons/world/small.png
  examples/ui/akasha.world/public/icons/world/small_dark.png
  examples/ui/akasha.world/src/index.ts
  sdk/src/common/config.ts
  sdk/src/common/misc.ts
  typings/src/ui/app-loader.ts
  ui/apps/auth-app/src/extensions/login-bolt-button.tsx
  ui/apps/auth-app/src/index.tsx
  ui/apps/notifications/src/extensions/rounded-notification-button.tsx
  ui/apps/notifications/src/extensions/snack-bar-notification.tsx
  ui/apps/notifications/src/index.tsx
  ui/widgets/top-bar/package.json
  ui/widgets/top-bar/src/components/topbar-component.tsx
  ui/widgets/top-bar/src/components/topbar.tsx
Labels: plugin/widget, examples

#2225 fix(): profile fixes
  ui/apps/akasha/src/services/posting-service.ts
  ui/apps/akasha/src/services/routing-service.ts
  ui/apps/profile/src/components/pages/edit-profile/index.tsx
  ui/design-system-components/src/components/EditProfile/NSFW/index.tsx
  ui/design-system-components/src/components/EditProfile/index.tsx
  ui/design-system-components/src/components/Loaders/mini-profile-widget-loader.tsx
  ui/design-system-components/src/components/Profile/placeholders/profile-header-loading.tsx
  ui/design-system-components/src/components/Profile/placeholders/profile-loading.tsx
  ui/design-system-components/src/components/Profile/placeholders/profile-stat-loading.tsx
  ui/design-system-components/src/components/ProfileMiniCard/index.tsx
  ui/lib/extensions/src/react/content-block/resolve-configs.ts
  ui/widgets/mini-profile/src/mini-profile-widget.tsx
Labels: plugin/widget

#2229 Editor fixes1
  ui/apps/akasha/src/extensions/beam-editor/beam-editor.tsx
  ui/design-system-components/src/components/Editor/index.tsx
  ui/design-system-components/src/components/ReflectionEditor/index.tsx
Labels: plugin/widget

#2232 update manifest file for the icons
  examples/ui/akasha.world/public/manifest.json
Labels: examples

#2236 Fix: world and app icons
  ui/apps/vibes-console/src/index.tsx
  ui/apps/vibes/src/components/error-cards/no-items-found.tsx
  ui/apps/vibes/src/index.tsx
  ui/design-system-core/src/components/Icon/akasha-icons/index.ts
  ui/design-system-core/src/components/Icon/akasha-icons/vibes-console.tsx
  ui/design-system-core/src/components/Icon/akasha-icons/vibes.tsx
  ui/widgets/top-bar/src/components/topbar.tsx
Labels: plugin/widget

#2231 Feat: Vibes Console [Content Review Hub]
  typings/src/ui/ui-events.ts
  ui/apps/notifications/src/extensions/snack-bar-notification.tsx
  ui/apps/vibes-console/jest.setup.js
  ui/apps/vibes-console/src/components/app-routes/index.tsx
  ui/apps/vibes-console/src/components/applications/application/applicant-data-card.tsx
  ui/apps/vibes-console/src/components/applications/become-moderator/details.tsx
  ui/apps/vibes-console/src/components/applications/join-vibes-card.tsx
  ui/apps/vibes-console/src/components/dashboard/entry-wrapper.tsx
  ui/apps/vibes-console/src/components/dashboard/header.tsx
  ui/apps/vibes-console/src/components/dashboard/index.ts
  ui/apps/vibes-console/src/components/dashboard/item-renderer.tsx
  ui/apps/vibes-console/src/components/dashboard/moderator-list-item.tsx
  ui/apps/vibes-console/src/components/dashboard/respond-admin.tsx
  ui/apps/vibes-console/src/components/dashboard/review-item.tsx
  ui/apps/vibes-console/src/components/dashboard/settings/admin.tsx
  ui/apps/vibes-console/src/components/dashboard/settings/assign-admin.tsx
  ui/apps/vibes-console/src/components/dashboard/settings/max-applicants.tsx
  ui/apps/vibes-console/src/components/dashboard/settings/moderator.tsx
  ui/apps/vibes-console/src/components/dashboard/settings/resign-confirmation.tsx
  ui/apps/vibes-console/src/components/dashboard/settings/resign-moderator-role.tsx
  ui/apps/vibes-console/src/index.tsx
  ui/apps/vibes-console/src/pages/applications-log.tsx
  ui/apps/vibes-console/src/pages/assign-admin.tsx
  ui/apps/vibes-console/src/pages/dashboard.tsx
  ui/apps/vibes-console/src/pages/edit-max-applicants.tsx
  ui/apps/vibes-console/src/pages/index.tsx
  ui/apps/vibes-console/src/pages/resign-confirmation.tsx
  ui/apps/vibes-console/src/pages/resign-moderator-role.tsx
  ui/apps/vibes-console/src/pages/respond-admin.tsx
  ui/apps/vibes-console/src/pages/review-item.tsx
  ui/apps/vibes-console/src/pages/self-application-detail.tsx
  ui/apps/vibes-console/src/pages/settings.tsx
  ui/apps/vibes-console/src/routes.ts
  ui/apps/vibes-console/src/utils/dummy-data.ts
  ui/apps/vibes/src/components/app-routes/index.tsx
  ui/apps/vibes/src/components/transparency-log/log-item.tsx
  ui/apps/vibes/src/pages/report-item.tsx
  ui/apps/vibes/src/routes.ts
  ui/design-system-components/src/components/PageButtons/index.tsx
  ui/design-system-components/src/components/PageHeader/index.tsx
  ui/design-system-components/src/components/ReportReasonPill/index.tsx
  ui/design-system-components/src/components/SearchBar/index.tsx
  ui/design-system-components/src/stories/dscomponents/entry-card.stories.tsx
  ui/design-system-components/src/stories/dscomponents/report-reason-pill.stories.tsx
  ui/design-system-components/src/stories/dscore/date-picker.stories.tsx
  ui/design-system-components/src/stories/dscore/snackbar.stories.tsx
  ui/design-system-core/src/components/AutoComplete/index.tsx
  ui/design-system-core/src/components/DatePicker/__tests__/index.test.tsx
  ui/design-system-core/src/components/DatePicker/date-selector.tsx
  ui/design-system-core/src/components/DatePicker/index.tsx
  ui/design-system-core/src/components/DatePicker/month-selector.tsx
  ui/design-system-core/src/components/Icon/akasha-icons/index.ts
  ui/design-system-core/src/components/Icon/akasha-icons/profile.tsx
  ui/design-system-core/src/components/RadioButton/index.tsx
  ui/design-system-core/src/components/Snackbar/index.tsx
Labels: plugin/widget

#2240 feat(): refactor login and profile hooks v1
  tests/src/data-generator/index.ts
  tests/src/data-generator/store.ts
  typings/src/ui/store.ts
  ui/apps/akasha/src/components/pages/editor-page/editor-page.tsx
  ui/apps/auth-app/src/components/connect/index.tsx
  ui/apps/jest.setup.js
  ui/apps/profile/src/index.tsx
  ui/apps/profile/src/plugins/profile-plugin.ts
  ui/design-system-components/src/components/EditProfile/General/Header/index.tsx
  ui/design-system-components/src/components/Profile/placeholders/profile-header-loading.tsx
  ui/hooks/src/index.ts
  ui/hooks/src/store/index.ts
  ui/hooks/src/store/use-akasha-store.ts
  ui/hooks/src/store/user-store.ts
  ui/hooks/src/utils/entry-utils.ts
  ui/widgets/mini-profile/src/mini-profile-widget.tsx
  ui/widgets/sidebar/src/components/sidebar-component.tsx
Labels: plugin/widget

#2246 Feat: View reports [Vibes Console]
  ui/apps/vibes-console/src/components/app-routes/index.tsx
  ui/apps/vibes-console/src/components/dashboard/index.ts
  ui/apps/vibes-console/src/components/dashboard/reports/header.tsx
  ui/apps/vibes-console/src/components/dashboard/reports/index.tsx
  ui/apps/vibes-console/src/components/dashboard/reports/item.tsx
  ui/apps/vibes-console/src/components/dashboard/review-item.tsx
  ui/apps/vibes-console/src/pages/dashboard.tsx
  ui/apps/vibes-console/src/pages/index.tsx
  ui/apps/vibes-console/src/pages/item-reports.tsx
  ui/apps/vibes-console/src/pages/review-item.tsx
  ui/apps/vibes-console/src/routes.ts
  ui/apps/vibes-console/src/utils/dummy-data.ts
  ui/apps/vibes/src/components/transparency-log/log-item.tsx
  ui/design-system-components/src/components/ReportReasonPill/index.tsx
  ui/design-system-components/src/components/VibesConsoleContentCard/index.tsx
  ui/design-system-components/src/stories/dscomponents/vibes-console-content-card.stories.tsx
Labels: plugin/widget

#2245 Error handling for pasting image links
  ui/apps/akasha/src/extensions/image-block/image-editor-block.tsx
Labels: plugin/widget

#2247 feat(): extract profile info in beam card to an extension
  tests/src/data-generator/store.ts
  typings/src/ui/store.ts
  ui/apps/auth-app/src/components/pages/main-page.tsx
  ui/apps/profile/src/extensions/follow-profile-button.tsx
  ui/apps/profile/src/extensions/profile-avatar/index.tsx
  ui/apps/profile/src/extensions/profile-avatar/profile-avatar.tsx
  ui/apps/profile/src/index.tsx
  ui/apps/profile/src/plugins/profile-plugin.ts
  ui/apps/search/package.json
  ui/apps/search/src/components/pages/entry-renderer.tsx
  ui/apps/vibes-console/package.json
  ui/apps/vibes-console/src/utils/dummy-data.tsx
  ui/design-system-components/src/components/Entry/EntryCard/index.tsx
  ui/design-system-components/src/components/Entry/EntryCardLoading/index.tsx
  ui/design-system-components/tsconfig.json
  ui/design-system-core/src/components/ProfileAvatarButton/ProfileAvatarLoading/index.tsx
  ui/design-system-core/src/components/ProfileAvatarButton/__tests__/index.test.tsx
  ui/design-system-core/src/components/ProfileAvatarButton/index.tsx
  ui/hooks/src/store/user-store.ts
  ui/lib/feed/src/components/cards/author-profile-avatar/index.tsx
  ui/lib/feed/src/components/cards/beam-card/index.tsx
  ui/lib/feed/src/components/cards/reflection-card/index.tsx
  ui/widgets/mini-profile/src/mini-profile-widget.tsx
Labels: plugin/widget

#2248 Chore: Cleanup mock data [Vibes Console]
  ui/apps/vibes-console/src/components/applications/section-renderer.tsx
  ui/apps/vibes-console/src/components/dashboard/reports/header.tsx
  ui/apps/vibes-console/src/components/dashboard/reports/index.tsx
  ui/apps/vibes-console/src/components/dashboard/settings/assign-admin.tsx
  ui/apps/vibes-console/src/components/no-item-found.tsx
  ui/apps/vibes-console/src/pages/application-detail.tsx
  ui/apps/vibes-console/src/pages/applications-log.tsx
  ui/apps/vibes-console/src/pages/applications.tsx
  ui/apps/vibes-console/src/pages/assign-admin.tsx
  ui/apps/vibes-console/src/pages/dashboard.tsx
  ui/apps/vibes-console/src/pages/item-reports.tsx
  ui/apps/vibes-console/src/pages/my-applications.tsx
  ui/apps/vibes-console/src/pages/self-application-detail.tsx
  ui/apps/vibes-console/src/utils/dummy-data.tsx
  ui/apps/vibes-console/src/utils/index.ts
Labels: plugin/widget

#2249 chore(): refactor types and props
  typings/src/sdk/comments.ts
  typings/src/sdk/index.ts
  typings/src/sdk/posts.ts
  typings/src/ui/entry.ts
  typings/src/ui/index.ts
  typings/src/ui/plugins.ts
  typings/src/ui/profile.ts
  typings/src/ui/store.ts
  ui/apps/akasha/src/extensions/slate-block/slate-editor-block.tsx
  ui/apps/akasha/src/utils/draft.ts
  ui/apps/auth-app/src/components/pages/choose-provider.tsx
  ui/apps/extensions/src/components/pages/explore-page.tsx
  ui/apps/notifications/src/components/pages/welcome-page.tsx
  ui/apps/profile/src/components/pages/edit-profile/index.tsx
  ui/apps/profile/src/extensions/profile-avatar/profile-avatar.tsx
  ui/apps/profile/src/plugins/profile-plugin.ts
  ui/apps/search/src/components/App.tsx
  ui/apps/search/src/components/pages/search-page.tsx
  ui/design-system-components/src/components/AppInfo/index.tsx
  ui/design-system-components/src/components/Editor/index.tsx
  ui/design-system-components/src/components/LinkPreview/index.tsx
  ui/design-system-components/src/components/OnboardingSuggestionsCard/index.tsx
  ui/design-system-components/src/components/ProfileSearchCard/index.tsx
  ui/design-system-core/src/components/Anchor/__tests__/index.test.tsx
  ui/design-system-core/src/components/Avatar/index.tsx
  ui/design-system-core/src/components/Card/index.tsx
  ui/design-system-core/src/components/DatePicker/index.tsx
  ui/design-system-core/src/components/Icon/__tests__/index.test.tsx
  ui/design-system-core/src/components/Icon/index.tsx
  ui/design-system-core/src/components/Image/__tests__/index.test.tsx
  ui/design-system-core/src/components/MessageCard/index.tsx
  ui/design-system-core/src/components/ProfileAvatarButton/index.tsx
  ui/design-system-core/src/components/Stack/index.tsx
  ui/hooks/src/store/user-store.ts
  ui/widgets/trending/src/components/cards/latest-profiles.tsx
Labels: plugin/widget

#2230 Refactor use beams hook nsfw
  typings/src/ui/antennas.ts
  typings/src/ui/index.ts
  ui/apps/akasha/src/components/pages/global-antenna-page/index.tsx
  ui/apps/akasha/src/components/pages/my-antenna-page/index.tsx
  ui/apps/profile/src/components/pages/profile-info/index.tsx
  ui/apps/settings-app/src/components/pages/nsfw-option.tsx
  ui/design-system-components/src/components/Entry/EntryCard/index.tsx
  ui/hooks/src/use-beams-by-tags.ts
  ui/hooks/src/use-beams.ts
  ui/lib/feed/src/components/beam-feed.tsx
  ui/lib/feed/src/components/cards/beam-card/index.tsx
  ui/lib/feed/src/components/tag-feed.tsx
  ui/lib/feed/src/utils/index.ts
Labels: plugin/widget

#2250 Legal app updates
  ui/apps/legal/src/components/app-routes/index.tsx
  ui/apps/legal/src/components/pages/base-layout.tsx
  ui/apps/legal/src/components/pages/code-of-conduct.tsx
  ui/apps/legal/src/components/pages/developer-guidelines.tsx
  ui/apps/legal/src/components/pages/main-page.tsx
  ui/apps/legal/src/components/pages/page-renderer.tsx
  ui/apps/legal/src/components/pages/privacy-policy.tsx
  ui/apps/legal/src/components/pages/terms-of-service.tsx
  ui/apps/legal/src/components/pages/terms-of-use.tsx
  ui/apps/legal/src/index.tsx
  ui/apps/legal/src/routes.ts
  ui/apps/legal/src/utils/legal-items.ts
  ui/apps/settings-app/src/components/pages/privacy-option.tsx
Labels: plugin/widget

#2252 Fix: Cookie widget position
  ui/design-system-components/src/components/CookieCard/index.tsx
  ui/widgets/analytics/src/components/cookie-widget.tsx
  ui/widgets/layout/src/components/layout-widget.tsx
Labels: plugin/widget

#2253 fix: cookie widget mobile
  ui/design-system-components/src/components/CookieCard/index.tsx
  ui/widgets/layout/src/components/layout-widget.tsx
Labels: plugin/widget

#2257 chore(): replace authentication hooks with user store
  ui/apps/akasha/jest.setup.js
  ui/apps/akasha/src/components/app.tsx
  ui/apps/akasha/src/components/pages/editor-page/editor-page.tsx
  ui/apps/akasha/src/components/pages/entry-page/beam-page.tsx
  ui/apps/akasha/src/components/pages/my-antenna-page/index.tsx
  ui/apps/akasha/src/components/pages/profile-feed-page/profile-feed-page.tsx
  ui/apps/akasha/src/components/pages/tag-feed-page/tag-feed-page.tsx
  ui/apps/akasha/src/components/reflect-editor/index.tsx
  ui/apps/akasha/src/extensions/beam-editor/beam-editor.tsx
  ui/apps/akasha/src/extensions/slate-block/slate-editor-block.tsx
  ui/apps/extensions/src/components/pages/explore-page.tsx
  ui/apps/extensions/src/components/pages/info-page.tsx
  ui/apps/extensions/src/components/pages/main-page.tsx
  ui/apps/lists/src/components/lists-page.tsx
  ui/apps/lists/src/extensions/entry-card-save-button.tsx
  ui/apps/messaging/src/components/app-routes.tsx
  ui/apps/messaging/src/extensions/mini-profile-message-button.tsx
  ui/apps/messaging/src/extensions/profile-message-button.tsx
  ui/apps/notifications/src/components/pages/customise-notification-page.tsx
  ui/apps/notifications/src/components/pages/notifications-page.tsx
  ui/apps/notifications/src/components/pages/welcome-page.tsx
  ui/apps/profile/jest.setup.js
  ui/apps/profile/src/components/pages/interests/index.tsx
  ui/apps/profile/src/components/pages/profile-engagement/followers-page.tsx
  ui/apps/profile/src/components/pages/profile-engagement/following-page.tsx
  ui/apps/profile/src/components/pages/profile-info/index.tsx
  ui/apps/profile/src/components/profile-header/follow-button.tsx
  ui/apps/profile/src/components/profile-header/index.tsx
  ui/apps/profile/src/components/profile-stats.tsx
  ui/apps/profile/src/components/profile-with-authorization/index.tsx
  ui/apps/search/src/components/pages/entry-renderer.tsx
  ui/apps/search/src/components/pages/onboarding-page.tsx
  ui/apps/search/src/components/pages/search-page.tsx
  ui/apps/settings-app/src/components/pages/nsfw-option.tsx
  ui/apps/settings-app/src/components/pages/settings-page.tsx
  ui/apps/vibes-console/src/pages/applications.tsx
  ui/hooks/src/index.ts
  ui/hooks/src/use-connect-wallet.ts
  ui/hooks/src/use-login.new.ts
  ui/hooks/src/use-settings.ts
  ui/lib/feed/src/components/beam-feed.tsx
  ui/lib/feed/src/components/cards/beam-card/index.tsx
  ui/lib/feed/src/components/cards/reflection-card/index.tsx
  ui/lib/feed/src/components/editable-reflection/index.tsx
  ui/lib/feed/src/components/tag-feed.tsx
  ui/widgets/my-apps/src/my-apps-widget.tsx
  ui/widgets/top-bar/src/components/topbar-component.tsx
  ui/widgets/trending/src/components/trending-widget-component.tsx
Labels: plugin/widget

#2256 Multiple bug fixes
  ui/apps/akasha/src/extensions/beam-editor/beam-editor.tsx
  ui/apps/akasha/src/extensions/beam-editor/use-blocks-publishing.ts
  ui/apps/akasha/src/extensions/image-block/image-editor-block.tsx
  ui/apps/akasha/src/extensions/slate-block/slate-readonly-block.tsx
  ui/apps/profile/src/extensions/profile-avatar/profile-avatar.tsx
  ui/design-system-components/src/components/Editor/index.tsx
  ui/design-system-components/src/components/EditorPlaceholder/index.tsx
  ui/design-system-components/src/components/ImageBlockGallery/image-block-grid-item.tsx
  ui/design-system-components/src/components/ImageOverlay/index.tsx
  ui/design-system-components/src/components/LinkPreview/index.tsx
  ui/design-system-components/src/components/LoginCTACard/index.tsx
  ui/design-system-components/src/components/StartCard/index.tsx
  ui/design-system-components/src/components/VibesValuesCard/value-card/index.tsx
  ui/design-system-core/src/components/AppIcon/icon-by-type.tsx
  ui/design-system-core/src/components/Avatar/avatar-image.tsx
  ui/design-system-core/src/components/ErrorCard/index.tsx
  ui/design-system-core/src/components/ErrorLoader/error-card.tsx
  ui/design-system-core/src/components/Image/index.tsx
  ui/design-system-core/src/components/InfoCard/index.tsx
  ui/lib/feed/src/components/editable-reflection/index.tsx
  ui/widgets/top-bar/src/components/topbar.tsx
Labels: plugin/widget
