Repository AKASHAorg/akasha-core, pull requests merged in 2024-05, with the labels that each got.

#2259 Refactor: widgets
  ui/apps/profile/src/components/follow-profile-button/index.tsx
  ui/design-system-components/src/components/Loaders/mini-profile-widget-loader.tsx
  ui/design-system-components/src/components/ProfileMiniCard/index.tsx
  ui/lib/extensions/src/react/widget.tsx
  ui/widgets/mini-profile/src/mini-profile-widget.tsx
  ui/widgets/my-apps/src/my-apps-widget.tsx
Labels: plugin/widget

#2241 Fix: content block render
  ui/apps/akasha/src/components/pages/editor-page/editor-page.tsx
  ui/apps/akasha/src/extensions/beam-editor/footer/index.tsx
  ui/apps/akasha/src/extensions/beam-editor/header.tsx
  ui/apps/extensions/src/plugins/content-block-store.ts
  ui/apps/settings-app/src/components/pages/base-layout.tsx
  ui/lib/extensions/src/react/content-block/block-parcel.tsx
  ui/lib/extensions/src/react/content-block/content-block-extension/index.tsx
  ui/lib/extensions/src/react/content-block/content-block-extension/render-block.tsx
  ui/lib/extensions/src/react/content-block/content-block-extension/render-error.tsx
  ui/lib/feed/src/components/cards/beam-card/content-block-renderer.tsx
Labels: plugin/widget

#2262 fix(): promise handling inside user store
  ui/hooks/src/store/user-store.ts
Labels: plugin/widget

#2261 Fix: Card avatar click
  ui/apps/settings-app/src/components/pages/privacy-option.tsx
  ui/apps/vibes/src/components/report/confirmation.tsx
  ui/design-system-components/src/components/CookieCard/index.tsx
  ui/design-system-components/src/components/SubtitleRenderer/index.tsx
  ui/design-system-components/src/components/VibesValuesCard/index.tsx
  ui/design-system-components/src/components/VibesValuesCard/value-card/index.tsx
  ui/design-system-core/src/components/Anchor/index.tsx
  ui/lib/feed/src/components/cards/author-profile-avatar/index.tsx
  ui/widgets/analytics/src/components/cookie-widget.tsx
  ui/widgets/sidebar/src/components/sidebar-component.tsx
Labels: plugin/widget

#2263 Patch: cookie widget
  extensions/widgets/layout/src/components/layout-widget.tsx
Labels: widgets, extensions, fix

#2271 Fix delete block bug
  extensions/apps/antenna/src/extensions/beam-editor/use-blocks-publishing.ts
Labels: apps, extensions, fix

#2270 chore(): add pending to pending reflections
  extensions/apps/antenna/src/components/reflect-editor/pending-reflect.tsx
  libs/feed/src/components/cards/author-profile-avatar/index.tsx
  libs/feed/src/components/cards/reflection-card/index.tsx
  libs/feed/src/components/editable-reflection/index.tsx
Labels: apps, extensions, libs, feature

#2269 Feat: Link component
  extensions/apps/settings/src/components/pages/privacy-option.tsx
  extensions/apps/vibes/src/components/report/confirmation.tsx
  extensions/widgets/sidebar/src/components/sidebar-component.tsx
  libs/design-system-components/src/components/AppInfo/index.tsx
  libs/design-system-components/src/components/CookieCard/index.tsx
  libs/design-system-components/src/components/Entry/EntryCard/card-actions.tsx
  libs/design-system-components/src/components/Entry/EntryCardRemoved/index.tsx
  libs/design-system-components/src/components/TagSearchCard/index.tsx
  libs/design-system-components/src/components/VibesIntroCard/index.tsx
  libs/design-system-components/src/components/VibesValuesCard/index.tsx
  libs/design-system-components/src/components/VibesValuesCard/value-card/index.tsx
  libs/design-system-components/src/stories/dscore/link.stories.tsx
  libs/design-system-core/src/components/Anchor/index.tsx
  libs/design-system-core/src/components/AppAvatar/index.tsx
  libs/design-system-core/src/components/Avatar/index.tsx
  libs/design-system-core/src/components/Dropdown/index.tsx
  libs/design-system-core/src/components/Link/__tests__/index.test.tsx
  libs/design-system-core/src/components/Link/index.tsx
Labels: design-system, apps, widgets, extensions, stories, libs, feature

#2272 Chore: Images per block limit
  extensions/apps/antenna/src/extensions/image-block/image-editor-block.tsx
Labels: apps, extensions

#2267 Feat/use reflections hook migration
  extensions/apps/antenna/src/components/pages/entry-page/beam-page.tsx
  extensions/apps/antenna/src/components/pages/entry-page/beam-section.tsx
  extensions/apps/antenna/src/components/pages/entry-page/reflection-page.tsx
  extensions/apps/antenna/src/components/pages/entry-page/reflection-section.tsx
  extensions/apps/antenna/src/components/reflect-editor/index.tsx
  libs/feed/src/components/editable-reflection/editable-reflection-resolver.tsx
  libs/feed/src/components/editable-reflection/index.tsx
  libs/feed/src/components/editable-reflection/reflection-editor-renderer.tsx
  libs/feed/src/components/reflect-feed.tsx
  libs/feed/src/components/reflection-preview/index.tsx
  libs/feed/src/virtual-list/virtual-item-renderer.tsx
  libs/hooks/src/use-pending-reflections.ts
  libs/hooks/src/use-reflections.ts
Labels: apps, ready-for-testing, extensions, libs, feature, hooks

#2273 Chore: Update stories
  libs/design-system-components/src/stories/dscomponents/cookie-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/entry-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/vibes-console-content-card.stories.tsx
  libs/design-system-components/src/stories/dscore/profile-avatar-button.stories.tsx
Labels: design-system, fix, stories, libs

#2275 Fix: Antenna
  extensions/apps/antenna/src/components/pages/entry-page/beam-section.tsx
  extensions/apps/antenna/src/components/pages/my-antenna-page/index.tsx
  extensions/apps/antenna/src/components/reflect-editor/pending-reflect.tsx
  libs/design-system-components/src/components/StartCard/index.tsx
  libs/feed/src/components/editable-reflection/index.tsx
Labels: design-system, apps, extensions, fix, libs

#2276 Fix: Topbar
  extensions/widgets/top-bar/src/components/topbar-widget.tsx
  extensions/widgets/top-bar/src/components/topbar.tsx
  extensions/widgets/top-bar/src/components/widget-routes/index.tsx
Labels: widgets, extensions, fix

#2277 Fix: profile avatar button
  extensions/apps/antenna/src/components/reflect-editor/pending-reflect.tsx
  libs/design-system-core/src/components/Avatar/index.tsx
  libs/design-system-core/src/components/Divider/index.tsx
  libs/design-system-core/src/components/ProfileAvatarButton/index.tsx
Labels: design-system, apps, extensions, fix, libs

#2278 Fix image edit
  extensions/apps/antenna/src/extensions/image-block/image-editor-block.tsx
  libs/design-system-components/src/components/ImageBlockGallery/image-block-grid-item.tsx
  libs/design-system-components/src/components/ImageBlockGallery/index.tsx
Labels: design-system, apps, extensions, fix, libs

#2282 chore(): patch auth app
  extensions/apps/auth-app/src/components/pages/connect-wallet.tsx
Labels: apps, extensions, fix

#2280 duplicate reflect
  libs/hooks/src/use-reflections.ts
Labels: fix, libs, hooks

#2285 Feat: Extensions app sub menu
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/pages/apps-page.tsx
  extensions/apps/extensions/src/components/pages/explore-page.tsx
  extensions/apps/extensions/src/components/pages/index.ts
  extensions/apps/extensions/src/components/pages/info-page.tsx
  extensions/apps/extensions/src/components/pages/installed-extensions.tsx
  extensions/apps/extensions/src/components/pages/main-page.tsx
  extensions/apps/extensions/src/components/pages/my-apps-page.tsx
  extensions/apps/extensions/src/components/pages/my-widgets-page.tsx
  extensions/apps/extensions/src/components/pages/overview.tsx
  extensions/apps/extensions/src/extensions/install-app.tsx
  extensions/apps/extensions/src/index.tsx
  extensions/apps/extensions/src/routes.ts
Labels: apps, extensions, feature

#2289 Feat: Extensions app explore page
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/explore.tsx
  extensions/apps/extensions/src/components/pages/apps-page.tsx
  extensions/apps/extensions/src/components/pages/explore-page.tsx
  extensions/apps/extensions/src/components/pages/explore.tsx
  extensions/apps/extensions/src/components/pages/extensions-hub.tsx
  extensions/apps/extensions/src/components/pages/index.ts
  extensions/apps/extensions/src/components/pages/info-page.tsx
  extensions/apps/extensions/src/components/pages/main-page.tsx
  extensions/apps/extensions/src/components/pages/my-apps-page.tsx
  extensions/apps/extensions/src/components/pages/my-widgets-page.tsx
  extensions/apps/extensions/src/routes.ts
  libs/design-system-components/src/components/AppList/index.tsx
  libs/design-system-core/src/static/img/vibes-console-explore.webp
Labels: design-system, apps, extensions, libs, feature

#2292 chore(): fix login modal changing contents
  extensions/apps/profile/src/extensions/login-modal.tsx
Labels: apps, extensions, fix

#2291 Editor block reorder
  extensions/apps/antenna/src/extensions/beam-editor/beam-editor.tsx
  extensions/apps/antenna/src/extensions/beam-editor/use-blocks-publishing.ts
  libs/design-system-components/src/components/BlockHeader/index.tsx
Labels: design-system, apps, extensions, libs

#2294 Fix image width and beam click handler
  extensions/apps/profile/src/components/pages/profile-beams/index.tsx
  libs/design-system-components/src/components/Entry/EntryCard/index.tsx
  libs/design-system-components/src/components/ImageBlockGallery/image-block-grid-item.tsx
  libs/feed/src/components/cards/beam-card/content-block-renderer.tsx
  libs/feed/src/components/cards/beam-card/index.tsx
Labels: design-system, apps, extensions, fix, libs

#2290 Feat: Extensions app hub page
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/explore.tsx
  extensions/apps/extensions/src/components/extensions-hub.tsx
  extensions/apps/extensions/src/components/pages/extensions-hub.tsx
  libs/design-system-components/src/components/AppList/index.tsx
  libs/design-system-core/src/static/img/extensions-discover.webp
Labels: design-system, apps, extensions, libs, feature

#2287 chore(): update docs
  extensions/apps/antenna/Readme.md
  extensions/apps/extensions/README.md
  extensions/apps/notifications/README.md
  extensions/apps/profile/README.md
  libs/design-system-components/README.md
  libs/design-system-core/README.md
Labels: design-system, apps, extensions, libs, docs

#2296 Feat/delete beam
  extensions/apps/antenna/src/extensions/remove-beam-confirmation/index.tsx
  extensions/apps/antenna/src/index.tsx
  libs/design-system-components/src/components/Entry/EntryCard/index.tsx
  libs/feed/src/components/cards/beam-card/index.tsx
Labels: design-system, apps, extensions, libs, feature

#2297 Fix image overlay
  libs/design-system-components/src/components/ImageOverlay/index.tsx
  package.json
  yarn.lock
Labels: design-system, fix, libs, config

#2283 chore(): improve virtual list and scroll restoration on antenna app
  extensions/apps/antenna/src/components/app-routes/data-loaders.ts
  extensions/apps/antenna/src/components/app-routes/index.tsx
  extensions/apps/antenna/src/components/app.tsx
  extensions/apps/antenna/src/components/pages/entry-page/beam-page.tsx
  extensions/apps/antenna/src/components/pages/entry-page/reflection-page.tsx
  extensions/apps/antenna/src/components/pages/global-antenna-page/index.tsx
  extensions/apps/antenna/src/components/reflect-editor/index.tsx
  extensions/apps/profile/src/components/app-routes/index.tsx
  extensions/widgets/top-bar/src/components/widget-routes/root-component.tsx
  libs/design-system-components/src/components/DynamicInfiniteScroll/index.tsx
  libs/design-system-components/src/components/DynamicInfiniteScroll/use-scroll-restoration/index.ts
  libs/design-system-components/src/components/DynamicInfiniteScroll/use-scroll-restoration/utils.ts
  libs/design-system-components/src/components/Entry/EntryCard/card-actions.tsx
  libs/design-system-components/src/components/Entry/EntryCard/index.tsx
  libs/design-system-components/src/components/Entry/EntryCardLoading/index.tsx
  libs/design-system-components/src/components/EntryList/index.tsx
  libs/design-system-components/src/components/Loaders/mini-profile-widget-loader.tsx
  libs/feed/src/components/beam-content-resolver.tsx
  libs/feed/src/components/beam-feed.new.tsx
  libs/feed/src/components/cards/beam-card/index.tsx
  libs/feed/src/components/reflect-feed.new.tsx
  libs/feed/src/utils/index.ts
  libs/hooks/README.md
  libs/hooks/src/index.ts
  libs/hooks/src/use-global-login.ts
  libs/hooks/src/use-pending-reflections.ts
  libs/sdk/src/gql/index.ts
  libs/typings/src/ui/router.ts
  package.json
  yarn.lock
Labels: design-system, sdk, apps, widgets, extensions, libs, hooks, typings, config, world, docs

#2293 Extensions App - App Info Pages
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/pages/info-page.tsx
  extensions/apps/extensions/src/components/pages/sub-pages/app-description-page.tsx
  extensions/apps/extensions/src/components/pages/sub-pages/audit-log-page.tsx
  extensions/apps/extensions/src/components/pages/sub-pages/collaborators-page.tsx
  extensions/apps/extensions/src/components/pages/sub-pages/contact-support-page.tsx
  extensions/apps/extensions/src/components/pages/sub-pages/dev-info-page.tsx
  extensions/apps/extensions/src/components/pages/sub-pages/index.ts
  extensions/apps/extensions/src/components/pages/sub-pages/license-page.tsx
  extensions/apps/extensions/src/components/pages/sub-pages/permissions-page.tsx
  extensions/apps/extensions/src/components/pages/sub-pages/version-history-page.tsx
  extensions/apps/extensions/src/components/pages/sub-pages/version-info-page.tsx
  libs/design-system-components/src/components/AppInfo/duplex-app-button.tsx
  libs/design-system-components/src/components/AppInfo/index.tsx
  libs/design-system-components/src/components/AuditLogCard/index.tsx
  libs/design-system-components/src/components/ExtensionHeader/index.tsx
  libs/design-system-components/src/components/ExtensionImageGallery/index.tsx
  libs/design-system-components/src/components/ExtensionVersionBulletPointCard/index.tsx
  libs/design-system-components/src/components/ExtensionVersionInfoCard/index.tsx
  libs/design-system-components/src/components/ImageBlockGallery/image-block-grid-item.tsx
  libs/design-system-core/src/components/ContentBlock/index.tsx
  libs/design-system-core/src/components/Icon/akasha-icons/index.ts
  libs/design-system-core/src/components/Icon/akasha-icons/plugin.tsx
  libs/design-system-core/src/twind/main.css
  libs/typings/src/ui/colors.ts
  libs/typings/src/ui/icon.ts
  twindBaseConfig.js
Labels: design-system, apps, extensions, libs, feature, typings

#2298 Feat: Sidebar accordion
  extensions/widgets/sidebar/src/components/list-sidebar-apps.tsx
  extensions/widgets/sidebar/src/components/sidebar-component.tsx
  libs/design-system-components/src/stories/dscore/accordion.stories.tsx
  libs/design-system-core/src/components/Accordion/__tests__/index.test.tsx
  libs/design-system-core/src/components/Accordion/index.tsx
  libs/hooks/src/use-accordion.ts
Labels: design-system, widgets, extensions, stories, libs, feature, hooks

#2299 Fix reflect button on mobile
  libs/design-system-components/src/components/Editor/index.tsx
Labels: design-system, fix, libs
