Repository AKASHAorg/akasha-core, pull requests merged in 2024-07, with the labels that each got.

#2332 fix: logged user interests
  extensions/apps/profile/src/components/pages/interests/index.tsx
Labels: apps, extensions, fix

#2335 test(): create e2e for global antenna
  .github/workflows/cypress.staging.yml
  extensions/.gitignore
  extensions/apps/antenna/e2e/constants.ts
  extensions/apps/antenna/e2e/global-antenna.spec.ts
  extensions/apps/antenna/e2e/helpers.ts
  extensions/apps/antenna/playwright.config.cts
  extensions/apps/antenna/src/components/__mocks__/get-reflect-editor-mocks.ts
  extensions/apps/antenna/src/components/__tests__/beam-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/global-antenna-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/my-antenna-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/reflection-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/tag-feed-page.spec.tsx
  jest.config.base.js
  libs/design-system-components/src/components/Entry/EntryCard/index.tsx
  libs/feed/src/components/cards/beam-card/index.tsx
  libs/feed/src/components/cards/reflection-card/index.tsx
  nx.json
  package.json
  playwright.config.base.ts
  yarn.lock
Labels: design-system, apps, extensions, libs, tests, config

#2334 Feat: Dev mode snackbar
  extensions/apps/extensions/src/components/pages/developer-mode.tsx
  extensions/apps/notifications/src/extensions/snack-bar-notification.tsx
  libs/design-system-core/src/components/Snackbar/index.tsx
  libs/typings/src/ui/ui-events.ts
Labels: design-system, apps, extensions, libs, typings

#2336 Feat: World version info
  extensions/apps/antenna/src/components/pages/global-antenna-page/index.tsx
  extensions/widgets/layout/src/components/layout-widget.tsx
  extensions/widgets/top-bar/src/components/topbar.tsx
  libs/design-system-components/src/components/WorldVersionInfoCard/index.tsx
  libs/design-system-core/src/components/Pill/index.tsx
  libs/hooks/src/use-dismissed-card.ts
  libs/typings/src/ui/design-system.ts
Labels: design-system, apps, widgets, extensions, libs, feature, hooks, typings

#2333 My extensions page
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/explore.tsx
  extensions/apps/extensions/src/components/extensions-hub.tsx
  extensions/apps/extensions/src/components/installed-extensions.tsx
  extensions/apps/extensions/src/components/my-extensions.tsx
  extensions/apps/extensions/src/components/pages/explore.tsx
  extensions/apps/extensions/src/components/pages/extension-creation-page.tsx
  extensions/apps/extensions/src/components/pages/extensions-hub.tsx
  extensions/apps/extensions/src/components/pages/index.ts
  extensions/apps/extensions/src/components/pages/info-page/info-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/app-description-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/audit-log-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/collaborators-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/contact-support-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/dev-info-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/index.ts
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/license-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/permissions-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/version-history-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/version-info-page.tsx
  extensions/apps/extensions/src/components/pages/installed-extensions.tsx
  extensions/apps/extensions/src/components/pages/my-extensions.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/extension-action.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/my-extensions.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/not-connected.tsx
  extensions/apps/extensions/src/extensions/install-app/index.tsx
  extensions/apps/extensions/src/extensions/remove-extension-confirmation/index.tsx
  extensions/apps/extensions/src/index.tsx
  extensions/apps/extensions/src/routes.ts
  extensions/apps/notifications/src/components/pages/welcome-page.tsx
  extensions/apps/search/src/components/pages/search-page.tsx
  libs/design-system-components/src/components/AppCreationForm/index.tsx
  libs/design-system-components/src/components/AppList/index.tsx
  libs/design-system-components/src/components/BaseDropdownFilter/index.tsx
  libs/design-system-components/src/components/DropDownFilter/index.tsx
  libs/design-system-core/src/components/AppAvatar/__tests__/index.test.tsx
  libs/design-system-core/src/components/AppAvatar/index.tsx
  libs/design-system-core/src/components/Icon/akasha-icons/AppCenter.tsx
  libs/design-system-core/src/components/Icon/akasha-icons/app.tsx
  libs/design-system-core/src/components/Icon/akasha-icons/index.ts
  libs/design-system-core/src/components/Icon/akasha-icons/plugin.tsx
  libs/design-system-core/src/components/Icon/akasha-icons/widget.tsx
  libs/design-system-core/src/static/img/app-img-1.webp
  libs/design-system-core/src/static/img/app-img-2.webp
  libs/design-system-core/src/static/img/app-img-3.webp
  libs/design-system-core/src/static/img/sidebar-app-placeholder-1.webp
  libs/design-system-core/src/static/img/sidebar-app-placeholder-2.webp
  libs/design-system-core/src/static/img/sidebar-app-placeholder-3.webp
  libs/design-system-core/src/static/img/sidebar-widget-placeholder-1.webp
  libs/design-system-core/src/static/img/sidebar-widget-placeholder-2.webp
  libs/typings/src/ui/extensions.ts
Labels: design-system, apps, extensions, libs, typings

#2338 Chore: Upgrade storybook
  libs/design-system-components/src/components/AppInfo/index.tsx
  libs/design-system-components/src/stories/dscomponents/app-info.stories.tsx
  libs/design-system-components/src/stories/dscomponents/app-list.stories.tsx
  libs/design-system-components/src/stories/dscomponents/bubble-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/chat-area-header.stories.tsx
  libs/design-system-components/src/stories/dscomponents/chat-list.stories.tsx
  libs/design-system-components/src/stories/dscomponents/connect-error-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/cookie-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/edit-header.stories.tsx
  libs/design-system-components/src/stories/dscomponents/edit-profile.stories.tsx
  libs/design-system-components/src/stories/dscomponents/editor-box.stories.tsx
  libs/design-system-components/src/stories/dscomponents/entry-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/entry-publish-error-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/install-app.stories.tsx
  libs/design-system-components/src/stories/dscomponents/notifications-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/onboarding-start-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/onboarding-suggestions-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/profile-bio.stories.tsx
  libs/design-system-components/src/stories/dscomponents/profile-entry.stories.tsx
  libs/design-system-components/src/stories/dscomponents/profile-followers.stories.tsx
  libs/design-system-components/src/stories/dscomponents/profile-following.stories.tsx
  libs/design-system-components/src/stories/dscomponents/profile-header.stories.tsx
  libs/design-system-components/src/stories/dscomponents/profile-interests.stories.tsx
  libs/design-system-components/src/stories/dscomponents/profile-links.stories.tsx
  libs/design-system-components/src/stories/dscomponents/profile-search-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/profile-stats.stories.tsx
  libs/design-system-components/src/stories/dscomponents/report-reason-pill.stories.tsx
  libs/design-system-components/src/stories/dscomponents/search-bar.stories.tsx
  libs/design-system-components/src/stories/dscomponents/search-start-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/start-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/switch-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/tag-search-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/vibes-console-content-card.stories.tsx
  libs/design-system-components/src/stories/dscore/did-field.stories.tsx
  libs/design-system-components/src/stories/dscore/pagination.stories.tsx
  libs/design-system-components/src/stories/dscore/textline.stories.tsx
  libs/design-system-core/src/components/ErrorLoader/error-card.tsx
  package.json
  yarn.lock
Labels: design-system, stories, libs, config

#2339 chore(): improve pending reflect logic & tests and rename props
  extensions/apps/antenna/src/components/__mocks__/get-beam-page-mocks.ts
  extensions/apps/antenna/src/components/__mocks__/get-reflect-editor-mocks.ts
  extensions/apps/antenna/src/components/__mocks__/get-reflection-feed-mocks.ts
  extensions/apps/antenna/src/components/__mocks__/get-reflection-page-mocks.ts
  extensions/apps/antenna/src/components/__tests__/beam-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/reflection-page.spec.tsx
  extensions/apps/antenna/src/components/app-routes/index.tsx
  extensions/apps/antenna/src/components/pages/entry-page/beam-page.tsx
  extensions/apps/antenna/src/components/pages/entry-page/beam-section.tsx
  extensions/apps/antenna/src/components/pages/entry-page/reflection-page.tsx
  extensions/apps/antenna/src/components/pages/entry-page/reflection-section.tsx
  extensions/apps/antenna/src/components/reflect-editor/index.tsx
  extensions/apps/profile/src/components/pages/profile-beams/index.tsx
  libs/feed/src/components/beam-content-resolver.tsx
  libs/feed/src/components/beam-feed.tsx
  libs/feed/src/components/cards/beam-card/index.tsx
  libs/feed/src/components/cards/reflection-card/index.tsx
  libs/feed/src/components/editable-reflection/editable-reflection-resolver.tsx
  libs/feed/src/components/editable-reflection/index.tsx
  libs/feed/src/components/pending-reflect/index.tsx
  libs/feed/src/components/reflect-feed.tsx
  libs/feed/src/components/reflection-preview/index.tsx
  libs/hooks/src/use-pending-reflections.ts
  libs/hooks/src/utils/entry-utils.ts
  libs/typings/src/ui/entry.ts
Labels: apps, extensions, libs, hooks, typings, tests

#2341 Fix: Editor mentions
  libs/design-system-components/src/components/Editor/index.tsx
  package.json
Labels: design-system, fix, libs, config

#2342 My extensions Infinite list
  extensions/apps/extensions/src/components/explore.tsx
  extensions/apps/extensions/src/components/extensions-hub.tsx
  extensions/apps/extensions/src/components/installed-extensions.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/dev-info-page.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/extension-action.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/extension-element.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/my-extensions.tsx
  libs/design-system-components/src/components/AppList/index.tsx
  libs/design-system-components/src/components/ProfileMiniCard/index.tsx
  libs/design-system-components/src/utils/string-utils.ts
  libs/design-system-core/src/components/AppAvatar/index.tsx
  libs/design-system-core/src/static/img/App-1.webp
  libs/design-system-core/src/static/img/App-2.webp
  libs/design-system-core/src/static/img/App-3.webp
  libs/design-system-core/src/static/img/Other-1.webp
  libs/design-system-core/src/static/img/Other-2.webp
  libs/design-system-core/src/static/img/Other-3.webp
  libs/design-system-core/src/static/img/Plugin-1.webp
  libs/design-system-core/src/static/img/Plugin-2.webp
  libs/design-system-core/src/static/img/Plugin-3.webp
  libs/design-system-core/src/static/img/Widget-1.webp
  libs/design-system-core/src/static/img/Widget-2.webp
  libs/design-system-core/src/static/img/Widget-3.webp
  libs/design-system-core/src/static/img/app-img-1.webp
  libs/design-system-core/src/static/img/app-img-2.webp
  libs/design-system-core/src/static/img/app-img-3.webp
  libs/sdk/src/gql/index.ts
  tests/utils/src/providers.tsx
Labels: design-system, sdk, apps, extensions, fix, libs, typings, tests

#2343 Add license to extension creation form
  extensions/apps/extensions/src/components/pages/extension-creation-page.tsx
  libs/design-system-components/src/components/AppCreationForm/index.tsx
Labels: design-system, apps, extensions, libs

#2345 chore(): improve mocked provider setup and existing tests for antenna app
  .eslintrc.js
  extensions/apps/antenna/src/components/__mocks__/constants.ts
  extensions/apps/antenna/src/components/__mocks__/get-beam-page-mocks.ts
  extensions/apps/antenna/src/components/__mocks__/get-reflect-editor-mocks.ts
  extensions/apps/antenna/src/components/__mocks__/get-reflection-feed-mocks.ts
  extensions/apps/antenna/src/components/__mocks__/get-reflection-page-mocks.ts
  extensions/apps/antenna/src/components/__tests__/beam-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/global-antenna-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/my-antenna-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/reflection-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/tag-feed-page.spec.tsx
  extensions/apps/antenna/tsconfig.json
  extensions/jest.setup.js
  extensions/widgets/jest.setup.js
  extensions/widgets/trending/src/components/trending-widget-component.tsx
  libs/feed/src/components/pending-reflect/index.tsx
  libs/hooks/src/use-pending-reflections.ts
  package.json
  tests/utils/src/data-generator/reflection.ts
  tests/utils/src/index.ts
  tests/utils/src/providers.tsx
  yarn.lock
Labels: apps, widgets, extensions, libs, hooks, tests, config

#2347 chore(): create integration tests for profile info page
  extensions/apps/antenna/src/components/__mocks__/constants.ts
  extensions/apps/antenna/src/components/__tests__/beam-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/reflection-page.spec.tsx
  extensions/apps/profile/jest.setup.js
  extensions/apps/profile/src/components/__mocks__/constants.ts
  extensions/apps/profile/src/components/__mocks__/get-follow-profile-mocks.ts
  extensions/apps/profile/src/components/__mocks__/get-profile-info-mocks.ts
  extensions/apps/profile/src/components/__tests__/profile-info-page.spec.tsx
  extensions/apps/profile/src/components/follow-profile-button/index.tsx
  extensions/apps/profile/tsconfig.json
  libs/design-system-components/src/components/Profile/Header/index.tsx
  libs/design-system-components/src/components/Profile/Links/index.tsx
  libs/design-system-components/src/components/Profile/Stats/index.tsx
  libs/design-system-components/src/utils/get-icon-from-link.ts
  libs/design-system-core/src/components/Text/index.tsx
  libs/design-system-core/src/twind/main.css
  libs/feed/src/components/cards/reflection-card/index.tsx
  libs/feed/src/components/pending-reflect/index.tsx
  libs/typings/src/ui/design-system.ts
  tests/utils/src/data-generator/user.ts
  twindBaseConfig.js
Labels: design-system, apps, extensions, libs, typings, tests, config

#2344 Fix: Profile interests
  extensions/apps/antenna/src/components/pages/tag-feed-page/tag-feed-page.tsx
  extensions/apps/antenna/src/components/reflect-editor/index.tsx
  extensions/apps/antenna/src/extensions/image-block/image-editor-block.tsx
  extensions/apps/extensions/src/components/pages/developer-mode.tsx
  extensions/apps/extensions/src/components/pages/extension-creation-page.tsx
  extensions/apps/notifications/src/components/pages/customise-notification-page.tsx
  extensions/apps/notifications/src/components/pages/notifications-page.tsx
  extensions/apps/notifications/src/components/pages/welcome-page.tsx
  extensions/apps/notifications/src/extensions/snack-bar-notification.tsx
  extensions/apps/profile/src/components/follow-profile-button/index.tsx
  extensions/apps/profile/src/components/pages/edit-profile/index.tsx
  extensions/apps/profile/src/components/pages/interests/index.tsx
  extensions/apps/profile/src/components/profile-header/index.tsx
  extensions/apps/search/src/components/pages/search-settings-page.tsx
  extensions/apps/settings/src/components/pages/nsfw-option.tsx
  extensions/apps/vibes-console/src/pages/assign-admin.tsx
  extensions/apps/vibes-console/src/pages/edit-max-applicants.tsx
  extensions/apps/vibes-console/src/pages/respond-admin.tsx
  extensions/apps/vibes-console/src/pages/review-item.tsx
  extensions/widgets/trending/src/components/cards/latest-topics.tsx
  extensions/widgets/trending/src/components/cards/topic-row.tsx
  libs/design-system-components/src/stories/dscomponents/app-list.stories.tsx
  libs/design-system-components/src/stories/dscore/app-avatar.stories.tsx
  libs/design-system-components/src/stories/dscore/snackbar.stories.tsx
  libs/design-system-core/src/components/Pill/index.tsx
  libs/design-system-core/src/components/Snackbar/__tests__/index.test.tsx
  libs/design-system-core/src/components/Snackbar/getColor.ts
  libs/design-system-core/src/components/Snackbar/index.tsx
  libs/feed/src/components/editable-reflection/index.tsx
  libs/typings/src/ui/ui-events.ts
Labels: design-system, apps, widgets, extensions, fix, stories, libs, typings

#2351 fix(antenna, profile): bug fixes
  extensions/apps/antenna/src/components/pages/entry-page/beam-section.tsx
  extensions/apps/antenna/src/components/pages/entry-page/reflection-section.tsx
  extensions/apps/antenna/src/components/reflect-editor/index.tsx
  extensions/apps/profile/src/components/pages/edit-profile/index.tsx
  extensions/apps/profile/src/components/profile-header/index.tsx
  libs/design-system-components/src/components/EditProfile/General/index.tsx
  libs/design-system-components/src/components/EditProfile/SocialLinks/index.tsx
  libs/design-system-components/src/components/EditProfile/SocialLinks/social-link.tsx
  libs/design-system-components/src/components/EditProfile/index.tsx
  libs/design-system-components/src/components/EditProfile/types.ts
  libs/design-system-components/src/components/Editor/helpers.ts
  libs/design-system-components/src/components/EntryList/elementIntersectionObserver.ts
  libs/design-system-components/src/components/EntryList/index.tsx
  libs/design-system-components/src/components/EntryList/use-scroll-top.ts
  libs/design-system-components/src/components/Profile/Header/index.tsx
  libs/design-system-components/src/components/ReflectionEditor/index.tsx
  libs/design-system-components/src/stories/dscomponents/edit-profile.stories.tsx
  libs/design-system-core/src/components/ScrollTopButton/__tests__/index.test.tsx
  libs/design-system-core/src/components/ScrollTopButton/index.tsx
  libs/feed/src/components/editable-reflection/index.tsx
Labels: design-system, apps, extensions, fix, stories, libs

#2355 chore(): refactor user store
  extensions/apps/antenna/src/components/__tests__/beam-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/my-antenna-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/reflection-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/tag-feed-page.spec.tsx
  extensions/apps/antenna/src/components/pages/entry-page/beam-section.tsx
  extensions/apps/antenna/src/components/pages/entry-page/reflection-section.tsx
  extensions/apps/auth-app/src/components/pages/connect-wallet.tsx
  extensions/apps/profile/src/components/__tests__/profile-info-page.spec.tsx
  extensions/apps/profile/src/plugins/profile-plugin.ts
  extensions/jest.setup.js
  extensions/widgets/sidebar/src/components/sidebar-component.tsx
  extensions/widgets/sidebar/src/components/sidebar-header.tsx
  libs/hooks/src/store/authentication-store.ts
  libs/hooks/src/store/get-akasha-profile-info.ts
  libs/hooks/src/store/index.ts
  libs/hooks/src/store/use-akasha-store.ts
  libs/typings/src/ui/plugins.ts
  libs/typings/src/ui/store.ts
  tests/utils/src/data-generator/store.ts
Labels: apps, widgets, extensions, libs, hooks, typings, tests

#2350 Fix: My antenna
  extensions/apps/antenna/src/components/pages/my-antenna-page/index.tsx
  extensions/apps/antenna/src/components/pages/tag-feed-page/tag-feed-page.tsx
  libs/feed/src/components/tag-feed.tsx
Labels: apps, extensions, fix, libs

#2352 Refactor/app loader
  extensions/apps/antenna/src/index.tsx
  extensions/apps/auth-app/src/index.tsx
  extensions/apps/extensions/src/index.tsx
  extensions/apps/extensions/src/plugins/base-store.ts
  extensions/apps/extensions/src/plugins/extension-point-store.ts
  extensions/apps/extensions/src/plugins/utils.ts
  extensions/apps/extensions/src/plugins/widget-store.ts
  extensions/apps/extensions/src/routes.ts
  extensions/apps/legal/src/index.tsx
  extensions/apps/notifications/src/index.tsx
  extensions/apps/profile/src/index.tsx
  extensions/apps/routing/src/index.tsx
  extensions/apps/search/src/index.tsx
  extensions/apps/settings/src/index.tsx
  extensions/apps/vibes-console/src/index.tsx
  extensions/apps/vibes/src/index.tsx
  extensions/widgets/analytics/src/index.tsx
  extensions/widgets/layout/src/components/layout-widget.tsx
  extensions/widgets/layout/src/index.tsx
  extensions/widgets/mini-profile/src/index.ts
  extensions/widgets/my-apps/src/index.ts
  extensions/widgets/sidebar/src/index.tsx
  extensions/widgets/top-bar/src/components/topbar-component.tsx
  extensions/widgets/top-bar/src/extension-points.ts
  extensions/widgets/top-bar/src/index.tsx
  extensions/widgets/trending/src/index.tsx
  libs/app-loader/src/extensions.ts
  libs/app-loader/src/html-template-handlers.ts
  libs/app-loader/src/index.ts
  libs/app-loader/src/splash-screen.ts
  libs/app-loader/src/utils.ts
  libs/extensions/src/react/extension.tsx
  libs/hooks/src/use-root-props.tsx
  libs/sdk/src/common/ipfs.connector.ts
  libs/typings/src/ui/app-loader.ts
  libs/typings/src/ui/extension-point.ts
  libs/typings/src/ui/extensions.ts
  libs/typings/src/ui/plugins.ts
  libs/typings/src/ui/root-component.ts
  libs/typings/src/ui/ui-events.ts
  libs/typings/src/ui/widgets.ts
  tests/utils/src/data-generator/integrations.ts
  tests/utils/src/data-generator/world-config.ts
  tests/utils/src/mocks/single-spa.ts
  worlds/akasha.world/public/index.dev.html
  worlds/akasha.world/public/index.html
  worlds/akasha.world/src/index.ts
  worlds/akasha.world/src/registry-overrides.ts
  worlds/akasha.world/tsconfig.json
  worlds/akasha.world/webpack.config.cjs
Labels: sdk, apps, widgets, extensions, libs, hooks, typings, tests, config, world
