Repository AKASHAorg/akasha-core, pull requests merged in 2024-12, with the labels that each got.

#2504 chore(): prevent navigation to full beam page if app is not installed
  extensions/apps/antenna/src/components/pages/global-antenna-page/index.tsx
  extensions/apps/antenna/src/utils/use-installed-and-default-apps.ts
  libs/design-system-components/src/components/Entry/EntryCard/card-actions.tsx
  libs/design-system-components/src/components/Entry/EntryCard/index.tsx
  libs/feed/src/components/beam-content-resolver.tsx
  libs/hooks/src/use-installed-extensions.ts
  tests/utils/src/data-generator/integrations.ts
Labels: design-system, apps, extensions, libs, hooks, tests

#2503 chore(): fix virtual list height on antenna app
  extensions/apps/antenna/src/components/pages/entry-page/beam-section.tsx
  libs/design-system-components/src/components/Entry/EntryCard/index.tsx
  libs/feed/src/components/reflect-feed.tsx
Labels: design-system, apps, extensions, libs

#2506 chore(): adjust profile app routes
  extensions/apps/profile/src/components/app-routes/index.tsx
  extensions/apps/profile/src/components/pages/constants.ts
  extensions/apps/profile/src/components/pages/followers/index.tsx
  extensions/apps/profile/src/components/pages/following/index.tsx
Labels: apps, extensions

#2505 Fix edit extension and publish release
  extensions/apps/extensions/src/components/pages/extension-edit-published-page/edit-published-extension-page.tsx
  libs/design-system-components/src/components/ExtensionReleasePublishForm/index.tsx
Labels: design-system, apps, extensions, fix, libs

#2500 chore(): add test loader plugin
  extensions/apps/extensions/src/components/pages/extension-release-manager/edit-test-release-page.tsx
  extensions/apps/extensions/src/components/pages/extension-release-manager/extension-release-manager-page.tsx
  extensions/widgets/sidebar/src/components/list-sidebar-apps.tsx
  libs/app-loader/src/index.ts
  libs/app-loader/src/plugins/extension-installer.ts
  libs/app-loader/src/plugins/test-mode-loader.ts
  libs/app-loader/src/plugins/utils.ts
  libs/hooks/src/selectors/get-apps-by-id-query.ts
  libs/typings/src/ui/plugins.ts
  tests/utils/src/data-generator/integrations.ts
  worlds/akasha.world/public/index.dev.html
Labels: apps, widgets, extensions, libs, hooks, typings, tests, world

#2508 Dev 493
  extensions/apps/notifications/src/components/pages/notifications-page.tsx
  libs/sdk/src/common/notification/notification-schemas.ts
  libs/sdk/src/common/notification/notification.ts
  libs/sdk/src/sw.ts
  libs/typings/src/sdk/notification.ts
Labels: sdk, apps, extensions, libs, typings

#2509 Extension UI Updates
  extensions/apps/extensions/src/components/pages/extension-edit-page/contributors-page.tsx
  libs/design-system-components/src/components/ExtensionEditStep2Form/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep3Form/index.tsx
  libs/design-system-core/src/components/AutoComplete/index.tsx
Labels: design-system, apps, extensions, libs

#2507 Dev 447
  extensions/apps/notifications/src/components/pages/notifications-page.tsx
  extensions/apps/notifications/src/components/utils/notifications-util.tsx
  extensions/apps/settings/src/components/pages/notifications-preferences-option/index.tsx
  extensions/apps/settings/src/components/pages/notifications-preferences-option/utils.ts
  libs/design-system-components/src/components/NotificationCard/basic-info-card.tsx
  libs/design-system-components/src/components/NotificationCard/index.tsx
  libs/design-system-components/src/components/NotificationsCard/__tests__/index.test.tsx
  libs/design-system-components/src/components/NotificationsCard/index.tsx
  libs/design-system-components/src/components/NotificationsCard/profile-avatar-notification-app.tsx
  libs/design-system-components/src/stories/dscomponents/notifications-card.stories.tsx
  libs/design-system-core/src/static/img/no-notifications-found.webp
  libs/design-system-core/src/utils/time.ts
  libs/sdk/src/common/notification/notification-schemas.ts
  libs/sdk/src/common/notification/notification.ts
  libs/sdk/src/sw.ts
  libs/typings/src/sdk/notification.ts
  libs/typings/src/ui/inbox-notification.ts
  libs/typings/src/ui/index.ts
Labels: design-system, sdk, apps, extensions, stories, libs, typings

#2510 Dev 487
  extensions/apps/settings/src/components/pages/notifications-preferences-option/index.tsx
  extensions/apps/settings/src/components/pages/notifications-preferences-option/loading-settings-placeholder.tsx
  extensions/apps/settings/src/components/pages/notifications-preferences-option/unlock-card.tsx
  extensions/apps/settings/src/utils/settings-items.ts
  libs/hooks/src/use-notifications.ts
Labels: design-system, sdk, apps, extensions, stories, libs, hooks, typings, docs

#2512 Dev 446
  extensions/apps/notifications/src/extensions/rounded-notification-button.tsx
  extensions/apps/settings/src/components/pages/notifications-browser-option.tsx
  libs/design-system-components/src/stories/dscore/icon.stories.tsx
  libs/design-system-core/src/components/Icon/akasha-icons/bell-alert.tsx
  libs/design-system-core/src/components/Icon/akasha-icons/index.ts
  libs/sdk/src/common/notification/notification.ts
  libs/typings/src/sdk/events.ts
Labels: design-system, sdk, apps, extensions, stories, libs, typings

#2513 Feat: update extensions release manager page
  extensions/apps/extensions/src/components/pages/extension-publish-page/create-app-mutation-cache.ts
  extensions/apps/extensions/src/components/pages/extension-release-manager/create-release-mutation-cache.ts
  extensions/apps/extensions/src/components/pages/extension-release-manager/release-publish-page.tsx
Labels: apps, extensions

#2514 Refactor extensions routes
  extensions/apps/extensions/src/components/app-routes/data-loaders.ts
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/routes.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/step2-page.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-published-page/edit-published-extension-page.tsx
  extensions/apps/extensions/src/components/pages/extension-release-manager/edit-test-release-page.tsx
  extensions/apps/extensions/src/components/pages/extension-release-manager/extension-release-manager-page.tsx
  extensions/apps/extensions/src/components/pages/extension-release-manager/release-info-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/routes.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/extension-element.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/my-extensions.tsx
  extensions/apps/extensions/src/constants.ts
  libs/hooks/src/selectors/get-apps-by-id-query.ts
Labels: apps, extensions, libs, hooks

#2517 Handle error state UI when fetching details of each installed app
  extensions/apps/extensions/src/components/pages/installed-extensions/default-extensions-list.tsx
  extensions/apps/extensions/src/components/pages/installed-extensions/installed-extensions-list.tsx
  libs/design-system-components/src/components/AppList/index.tsx
Labels: design-system, apps, extensions, libs

#2516 Extension updates
  extensions/apps/extensions/src/components/app-routes/data-loaders.ts
  extensions/apps/extensions/src/components/pages/extension-release-manager/edit-test-release-page.tsx
  extensions/apps/extensions/src/components/pages/extension-release-manager/release-publish-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/info-page.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/extension-element.tsx
  libs/design-system-components/src/components/AppInfo/header.tsx
  libs/design-system-components/src/components/ExtensionReleasePublishForm/index.tsx
  libs/hooks/src/selectors/get-apps-stream-query.ts
Labels: design-system, apps, extensions, libs, hooks

#2515 Test mode widget
  extensions/apps/extensions/src/components/pages/extension-release-manager/edit-test-release-page.tsx
  extensions/widgets/test-mode-notifier/.eslintrc.cjs
  extensions/widgets/test-mode-notifier/README.md
  extensions/widgets/test-mode-notifier/package.json
  extensions/widgets/test-mode-notifier/project.json
  extensions/widgets/test-mode-notifier/src/components/index.tsx
  extensions/widgets/test-mode-notifier/src/components/test-mode-widget.tsx
  extensions/widgets/test-mode-notifier/src/index.tsx
  extensions/widgets/test-mode-notifier/tsconfig.json
  extensions/widgets/test-mode-notifier/webpack.config.cjs
  libs/app-loader/src/plugins/test-mode-loader.ts
  libs/design-system-core/src/components/Text/index.tsx
  libs/typings/src/ui/plugins.ts
  tests/utils/src/data-generator/integrations.ts
  tsconfig.json
  tsconfig.typedoc.json
  worlds/akasha.world/src/index.ts
  worlds/akasha.world/src/registry-overrides.ts
Labels: design-system, apps, widgets, extensions, libs, typings, tests, config, world, docs

#2518 Refactor/notifications page
  extensions/apps/notifications/src/components/pages/notifications-page.tsx
Labels: apps, extensions
