Repository AKASHAorg/akasha-core, pull requests merged in 2024-06, with the labels that each got.

#2300 Remove react-router-dom
  extensions/apps/antenna/src/extensions/remove-beam-confirmation/index.tsx
  extensions/apps/auth-app/src/components/__tests__/connect.spec.tsx
  extensions/apps/profile/src/components/__tests__/profile-edit-general.spec.tsx
  extensions/apps/profile/src/components/__tests__/profile-info.spec.tsx
  extensions/apps/profile/src/extensions/login-modal.tsx
  libs/design-system-components/src/components/Entry/EntryCard/index.tsx
  libs/design-system-core/src/components/Menu/index.tsx
  libs/feed/src/components/cards/beam-card/index.tsx
  libs/feed/src/components/cards/reflection-card/index.tsx
  libs/hooks/src/index.ts
  libs/hooks/src/use-modal-data.ts
  libs/hooks/src/utils/media-utils.ts
  package.json
  yarn.lock
Labels: design-system, apps, extensions, fix, libs, hooks, tests, config

#2281 Docs: Update READMEs
  README.md
  SCRIPTS-GUIDE.md
  extensions/README.md
  extensions/apps/antenna/DESCRIPTION.md
  extensions/apps/antenna/Readme.md
  extensions/apps/auth-app/DESCRIPTION.md
  extensions/apps/auth-app/Readme.md
  extensions/apps/extensions/DESCRIPTION.md
  extensions/apps/extensions/README.md
  extensions/apps/legal/DESCRIPTION.md
  extensions/apps/legal/README.md
  extensions/apps/notifications/DESCRIPTION.md
  extensions/apps/notifications/README.md
  extensions/apps/profile/DESCRIPTION.md
  extensions/apps/profile/README.md
  extensions/apps/search/DESCRIPTION.md
  extensions/apps/search/README.md
  extensions/apps/settings/DESCRIPTION.md
  extensions/apps/settings/Readme.md
  extensions/apps/vibes-console/DESCRIPTION.md
  extensions/apps/vibes-console/Readme.md
  extensions/apps/vibes/DESCRIPTION.md
  extensions/apps/vibes/Readme.md
  extensions/widgets/analytics/README.md
  extensions/widgets/layout/README.md
  extensions/widgets/layout/src/components/index.tsx
  extensions/widgets/mini-profile/README.md
  extensions/widgets/my-apps/README.md
  extensions/widgets/sidebar/README.md
  extensions/widgets/top-bar/README.md
  extensions/widgets/trending/README.md
  libs/README.md
  libs/composedb/README.md
  libs/design-system-components/README.md
  libs/design-system-core/README.md
  libs/extensions/README.md
  libs/sdk/README.md
  tests/README.md
  tools/README.md
  tools/functions/cloudflare/README.md
  worlds/akasha.world/Readme.md
Labels: design-system, sdk, apps, widgets, extensions, libs, tests, world, docs

#2304 Fix beam image caption
  extensions/apps/antenna/src/extensions/image-block/image-readonly-block.tsx
Labels: apps, extensions, fix

#2303 update hook documentation
  libs/hooks/src/use-accordion.ts
  libs/hooks/src/use-connect-wallet.ts
  libs/hooks/src/use-dismissed-card.ts
  libs/hooks/src/use-health-check.ts
  libs/hooks/src/use-legal.ts
  libs/hooks/src/use-mentions.ts
  libs/hooks/src/use-modal-data.ts
  libs/hooks/src/use-moderation-categories.ts
  libs/hooks/src/use-navigation.ts
  libs/hooks/src/use-network-state.ts
  libs/hooks/src/use-notifications.ts
  libs/hooks/src/use-pending-reflections.ts
  libs/hooks/src/use-profile-stats.ts
  libs/hooks/src/use-root-props.tsx
  libs/hooks/src/use-settings.ts
  libs/hooks/src/use-show-feedback.ts
  libs/hooks/src/use-theme.ts
  libs/hooks/src/use-valid-did.ts
Labels: libs, feature, hooks

#2305 Fix duplicate reflect, again
  extensions/apps/antenna/src/components/pages/entry-page/reflection-page.tsx
Labels: apps, extensions, fix

#2306 Chore: minor fixes
  extensions/apps/antenna/src/components/pages/entry-page/beam-page.tsx
  extensions/apps/extensions/src/components/explore.tsx
  extensions/apps/extensions/src/index.tsx
  extensions/apps/vibes-console/src/index.tsx
  extensions/apps/vibes/src/index.tsx
  extensions/widgets/sidebar/src/components/list-sidebar-apps.tsx
Labels: apps, widgets, extensions, fix

#2302 chore(): refactor intl on beam card
  extensions/apps/antenna/src/components/pages/entry-page/reflection-page.tsx
  extensions/apps/antenna/src/components/pages/global-antenna-page/index.tsx
  extensions/apps/antenna/src/components/pages/my-antenna-page/index.tsx
  extensions/apps/antenna/src/components/pages/tag-feed-page/tag-feed-page.tsx
  libs/design-system-components/src/components/Entry/EntryCard/index.tsx
  libs/design-system-components/src/components/Entry/EntryCardRemoved/index.tsx
  libs/feed/src/components/beam-feed-by-author.tsx
  libs/feed/src/components/beam-feed.tsx
  libs/feed/src/components/cards/beam-card/index.tsx
  libs/feed/src/components/cards/reflection-card/index.tsx
  libs/feed/src/components/tag-feed.tsx
  libs/feed/src/index.tsx
  libs/feed/src/utils/index.ts
Labels: design-system, apps, extensions, fix, libs

#2315 chore(): refactor and fix layout-widget
  extensions/widgets/layout/src/components/layout-widget.tsx
  extensions/widgets/layout/src/components/use-sticky.ts
  extensions/widgets/layout/src/components/useResizeObserver.ts
Labels: widgets, extensions, fix, libs

#2317 sdk doc update
  libs/sdk/README.md
Labels: sdk, libs, feature, docs

#2318 Chore: Update interfaces
  libs/hooks/src/use-analytics.tsx
  libs/hooks/src/utils/media-utils.ts
Labels: fix, libs, hooks

#2310 Patch: Duplex button interaction
  extensions/apps/profile/src/components/follow-profile-button/index.tsx
  extensions/widgets/trending/src/components/cards/latest-topics.tsx
  extensions/widgets/trending/src/components/cards/topic-row.tsx
Labels: apps, widgets, extensions, fix

#2311 design system core documentation
  libs/design-system-core/README.md
  libs/design-system-core/src/components/Accordion/index.tsx
  libs/design-system-core/src/components/AppAvatar/index.tsx
  libs/design-system-core/src/components/AppIcon/index.tsx
  libs/design-system-core/src/components/AutoComplete/index.tsx
  libs/design-system-core/src/components/Avatar/index.tsx
  libs/design-system-core/src/components/BasicPopover/index.tsx
  libs/design-system-core/src/components/Button/index.tsx
  libs/design-system-core/src/components/Card/index.tsx
  libs/design-system-core/src/components/Checkbox/index.tsx
  libs/design-system-core/src/components/ContentBlock/index.tsx
  libs/design-system-core/src/components/CopyToClipboard/index.tsx
  libs/design-system-core/src/components/DatePicker/index.tsx
  libs/design-system-core/src/components/DidField/index.tsx
  libs/design-system-core/src/components/Divider/index.tsx
  libs/design-system-core/src/components/Dropdown/index.tsx
  libs/design-system-core/src/components/DuplexButton/index.tsx
  libs/design-system-core/src/components/EditorMeter/index.tsx
  libs/design-system-core/src/components/ErrorBoundary/index.tsx
  libs/design-system-core/src/components/ErrorLoader/index.tsx
  libs/design-system-core/src/components/Helmet/index.tsx
  libs/design-system-core/src/components/Icon/index.tsx
  libs/design-system-core/src/components/Image/index.tsx
  libs/design-system-core/src/components/ImageCropper/index.tsx
  libs/design-system-core/src/components/InfoCard/index.tsx
  libs/design-system-core/src/components/List/index.tsx
  libs/design-system-core/src/components/MarkdownCard/index.tsx
  libs/design-system-core/src/components/Menu/index.tsx
  libs/design-system-core/src/components/MessageCard/index.tsx
  libs/design-system-core/src/components/Meter/index.tsx
  libs/design-system-core/src/components/Modal/index.tsx
  libs/design-system-core/src/components/Pagination/index.tsx
  libs/design-system-core/src/components/Pill/index.tsx
  libs/design-system-core/src/components/ProfileAvatarButton/index.tsx
  libs/design-system-core/src/components/ProfileNameField/index.tsx
  libs/design-system-core/src/components/RadioButton/index.tsx
  libs/design-system-core/src/components/ScrollTopButton/index.tsx
  libs/design-system-core/src/components/ScrollTopWrapper/index.tsx
  libs/design-system-core/src/components/Snackbar/index.tsx
  libs/design-system-core/src/components/Spinner/index.tsx
  libs/design-system-core/src/components/Stack/index.tsx
  libs/design-system-core/src/components/StackedAvatar/index.tsx
  libs/design-system-core/src/components/SubtitleTextIcon/index.tsx
  libs/design-system-core/src/components/TabList/index.tsx
  libs/design-system-core/src/components/Table/index.tsx
  libs/design-system-core/src/components/Text/index.tsx
  libs/design-system-core/src/components/TextField/index.tsx
  libs/design-system-core/src/components/TextLine/index.tsx
  libs/design-system-core/src/components/Toggle/index.tsx
  libs/design-system-core/src/components/Tooltip/index.tsx
Labels: design-system, libs, feature, docs

#2314 chore(): fix circleci
  .circleci/config.yml
  .circleci/continuation.yml
  extensions/apps/antenna/project.json
  extensions/apps/antenna/src/components/__mocks__/get-reflection-feed-mocks.ts
  extensions/apps/antenna/src/components/__mocks__/index.ts
  extensions/apps/antenna/src/components/__tests__/beam-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/reflection-page.spec.tsx
  extensions/apps/auth-app/project.json
  extensions/apps/extensions/project.json
  extensions/apps/legal/project.json
  extensions/apps/notifications/project.json
  extensions/apps/profile/project.json
  extensions/apps/search/project.json
  extensions/apps/settings/project.json
  extensions/apps/vibes-console/project.json
  extensions/apps/vibes/project.json
  extensions/widgets/mini-profile/project.json
  extensions/widgets/my-apps/project.json
  extensions/widgets/trending/project.json
  libs/app-loader/project.json
  libs/design-system-components/project.json
  libs/design-system-core/project.json
  libs/extensions/project.json
  libs/feed/project.json
  libs/feed/src/__mocks__/index.tsx
  libs/hooks/project.json
  tools/executors/project.json
Labels: design-system, apps, widgets, extensions, fix, libs, hooks, tests, config

#2319 fix(): breaking tests
  libs/hooks/src/__tests__/use-navigation.spec.ts
  libs/hooks/src/__tests__/use-network-state.spec.ts
  libs/hooks/src/__tests__/utils.tsx
Labels: fix, libs, hooks, tests

#2323 feat(registry): load remote source
  libs/app-loader/src/extensions.ts
  libs/app-loader/src/index.ts
  libs/sdk/src/common/ipfs.connector.ts
  libs/typings/src/ui/app-loader.ts
  libs/typings/src/ui/apps.ts
  tests/utils/src/data-generator/integrations.ts
  worlds/akasha.world/src/index.ts
  worlds/akasha.world/src/registry-overrides.ts
Labels: sdk, libs, feature, typings, tests, world

#2324 fix(): isViewer computation
  extensions/apps/profile/src/components/profile-header/index.tsx
Labels: apps, extensions, fix

#2320 Feat: Extensions Developer Mode
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/developer-mode.tsx
  extensions/apps/extensions/src/components/explore.tsx
  extensions/apps/extensions/src/components/extensions-hub.tsx
  extensions/apps/extensions/src/components/my-extensions.tsx
  extensions/apps/extensions/src/components/pages/developer-mode.tsx
  extensions/apps/extensions/src/components/pages/explore.tsx
  extensions/apps/extensions/src/components/pages/extensions-hub.tsx
  extensions/apps/extensions/src/components/pages/index.ts
  extensions/apps/extensions/src/components/pages/my-extensions.tsx
  extensions/apps/extensions/src/constants.ts
  extensions/apps/extensions/src/index.tsx
  extensions/apps/extensions/src/routes.ts
  extensions/apps/settings/src/components/pages/theme-option.tsx
  extensions/apps/settings/src/utils/settings-items.ts
  libs/hooks/src/use-theme.ts
Labels: apps, extensions, libs, feature, hooks

#2325 Adjust extension info page
  extensions/apps/extensions/src/components/pages/info-page.tsx
  libs/design-system-components/src/components/AppInfo/index.tsx
Labels: design-system, apps, extensions, fix, libs

#2322 Create extension page
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/pages/app-creation-page.tsx
  extensions/apps/extensions/src/components/pages/index.ts
  extensions/apps/extensions/src/routes.ts
  libs/design-system-components/src/components/AppCreationForm/index.tsx
  libs/design-system-core/src/components/Dropdown/index.tsx
  libs/design-system-core/src/components/TextField/Label/index.tsx
  libs/design-system-core/src/components/TextField/index.tsx
  libs/design-system-core/src/components/TextField/types.ts
Labels: design-system, apps, extensions, libs, feature

#2326 overlooked typing part
  libs/design-system-components/src/components/AppCreationForm/index.tsx
Labels: design-system, fix, libs

#2327 fix(profile-app): profile beams page
  extensions/apps/profile/src/components/pages/profile-beams/index.tsx
Labels: apps, extensions, fix

#2330 Fix: remove beams
  extensions/apps/antenna/src/components/pages/global-antenna-page/index.tsx
  extensions/apps/antenna/src/extensions/remove-beam-confirmation/index.tsx
  libs/design-system-components/src/components/Entry/EntryCard/index.tsx
  libs/design-system-core/src/components/List/list-element.tsx
  libs/design-system-core/src/components/Menu/index.tsx
Labels: design-system, apps, extensions, fix, libs
