Repository AKASHAorg/akasha-core, pull requests merged in 2024-11, with the labels that each got.

#2470 chore(): followers page fix
  extensions/apps/profile/src/components/follow-profile-button/follow-button.tsx
  extensions/apps/profile/src/components/follow-profile-button/update-follow-mutation-cache.ts
  extensions/apps/profile/src/components/pages/engagements-entry.tsx
  extensions/apps/profile/src/components/pages/followers/followers.tsx
  extensions/apps/profile/src/components/pages/following/following.tsx
  libs/hooks/src/selectors/get-follow-documents-by-did-query.ts
Labels: design-system, apps, extensions, fix, libs, hooks

#2466 Contributors page
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/contributors-page.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/index.ts
  extensions/apps/extensions/src/components/pages/extension-edit-page/main-page.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/step1-page.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/step2-page.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/step3-page.tsx
  extensions/apps/extensions/src/constants.ts
  extensions/apps/extensions/src/extensions/remove-extension-confirmation/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep3Form/Collaborators/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep3Form/index.tsx
  libs/design-system-core/src/components/StackedAvatar/index.tsx
  libs/hooks/src/use-profiles-list.tsx
  libs/typings/src/ui/extensions.ts
Labels: design-system, apps, extensions, libs, hooks, typings

#2468 Refactor: My Extensions Page
  extensions/apps/extensions/src/components/pages/my-extensions/my-extensions.tsx
  extensions/apps/extensions/src/extensions/remove-extension-confirmation/index.tsx
  libs/typings/src/ui/ui-events.ts
Labels: apps, extensions, libs, typings

#2467 chore(): releases page
  extensions/apps/extensions/src/components/app-routes/error-component.tsx
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/pages/info-page/info-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/routes.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/audit-log-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/index.ts
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/releases-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/version-history-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/version-info-page.tsx
  extensions/apps/extensions/src/components/root-route.tsx
  libs/hooks/src/selectors/get-apps-query.ts
  worlds/akasha.world/src/twind.config.ts
Labels: apps, extensions, libs, feature, hooks, world

#2472 chore(): create extension gallery manager
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/extension-gallery-manager/index.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/extension-gallery-manager/use-gallery-image.ts
  extensions/apps/extensions/src/components/pages/extension-edit-page/index.ts
  extensions/apps/extensions/src/components/pages/extension-edit-page/main-page.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/step2-page.tsx
  extensions/apps/extensions/src/routes.ts
  extensions/apps/extensions/src/utils/selectors/get-draft-extensions.ts
  extensions/apps/extensions/src/utils/selectors/get-form-values.ts
  extensions/apps/profile/src/components/pages/edit-profile/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep2Form/Gallery/index.tsx
  libs/design-system-components/src/components/ExtensionGalleryManager/gallery-image.tsx
  libs/design-system-components/src/components/ExtensionGalleryManager/get-gallery-state.ts
  libs/design-system-components/src/components/ExtensionGalleryManager/index.tsx
Labels: design-system, apps, extensions, libs

#2471 Developer sub page
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/app.tsx
  extensions/apps/extensions/src/components/index.tsx
  extensions/apps/extensions/src/components/pages/info-page/info-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/routes.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/contact-support-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/dev-info-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/index.ts
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/permissions-page.tsx
  extensions/apps/extensions/src/components/pages/installed-extensions/default-extensions-list.tsx
  extensions/apps/extensions/src/components/root-route.tsx
  libs/design-system-components/src/components/AppList/index.tsx
  libs/design-system-components/src/components/ExtensionHeader/index.tsx
  libs/hooks/src/selectors/get-apps-by-publisher-did-query.ts
  libs/hooks/src/selectors/selector-utils.ts
Labels: design-system, apps, extensions, libs, hooks, world

#2465 chore(): update gallery section on edit extension form
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/extension-gallery-manager/index.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/extension-gallery-manager/use-gallery-image.ts
  extensions/apps/extensions/src/components/pages/extension-edit-page/index.ts
  extensions/apps/extensions/src/components/pages/extension-edit-page/main-page.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/step2-page.tsx
  extensions/apps/extensions/src/constants.ts
  extensions/apps/extensions/src/routes.ts
  extensions/apps/extensions/src/utils/selectors/get-draft-extensions.ts
  extensions/apps/extensions/src/utils/selectors/get-form-values.ts
  extensions/apps/notifications/src/components/pages/customise-notification-page.tsx
  extensions/apps/profile/src/components/pages/edit-profile/index.tsx
  libs/design-system-components/src/components/EditProfile/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep2Form/Gallery/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep2Form/UsefulLinks/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep2Form/index.tsx
  libs/design-system-components/src/components/ExtensionGalleryManager/gallery-image.tsx
  libs/design-system-components/src/components/ExtensionGalleryManager/get-gallery-state.ts
  libs/design-system-components/src/components/ExtensionGalleryManager/index.tsx
  libs/design-system-components/src/components/ImageOverlay/index.tsx
Labels: design-system, apps, extensions, libs, hooks, world

#2475 Remove my-apps widget
  CODEOWNERS
  extensions/README.md
  extensions/widgets/README.md
  extensions/widgets/mini-profile/src/mini-profile-widget.tsx
  extensions/widgets/my-apps/.eslintrc.cjs
  extensions/widgets/my-apps/README.md
  extensions/widgets/my-apps/jest.config.cjs
  extensions/widgets/my-apps/jest.setup.js
  extensions/widgets/my-apps/package.json
  extensions/widgets/my-apps/project.json
  extensions/widgets/my-apps/src/apps-list.tsx
  extensions/widgets/my-apps/src/hidden-integrations.ts
  extensions/widgets/my-apps/src/index.ts
  extensions/widgets/my-apps/src/my-apps-widget.tsx
  extensions/widgets/my-apps/src/no-apps-message.tsx
  extensions/widgets/my-apps/tsconfig.json
  extensions/widgets/my-apps/webpack.config.cjs
  tsconfig.json
  tsconfig.typedoc.json
  worlds/akasha.world/src/index.ts
  worlds/akasha.world/src/registry-overrides.ts
Labels: widgets, extensions, config, world, docs

#2473 chore(): adjust size and dimension of buttons to reflect design
  extensions/apps/antenna/src/components/app-routes/not-found-component.tsx
  extensions/apps/antenna/src/components/pages/editor-page/editor-page.tsx
  extensions/apps/antenna/src/extensions/beam-editor/footer/add-block-button.tsx
  extensions/apps/antenna/src/extensions/beam-editor/footer/index.tsx
  extensions/apps/auth-app/src/components/app-routes/not-found-component.tsx
  extensions/apps/extensions/src/components/pages/developer-mode.tsx
  extensions/apps/extensions/src/components/pages/extension-creation-page/extension-creation-page.tsx
  extensions/apps/extensions/src/components/pages/extension-creation-page/post-extension-creation-page.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/main-page.tsx
  extensions/apps/extensions/src/components/pages/extension-publish-page.tsx
  extensions/apps/extensions/src/components/pages/extension-release-manager/edit-test-release-page.tsx
  extensions/apps/extensions/src/components/pages/extension-release-manager/extension-release-manager-page.tsx
  extensions/apps/extensions/src/components/pages/extension-release-manager/release-info-page.tsx
  extensions/apps/extensions/src/components/pages/extension-release-manager/release-publish-page.tsx
  extensions/apps/extensions/src/components/pages/installed-extensions/installed-extensions-list.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/my-extensions.tsx
  extensions/apps/extensions/src/components/pages/post-publish-page.tsx
  extensions/apps/notifications/src/components/pages/welcome-page.tsx
  extensions/apps/profile/src/components/app-routes/not-found-component.tsx
  libs/design-system-components/src/components/AppCreationForm/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep1Form/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep2Form/Gallery/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep2Form/UsefulLinks/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep2Form/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep3Form/index.tsx
  libs/design-system-components/src/components/ExtensionGalleryManager/gallery-image.tsx
  libs/design-system-components/src/components/ExtensionGalleryManager/index.tsx
  libs/design-system-core/src/components/AppIcon/index.tsx
  libs/design-system-core/src/components/Button/IconOnlyButton/index.tsx
  libs/design-system-core/src/components/Button/index.tsx
  libs/design-system-core/src/components/Button/types.ts
  libs/design-system-core/src/components/Pill/index.tsx
Labels: design-system, apps, extensions, libs

#2469 feature(Notifications): Add methods for handling unread notifications
  libs/sdk/src/common/notification/notification.ts
Labels: sdk, libs, typings

#2477 Add mentions to published beam content
  extensions/apps/antenna/src/extensions/beam-editor/use-blocks-publishing.ts
  extensions/apps/antenna/src/extensions/slate-block/slate-editor-block.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/step3-page.tsx
  libs/design-system-components/src/components/Editor/helpers.ts
  libs/design-system-components/src/components/Editor/index.tsx
  libs/typings/src/ui/editor-blocks.ts
  libs/typings/src/ui/editor.ts
  libs/typings/src/ui/entry.ts
Labels: design-system, apps, extensions, libs, typings

#2478 Refactor: TextField and Dropdown
  extensions/apps/extensions/src/components/pages/my-extensions/extension-element.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/my-extensions.tsx
  libs/design-system-components/src/components/EditProfile/General/Header/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep1Form/Header/index.tsx
  libs/design-system-components/src/components/InstallApp/index.tsx
  libs/design-system-components/src/components/SwitchCard/index.tsx
  libs/design-system-components/src/stories/dscore/dropdown.stories.tsx
  libs/design-system-components/src/stories/dscore/textfield.stories.tsx
  libs/design-system-core/src/components/Button/getContainerClasses.ts
  libs/design-system-core/src/components/Button/getTextClasses.ts
  libs/design-system-core/src/components/Dropdown/index.tsx
  libs/design-system-core/src/components/TextField/Caption/index.tsx
  libs/design-system-core/src/components/TextField/Input/getContainerClasses.ts
  libs/design-system-core/src/components/TextField/Input/index.tsx
  libs/design-system-core/src/components/TextField/Multiline/index.tsx
  libs/design-system-core/src/components/TextField/index.tsx
  libs/design-system-core/src/components/TextField/utils/get-container-classes.ts
  libs/design-system-core/src/components/TextField/utils/get-icon-classes.ts
  libs/design-system-core/src/components/TextField/utils/get-input-classes.ts
  libs/design-system-core/src/utils/get-color-classes.ts
  libs/design-system-core/src/utils/get-elevation-classes.ts
  libs/design-system-core/src/utils/get-height-classes.ts
  libs/design-system-core/src/utils/get-padding-classes.ts
  libs/design-system-core/src/utils/get-radius-classes.ts
  libs/design-system-core/src/utils/get-width-classes.ts
  libs/design-system-core/src/utils/index.ts
Labels: design-system, apps, extensions, stories, libs

#2480 chore(): resolve an issue while saving gallery image on mobile
  extensions/apps/extensions/src/components/pages/extension-edit-page/extension-gallery-manager/index.tsx
  extensions/apps/extensions/src/components/pages/installed-extensions/installed-extensions-list.tsx
Labels: apps, extensions

#2483 chore(): add improvements to gallery manager
  extensions/apps/extensions/src/components/pages/extension-edit-page/extension-gallery-manager/index.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/step2-page.tsx
  extensions/apps/extensions/src/constants.ts
  libs/design-system-components/src/components/ExtensionEditStep2Form/Gallery/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep2Form/index.tsx
  libs/design-system-components/src/components/ExtensionGalleryManager/gallery-image.tsx
  libs/design-system-components/src/components/ExtensionGalleryManager/index.tsx
  libs/design-system-components/src/components/ImageBlockGallery/image-block-grid-item.tsx
  libs/design-system-core/src/components/Image/index.tsx
  libs/design-system-core/src/static/img/cli-command.webp
  libs/design-system-core/src/utils/delay-load.tsx
Labels: design-system, apps, extensions, libs

#2482 Add pages for notifications settings
  extensions/apps/settings/src/components/app-routes/index.tsx
  extensions/apps/settings/src/components/pages/notifications-browser-option.tsx
  extensions/apps/settings/src/components/pages/notifications-option.tsx
  extensions/apps/settings/src/components/pages/notifications-preferences-option.tsx
  extensions/apps/settings/src/routes.ts
  extensions/apps/settings/src/utils/settings-items.ts
Labels: design-system, apps, extensions, stories, libs

#2487 Bug fixes
  extensions/apps/antenna/src/extensions/image-block/image-editor-block.tsx
  extensions/apps/antenna/src/extensions/image-block/image-readonly-block.tsx
  extensions/apps/extensions/src/components/pages/extension-publish-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/info-page.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/extension-element.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/my-extensions.tsx
  libs/design-system-components/src/components/ExtensionEditStep3Form/index.tsx
  libs/design-system-components/src/components/ExtensionImageGallery/index.tsx
  libs/design-system-components/src/components/ExtensionReviewAndPublish/index.tsx
  libs/design-system-components/src/components/ImageBlockGallery/image-block-grid-item.tsx
  libs/design-system-components/src/components/ImageBlockGallery/index.tsx
  libs/design-system-core/src/components/Icon/akasha-icons/image-crossed.tsx
  libs/design-system-core/src/components/Icon/akasha-icons/index.ts
Labels: design-system, apps, extensions, fix, libs

#2474 extension subpages fixes
  extensions/apps/extensions/src/components/pages/info-page/info-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/dev-info-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/releases-page.tsx
  libs/design-system-core/src/components/CopyToClipboard/index.tsx
  libs/design-system-core/src/components/ErrorLoader/error-card.tsx
  libs/design-system-core/src/components/ErrorLoader/index.tsx
  libs/sdk/src/gql/index.ts
Labels: design-system, sdk, apps, extensions, fix, libs

#2486 chore(): updates on publish extension page
  extensions/apps/extensions/src/components/pages/extension-edit-page/step3-page.tsx
  extensions/apps/extensions/src/components/pages/extension-publish-page.tsx
  extensions/apps/extensions/src/constants.ts
  libs/design-system-components/src/components/ExtensionEditStep3Form/index.tsx
  libs/design-system-components/src/components/ExtensionReviewAndPublish/index.tsx
Labels: design-system, apps, extensions, libs

#2491 add error handlers, loaders and not-logged-in messages
  libs/app-loader/src/html-template-handlers.ts
  libs/app-loader/src/index.ts
  worlds/akasha.world/public/img/spinner-icon.svg
  worlds/akasha.world/public/index.dev.html
  worlds/akasha.world/public/index.html
Labels: libs, world

#2489 chore(): list contributors of local extension on contributors info page
  extensions/apps/extensions/src/components/pages/extension-publish-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/InfoSubroutePageHeader/index.tsx
  extensions/apps/extensions/src/components/pages/info-page/info-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/routes.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/collaborators-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/contributors-page/index.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/contributors-page/use-contributors.ts
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/index.ts
  libs/design-system-components/src/components/ExtensionGalleryManager/index.tsx
  libs/hooks/src/selectors/get-apps-query.ts
Labels: design-system, apps, extensions, libs, hooks

#2462 Add/Refactor PushProtocol Service
  .env.example
  libs/sdk/src/common/config.ts
  libs/sdk/src/common/env.ts
  libs/sdk/src/common/notification/notification-schemas.ts
  libs/sdk/src/common/notification/notification.ts
  libs/sdk/src/container.ts
  libs/sdk/src/index.ts
  libs/sdk/src/profiles/index.ts
  libs/typings/src/sdk/common.ts
  libs/typings/src/sdk/events.ts
  libs/typings/src/sdk/index.ts
  libs/typings/src/sdk/notification.ts
Labels: sdk, libs, feature, typings

#2492 chore(): extract useSaveImage hook from apps and move it to hooks package
  extensions/apps/extensions/src/components/pages/extension-edit-page/step1-page.tsx
  extensions/apps/extensions/src/utils/save-and-get-image-obj.tsx
  extensions/apps/extensions/src/utils/use-save-image.ts
  extensions/apps/profile/src/components/pages/edit-profile/index.tsx
  extensions/apps/profile/src/components/pages/edit-profile/save-and-get-image-obj.tsx
  extensions/apps/profile/src/components/pages/edit-profile/use-save-image.ts
  libs/hooks/src/index.ts
  libs/hooks/src/use-save-image.ts
Labels: apps, extensions, libs, hooks

#2490 Enabling notifications
  extensions/apps/notifications/src/components/pages/welcome-page.tsx
  extensions/apps/settings/src/components/pages/notifications-browser-option.tsx
  extensions/apps/settings/src/components/pages/notifications-option.tsx
  extensions/apps/settings/src/utils/settings-items.ts
  libs/design-system-components/src/components/NotificationSettingsCard/index.tsx
  libs/design-system-core/src/static/img/no-notifications.webp
  libs/design-system-core/src/static/img/notification-browser-disabled.webp
  libs/design-system-core/src/static/img/notification-browser-enabled.webp
  libs/design-system-core/src/static/img/notification-browser.webp
  libs/design-system-core/src/static/img/notificationapp-Notconnected-min.webp
  libs/sdk/src/common/notification/notification.ts
Labels: design-system, sdk, apps, extensions, libs

#2493 chore(): patch editor
  libs/design-system-components/src/components/Editor/renderers.tsx
Labels: design-system, fix, libs

#2479 Fix: My extensions list
  extensions/apps/extensions/src/components/pages/extension-publish-page/create-app-mutation-cache.ts
  extensions/apps/extensions/src/components/pages/extension-publish-page/index.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/releases-page.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/extension-element.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/my-extensions.tsx
  extensions/apps/extensions/src/extensions/remove-extension-confirmation/index.tsx
  extensions/apps/extensions/src/extensions/remove-extension-confirmation/update-app-mutation-cache.ts
  libs/design-system-components/src/components/AppInfo/header.tsx
  libs/design-system-components/src/components/AppList/index.tsx
  libs/design-system-components/src/components/ExtensionReviewAndPublish/index.tsx
  libs/design-system-core/src/components/ExtensionIcon/index.tsx
  libs/design-system-core/src/components/Icon/akasha-icons/plugin.tsx
  libs/design-system-core/src/components/Icon/akasha-icons/widget.tsx
Labels: design-system, apps, extensions, fix, libs

#2498 chore(): redirect to app info page when clicking on "install" on beam card
  libs/feed/src/components/cards/beam-card/content-block-renderer.tsx
Labels: libs

#2496 chore(): update extensions cards
  extensions/apps/extensions/src/components/explore.tsx
  extensions/apps/extensions/src/components/extensions-hub.tsx
  extensions/apps/extensions/src/components/pages/explore.tsx
  extensions/apps/extensions/src/components/pages/info-page/info-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/dev-info-page.tsx
  extensions/apps/extensions/src/components/pages/installed-extensions/default-extensions-list.tsx
  extensions/apps/extensions/src/components/pages/installed-extensions/installed-extensions-list.tsx
  extensions/apps/extensions/src/utils/extension-utils.tsx
  libs/design-system-components/src/components/AppList/index.tsx
  libs/design-system-components/src/components/DynamicInfiniteScroll/index.tsx
  libs/design-system-components/src/components/ExtensionCard/index.tsx
  libs/design-system-components/src/stories/dscomponents/app-list.stories.tsx
  libs/design-system-components/src/stories/dscomponents/extension-card.stories.tsx
  libs/design-system-components/src/stories/dscore/avatar.stories.tsx
  libs/design-system-core/src/components/AppCoverImage/index.tsx
  libs/design-system-core/src/components/Pill/index.tsx
  libs/design-system-core/src/components/ProfileNameField/index.tsx
  libs/design-system-core/src/utils/generate-avatar-classes.ts
  libs/hooks/src/selectors/get-app-release-by-id-query.ts
  libs/hooks/src/use-installed-extensions.ts
Labels: design-system, sdk, apps, extensions, stories, libs, hooks

#2488 Feat: Unsaved Changes Modal
  extensions/apps/antenna/src/extensions/beam-editor/beam-editor.tsx
  extensions/apps/profile/src/components/edit-interests/index.tsx
  extensions/apps/profile/src/components/edit-profile/General/Header/DeleteImageModal/index.tsx
  extensions/apps/profile/src/components/edit-profile/General/Header/index.tsx
  extensions/apps/profile/src/components/edit-profile/General/index.tsx
  extensions/apps/profile/src/components/edit-profile/SocialLinks/index.tsx
  extensions/apps/profile/src/components/edit-profile/SocialLinks/social-link.tsx
  extensions/apps/profile/src/components/edit-profile/index.tsx
  extensions/apps/profile/src/components/edit-profile/types.ts
  extensions/apps/profile/src/components/edit-profile/utils.ts
  extensions/apps/profile/src/components/pages/edit-profile/index.tsx
  extensions/apps/profile/src/components/pages/interests/index.tsx
  libs/app-loader/src/index.ts
  libs/design-system-components/src/components/UnsavedChangesModal/index.tsx
  libs/hooks/src/use-modal-data.ts
  libs/typings/src/ui/root-component.ts
  tests/utils/src/data-generator/integrations.ts
Labels: design-system, apps, extensions, libs, hooks, typings, tests

#2495 Notifications preferences
  extensions/apps/notifications/src/components/pages/welcome-page.tsx
  extensions/apps/settings/src/components/app-routes/index.tsx
  extensions/apps/settings/src/components/pages/notifications-option.tsx
  extensions/apps/settings/src/components/pages/notifications-preferences-option.tsx
  extensions/apps/settings/src/components/pages/notifications-preferences-option/antenna-setting.tsx
  extensions/apps/settings/src/components/pages/notifications-preferences-option/enable-all-setting.tsx
  extensions/apps/settings/src/components/pages/notifications-preferences-option/index.tsx
  extensions/apps/settings/src/components/pages/notifications-preferences-option/profile-setting.tsx
  extensions/apps/settings/src/components/pages/notifications-preferences-option/unlock-card.tsx
  extensions/apps/settings/src/components/pages/notifications-preferences-option/utils.ts
  libs/design-system-components/src/stories/dscore/icon.stories.tsx
  libs/design-system-core/src/components/Icon/akasha-icons/index.ts
  libs/design-system-core/src/components/Icon/akasha-icons/info.tsx
  libs/design-system-core/src/components/Icon/akasha-icons/lock.tsx
  libs/hooks/README.md
  libs/hooks/src/index.ts
  libs/hooks/src/use-mutation-events-listener.ts
  libs/hooks/src/use-notifications.ts
  libs/sdk/src/common/notification/notification.ts
  libs/typings/src/ui/design-system.ts
Labels: design-system, sdk, apps, extensions, stories, libs, hooks, typings, docs

#2502 Chore: patch profile
  extensions/apps/profile/src/components/edit-profile/index.tsx
  extensions/apps/profile/src/components/pages/interests/index.tsx
  extensions/widgets/top-bar/src/components/topbar.tsx
Labels: apps, widgets, extensions, fix

#2501 chore(): handle query and content decoding errors on beam, reflection and antenna pages
  extensions/apps/antenna/src/components/pages/entry-page/reflection-section.tsx
  libs/design-system-components/src/components/Editor/index.tsx
  libs/design-system-components/src/components/Entry/EntryCard/index.tsx
  libs/design-system-components/src/stories/dscore/inline-notification.stories.tsx
  libs/design-system-components/src/stories/dscore/message-card.stories.tsx
  libs/design-system-core/src/components/InlineNotification/__tests__/index.test.tsx
  libs/design-system-core/src/components/InlineNotification/index.tsx
  libs/design-system-core/src/components/MessageCard/index.tsx
  libs/feed/src/components/beam-content-resolver.tsx
  libs/feed/src/components/cards/network-error-card/index.tsx
  libs/feed/src/components/cards/reflection-card/index.tsx
  libs/feed/src/components/editable-reflection-resolver.tsx
  libs/feed/src/components/editable-reflection/editable-reflection-resolver.tsx
  libs/feed/src/components/editable-reflection/index.tsx
  libs/feed/src/components/editable-reflection/reflection-editor-renderer.tsx
  libs/feed/src/components/reflection-preview/index.tsx
  libs/feed/src/index.tsx
  libs/feed/src/utils/can-decode-content.ts
  libs/hooks/src/selectors/get-reflection-by-id-query.ts
  libs/hooks/src/utils/entry-utils.ts
Labels: design-system, apps, extensions, stories, libs, hooks
