Repository AKASHAorg/akasha-core, pull requests merged in 2025-04, with the labels that each got.

#2597 chore(): adjust conditional content navigation
  libs/feed/src/components/cards/beam-card/index.tsx
  libs/feed/src/components/cards/entry-card/index.tsx
Labels: libs

#2598 fix(): styling
  extensions/apps/antenna/src/components/pages/entry-page/reflection-page.tsx
Labels: apps, extensions, fix, libs

#2603 chore(): replace stepper component
  extensions/apps/extensions/src/components/pages/extension-edit-page/step1-page.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/step2-page.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/step3-page.tsx
Labels: apps, extensions

#2604 chore(): replace loader with lucide loader
  extensions/apps/antenna/src/components/pages/my-antenna-page/index.tsx
  extensions/apps/auth-app/src/components/index.tsx
  extensions/apps/extensions/src/components/index.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/contributors-page.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/extension-gallery-manager/index.tsx
  extensions/apps/extensions/src/components/pages/extension-publish-page/index.tsx
  extensions/apps/extensions/src/components/pages/extension-release-manager/edit-test-release-page.tsx
  extensions/apps/extensions/src/components/pages/extension-release-manager/extension-release-manager-page.tsx
  extensions/apps/extensions/src/components/pages/extension-release-manager/release-info-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/contributors-page/index.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/dev-info-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/releases-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/uninstall-modal.tsx
  extensions/apps/extensions/src/components/pages/installed-extensions/default-extensions-list.tsx
  extensions/apps/extensions/src/components/pages/installed-extensions/installed-extensions-list.tsx
  extensions/apps/notifications/src/components/index.tsx
  extensions/apps/notifications/src/components/pages/notifications-page.tsx
  extensions/apps/settings/src/components/index.tsx
  extensions/apps/world-builder/src/components/index.tsx
  libs/design-system-components/src/components/DynamicInfiniteScroll/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep3Form/index.tsx
  libs/design-system-components/src/components/ExtensionGalleryManager/gallery-image.tsx
  libs/feed/src/components/beam-feed-by-author.tsx
  libs/feed/src/components/beam-feed.tsx
  libs/feed/src/components/reflect-feed.tsx
  libs/feed/src/components/tag-feed.tsx
  libs/hooks/README_GENERATED.md
Labels: design-system, apps, extensions, libs, hooks, docs

#2600 chore(): replace copyToClipboard
  extensions/apps/extensions/src/components/pages/extension-edit-page/extension-gallery-manager/index.tsx
  extensions/apps/extensions/src/components/pages/info-page/info-page.tsx
  libs/design-system-components/src/components/Profile/Links/index.tsx
  libs/design-system-core/src/components/DidField/index.tsx
  libs/ui/src/akasha-components/copy-to-clipboard.tsx
Labels: design-system, apps, extensions, libs, config

#2608 chore(): replace autocomplete with TagsInput
  extensions/apps/profile/src/components/edit-interests/index.tsx
Labels: apps, extensions
