Repository AKASHAorg/akasha-core, pull requests merged in 2025-03, with the labels that each got.

#2562 chore(): update components in ui package and world builder
  extensions/apps/world-builder/src/components/pages/main/landing-page-component.tsx
  extensions/apps/world-builder/src/components/pages/world-config/config-success.tsx
  extensions/apps/world-builder/src/components/pages/world-config/world-config-form-step2.tsx
  extensions/apps/world-builder/src/components/pages/world-create/create-success.tsx
  extensions/apps/world-builder/src/components/pages/world-create/world-create-form.tsx
  extensions/apps/world-builder/src/ui/extension-avatar.tsx
  extensions/apps/world-builder/src/ui/extension-card.tsx
  libs/ui/README.md
  libs/ui/src/akasha-components/autocomplete.tsx
  libs/ui/src/akasha-components/badge.tsx
  libs/ui/src/akasha-components/button.tsx
  libs/ui/src/akasha-components/copy-to-clipboard.tsx
  libs/ui/src/akasha-components/duplex-button.tsx
  libs/ui/src/akasha-components/error-loader.tsx
  libs/ui/src/akasha-components/form.tsx
  libs/ui/src/akasha-components/icon-container.tsx
  libs/ui/src/akasha-components/image.tsx
  libs/ui/src/akasha-components/input.tsx
  libs/ui/src/akasha-components/stack.tsx
  libs/ui/src/akasha-components/stacked-avatar.tsx
  libs/ui/src/akasha-components/stepper.tsx
  libs/ui/src/akasha-components/textarea.tsx
  libs/ui/src/akasha-components/tooltip.tsx
  libs/ui/src/akasha-components/typography.tsx
  libs/ui/src/components/badge.tsx
  libs/ui/src/components/input.tsx
  libs/ui/src/components/select.tsx
  libs/ui/src/components/tabs.tsx
  libs/ui/src/components/textarea.tsx
Labels: apps, extensions, libs, docs

#2564 chore(): update component naming to match updates in akasha-ui
  extensions/apps/world-builder/src/components/pages/world-config/world-config-form-step2.tsx
  extensions/apps/world-builder/src/ui/extension-card.tsx
  extensions/apps/world-builder/src/ui/profile-avatar-button.tsx
Labels: apps, extensions

#2566 chore(): add forwardRef to components inside ui package
  libs/ui/src/akasha-components/autocomplete.tsx
  libs/ui/src/akasha-components/badge.tsx
  libs/ui/src/akasha-components/button.tsx
  libs/ui/src/akasha-components/card.tsx
  libs/ui/src/akasha-components/duplex-button.tsx
  libs/ui/src/akasha-components/error-loader.tsx
  libs/ui/src/akasha-components/form.tsx
  libs/ui/src/akasha-components/icon-container.tsx
  libs/ui/src/akasha-components/image.tsx
  libs/ui/src/akasha-components/inline-notification.tsx
  libs/ui/src/akasha-components/input.tsx
  libs/ui/src/akasha-components/stack.tsx
  libs/ui/src/akasha-components/stacked-avatar.tsx
  libs/ui/src/akasha-components/stepper.tsx
  libs/ui/src/akasha-components/textarea.tsx
  libs/ui/src/akasha-components/tooltip.tsx
  libs/ui/src/akasha-components/typography.tsx
  libs/ui/src/components/skeleton.tsx
  libs/ui/src/components/tabs.tsx
Labels: libs

#2563 World builder dashboard
  extensions/apps/world-builder/src/components/app-routes/index.tsx
  extensions/apps/world-builder/src/components/pages/index.ts
  extensions/apps/world-builder/src/components/pages/main/dashboard.tsx
  extensions/apps/world-builder/src/components/pages/world-config/config-success.tsx
  extensions/apps/world-builder/src/components/pages/world-config/world-config-form-step1.tsx
  extensions/apps/world-builder/src/components/pages/world-config/world-config-form-step2.tsx
  extensions/apps/world-builder/src/components/pages/world-create/create-success.tsx
  extensions/apps/world-builder/src/components/pages/world-create/world-create-form.tsx
  extensions/apps/world-builder/src/components/pages/world-customise/world-customise-form.tsx
  libs/hooks/src/selectors/get-world-config-extensions-query.ts
  libs/hooks/src/selectors/get-world-full-info-query.ts
Labels: sdk, apps, extensions, libs, hooks, typings, config

#2565 Docs: SDK
  libs/sdk/README.md
  libs/sdk/README_SDK_API.md
  libs/sdk/README_SDK_SERVICES.md
Labels: sdk, libs, docs

#2567 Fix layout id, guard sidebar social links
  extensions/apps/world-builder/src/components/pages/world-config/world-config-form-step1.tsx
  extensions/widgets/sidebar/src/components/sidebar-component.tsx
Labels: apps, widgets, extensions, fix

#2568 fix registryOverrides undefined case
  libs/app-loader/src/extensions.ts
Labels: fix, libs

#2571 chore(): add tags input component and adjust autocomplete
  extensions/apps/world-builder/src/ui/extension-card.tsx
  libs/ui/src/akasha-components/autocomplete.tsx
  libs/ui/src/akasha-components/badge.tsx
  libs/ui/src/akasha-components/tags-input.tsx
Labels: apps, extensions, libs

#2569 chore(): replace `DuplexButton` component
  extensions/apps/profile/src/components/follow-profile-button/follow-button.tsx
  extensions/widgets/trending/src/components/cards/topic-row.tsx
  libs/design-system-components/src/components/TagProfileCard/index.tsx
  libs/ui/main.css
  libs/ui/src/akasha-components/button.tsx
  libs/ui/src/akasha-components/duplex-button.tsx
Labels: design-system, apps, widgets, extensions, libs

#2574 chore(): adjust tags input
  libs/ui/src/akasha-components/autocomplete.tsx
  libs/ui/src/akasha-components/tags-input.tsx
Labels: libs

#2572 chore(): replace image component
  extensions/apps/antenna/src/extensions/image-block/image-editor-block.tsx
  extensions/apps/auth-app/src/components/pages/choose-provider.tsx
  extensions/apps/extensions/src/components/extensions-hub.tsx
  extensions/apps/extensions/src/components/pages/installed-extensions/installed-extensions-list.tsx
  libs/design-system-components/src/components/DefaultEmptyCard/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep2Form/Gallery/index.tsx
  libs/design-system-components/src/components/ExtensionGalleryManager/gallery-image.tsx
  libs/design-system-components/src/components/NotificationCard/basic-info-card.tsx
  libs/design-system-components/src/components/NotificationSettingsCard/index.tsx
Labels: design-system, apps, extensions, libs

#2576 chore(): replace ErrorLoader component
  extensions/apps/antenna/src/components/app-routes/error-component.tsx
  extensions/apps/antenna/src/components/app-routes/not-found-component.tsx
  extensions/apps/antenna/src/components/pages/editor-page/editor-page.tsx
  extensions/apps/antenna/src/components/pages/tag-feed-page/tag-feed-page.tsx
  extensions/apps/auth-app/src/components/app-routes/error-component.tsx
  extensions/apps/auth-app/src/components/app-routes/not-found-component.tsx
  extensions/apps/extensions/src/components/app-routes/error-component.tsx
  extensions/apps/extensions/src/components/app-routes/not-found-component.tsx
  extensions/apps/extensions/src/components/pages/developer-mode.tsx
  extensions/apps/extensions/src/components/pages/extension-creation-page/extension-creation-page.tsx
  extensions/apps/extensions/src/components/pages/extension-creation-page/post-extension-creation-page.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/contributors-page.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/extension-gallery-manager/index.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/main-page.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-published-page/edit-published-extension-page.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-published-page/main-page.tsx
  extensions/apps/extensions/src/components/pages/extension-publish-page/index.tsx
  extensions/apps/extensions/src/components/pages/extension-release-manager/edit-test-release-page.tsx
  extensions/apps/extensions/src/components/pages/extension-release-manager/extension-release-manager-page.tsx
  extensions/apps/extensions/src/components/pages/extension-release-manager/release-info-page.tsx
  extensions/apps/extensions/src/components/pages/extension-release-manager/release-publish-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/info-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/contributors-page/index.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/dev-info-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/releases-page.tsx
  extensions/apps/extensions/src/components/pages/install-extension/install-extension-page.tsx
  extensions/apps/extensions/src/components/pages/install-extension/install-terms-conditions.tsx
  extensions/apps/extensions/src/components/pages/installed-extensions/default-extensions-list.tsx
  extensions/apps/extensions/src/components/pages/installed-extensions/installed-extensions-list.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/my-extensions.tsx
  extensions/apps/extensions/src/components/pages/post-publish-page.tsx
  extensions/apps/notifications/src/components/app-routes/error-component.tsx
  extensions/apps/notifications/src/components/app-routes/not-found-component.tsx
  extensions/apps/notifications/src/components/pages/notifications-page.tsx
  extensions/apps/notifications/src/components/pages/welcome-page.tsx
  extensions/apps/profile/src/components/app-routes/error-component.tsx
  extensions/apps/profile/src/components/app-routes/not-found-component.tsx
  extensions/apps/profile/src/components/pages/edit-profile/index.tsx
  extensions/apps/profile/src/components/pages/profile-info/index.tsx
  extensions/apps/profile/src/components/profile-header/index.tsx
  extensions/apps/settings/src/components/app-routes/error-component.tsx
  extensions/apps/settings/src/components/app-routes/not-found-component.tsx
  extensions/apps/settings/src/components/pages/notifications-browser-option.tsx
  extensions/apps/settings/src/components/pages/notifications-option.tsx
  extensions/apps/settings/src/components/pages/notifications-preferences-option/index.tsx
  extensions/widgets/top-bar/src/components/widget-routes/error-component.tsx
  extensions/widgets/trending/src/components/trending-widget-component.tsx
  libs/design-system-components/src/components/ExtensionEditStep3Form/index.tsx
  libs/design-system-components/src/components/ExtensionGalleryManager/index.tsx
  libs/feed/src/components/beam-feed-by-author.tsx
  libs/feed/src/components/beam-feed.tsx
  libs/feed/src/components/cards/entry-card/index.tsx
  libs/feed/src/components/reflect-feed.tsx
  libs/feed/src/components/tag-feed.tsx
  libs/ui/main.css
Labels: design-system, apps, widgets, extensions, libs

#2570 World Builder customise form
  extensions/apps/world-builder/src/components/app-routes/index.tsx
  extensions/apps/world-builder/src/components/pages/main/dashboard.tsx
  extensions/apps/world-builder/src/components/pages/main/extension-element.tsx
  extensions/apps/world-builder/src/components/pages/main/world-configuration-section.tsx
  extensions/apps/world-builder/src/components/pages/main/world-creation-section.tsx
  extensions/apps/world-builder/src/components/pages/main/world-customisation-section.tsx
  extensions/apps/world-builder/src/components/pages/world-config/world-config-form-step1.tsx
  extensions/apps/world-builder/src/components/pages/world-config/world-config-form-step2.tsx
  extensions/apps/world-builder/src/components/pages/world-config/world-config-main-page.tsx
  extensions/apps/world-builder/src/components/pages/world-create/world-create-form.tsx
  extensions/apps/world-builder/src/components/pages/world-customise/links/index.tsx
  extensions/apps/world-builder/src/components/pages/world-customise/links/link-element.tsx
  extensions/apps/world-builder/src/components/pages/world-customise/world-customise-form.tsx
  extensions/apps/world-builder/src/ui/profile-avatar-button.tsx
  extensions/widgets/sidebar/src/components/sidebar-component.tsx
  libs/composedb/src/__generated__/graphql-api.ts
  libs/hooks/src/generated/apollo.ts
  libs/hooks/src/selectors/get-world-config-query.ts
  libs/hooks/src/selectors/get-world-meta-info-query.ts
  libs/sdk/src/registry/registry-queries.graphql
  libs/typings/src/sdk/graphql-operation-types-new.ts
  libs/ui/src/akasha-components/input.tsx
Labels: sdk, apps, widgets, extensions, libs, hooks, typings

#2582 Refactor: Hooks Readme
  libs/hooks/README.md
  libs/hooks/README_GENERATED.md
Labels: libs, hooks, docs

#2579 chore(): remove ds from extensions
  libs/extensions/src/react/content-block/block-error-card.tsx
  libs/extensions/src/react/content-block/block-parcel.tsx
  libs/extensions/src/react/content-block/content-block-extension/render-block.tsx
  libs/extensions/src/react/content-block/content-block-extension/render-error.tsx
  libs/extensions/src/react/content-block/editor-block-extension.tsx
  libs/extensions/src/react/extension.tsx
  libs/extensions/src/react/text-line-loading-indicator.tsx
  libs/extensions/src/react/widget.tsx
Labels: libs

#2581 chore(): various styling fixes
  extensions/apps/extensions/src/components/pages/my-extensions/my-extensions.tsx
  extensions/widgets/layout/src/components/index.tsx
  libs/design-system-components/src/components/CookieCard/index.tsx
  libs/design-system-components/src/components/ExtensionCard/index.tsx
Labels: design-system, apps, widgets, extensions, fix, libs

#2586 Refactor: Topbar extension points
  extensions/widgets/top-bar/src/components/topbar.tsx
Labels: widgets, extensions

#2588 chore(): unload test ext on logout
  extensions/widgets/test-mode-notifier/src/components/index.tsx
  libs/app-loader/src/index.ts
  libs/app-loader/src/plugins/test-mode-loader.ts
  libs/typings/src/ui/plugins.ts
  libs/typings/tsconfig.json
  tests/utils/src/data-generator/integrations.ts
  worlds/akasha.world/public/index.dev.html
Labels: widgets, extensions, fix, libs, typings, tests, config, world

#2589 chore(): update csp
  libs/typings/package.json
  worlds/akasha.world/public/index.dev.html
  worlds/akasha.world/public/index.html
Labels: libs, typings, config, world

#2590 fix(): extension release form bug
  libs/design-system-components/src/components/ExtensionReleasePublishForm/index.tsx
  worlds/akasha.world/src/akasha-world.conf.ts
Labels: design-system, fix, libs, world

#2592 chore(): adjust card component
  libs/feed/src/components/cards/entry-card/index.tsx
  libs/ui/src/akasha-components/card.tsx
Labels: libs

#2593 chore(): beam card conditional navigation
  extensions/apps/antenna/src/extensions/slate-block/slate-readonly-block.tsx
  libs/feed/src/components/cards/entry-card/index.tsx
  libs/hooks/src/index.ts
  libs/hooks/src/utils/navigate.ts
Labels: apps, extensions, libs, hooks
