Repository AKASHAorg/akasha-core, pull requests merged in 2025-01, with the labels that each got.

#2520 chore(): create ui package and set up shadcn on it
  libs/design-system-components/.storybook/preview.js
  libs/ui/.babelrc.json
  libs/ui/.eslintrc.cjs
  libs/ui/.gitignore
  libs/ui/README.md
  libs/ui/components.json
  libs/ui/globals.css
  libs/ui/main.css
  libs/ui/package.json
  libs/ui/project.json
  libs/ui/src/akasha-components/button.tsx
  libs/ui/src/components/card.tsx
  libs/ui/src/components/checkbox.tsx
  libs/ui/src/components/form.tsx
  libs/ui/src/components/input.tsx
  libs/ui/src/components/label.tsx
  libs/ui/src/components/textarea.tsx
  libs/ui/src/library/utils.ts
  libs/ui/tsconfig.json
  package.json
  tsconfig.json
  twindBaseConfig.js
  worlds/akasha.world/project.json
  worlds/akasha.world/src/index.ts
  yarn.lock
Labels: design-system, libs, config, world, docs

#2524 chore(): adjust border radius
  extensions/apps/antenna/src/extensions/image-block/image-editor-block.tsx
  extensions/widgets/test-mode-notifier/src/components/test-mode-widget.tsx
  libs/design-system-components/src/components/BaseDropdownFilter/index.tsx
  libs/design-system-components/src/components/Editor/index.tsx
  libs/design-system-components/src/components/Editor/mention-popover.tsx
  libs/design-system-components/src/components/Editor/tag-popover.tsx
  libs/design-system-components/src/components/EmbedBox/index.tsx
  libs/design-system-components/src/components/Entry/EntryCardHidden/index.tsx
  libs/design-system-components/src/components/Entry/EntryPublishErrorCard/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep2Form/Gallery/index.tsx
  libs/design-system-components/src/components/ExtensionGalleryManager/gallery-image.tsx
  libs/design-system-components/src/components/ImageBlockToolbar/index.tsx
  libs/design-system-components/src/components/ImageModal/index.tsx
  libs/design-system-components/src/components/OnboardingSuggestionsCard/tag-button.tsx
  libs/design-system-core/src/components/Checkbox/index.tsx
  libs/design-system-core/src/components/DatePicker/date-selector.tsx
  libs/design-system-core/src/components/DatePicker/index.tsx
  libs/design-system-core/src/components/DatePicker/month-selector.tsx
  libs/design-system-core/src/components/Dropdown/index.tsx
  libs/design-system-core/src/components/List/index.tsx
  libs/design-system-core/src/components/TextField/utils/get-container-classes.ts
  libs/design-system-core/src/components/Tooltip/index.tsx
  libs/extensions/src/react/content-block/block-error-card.tsx
Labels: design-system, apps, widgets, extensions, libs

#2525 chore(): customize button and form components
  libs/ui/main.css
  libs/ui/src/akasha-components/button.tsx
  libs/ui/src/akasha-components/form.tsx
  twindBaseConfig.js
Labels: libs

#2528 BugFix: Notification logout disconnect stream
  extensions/apps/notifications/src/extensions/rounded-notification-button.tsx
  libs/hooks/src/use-notifications.ts
  libs/sdk/src/auth/index.ts
  libs/sdk/src/common/notification/notification.ts
Labels: sdk, apps, extensions, libs, hooks

#2529 Fix: Add default false values to notifications option list
  extensions/apps/settings/src/components/pages/notifications-preferences-option/index.tsx
  extensions/apps/settings/src/components/pages/notifications-preferences-option/utils.ts
Labels: apps, extensions

#2530 chore(): add custom icons and logos images
  libs/ui/main.css
  libs/ui/project.json
  libs/ui/src/custom-icons/discord.tsx
  libs/ui/src/custom-icons/ethereum.tsx
  libs/ui/src/custom-icons/github.tsx
  libs/ui/src/custom-icons/reddit.tsx
  libs/ui/src/custom-icons/telegram.tsx
  libs/ui/src/custom-icons/x.tsx
  libs/ui/src/static/img/akasha-dark.webp
  libs/ui/src/static/img/akasha-light.webp
  libs/ui/src/static/img/metamask.webp
  libs/ui/src/static/img/walletconnect.webp
Labels: libs, config

#2532 Fix editor rich text
  extensions/apps/antenna/src/extensions/beam-editor/use-blocks-publishing.ts
  extensions/apps/world-builder/src/components/app-routes/not-found-component.tsx
  libs/design-system-components/src/components/Editor/formatting-buttons.tsx
  libs/design-system-components/src/components/Editor/index.tsx
Labels: design-system, apps, extensions, fix, libs

#2533 chore(): add components from AKASHA registry
  libs/postcss.config.js
  libs/ui/README.md
  libs/ui/main.css
  libs/ui/src/akasha-components/autocomplete.tsx
  libs/ui/src/akasha-components/duplex-button.tsx
  libs/ui/src/akasha-components/icon-container.tsx
  libs/ui/src/akasha-components/image.tsx
  libs/ui/src/akasha-components/profile-avatar.tsx
  libs/ui/src/akasha-components/stack.tsx
  libs/ui/src/akasha-components/stacked-avatar.tsx
  libs/ui/src/akasha-components/typography.tsx
  libs/ui/src/components/command.tsx
  libs/ui/src/components/dialog.tsx
  libs/ui/src/components/skeleton.tsx
  libs/webpack.config.js
  package.json
  worlds/akasha.world/postcss.config.js
  worlds/akasha.world/src/twind.config.ts
  yarn.lock
Labels: libs, config, world, docs

#2534 chore(): fix rerendering issues
  extensions/apps/antenna/src/extensions/slate-block/index.tsx
  extensions/widgets/analytics/src/components/index.tsx
  extensions/widgets/layout/src/components/index.tsx
  extensions/widgets/layout/src/components/use-sticky.ts
  libs/app-loader/src/index.ts
  libs/design-system-components/src/components/Editor/index.tsx
  libs/design-system-components/src/components/Entry/EntryCard/index.tsx
  libs/design-system-components/src/components/ReadOnlyEditor/index.tsx
  libs/extensions/src/react/content-block/block-parcel.tsx
  libs/extensions/src/react/content-block/content-block-extension/index.tsx
  libs/extensions/src/react/content-block/editor-block-extension.tsx
  libs/extensions/src/react/extension.tsx
  libs/extensions/src/react/modal-extension.tsx
  libs/extensions/src/react/widget.tsx
  libs/feed/src/components/cards/beam-card/content-block-renderer.tsx
  libs/feed/src/components/cards/beam-card/index.tsx
  libs/feed/src/components/reflect-feed.tsx
  worlds/akasha.world/public/index.dev.html
Labels: design-system, apps, widgets, extensions, fix, libs, world

#2535 chore(): add additional shadcn components
  libs/ui/src/akasha-components/autocomplete.tsx
  libs/ui/src/akasha-components/button.tsx
  libs/ui/src/akasha-components/stepper.tsx
  libs/ui/src/components/alert-dialog.tsx
  libs/ui/src/components/badge.tsx
  libs/ui/src/components/card.tsx
  libs/ui/src/components/dialog.tsx
  libs/ui/src/components/dropdown-menu.tsx
  libs/ui/src/components/select.tsx
  libs/ui/src/components/separator.tsx
  libs/ui/src/components/switch.tsx
  libs/ui/src/components/tabs.tsx
  libs/ui/src/components/tooltip.tsx
  package.json
  yarn.lock
Labels: libs, config
