Repository AKASHAorg/akasha-core, pull requests merged in 2025-05, with the labels that each got.

#2610 chore(): replace profile avatar button
  extensions/apps/extensions/src/components/extension-card/index.tsx
  extensions/apps/extensions/src/components/extension-review-and-publish/index.tsx
  extensions/apps/extensions/src/components/pages/extension-creation-page/post-extension-creation-page.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/contributors-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/contributors-page/index.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/dev-info-page.tsx
  extensions/apps/profile/src/components/pages/engagements-entry.tsx
  extensions/apps/profile/src/components/profile/Header/index.tsx
  extensions/apps/profile/src/extensions/profile-avatar/profile-avatar.tsx
  extensions/apps/search/src/components/onboarding-suggestions-card/index.tsx
  extensions/apps/search/src/components/profile-search-card/index.tsx
  extensions/apps/vibes-console/src/components/applications/application/applicant-data-card.tsx
  extensions/apps/vibes-console/src/components/dashboard/moderator-list-item.tsx
  extensions/apps/vibes-console/src/components/vibes-console-content-card/mini-profile-cta.tsx
  extensions/apps/vibes/src/components/moderator/index.tsx
  extensions/apps/vibes/src/components/moderator/mini-card.tsx
  extensions/apps/world-builder/src/ui/profile-avatar-button.tsx
  extensions/widgets/mini-profile/src/components/mini-profile-card/index.tsx
  extensions/widgets/sidebar/project.json
  extensions/widgets/sidebar/src/components/fallback-header.tsx
  extensions/widgets/sidebar/src/components/sidebar-header.tsx
  extensions/widgets/trending/project.json
  extensions/widgets/trending/src/components/cards/latest-profiles.tsx
  libs/design-system-components/src/stories/dscomponents/entry-card-loading.stories.tsx
  libs/design-system-components/src/stories/dscomponents/version-info.stories.tsx
  libs/design-system-components/src/stories/dscore/basic-popover.stories.tsx
  libs/design-system-core/src/components/BasicPopover/__tests__/index.test.tsx
  libs/design-system-core/src/components/BasicPopover/index.tsx
  libs/design-system-core/src/components/Modal/index.tsx
  libs/design-system-core/src/components/ScrollTopButton/index.tsx
  libs/design-system-core/src/components/ScrollTopWrapper/index.tsx
  libs/feed/src/components/cards/author-profile-avatar/index.tsx
  libs/feed/src/components/editor/mention-popover.tsx
  libs/ui/src/akasha-components/button.tsx
  libs/ui/src/akasha-components/profile-avatar-button.tsx
  libs/ui/src/akasha-components/profile-avatar.tsx
Labels: design-system, apps, widgets, extensions, stories, libs, tests, config

#2616 Replace forms
  extensions/apps/antenna/src/extensions/image-block/image-editor-block.tsx
  extensions/apps/extensions/src/components/extension-creation-form/index.tsx
  extensions/apps/extensions/src/components/extension-edit-published-form/index.tsx
  extensions/apps/extensions/src/components/extension-edit-step1-form/index.tsx
  extensions/apps/extensions/src/components/extension-edit-step2-form/UsefulLinks/index.tsx
  extensions/apps/extensions/src/components/extension-edit-step2-form/UsefulLinks/link-element.tsx
  extensions/apps/extensions/src/components/extension-edit-step2-form/index.tsx
  extensions/apps/extensions/src/components/extension-edit-step3-form/index.tsx
  extensions/apps/extensions/src/components/extension-release-publish-form/index.tsx
  extensions/apps/profile/src/components/edit-interests/index.tsx
  extensions/apps/profile/src/components/edit-profile/General/index.tsx
  extensions/apps/profile/src/components/edit-profile/SocialLinks/index.tsx
  extensions/apps/profile/src/components/edit-profile/SocialLinks/social-link.tsx
  extensions/apps/profile/src/components/edit-profile/index.tsx
  extensions/apps/vibes-console/src/components/applications/become-moderator/details.tsx
  extensions/apps/vibes-console/src/components/dashboard/review-item.tsx
  extensions/apps/vibes-console/src/components/dashboard/settings/max-applicants.tsx
  extensions/apps/vibes-console/src/components/dashboard/settings/resign-moderator-role.tsx
  extensions/apps/vibes/src/components/report/report-item.tsx
Labels: apps, extensions

#2614 chore(): replace inline notification component
  libs/feed/src/components/beam-content-resolver.tsx
  libs/feed/src/components/cards/network-error-card/index.tsx
  libs/feed/src/components/cards/reflection-card/index.tsx
  libs/feed/src/components/editable-reflection-resolver.tsx
  libs/feed/src/components/editor/index.tsx
  libs/feed/src/components/reflection-preview/index.tsx
Labels: libs

#2611 chore(): update and replace Switch component
  extensions/apps/antenna/src/components/my-antenna-intro-card/index.tsx
  extensions/apps/extensions/src/components/extension-review-and-publish/section.tsx
  extensions/apps/extensions/src/components/pages/developer-mode.tsx
  extensions/apps/notifications/src/components/pages/customise-notification-page.tsx
  extensions/apps/settings/src/components/pages/apps-option.tsx
  extensions/apps/settings/src/components/pages/nsfw-option.tsx
  extensions/apps/settings/src/components/pages/privacy-option.tsx
  extensions/apps/settings/src/components/pages/theme-option.tsx
  extensions/widgets/sidebar/src/components/cta-card.tsx
  libs/design-system-components/src/components/NSFW/index.tsx
  libs/ui/src/components/switch.tsx
Labels: design-system, apps, widgets, extensions, libs

#2620 chore(): replace another remaining autocomlete occurence
  extensions/apps/extensions/src/components/extension-edit-step3-form/index.tsx
Labels: apps, extensions

#2621 chore(): replace drop down and tab list
  extensions/apps/extensions/src/components/pages/my-extensions/my-extensions.tsx
  extensions/apps/profile/src/components/pages/engagement-tab.tsx
  extensions/apps/vibes-console/src/pages/applications-log.tsx
  extensions/apps/vibes/src/pages/moderators.tsx
  extensions/apps/vibes/src/pages/transparency-log.tsx
  libs/ui/src/akasha-components/typography.tsx
Labels: apps, extensions, libs

#2609 chore(): replace checkbox component
  extensions/apps/antenna/src/components/block-header/index.tsx
  extensions/apps/antenna/src/extensions/beam-editor/header.tsx
  extensions/apps/extensions/src/components/pages/install-extension/install-terms-conditions.tsx
  extensions/apps/notifications/src/components/pages/customise-notification-page.tsx
  extensions/apps/settings/src/components/pages/notifications-preferences-option/antenna-setting.tsx
  extensions/apps/settings/src/components/pages/notifications-preferences-option/app-setting.tsx
  extensions/apps/settings/src/components/pages/notifications-preferences-option/enable-all-setting.tsx
  extensions/apps/settings/src/components/pages/notifications-preferences-option/index.tsx
Labels: design-system, apps, extensions, libs

#2613 chore(): replace tooltip component
  extensions/apps/extensions/src/components/app-info/header.tsx
  extensions/apps/profile/src/components/follow-profile-button/index.tsx
  extensions/apps/profile/src/components/profile/Header/index.tsx
  libs/feed/src/components/cards/author-profile-avatar/index.tsx
Labels: design-system, apps, widgets, extensions, libs, tests

#2625 chore(): add circular progress inside textarea component
  libs/ui/src/akasha-components/circular-progress.tsx
  libs/ui/src/akasha-components/textarea.tsx
  libs/ui/src/components/accordion.tsx
  package.json
  yarn.lock
Labels: libs, config

#2623 chore(): replace list and menu with dropdown menu component
  extensions/apps/extensions/src/components/app-info/header.tsx
  extensions/apps/extensions/src/components/extension-edit-step1-form/Header/index.tsx
  extensions/apps/extensions/src/components/pages/info-page/info-page.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/extension-element.tsx
  extensions/apps/profile/src/components/edit-profile/General/Header/index.tsx
  extensions/apps/profile/src/components/profile-header/index.tsx
  extensions/apps/profile/src/components/profile/Header/index.tsx
  extensions/apps/search/src/components/pages/entry-renderer.tsx
  libs/feed/src/components/cards/beam-card/index.tsx
  libs/feed/src/components/cards/entry-card/index.tsx
  libs/feed/src/components/cards/reflection-card/index.tsx
  libs/ui/src/library/list-item.ts
Labels: apps, extensions, libs

#2626 Fix: User installed app icons
  extensions/apps/vibes-console/src/index.tsx
  extensions/apps/world-builder/src/index.tsx
Labels: apps, extensions

#2624 Refactor: use helmet directly
  extensions/apps/antenna/src/components/pages/global-antenna-page/index.tsx
  extensions/apps/auth-app/src/components/index.tsx
  extensions/apps/extensions/src/components/index.tsx
  extensions/apps/notifications/src/components/index.tsx
  extensions/apps/search/src/components/index.tsx
  extensions/apps/settings/src/components/index.tsx
  extensions/apps/vibes-console/src/components/index.tsx
  extensions/apps/vibes/src/components/index.tsx
  extensions/apps/world-builder/src/components/index.tsx
  libs/design-system-core/src/components/Helmet/index.tsx
  libs/design-system-core/src/utils/helmet.ts
  libs/design-system-core/src/utils/index.ts
Labels: design-system, apps, extensions, libs

#2627 Replace accordion
  extensions/apps/extensions/src/components/extension-edit-published-form/index.tsx
  extensions/apps/extensions/src/components/extension-edit-step1-form/Header/index.tsx
  extensions/apps/extensions/src/components/extension-review-and-publish/index.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/my-extensions.tsx
  extensions/apps/world-builder/src/components/pages/world-customise/world-customise-form.tsx
  extensions/widgets/sidebar/src/components/list-sidebar-apps.tsx
  extensions/widgets/sidebar/src/components/menu-item-label.tsx
  extensions/widgets/sidebar/src/components/menu-sub-items.tsx
  libs/feed/src/components/editor/index.tsx
Labels: apps, widgets, extensions, libs

#2628 Replace/radio button
  extensions/apps/vibes-console/src/components/applications/become-moderator/details.tsx
  extensions/apps/vibes-console/src/components/dashboard/review-item.tsx
  libs/design-system-components/src/stories/dscore/radio-button.stories.tsx
  libs/design-system-core/src/components/RadioButton/__tests__/index.test.tsx
  libs/design-system-core/src/components/RadioButton/index.tsx
  libs/ui/src/components/radio-group.tsx
  package.json
  yarn.lock
Labels: design-system, apps, extensions, stories, libs, config

#2630 Refactor: Move scrolltop components to ui package
  extensions/apps/antenna/src/components/pages/global-antenna-page/index.tsx
  extensions/apps/antenna/src/components/pages/my-antenna-page/index.tsx
  extensions/apps/antenna/src/components/pages/tag-feed-page/tag-feed-page.tsx
  extensions/apps/profile/src/components/pages/profile-beams/index.tsx
  libs/design-system-components/src/stories/dscore/scroll-top-button.stories.tsx
  libs/design-system-core/src/components/ScrollTopButton/__tests__/index.test.tsx
  libs/design-system-core/src/components/ScrollTopWrapper/__tests__/index.test.tsx
  libs/ui/src/akasha-components/scroll-top-button.tsx
  libs/ui/src/akasha-components/scroll-top-wrapper.tsx
Labels: design-system, apps, extensions, stories, libs

#2629 chore(): replace app icon with icon container
  extensions/apps/extensions/src/components/extension-gallery-manager/gallery-image.tsx
  extensions/apps/notifications/src/components/utils/notifications-util.tsx
  extensions/apps/notifications/src/extensions/snack-bar-notification.tsx
  extensions/apps/profile/src/components/profile/Links/index.tsx
  extensions/apps/profile/src/components/profile/Stats/index.tsx
  extensions/widgets/sidebar/src/components/menu-item-label.tsx
  libs/ui/src/akasha-components/icon-container.tsx
Labels: apps, widgets, extensions, libs

#2631 Refactor: Divider <> Separator
  extensions/apps/antenna/src/components/pages/entry-page/beam-page.tsx
  extensions/apps/antenna/src/components/pages/entry-page/beam-section.tsx
  extensions/apps/antenna/src/components/pages/entry-page/entry-section-loading.tsx
  extensions/apps/antenna/src/components/pages/entry-page/reflection-page.tsx
  extensions/apps/antenna/src/components/pages/entry-page/reflection-section.tsx
  extensions/apps/antenna/src/extensions/image-block/image-editor-block.tsx
  extensions/apps/extensions/src/components/developer-mode.tsx
  extensions/apps/extensions/src/components/extension-creation-form/index.tsx
  extensions/apps/extensions/src/components/extension-edit-published-form/index.tsx
  extensions/apps/extensions/src/components/extension-edit-step1-form/index.tsx
  extensions/apps/extensions/src/components/extension-edit-step2-form/index.tsx
  extensions/apps/extensions/src/components/extension-edit-step3-form/index.tsx
  extensions/apps/extensions/src/components/extension-gallery-manager/index.tsx
  extensions/apps/extensions/src/components/extension-release-publish-form/index.tsx
  extensions/apps/extensions/src/components/extension-review-and-publish/index.tsx
  extensions/apps/extensions/src/components/extension-review-and-publish/section.tsx
  extensions/apps/extensions/src/components/extension-version-bullet-point-card/index.tsx
  extensions/apps/extensions/src/components/pages/extension-creation-page/extension-creation-page.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/contributors-page.tsx
  extensions/apps/extensions/src/components/pages/extension-release-manager/extension-release-manager-page.tsx
  extensions/apps/extensions/src/components/pages/extension-release-manager/release-info-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/info-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/app-description-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/contributors-page/index.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/dev-info-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/license-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/releases-page.tsx
  extensions/apps/extensions/src/components/pages/install-extension/install-terms-conditions.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/extension-element.tsx
  extensions/apps/notifications/src/components/pages/customise-notification-page.tsx
  extensions/apps/notifications/src/components/pages/notifications-page.tsx
  extensions/apps/search/src/components/base-dropdown-filter/index.tsx
  extensions/apps/search/src/components/pages/search-page.tsx
  extensions/apps/search/src/components/pages/search-settings-page.tsx
  extensions/apps/settings/src/components/pages/notifications-preferences-option/index.tsx
  extensions/apps/vibes-console/src/components/applications/application/applicant-data-card.tsx
  extensions/apps/vibes-console/src/components/applications/application/detail-self.tsx
  extensions/apps/vibes-console/src/components/applications/application/detail.tsx
  extensions/apps/vibes-console/src/components/dashboard/moderator-list-item.tsx
  extensions/apps/vibes-console/src/components/dashboard/reports/item.tsx
  extensions/apps/vibes-console/src/components/dashboard/settings/admin.tsx
  extensions/apps/vibes-console/src/components/dashboard/settings/moderator.tsx
  extensions/apps/vibes/src/components/moderator/index.tsx
  extensions/widgets/test-mode-notifier/src/components/index.tsx
  libs/design-system-components/src/components/PageHeader/index.tsx
  libs/design-system-core/src/components/Accordion/index.tsx
  libs/design-system-core/src/components/Divider/__tests__/index.test.tsx
  libs/design-system-core/src/components/Divider/index.tsx
  libs/design-system-core/src/components/Modal/index.tsx
  libs/design-system-core/src/components/Section/index.tsx
  libs/feed/src/components/pending-reflect/index.tsx
Labels: design-system, apps, widgets, extensions, libs

#2632 chore(): replace remaining buttons from ds core
  extensions/apps/antenna/src/components/world-version-info-card/index.tsx
  extensions/apps/legal/src/components/app-routes/not-found-component.tsx
  extensions/apps/legal/src/components/pages/main-page.tsx
  extensions/apps/search/src/components/app-routes/not-found-component.tsx
  extensions/apps/search/src/components/base-dropdown-filter/index.tsx
  extensions/apps/search/src/components/drop-down-filter/index.tsx
  extensions/apps/search/src/components/onboarding-start-card/index.tsx
  extensions/apps/search/src/components/onboarding-suggestions-card/index.tsx
  extensions/apps/search/src/components/pages/search-settings-page.tsx
  extensions/apps/search/src/components/profile-search-card/index.tsx
  extensions/apps/search/src/components/search-start-card/index.tsx
  extensions/apps/search/src/components/tag-search-card/index.tsx
  extensions/apps/vibes-console/src/components/app-routes/not-found-component.tsx
  extensions/apps/vibes-console/src/components/applications/application/applicant-data-card.tsx
  extensions/apps/vibes-console/src/components/applications/application/approved-card.tsx
  extensions/apps/vibes-console/src/components/applications/join-vibes-card.tsx
  extensions/apps/vibes-console/src/components/applications/section-renderer.tsx
  extensions/apps/vibes-console/src/components/dashboard/header.tsx
  extensions/apps/vibes-console/src/components/dashboard/moderator-list-item.tsx
  extensions/apps/vibes-console/src/components/dashboard/reports/item.tsx
  extensions/apps/vibes-console/src/components/dashboard/settings/admin.tsx
  extensions/apps/vibes-console/src/components/dashboard/settings/resign-confirmation.tsx
  extensions/apps/vibes-console/src/components/vibes-console-content-card/index.tsx
  extensions/apps/vibes-console/src/pages/applications-log.tsx
  extensions/apps/vibes-console/src/pages/edit-max-applicants.tsx
  extensions/apps/vibes-console/src/pages/settings.tsx
  extensions/apps/vibes/src/components/app-routes/not-found-component.tsx
  extensions/apps/vibes/src/components/moderator/index.tsx
  extensions/apps/vibes/src/components/moderator/mini-card.tsx
  extensions/apps/vibes/src/components/overview/become-moderator-card.tsx
  extensions/apps/vibes/src/components/report/confirmation.tsx
  extensions/apps/vibes/src/components/vibes-intro-card/index.tsx
  extensions/apps/vibes/src/components/vibes-values-card/value-card/index.tsx
  extensions/apps/vibes/src/pages/transparency-log.tsx
  extensions/widgets/sidebar/src/components/sidebar-component.tsx
  libs/design-system-components/src/components/DefaultEmptyCard/index.tsx
  libs/design-system-components/src/components/ImageModal/index.tsx
  libs/design-system-components/src/components/PageButtons/index.tsx
  libs/design-system-components/src/components/ReportReasonPill/index.tsx
  libs/design-system-components/src/components/SubtitleRenderer/index.tsx
Labels: design-system, apps, widgets, extensions, libs

#2635 Refactor: Replace ExtensionIcon with ExtensionTypeIcon
  extensions/apps/extensions/src/components/app-info/header.tsx
  extensions/apps/extensions/src/components/extension-card/index.tsx
  extensions/apps/extensions/src/components/extension-edit-step1-form/Header/index.tsx
  extensions/apps/extensions/src/components/extension-review-and-publish/index.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/step1-page.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/extension-element.tsx
  extensions/apps/world-builder/src/ui/extension-type-icon.tsx
  libs/design-system-components/src/stories/dscore/extension-icon.stories.tsx
  libs/design-system-core/src/components/ExtensionIcon/index.tsx
  libs/ui/src/akasha-components/extension-type-icon.tsx
Labels: design-system, apps, extensions, stories, libs

#2634 Refactor: Replace Texline with Skeleton
  extensions/apps/antenna/src/components/pages/tag-feed-page/tag-feed-header-loader.tsx
  extensions/apps/profile/src/components/profile/placeholders/entry-loading.tsx
  extensions/apps/profile/src/components/profile/placeholders/profile-header-loading.tsx
  extensions/apps/profile/src/components/profile/placeholders/profile-interests-loading.tsx
  extensions/apps/profile/src/components/profile/placeholders/profile-loading.tsx
  extensions/apps/profile/src/components/profile/placeholders/profile-stat-loading.tsx
  extensions/apps/search/src/components/tag-search-card/index.tsx
  extensions/apps/settings/src/components/pages/notifications-preferences-option/loading-settings-placeholder.tsx
  extensions/widgets/mini-profile/src/components/mini-profile-card/index.tsx
  libs/design-system-components/src/components/Loaders/mini-profile-widget-loader.tsx
  libs/design-system-components/src/components/Loaders/sidebar-loader.tsx
  libs/design-system-components/src/components/Loaders/topbar-loader.tsx
  libs/design-system-components/src/components/TrendingWidgetLoadingCard/index.tsx
  libs/design-system-components/src/components/TrendingWidgetLoadingCard/trending-widget-item-loader.tsx
  libs/design-system-components/src/stories/dscore/textline.stories.tsx
  libs/design-system-core/src/components/ProfileAvatarButton/ProfileAvatarLoading/index.tsx
  libs/design-system-core/src/components/TextLine/__tests__/index.test.tsx
  libs/design-system-core/src/components/TextLine/index.tsx
  libs/extensions/src/react/content-block/content-block-extension/render-block.tsx
  libs/extensions/src/react/content-block/editor-block-extension.tsx
  libs/feed/src/components/cards/entry-card-loading/index.tsx
  libs/feed/src/components/editor-placeholder/editor-placeholder-loading.tsx
Labels: design-system, apps, widgets, extensions, stories, libs

#2633 shadcn sidebar
  extensions/widgets/layout/src/components/index.tsx
  extensions/widgets/sidebar/src/components/sidebar-component.tsx
  extensions/widgets/sidebar/src/sidebar.tsx
  libs/ui/main.css
  libs/ui/src/components/sheet.tsx
  libs/ui/src/components/sidebar.tsx
  libs/ui/src/hooks/use-mobile.ts
  package.json
  yarn.lock
Labels: widgets, extensions, libs, config

#2642 chore(): move components to ds-components package
  extensions/apps/antenna/src/components/tag-profile-card/index.tsx
  extensions/apps/extensions/src/components/app-info/header.tsx
  extensions/apps/extensions/src/components/extension-card/index.tsx
  extensions/apps/extensions/src/components/extension-edit-step1-form/Header/index.tsx
  extensions/apps/extensions/src/components/extension-review-and-publish/index.tsx
  extensions/apps/extensions/src/components/install-app/index.tsx
  extensions/apps/extensions/src/components/pages/extension-creation-page/post-extension-creation-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/InfoSubroutePageHeader/index.tsx
  extensions/apps/extensions/src/components/pages/info-page/info-page.tsx
  extensions/apps/extensions/src/components/pages/install-extension/install-terms-conditions.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/extension-element.tsx
  extensions/apps/legal/src/components/pages/page-renderer.tsx
  extensions/apps/search/src/components/tag-search-card/index.tsx
  extensions/widgets/test-mode-notifier/src/components/index.tsx
  extensions/widgets/trending/src/components/cards/topic-row.tsx
  libs/design-system-components/src/components/AppAvatar/index.tsx
  libs/design-system-components/src/components/AppCoverImage/index.tsx
  libs/design-system-components/src/components/MarkdownCard/index.tsx
  libs/design-system-components/src/components/Section/index.tsx
  libs/design-system-components/src/components/SubtitleTextIcon/index.tsx
  libs/design-system-core/src/components/AppAvatar/__tests__/index.test.tsx
  libs/design-system-core/src/components/MarkdownCard/__tests__/index.test.tsx
  libs/design-system-core/src/components/Section/__tests__/index.test.tsx
  libs/design-system-core/src/components/SubtitleTextIcon/__tests__/index.test.tsx
Labels: design-system, apps, widgets, extensions, libs

#2643 chore(): move snackbar to the notifications app
  extensions/apps/notifications/src/components/snackbar/index.tsx
  extensions/apps/notifications/src/extensions/snack-bar-notification.tsx
  libs/design-system-core/src/components/Snackbar/__tests__/index.test.tsx
Labels: design-system, apps, extensions, libs

#2640 chore(): remove table
  extensions/apps/vibes-console/src/components/applications/section-renderer.tsx
  extensions/apps/vibes-console/src/pages/applications.tsx
  extensions/apps/vibes-console/src/pages/my-applications.tsx
  extensions/apps/vibes/src/pages/moderator-detail.tsx
  libs/design-system-components/src/components/PaginatedTable/index.tsx
  libs/design-system-components/src/stories/dscore/table.stories.tsx
  libs/design-system-core/src/components/Table/__tests__/index.test.tsx
  libs/design-system-core/src/components/Table/index.tsx
Labels: design-system, apps, extensions, stories, libs

#2637 Refactor: Replace Pagination and Calendar Components
  extensions/apps/vibes-console/src/components/dashboard/review-item.tsx
  extensions/apps/vibes-console/src/pages/my-applications.tsx
  extensions/apps/vibes/src/pages/moderator-detail.tsx
  libs/design-system-components/src/components/PaginatedTable/index.tsx
  libs/design-system-components/src/stories/dscore/date-picker.stories.tsx
  libs/design-system-components/src/stories/dscore/pagination.stories.tsx
  libs/design-system-components/src/utils/portal.ts
  libs/design-system-core/src/components/DatePicker/__tests__/index.test.tsx
  libs/design-system-core/src/components/DatePicker/calendarHelpers.ts
  libs/design-system-core/src/components/DatePicker/date-selector.tsx
  libs/design-system-core/src/components/DatePicker/index.tsx
  libs/design-system-core/src/components/DatePicker/month-selector.tsx
  libs/design-system-core/src/components/Pagination/__tests__/index.test.tsx
  libs/design-system-core/src/components/Pagination/index.tsx
  libs/design-system-core/src/components/Pagination/page-bubble.tsx
  libs/ui/src/akasha-components/calendar.tsx
  libs/ui/src/akasha-components/pagination.tsx
  package.json
  yarn.lock
Labels: design-system, apps, extensions, stories, libs, config

#2639 chore(): replace pill component
  extensions/apps/antenna/src/extensions/beam-editor/beam-editor.tsx
  extensions/apps/extensions/src/components/extension-card/index.tsx
  extensions/apps/extensions/src/components/extension-edit-step1-form/Header/index.tsx
  extensions/apps/extensions/src/components/extension-review-and-publish/index.tsx
  extensions/apps/extensions/src/components/pages/extension-release-manager/extension-release-manager-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/info-page.tsx
  extensions/apps/profile/src/components/edit-interests/index.tsx
  extensions/apps/profile/src/components/pages/interests/index.tsx
  extensions/apps/profile/src/components/profile/Header/index.tsx
  extensions/apps/world-builder/src/ui/extension-card.tsx
  extensions/apps/world-builder/src/ui/extension-type-icon.tsx
  extensions/widgets/top-bar/src/components/topbar.tsx
  libs/feed/src/components/cards/entry-card/index.tsx
  libs/ui/src/akasha-components/extension-type-icon.tsx
Labels: apps, widgets, extensions, libs

#2636 Replace infinite scroll
  extensions/apps/extensions/src/components/app-list/index.tsx
  extensions/apps/extensions/src/components/pages/extension-release-manager/extension-release-manager-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/releases-page.tsx
  extensions/apps/extensions/src/components/pages/installed-extensions/default-extensions-list.tsx
  extensions/apps/extensions/src/components/pages/installed-extensions/installed-extensions-list.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/my-extensions.tsx
  extensions/apps/notifications/src/components/pages/notifications-page.tsx
  extensions/apps/profile/src/components/pages/followers/followers.tsx
  extensions/apps/profile/src/components/pages/following/following.tsx
  libs/feed/src/components/beam-feed-by-author.tsx
  libs/feed/src/components/beam-feed.tsx
  libs/feed/src/components/reflect-feed.tsx
  libs/feed/src/components/tag-feed.tsx
  libs/ui/src/akasha-components/infinite-scroll.tsx
Labels: apps, extensions, libs

#2641 Replace modal
  extensions/apps/antenna/src/extensions/remove-beam-confirmation/index.tsx
  extensions/apps/extensions/src/components/extension-edit-step1-form/Header/DeleteImageModal/index.tsx
  extensions/apps/extensions/src/components/extension-edit-step1-form/Header/index.tsx
  extensions/apps/extensions/src/components/extension-release-publish-form/index.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/extension-gallery-manager/index.tsx
  extensions/apps/extensions/src/components/pages/extension-release-manager/edit-test-release-page.tsx
  extensions/apps/extensions/src/components/pages/extension-release-manager/extension-release-manager-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/dev-info-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/releases-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/uninstall-modal.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/my-extensions.tsx
  extensions/apps/extensions/src/extensions/remove-extension-confirmation/index.tsx
  extensions/apps/profile/src/components/edit-profile/General/Header/DeleteImageModal/index.tsx
  extensions/apps/profile/src/components/pages/edit-profile/index.tsx
  extensions/apps/profile/src/components/pages/profile-info/index.tsx
  extensions/apps/profile/src/extensions/login-modal.tsx
  extensions/apps/search/src/components/pages/search-page.tsx
  libs/design-system-components/src/components/EmptyCard/index.tsx
  libs/design-system-components/src/components/ImageModal/index.tsx
  libs/design-system-components/src/components/UnsavedChangesModal/index.tsx
  libs/feed/src/components/cards/entry-card/index.tsx
Labels: design-system, apps, extensions, libs

#2645 chore(): remove typograhy which breaks text colors, fix topbar badge
  extensions/apps/antenna/src/extensions/beam-editor/beam-editor.tsx
  extensions/apps/extensions/src/components/extension-card/index.tsx
  extensions/apps/extensions/src/components/extension-edit-step1-form/Header/index.tsx
  extensions/apps/extensions/src/components/extension-review-and-publish/index.tsx
  extensions/apps/extensions/src/components/pages/extension-release-manager/extension-release-manager-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/info-page.tsx
  extensions/apps/profile/src/components/edit-interests/index.tsx
  extensions/apps/profile/src/components/pages/interests/index.tsx
  extensions/apps/profile/src/components/profile/Header/index.tsx
  extensions/widgets/top-bar/src/components/topbar.tsx
  libs/feed/src/components/cards/entry-card/index.tsx
Labels: apps, widgets, extensions, fix, libs

#2644 chore(): replace InfoCard component
  extensions/apps/antenna/src/components/pages/tag-feed-page/tag-feed-page.tsx
  extensions/apps/extensions/src/components/pages/extension-release-manager/extension-release-manager-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/dev-info-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/releases-page.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/my-extensions.tsx
  extensions/apps/extensions/src/components/pages/post-publish-page.tsx
  extensions/apps/profile/src/components/pages/followers/followers.tsx
  extensions/apps/profile/src/components/pages/followers/index.tsx
  extensions/apps/profile/src/components/pages/following/following.tsx
  extensions/apps/profile/src/components/pages/following/index.tsx
  extensions/apps/search/src/components/pages/search-page.tsx
  libs/design-system-components/src/components/EmptyCard/index.tsx
Labels: design-system, apps, extensions, libs
