Repository AKASHAorg/akasha-core, pull requests merged in 2025-02, with the labels that each got.

#2538 chore(): add error loader component
  libs/ui/src/akasha-components/error-loader.tsx
  libs/ui/src/akasha-components/image.tsx
  libs/ui/src/components/card.tsx
Labels: libs

#2539 Chore: remove unused custom hooks
  libs/hooks/README.md
  libs/hooks/src/__tests__/use-network-state.spec.ts
  libs/hooks/src/index.ts
  libs/hooks/src/use-network-state.ts
  libs/hooks/src/use-show-feedback.ts
Labels: libs, hooks, tests, docs

#2543 Docs: update hooks docs
  libs/hooks/README.md
  libs/hooks/README_GENERATED.md
Labels: libs, hooks, docs

#2547 feat(w-builder): initial models && hooks
  libs/composedb/composites/akasha-world-config.graphql
  libs/composedb/composites/akasha-world-config.mjs
  libs/composedb/composites/akasha-world-extension.graphql
  libs/composedb/composites/akasha-world-extension.mjs
  libs/composedb/composites/akasha-world-links.graphql
  libs/composedb/composites/akasha-world-links.mjs
  libs/composedb/composites/akasha-world.graphql
  libs/composedb/lib/runtime-definition.json
  libs/composedb/lib/schema.graphql
  libs/composedb/lib/supergraph.graphql
  libs/composedb/package.json
  libs/composedb/src/__generated__/akasha-beam-links.json
  libs/composedb/src/__generated__/akasha-beam.json
  libs/composedb/src/__generated__/akasha-profile.json
  libs/composedb/src/__generated__/akasha-streams.json
  libs/composedb/src/__generated__/akasha-world-config.json
  libs/composedb/src/__generated__/akasha-world-extension.json
  libs/composedb/src/__generated__/akasha-world-links.json
  libs/composedb/src/__generated__/akasha-world.json
  libs/composedb/src/__generated__/graphql-api.ts
  libs/composedb/src/create-composites.mjs
  libs/composedb/src/runtime-definition.ts
  libs/hooks/package.json
  libs/hooks/src/generated/apollo.ts
  libs/sdk/package.json
  libs/sdk/src/registry/registry-mutations-composedb.graphql
  libs/sdk/src/registry/registry-queries.graphql
  libs/typings/package.json
  libs/typings/src/sdk/graphql-operation-types-new.ts
  libs/typings/src/sdk/graphql-resolver-types-new.ts
  libs/typings/src/sdk/graphql-types-new.ts
Labels: sdk, libs, hooks, typings, config

#2537 Devkit HMR adjustments
  libs/app-loader/src/index.ts
  libs/app-loader/src/loading-functions/index.ts
  libs/app-loader/src/loading-functions/react.ts
  libs/app-loader/src/plugins/test-mode-loader.ts
  libs/webpack.config.js
  package.json
  worlds/akasha.world/public/index.dev.html
  worlds/akasha.world/public/index.html
  yarn.lock
Labels: libs, config, world

#2550 chore(): customize border radius per components
  libs/ui/components.json
  libs/ui/main.css
  libs/ui/src/akasha-components/button.tsx
  libs/ui/src/akasha-components/card.tsx
  libs/ui/src/akasha-components/duplex-button.tsx
  libs/ui/src/akasha-components/error-loader.tsx
  twindBaseConfig.js
Labels: libs, config

#2549 remove systemjs delete before unload logic
  libs/app-loader/src/index.ts
  libs/app-loader/src/loading-functions/index.ts
  libs/app-loader/src/loading-functions/react.ts
  libs/app-loader/src/plugins/test-mode-loader.ts
Labels: fix, libs

#2521 EntryCard refactor
  extensions/apps/search/src/components/pages/entry-renderer.tsx
  libs/design-system-components/src/components/Entry/EntryCard/index.tsx
  libs/design-system-components/src/components/Entry/EntryCardHidden/index.tsx
  libs/design-system-components/src/components/Entry/EntryPublishErrorCard/__tests__/index.test.tsx
  libs/design-system-components/src/components/Entry/EntryPublishErrorCard/index.tsx
  libs/design-system-components/src/components/VibesConsoleContentCard/index.tsx
  libs/design-system-components/src/stories/dscomponents/entry-publish-error-card.stories.tsx
  libs/extensions/src/react/content-block/content-block-extension/render-block.tsx
  libs/feed/src/components/cards/beam-card/index.tsx
  libs/feed/src/components/cards/entry-card/card-actions.tsx
  libs/feed/src/components/cards/entry-card/entry-card-removed/index.tsx
  libs/feed/src/components/cards/entry-card/index.tsx
  libs/feed/src/components/cards/reflection-card/index.tsx
Labels: design-system, apps, extensions, stories, libs

#2552 chore(): fix border inside profiel header
  libs/design-system-components/src/components/Profile/Header/index.tsx
  libs/design-system-components/src/components/Profile/placeholders/profile-header-loading.tsx
Labels: design-system, fix, libs

#2556 chore(): add extension card from akasha registry into world builder
  extensions/apps/world-builder/src/ui/extension-avatar.tsx
  extensions/apps/world-builder/src/ui/extension-card.tsx
  extensions/apps/world-builder/src/ui/extension-type-icon.tsx
  extensions/apps/world-builder/src/ui/library/get-image-from-seed.ts
  extensions/apps/world-builder/src/ui/profile-avatar-button.tsx
  extensions/apps/world-builder/src/ui/profile-avatar.tsx
  extensions/apps/world-builder/src/ui/types/extension-type.ts
  extensions/apps/world-builder/webpack.config.cjs
  libs/ui/main.css
Labels: apps, extensions, libs

#2557 chore(): fix beam footer position styling
  extensions/apps/antenna/src/extensions/beam-editor/beam-editor.tsx
  extensions/apps/antenna/src/extensions/beam-editor/footer/index.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/my-extensions.tsx
  libs/design-system-components/src/components/Web3ConnectCard/index.tsx
Labels: design-system, apps, extensions, fix, libs

#2558 chore(): add infinite scroll component to ui package
  extensions/apps/world-builder/src/ui/extension-card.tsx
  libs/design-system-core/src/components/AppAvatar/index.tsx
  libs/design-system-core/src/static/img/app-1.webp
  libs/design-system-core/src/static/img/app-2.webp
  libs/design-system-core/src/static/img/app-3.webp
  libs/design-system-core/src/static/img/other-1.webp
  libs/design-system-core/src/static/img/other-2.webp
  libs/design-system-core/src/static/img/other-3.webp
  libs/design-system-core/src/static/img/plugin-1.webp
  libs/design-system-core/src/static/img/plugin-2.webp
  libs/design-system-core/src/static/img/plugin-3.webp
  libs/design-system-core/src/static/img/widget-1.webp
  libs/design-system-core/src/static/img/widget-2.webp
  libs/design-system-core/src/static/img/widget-3.webp
  libs/ui/src/akasha-components/infinite-scroll.tsx
  libs/ui/src/hooks/use-mobile.tsx
  libs/ui/src/hooks/use-scroll-restoration.ts
Labels: design-system, apps, extensions, libs

#2553 Refactor: SDK docs
  libs/app-loader/src/index.ts
  libs/sdk/README.md
  libs/sdk/src/api.sdk.ts
  libs/sdk/src/index.ts
  libs/sdk/src/services.sdk.ts
Labels: sdk, libs, docs

#2559 chore(): add support for `useVirtualizer` in infinite scroll component
  libs/ui/src/akasha-components/infinite-scroll.tsx
Labels: libs

#2542 Fix: adjust to changes of PushProtocolApi
  extensions/apps/notifications/src/components/pages/notifications-page.tsx
  extensions/apps/settings/src/components/pages/notifications-option.tsx
  extensions/apps/settings/src/components/pages/notifications-preferences-option/app-setting.tsx
  extensions/apps/settings/src/components/pages/notifications-preferences-option/index.tsx
  extensions/apps/settings/src/components/pages/notifications-preferences-option/unlock-card.tsx
  extensions/apps/settings/src/components/pages/notifications-preferences-option/utils.ts
  libs/sdk/src/common/notification/notification-schemas.ts
  libs/sdk/src/common/notification/notification.ts
  libs/typings/src/sdk/notification.ts
Labels: sdk, apps, extensions, libs, typings

#2560 chore(): change default type of button component
  libs/design-system-components/src/components/ExtensionEditPublishedForm/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep1Form/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep2Form/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep3Form/index.tsx
  libs/design-system-components/src/components/ExtensionReleasePublishForm/index.tsx
  libs/ui/src/akasha-components/button.tsx
Labels: design-system, libs

#2555 World builder
  extensions/apps/world-builder/src/components/app-routes/index.tsx
  extensions/apps/world-builder/src/components/pages/index.ts
  extensions/apps/world-builder/src/components/pages/main/dashboard.tsx
  extensions/apps/world-builder/src/components/pages/main/landing-page-component.tsx
  extensions/apps/world-builder/src/components/pages/save-config-form/save-config-step1-page.tsx
  extensions/apps/world-builder/src/components/pages/save-config-form/save-config-step2-page.tsx
  extensions/apps/world-builder/src/components/pages/save-config-form/save-config-step3-page.tsx
  extensions/apps/world-builder/src/components/pages/world-config/config-success.tsx
  extensions/apps/world-builder/src/components/pages/world-config/world-config-form-step1.tsx
  extensions/apps/world-builder/src/components/pages/world-config/world-config-form-step2.tsx
  extensions/apps/world-builder/src/components/pages/world-config/world-config-main-page.tsx
  extensions/apps/world-builder/src/components/pages/world-create/create-success.tsx
  extensions/apps/world-builder/src/components/pages/world-create/world-create-form.tsx
  extensions/apps/world-builder/src/components/pages/world-customize/world-customize-form.tsx
  extensions/apps/world-builder/src/routes.ts
  extensions/apps/world-builder/src/ui/extension-avatar.tsx
  extensions/apps/world-builder/src/ui/extension-card.tsx
  extensions/apps/world-builder/src/ui/extension-type-icon.tsx
  extensions/apps/world-builder/src/ui/types/extension-type.ts
  extensions/apps/world-builder/tsconfig.json
  libs/composedb/src/__generated__/graphql-api.ts
  libs/hooks/src/generated/apollo.ts
  libs/hooks/src/selectors/get-apps-query.ts
  libs/hooks/src/selectors/get-world-by-id-query.ts
  libs/hooks/src/selectors/get-world-config-query.ts
  libs/hooks/src/selectors/get-worlds-by-creator-did-query.ts
  libs/sdk/src/gql/index.ts
  libs/sdk/src/registry/registry-mutations-composedb.graphql
  libs/sdk/src/registry/registry-queries.graphql
  libs/typings/src/sdk/graphql-operation-types-new.ts
Labels: sdk, apps, extensions, libs, hooks, typings, config
