Repository AKASHAorg/akasha-core, changes with the owners that CODEOWNERS names for each.
All owners: @kenshyx, @SeverS, @quininez, @didd, @josenriagu, @themonster2015

chore: change to Akasha World
  ui/apps/akasha/src/components/__tests__/my-feed-page.spec.tsx
  ui/apps/akasha/src/components/feed-page/feed-page.tsx
  ui/apps/akasha/src/components/my-feed-page/my-feed-page.tsx
  ui/apps/akasha/src/components/tag-feed-page/tag-feed-page.tsx
  ui/apps/app-center/src/components/pages/explore-page.tsx
  ui/apps/auth-app/src/components/__tests__/welcome.spec.tsx
  ui/apps/auth-app/src/components/welcome/index.tsx
  ui/apps/dev-dashboard/src/components/app-routes.tsx
  ui/apps/dev-dashboard/src/components/dev-dashboard.tsx
  ui/apps/dev-dashboard/src/components/onboarding/onboarding-steps.tsx
  ui/apps/messaging/src/components/app-routes.tsx
  ui/apps/messaging/src/components/inbox/inbox-page.tsx
  ui/apps/moderation/Readme.md
  ui/apps/moderation/src/components/dashboard/guest/index.tsx
  ui/apps/search/src/components/App.tsx
  ui/design-system-components/src/components/LoginCTACard/LoginCTACard.stories.tsx
  ui/design-system-components/src/components/LoginCTACard/__tests__/index.test.tsx
  ui/design-system-components/src/components/StartCard/StartCard.stories.tsx
  ui/design-system-components/src/components/StartCard/__tests__/index.test.tsx
  ui/design/src/components/InstallModal/InstallModal.stories.tsx
  ui/design/src/components/LoginCTAWidgetCard/LoginCTAWidgetCard.stories.tsx
  ui/design/src/components/LoginCTAWidgetCard/__tests__/index.test.tsx
  ui/design/src/components/ModerationAppErrorCard/ModerationAppErrorCard.stories.tsx
  ui/design/src/components/ModerationAppErrorCard/__tests__/index.test.tsx
  ui/design/src/components/ModerationIntroCard/ModerationIntroCard.stories.tsx
  ui/design/src/components/ModerationIntroCard/__tests__/index.test.tsx
  ui/design/src/components/ProfileForm/index.tsx
  ui/design/src/components/ReportModal/ReportModal.stories.tsx
  ui/design/src/components/ReportModal/__tests__/index.test.tsx
  ui/design/src/components/SignInModal/index.tsx
  ui/design/src/components/SignUpModal/index.tsx
  ui/design/src/components/StartCard/StartCard.stories.tsx
  ui/design/src/components/StartCard/__tests__/index.test.tsx
  ui/design/src/components/TopBar/TopBar.stories.tsx
  ui/design/src/components/TransparencyLogBanner/TransparencyLogBanner.stories.tsx
  ui/design/src/components/TransparencyLogBanner/__tests__/index.test.tsx
  ui/design/src/components/WelcomeCard/WelcomeCard.stories.tsx
  ui/design/src/components/WelcomeCard/__tests__/index.test.tsx
  ui/widgets/layout/src/components/layout-widget.tsx
  ui/widgets/sidebar/src/components/sidebar-component.tsx
Owners: @quininez, @didd, @josenriagu, @themonster2015

chore: update infocard compnt
  ui/apps/search/src/components/routes/search-page.tsx
  ui/design-system-components/src/components/InfoCard/InfoCard.stories.tsx
  ui/design-system-components/src/components/InfoCard/__tests__/index.test.tsx
  ui/design-system-components/src/components/InfoCard/index.tsx
  ui/design-system-core/src/components/InfoCard/index.tsx
Owners: @quininez, @didd, @josenriagu, @themonster2015

chore(ui): update typings
  ui/apps/profile/src/components/pages/edit-profile.tsx
  ui/design-system-components/src/components/EditProfile/GeneralForm/Header/EditImageModal/index.tsx
  ui/design-system-components/src/components/EditProfile/GeneralForm/Header/index.tsx
  ui/design-system-components/src/components/EditProfile/GeneralForm/index.tsx
Owners: @quininez, @didd, @josenriagu, @themonster2015

feat: create welcome message on AKASHAverse
  tests/ethereum-world/cypress/integration/akasha-verse.spec.ts
  ui/apps/app-center/DESCRIPTION.md
  ui/apps/app-center/README.md
  ui/apps/app-center/package.json
  ui/apps/app-center/src/components/App.tsx
  ui/apps/app-center/src/components/pages/explore-page.tsx
  ui/apps/app-center/src/components/pages/master-page.tsx
  ui/apps/app-center/src/index.tsx
  ui/apps/profile/src/components/App.tsx
  ui/design-system-components/src/components/AppInfo/AppInfo.stories.tsx
  ui/design-system-components/src/components/AppInfo/index.tsx
  ui/design-system-core/src/components/MessageCard/MessageCard.stories.tsx
  ui/design-system-core/src/components/MessageCard/index.tsx
  ui/design-system-core/src/components/Tab/Tab.stories.tsx
  ui/design-system-core/src/utils/dummy-data.ts
Owners: @didd, @kenshyx, @SeverS, @quininez, @josenriagu, @themonster2015

feat: create welcome message on AKASHAverse (#1947)
  tests/ethereum-world/cypress/integration/akasha-verse.spec.ts
  ui/apps/app-center/DESCRIPTION.md
  ui/apps/app-center/README.md
  ui/apps/app-center/package.json
  ui/apps/app-center/src/components/App.tsx
  ui/apps/app-center/src/components/pages/explore-page.tsx
  ui/apps/app-center/src/components/pages/master-page.tsx
  ui/apps/app-center/src/index.tsx
  ui/apps/profile/src/components/App.tsx
  ui/design-system-components/src/components/AppInfo/AppInfo.stories.tsx
  ui/design-system-components/src/components/AppInfo/index.tsx
  ui/design-system-core/src/components/MessageCard/MessageCard.stories.tsx
  ui/design-system-core/src/components/MessageCard/index.tsx
  ui/design-system-core/src/components/Tab/Tab.stories.tsx
  ui/design-system-core/src/utils/dummy-data.ts
Owners: @didd, @kenshyx, @SeverS, @quininez, @josenriagu, @themonster2015

test(ds): add tests - update components
  ui/design-system-core/src/components/List/__tests__/index.test.tsx
  ui/design-system-core/src/components/Menu/__tests__/index.test.tsx
  ui/design-system-core/src/components/Menu/index.tsx
  ui/design-system-core/src/components/MessageCard/__tests__/index.test.tsx
  ui/design-system-core/src/components/MessageCard/index.tsx
  ui/design-system-core/src/components/Meter/__tests__/index.test.tsx
  ui/design-system-core/src/components/Pagination/__tests__/index.test.tsx
Owners: @quininez, @didd, @josenriagu, @themonster2015

chore: update wording
  README.md
  ui/apps/bookmarks/README.md
Owners: none

fix(): remove old DS from legal, message apps, other UI fixes
  ui/apps/legal/package.json
  ui/apps/legal/src/components/App.tsx
  ui/apps/legal/src/components/routes/code-of-conduct.tsx
  ui/apps/legal/src/components/routes/developer-guidelines.tsx
  ui/apps/legal/src/components/routes/index.tsx
  ui/apps/legal/src/components/routes/privacy-policy.tsx
  ui/apps/legal/src/components/routes/terms-of-service.tsx
  ui/apps/legal/src/components/routes/terms-of-use.tsx
  ui/apps/messaging/package.json
  ui/apps/messaging/src/components/App.tsx
  ui/apps/messaging/src/components/app-routes.tsx
  ui/apps/messaging/src/components/chat-page.tsx
  ui/apps/messaging/src/components/inbox/inbox-page.tsx
  ui/apps/messaging/src/components/settings-page.tsx
  ui/apps/messaging/src/extensions/mini-profile-message-button.tsx
  ui/apps/messaging/src/extensions/profile-message-button.tsx
  ui/apps/settings-app/src/components/app-routes.tsx
  ui/apps/settings-app/src/components/app.tsx
  ui/design-system-components/src/components/BubbleCard/BubbleCard.stories.tsx
  ui/design-system-components/src/components/BubbleCard/__tests__/index.test.tsx
  ui/design-system-components/src/components/BubbleCard/index.tsx
  ui/design-system-components/src/components/ChatAreaHeader/ChatAreaHeader.stories.tsx
  ui/design-system-components/src/components/ChatAreaHeader/__tests__/index.test.tsx
  ui/design-system-components/src/components/ChatAreaHeader/index.tsx
  ui/design-system-components/src/components/ChatEditor/Index.tsx
  ui/design-system-components/src/components/ChatList/ChatList.stories.tsx
  ui/design-system-components/src/components/ChatList/__tests__/index.test.tsx
  ui/design-system-components/src/components/ChatList/index.tsx
  ui/design-system-components/src/components/LoginCTACard/index.tsx
  ui/design-system-components/src/components/MessageContactCard/MessageAppContactCard.stories.tsx
  ui/design-system-components/src/components/MessageContactCard/__tests__/index.test.tsx
  ui/design-system-components/src/components/MessageContactCard/index.tsx
  ui/design-system-components/src/components/StartCard/index.tsx
  ui/design-system-core/package.json
  ui/design-system-core/src/components/MarkdownCard/MarkdownCard.stories.tsx
  ui/design-system-core/src/components/MarkdownCard/__tests__/index.test.tsx
  ui/design-system-core/src/components/MarkdownCard/index.tsx
  yarn.lock
Owners: @kenshyx, @SeverS, @quininez, @didd, @josenriagu, @themonster2015

feat: enhance tooltip component
  ui/apps/app-center/src/components/pages/explore-page.tsx
  ui/design-system-core/src/components/Tooltip/Tooltip.stories.tsx
  ui/design-system-core/src/components/Tooltip/index.tsx
Owners: @quininez, @didd, @josenriagu, @themonster2015

refactor: rename prop name mode to trigger
  ui/design-system-core/src/components/Tooltip/Tooltip.stories.tsx
  ui/design-system-core/src/components/Tooltip/index.tsx
Owners: @quininez, @didd, @josenriagu, @themonster2015

Feat: enhance tooltip component (#1949)
  ui/apps/app-center/src/components/pages/explore-page.tsx
  ui/design-system-core/src/components/Tooltip/Tooltip.stories.tsx
  ui/design-system-core/src/components/Tooltip/index.tsx
Owners: @quininez, @didd, @josenriagu, @themonster2015

test(ds): add test - update component && story
  ui/design-system-core/src/components/PasswordField/PasswordField.stories.tsx
  ui/design-system-core/src/components/PasswordField/PasswordStrengthIndicator.tsx
  ui/design-system-core/src/components/PasswordField/__tests__/index.test.tsx
  ui/design-system-core/src/components/PasswordField/getBarColor.ts
  ui/design-system-core/src/components/PasswordField/getPasswordStrengthLabelProperties.ts
  ui/design-system-core/src/components/PasswordField/index.tsx
Owners: @quininez, @didd, @josenriagu, @themonster2015

refactor(ds): update components
  ui/design-system-core/src/components/Box/index.tsx
  ui/design-system-core/src/components/ModalContainer/index.tsx
Owners: @quininez, @didd, @josenriagu, @themonster2015

test(ds): add test
  ui/design-system-core/src/components/ModalContainer/__tests__/index.test.tsx
Owners: @quininez, @didd, @josenriagu, @themonster2015

refactor(ds): update components && stories
  ui/design-system-core/src/components/Icon/akasha-icons/StepIndicatorCompletedStep.tsx
  ui/design-system-core/src/components/ProfileAvatarButton/index.tsx
  ui/design-system-core/src/components/ScrollTopButton/index.tsx
  ui/design-system-core/src/components/SeventyFivePercentSpinner/SeventyPercentSpinner.stories.tsx
  ui/design-system-core/src/components/SeventyFivePercentSpinner/index.tsx
  ui/design-system-core/src/components/Sidebar/Sidebar.stories.tsx
  ui/design-system-core/src/components/SubtitleTextIcon/SubtitleTextIcon.stories.tsx
  ui/design-system-core/src/components/TabList/index.tsx
Owners: @quininez, @didd, @josenriagu, @themonster2015

test(ds): add tests
  ui/design-system-core/src/components/ProfileAvatarButton/__tests__/index.test.tsx
  ui/design-system-core/src/components/ScrollTopButton/__tests__/index.test.tsx
  ui/design-system-core/src/components/ScrollTopWrapper/__tests__/index.test.tsx
  ui/design-system-core/src/components/SeventyFivePercentSpinner/__tests__/index.test.tsx
  ui/design-system-core/src/components/Sidebar/__tests__/index.test.tsx
  ui/design-system-core/src/components/Spinner/__tests__/index.test.tsx
  ui/design-system-core/src/components/StackedAvatar/__tests__/index.test.tsx
  ui/design-system-core/src/components/Stepper/__tests__/index.test.tsx
  ui/design-system-core/src/components/SubtitleTextIcon/__tests__/index.test.tsx
  ui/design-system-core/src/components/TabList/__tests__/index.test.tsx
  ui/design-system-core/src/components/Text/__tests__/index.test.tsx
  ui/design-system-core/src/components/TextLine/__tests__/index.test.tsx
Owners: @quininez, @didd, @josenriagu, @themonster2015

chore(search): fix spinner prop
  ui/apps/search/src/components/routes/search-page.tsx
Owners: none

chore(search): translate string
  ui/apps/search/src/components/routes/search-page.tsx
Owners: none

fix(): md libraries version mismatch
  ui/design/package.json
  ui/design/src/components/ChatEditor/Index.tsx
  ui/design/src/components/ICDetailCard/ic-detail-card-fields/description.tsx
  ui/design/src/components/MdCard/MdCard.stories.tsx
  ui/design/src/components/MdCard/__tests__/index.test.tsx
  ui/design/src/components/MdCard/index.tsx
  ui/design/src/index.ts
  yarn.lock
Owners: @kenshyx, @SeverS

fix(): add missing DS dependency
  ui/apps/messaging/package.json
Owners: @kenshyx, @SeverS

chore(): init save
  sdk/src/gql/api.new.ts
  sdk/src/profiles/profile-compose-new.graphql
  tools/composedb/build/2_models.json
  tools/composedb/build/6_main_blocks.json
  tools/composedb/build/8_blocks.json
  tools/composedb/build/merged-composite.json
  tools/composedb/models/6_main_blocks.graphql
  tools/composedb/models/7_blocks.graphql
  tools/composedb/models/8_blocks.graphql
  tools/composedb/src/create-composite.mjs
  typings/src/sdk/graphql-operation-types-new.ts
  ui/hooks/src/generated/hooks-new.ts
Owners: @kenshyx, @SeverS, @quininez

chore(): fix case sensitivity
  ui/design-system-components/src/components/ChatEditor/index.tsx
Owners: @quininez, @didd, @josenriagu, @themonster2015

chore(): add new eslint rules
  .eslintrc.js
  package.json
  yarn.lock
Owners: @kenshyx, @SeverS

refactor(ds): pass ref
  ui/design-system-core/src/components/ProfileAvatarButton/index.tsx
  ui/design-system-core/src/components/Text/index.tsx
Owners: @quininez, @didd, @josenriagu, @themonster2015

test(ds): add tests
  ui/design-system-core/src/components/Button/__tests__/index.test.tsx
  ui/design-system-core/src/components/DatePicker/__tests__/index.test.tsx
  ui/design-system-core/src/components/DatePicker/index.tsx
  ui/design-system-core/src/components/Dropdown/__tests__/index.test.tsx
  ui/design-system-core/src/components/Dropdown/index.tsx
  ui/design-system-core/src/components/ImageCropper/__tests__/index.test.tsx
  ui/design-system-core/src/components/ImageCropper/index.tsx
  ui/design-system-core/src/components/MessageCard/__tests__/index.test.tsx
  ui/design-system-core/src/components/MessageCard/index.tsx
  ui/design-system-core/src/components/Pill/__tests__/index.test.tsx
  ui/design-system-core/src/components/Pill/index.tsx
  ui/design-system-core/src/components/ProfileAvatarButton/__tests__/index.test.tsx
  ui/design-system-core/src/components/ProfileAvatarButton/index.tsx
  ui/design-system-core/src/components/ScrollTopButton/__tests__/index.test.tsx
  ui/design-system-core/src/components/ScrollTopButton/index.tsx
  ui/design-system-core/src/components/Snackbar/__tests__/index.test.tsx
  ui/design-system-core/src/components/Snackbar/index.tsx
Owners: @quininez, @didd, @josenriagu, @themonster2015

feat: create install and uninstall app
  ui/apps/app-center/src/components/pages/apps-page.tsx
  ui/apps/app-center/src/components/pages/explore-page.tsx
  ui/apps/app-center/src/components/pages/info-page.tsx
  ui/apps/app-center/src/components/pages/my-apps-page.tsx
  ui/apps/app-center/src/components/pages/my-widgets-page.tsx
  ui/apps/app-center/src/extensions/install-app.tsx
  ui/apps/app-center/src/index.tsx
  ui/design-system-components/src/components/AppInfo/AppInfo.stories.tsx
  ui/design-system-components/src/components/AppInfo/duplex-app-icon.tsx
  ui/design-system-components/src/components/AppInfo/index.tsx
  ui/design-system-components/src/components/AppList/index.tsx
  ui/design-system-components/src/components/DevInfo/index.tsx
  ui/design-system-components/src/components/InstallApp/InstallApp.stories.tsx
  ui/design-system-components/src/components/InstallApp/error-icon.tsx
  ui/design-system-components/src/components/InstallApp/index.tsx
  ui/design-system-components/src/components/InstallApp/install-icon.tsx
  ui/design-system-components/src/components/InstallApp/success-icon.tsx
  ui/design-system-core/src/components/AppIcon/AppIcon.stories.tsx
  ui/design-system-core/src/components/AppIcon/IconByType.tsx
  ui/design-system-core/src/components/AppIcon/index.tsx
  ui/design-system-core/src/components/AutoComplete/index.tsx
  ui/design-system-core/src/components/Button/index.tsx
  ui/design-system-core/src/components/List/index.tsx
Owners: @quininez, @didd, @josenriagu, @themonster2015

chore(): add error handling
  examples/ui/ethereum.world/src/index.ts
  sdk/src/common/web3.connector.ts
  tsconfig.json
  twindBaseConfig.js
  typings/src/sdk/common.ts
  typings/src/sdk/events.ts
  ui/apps/auth-app/src/components/connect/boxed-icon.tsx
  ui/apps/auth-app/src/components/connect/choose-provider.tsx
  ui/apps/auth-app/src/components/connect/connect-wallet.tsx
  ui/apps/auth-app/src/components/connect/index.tsx
  ui/apps/auth-app/src/components/connect/indicator-dots.tsx
  ui/apps/auth-app/src/components/connect/invite-code.obsolete.tsx
  ui/apps/auth-app/src/components/connect/invite-code.tsx
  ui/apps/auth-app/src/components/connect/styles.ts
  ui/apps/auth-app/src/components/connect/web3-connect-card.tsx
  ui/apps/auth-app/src/routes.ts
  ui/apps/auth-app/src/utils/connect.ts
  ui/apps/auth-app/src/utils/getInjectedProvider.ts
  ui/apps/routing/src/index.tsx
  ui/design-system-components/src/components/ReflectionEditor/index.tsx
  ui/design-system-core/src/components/BasicCardBox/index.tsx
  ui/design-system-core/src/components/Box/index.tsx
  ui/design-system-core/src/components/Icon/akasha-icons/metamask.tsx
  ui/hooks/src/__tests__/use-injected-provider.spec.ts
  ui/hooks/src/index.ts
  ui/hooks/src/use-injected-provider.ts
  ui/hooks/src/use-login.ts
  ui/hooks/src/use-network-state.ts
  ui/hooks/tsconfig.json
  ui/widgets/layout/src/components/layout-widget.tsx
Owners: @kenshyx, @SeverS, @quininez, @didd, @josenriagu, @themonster2015

[CodeFactor] Apply fixes
  sdk/src/common/web3.connector.ts
Owners: @kenshyx, @SeverS

feat(ds): move mocks into jest setup
  ui/design-system-core/jest.setup.js
  ui/design-system-core/src/components/DuplexButton/__tests__/index.test.tsx
  ui/design-system-core/src/components/Modal/__tests__/index.test.tsx
  ui/design-system-core/src/test-utils/mocks.tsx
Owners: @quininez, @didd, @josenriagu, @themonster2015

chore(): fix tests
  ui/hooks/src/__tests__/use-injected-provider.spec.ts
  ui/hooks/src/__tests__/utils.tsx
Owners: @quininez, @SeverS

fix: use webp for animated icons
  ui/design-system-components/src/components/InstallApp/error-icon.tsx
  ui/design-system-components/src/components/InstallApp/error-img.tsx
  ui/design-system-components/src/components/InstallApp/index.tsx
  ui/design-system-components/src/components/InstallApp/install-icon.tsx
  ui/design-system-components/src/components/InstallApp/install-img.tsx
  ui/design-system-components/src/components/InstallApp/success-icon.tsx
  ui/design-system-components/src/components/InstallApp/success-img.tsx
  ui/design-system-components/src/static/img/error.webp
  ui/design-system-components/src/static/img/install.webp
  ui/design-system-components/src/static/img/success.webp
Owners: @quininez, @didd, @josenriagu, @themonster2015

fix: typing and import issues
  ui/design-system-components/src/components/EditProfile/GeneralForm/Header/EditImageModal/index.tsx
  ui/design-system-components/src/components/Profile/placeholders/ProfileLoading.tsx
  ui/design-system-core/src/components/List/__tests__/index.test.tsx
  ui/design-system-core/src/components/Menu/__tests__/index.test.tsx
Owners: @quininez, @didd, @josenriagu, @themonster2015

fix: typing issue caused during merge
  ui/design-system-core/src/components/List/__tests__/index.test.tsx
  ui/design-system-core/src/components/Menu/__tests__/index.test.tsx
Owners: @quininez, @didd, @josenriagu, @themonster2015

fix(Box): missing comma
  ui/design-system-core/src/components/Box/index.tsx
Owners: @quininez, @didd, @josenriagu, @themonster2015

fix(ModalContainer): BoxProps
  ui/design-system-core/src/components/ModalContainer/index.tsx
Owners: @quininez, @didd, @josenriagu, @themonster2015

fix(): tests
  ui/apps/auth-app/src/components/__tests__/connect.spec.tsx
  ui/apps/auth-app/src/components/connect/index.tsx
  ui/hooks/src/use-analytics.tsx
Owners: @quininez, @SeverS

fix: change gif into svg, and use tailwind animation
  ui/design-system-components/src/components/InstallApp/error-icon.tsx
  ui/design-system-components/src/components/InstallApp/error-img.tsx
  ui/design-system-components/src/components/InstallApp/index.tsx
  ui/design-system-components/src/components/InstallApp/install-icon.tsx
  ui/design-system-components/src/components/InstallApp/install-img.tsx
  ui/design-system-components/src/components/InstallApp/success-icon.tsx
  ui/design-system-components/src/components/InstallApp/success-img.tsx
  ui/design-system-components/src/static/img/error.webp
  ui/design-system-components/src/static/img/install.webp
  ui/design-system-components/src/static/img/success.webp
Owners: @quininez, @didd, @josenriagu, @themonster2015

fix: increase the gap between an icon and progress info
  ui/design-system-components/src/components/InstallApp/index.tsx
Owners: @quininez, @didd, @josenriagu, @themonster2015

fix(): tests
  ui/apps/auth-app/src/components/__tests__/connect.spec.tsx
  ui/apps/auth-app/src/components/connect/choose-provider.tsx
Owners: none

chore(): remove old design system
  ui/apps/auth-app/package.json
  ui/apps/auth-app/src/components/app.tsx
  ui/apps/auth-app/src/components/connect/boxed-icon.tsx
  ui/apps/auth-app/src/components/welcome/index.tsx
Owners: @kenshyx, @SeverS

CODEOWNERS:

*.json @kenshyx @SeverS
/build/ @kenshyx
/tools/ @kenshyx
/sdk/ @kenshyx @SeverS
/typings/ @kenshyx @SeverS @quininez
/tests/ @didd
/ui/hooks/ @quininez @SeverS
/ui/design-system-core/ @quininez @didd @josenriagu @themonster2015
/ui/design-system-components/ @quininez @didd @josenriagu @themonster2015
