Repository AKASHAorg/akasha-core, changes with the owners that CODEOWNERS names for each.
All owners: @kenshyx, @SeverS, @didd, @josenriagu, @themonster2015, @quininez

chore(): keep track of last reflectionID value
  libs/feed/src/components/reflect-feed.tsx
  libs/hooks/src/use-reflections.ts
Owners: @SeverS, @themonster2015, @didd, @kenshyx, @quininez

chore(): update with feedback
  libs/hooks/src/use-reflections.ts
Owners: @kenshyx, @quininez, @didd, @SeverS

chore(): refactor
  libs/hooks/src/use-reflections.ts
Owners: @kenshyx, @quininez, @didd, @SeverS

chore(): use useCallback
  libs/hooks/src/use-reflections.ts
Owners: @kenshyx, @quininez, @didd, @SeverS

chore(): remove change
  libs/feed/src/components/reflect-feed.tsx
Owners: @SeverS, @themonster2015, @didd

feat(): image editor upload state
  extensions/apps/antenna/src/extensions/image-block/image-editor-block.tsx
  libs/design-system-components/src/components/ImageBlockGallery/image-block-grid-item.tsx
  libs/design-system-components/src/components/ImageBlockGallery/index.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu

chore()
  extensions/apps/antenna/src/extensions/image-block/image-editor-block.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015

chore()
  extensions/apps/antenna/src/extensions/image-block/image-editor-block.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015

Fix image edit (#2278)
  extensions/apps/antenna/src/extensions/image-block/image-editor-block.tsx
  libs/design-system-components/src/components/ImageBlockGallery/image-block-grid-item.tsx
  libs/design-system-components/src/components/ImageBlockGallery/index.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu

docs(): update docs
  README.md
  SCRIPTS-GUIDE.md
  extensions/README.md
  extensions/apps/antenna/Readme.md
  extensions/apps/auth-app/Readme.md
  extensions/widgets/analytics/README.md
  extensions/widgets/top-bar/README.md
  extensions/widgets/trending/README.md
  libs/README.md
  libs/composedb/README.md
  libs/extensions/README.md
  libs/sdk/README.md
  tests/README.md
  tools/README.md
  tools/functions/cloudflare/README.md
  worlds/akasha.world/Readme.md
Owners: @josenriagu, @SeverS, @themonster2015, @quininez, @didd, @kenshyx

chore(): remove useGlobalLogin hook and update mini profile widget loader ui
  libs/design-system-components/src/components/Loaders/mini-profile-widget-loader.tsx
  libs/hooks/README.md
  libs/hooks/src/index.ts
  libs/hooks/src/use-global-login.ts
Owners: @josenriagu, @didd, @themonster2015, @quininez, @kenshyx, @SeverS

chore(): update to the latest version of @tanstack/react-virtual
  libs/design-system-components/src/components/EntryList/index.tsx
  package.json
  yarn.lock
Owners: @josenriagu, @didd, @themonster2015, @quininez, @kenshyx, @SeverS

chore(): remove scroll restoration component from top bar widget and load it as needed by apps
  extensions/apps/profile/src/components/app-routes/index.tsx
  extensions/widgets/top-bar/src/components/widget-routes/root-component.tsx
Owners: @didd, @themonster2015, @quininez, @josenriagu

refactor: models && adjust runtime embeds
  graphql.config.yml
  libs/composedb/composites/akasha-app-links.graphql
  libs/composedb/composites/akasha-app-release.graphql
  libs/composedb/composites/akasha-app-release.mjs
  libs/composedb/composites/akasha-app.graphql
  libs/composedb/composites/akasha-beam-links.graphql
  libs/composedb/composites/akasha-beam.graphql
  libs/composedb/composites/akasha-beam.mjs
  libs/composedb/composites/akasha-content-block.graphql
  libs/composedb/composites/akasha-content-block.mjs
  libs/composedb/composites/akasha-follow.graphql
  libs/composedb/composites/akasha-follow.mjs
  libs/composedb/composites/akasha-profile-links.graphql
  libs/composedb/composites/akasha-profile.graphql
  libs/composedb/composites/akasha-reflect.graphql
  libs/composedb/composites/akasha-reflect.mjs
  libs/composedb/composites/akasha-streams.graphql
  libs/composedb/composites/akasha-streams.mjs
  libs/composedb/lib/runtime-definition.js
  libs/composedb/lib/runtime-definition.json
  libs/composedb/lib/schema.graphql
  libs/composedb/src/__generated__/akasha-app-links.json
  libs/composedb/src/__generated__/akasha-app-release.json
  libs/composedb/src/__generated__/akasha-app.json
  libs/composedb/src/__generated__/akasha-beam-links.json
  libs/composedb/src/__generated__/akasha-beam.json
  libs/composedb/src/__generated__/akasha-block-storage.json
  libs/composedb/src/__generated__/akasha-content-block.json
  libs/composedb/src/__generated__/akasha-follow.json
  libs/composedb/src/__generated__/akasha-profile-links.json
  libs/composedb/src/__generated__/akasha-profile.json
  libs/composedb/src/__generated__/akasha-reflect.json
  libs/composedb/src/__generated__/akasha-streams.json
  libs/composedb/src/create-composites.mjs
  libs/composedb/src/runtime-definition.ts
  nx.json
  package.json
Owners: @kenshyx, @didd, @josenriagu, @SeverS

chore: fix lockfile
  yarn.lock
Owners: none

chore(): patch auth app
  extensions/apps/auth-app/src/components/pages/connect-wallet.tsx
Owners: @didd, @josenriagu, @themonster2015

feat(): create DynamicInfiniteScroll component to handle infinite scroll of a virtual list with dynamic item height
  libs/design-system-components/src/components/DynamicInfiniteScroll/index.tsx
  libs/design-system-components/src/components/DynamicInfiniteScroll/use-scroll-restoration/index.ts
  libs/design-system-components/src/components/DynamicInfiniteScroll/use-scroll-restoration/utils.ts
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(): improve virtual list and scroll restoration for antenna app
  extensions/apps/antenna/src/components/app-routes/data-loaders.ts
  extensions/apps/antenna/src/components/app-routes/index.tsx
  extensions/apps/antenna/src/components/pages/global-antenna-page/index.new.tsx
  extensions/widgets/layout/src/components/layout-widget.tsx
  libs/design-system-components/src/components/Entry/EntryCard/card-actions.tsx
  libs/design-system-components/src/components/Entry/EntryCard/index.tsx
  libs/feed/src/components/beam-content-resolver.tsx
  libs/feed/src/components/beam-feed.new.tsx
  libs/feed/src/components/cards/beam-card/index.tsx
  libs/feed/src/utils/index.ts
  libs/sdk/src/gql/index.ts
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu, @kenshyx

chore(): clean up antenna app
  extensions/apps/antenna/src/components/app-routes/data-loaders.ts
  extensions/apps/antenna/src/components/app-routes/index.tsx
  extensions/apps/antenna/src/components/app.tsx
  extensions/apps/antenna/src/components/pages/entry-page/reflection-page.tsx
  extensions/apps/antenna/src/components/pages/global-antenna-page/index.new.tsx
  extensions/widgets/layout/src/components/layout-widget.tsx
  libs/feed/src/components/beam-feed.new.tsx
  libs/typings/src/ui/router.ts
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu, @kenshyx

chore(): address copy text review
  extensions/apps/auth-app/src/components/pages/connect-wallet.tsx
Owners: @didd, @josenriagu, @themonster2015

chore(): patch auth app (#2282)
  extensions/apps/auth-app/src/components/pages/connect-wallet.tsx
Owners: @didd, @josenriagu, @themonster2015

chore(extensions): update routes
  extensions/apps/extensions/src/routes.ts
Owners: @SeverS, @quininez, @didd

feat(extensions): create and update pages
  extensions/apps/extensions/src/components/pages/apps-page.tsx
  extensions/apps/extensions/src/components/pages/explore-page.tsx
  extensions/apps/extensions/src/components/pages/index.ts
  extensions/apps/extensions/src/components/pages/info-page.tsx
  extensions/apps/extensions/src/components/pages/installed-extensions.tsx
  extensions/apps/extensions/src/components/pages/main-page.tsx
  extensions/apps/extensions/src/components/pages/my-apps-page.tsx
  extensions/apps/extensions/src/components/pages/my-widgets-page.tsx
  extensions/apps/extensions/src/components/pages/overview.tsx
  extensions/apps/extensions/src/extensions/install-app.tsx
Owners: @SeverS, @quininez, @didd

chore(extensions): update app routes
  extensions/apps/extensions/src/components/app-routes/index.tsx
Owners: @SeverS, @quininez, @didd

feat(extensions): define sub menu routes
  extensions/apps/extensions/src/index.tsx
Owners: @SeverS, @quininez, @didd

fix(ds, widgets): update avatar component
  extensions/widgets/sidebar/src/components/sidebar-component.tsx
  libs/design-system-core/src/components/Avatar/index.tsx
Owners: @josenriagu, @themonster2015, @didd, @quininez

fix(ds, widgets): update avatar component (#2286)
  extensions/widgets/sidebar/src/components/sidebar-component.tsx
  libs/design-system-core/src/components/Avatar/index.tsx
Owners: @josenriagu, @themonster2015, @didd, @quininez

fix: apps typings
  libs/design-system-components/src/components/EditInterests/index.tsx
  libs/design-system-components/src/components/EditProfile/SocialLinks/index.tsx
  libs/design-system-components/src/components/Profile/Links/index.tsx
  libs/feed/src/components/editable-reflection/index.tsx
  libs/feed/src/components/editable-reflection/reflection-editor-renderer.tsx
  libs/typings/src/sdk/graphql-types-new.ts
Owners: @josenriagu, @didd, @themonster2015, @quininez, @SeverS, @kenshyx

chore(): improve scroll restoration logic to have it work properly across different browsers
  libs/design-system-components/src/components/DynamicInfiniteScroll/index.tsx
  libs/design-system-components/src/components/DynamicInfiniteScroll/use-scroll-restoration/index.ts
  libs/design-system-components/src/components/DynamicInfiniteScroll/use-scroll-restoration/utils.ts
  libs/feed/src/components/beam-feed.new.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez, @SeverS

feat(): introduce improved virtual list and scroll restoration on reflection feed
  extensions/apps/antenna/src/components/app-routes/index.tsx
  extensions/apps/antenna/src/components/pages/entry-page/beam-page.new.tsx
  extensions/apps/antenna/src/components/pages/entry-page/reflection-page.new.tsx
  extensions/apps/antenna/src/components/pages/global-antenna-page/index.new.tsx
  libs/design-system-components/src/components/DynamicInfiniteScroll/index.tsx
  libs/design-system-components/src/components/DynamicInfiniteScroll/use-scroll-restoration/index.ts
  libs/design-system-components/src/components/DynamicInfiniteScroll/use-scroll-restoration/utils.ts
  libs/feed/src/components/beam-feed.new.tsx
  libs/feed/src/components/reflect-feed.new.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu

duplicate reflect (#2280)
  libs/hooks/src/use-reflections.ts
Owners: @kenshyx, @quininez, @didd, @SeverS

Feat: Extensions app sub menu (#2285)
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/pages/apps-page.tsx
  extensions/apps/extensions/src/components/pages/explore-page.tsx
  extensions/apps/extensions/src/components/pages/index.ts
  extensions/apps/extensions/src/components/pages/info-page.tsx
  extensions/apps/extensions/src/components/pages/installed-extensions.tsx
  extensions/apps/extensions/src/components/pages/main-page.tsx
  extensions/apps/extensions/src/components/pages/my-apps-page.tsx
  extensions/apps/extensions/src/components/pages/my-widgets-page.tsx
  extensions/apps/extensions/src/components/pages/overview.tsx
  extensions/apps/extensions/src/extensions/install-app.tsx
  extensions/apps/extensions/src/index.tsx
  extensions/apps/extensions/src/routes.ts
Owners: @SeverS, @quininez, @didd

chore():
  libs/design-system-components/src/components/DynamicInfiniteScroll/index.tsx
  libs/design-system-components/src/components/DynamicInfiniteScroll/use-scroll-restoration/utils.ts
  libs/design-system-components/src/components/Entry/EntryCard/index.tsx
  libs/feed/src/components/beam-feed.new.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez, @SeverS

chore(): reflection feed improvements
  extensions/apps/antenna/src/components/pages/entry-page/beam-page.new.tsx
  extensions/apps/antenna/src/components/pages/entry-page/reflection-page.new.tsx
  extensions/apps/antenna/src/components/reflect-editor/index.tsx
  libs/feed/src/components/reflect-feed.new.tsx
  libs/hooks/src/use-pending-reflections.ts
  libs/sdk/src/gql/index.ts
Owners: @SeverS, @quininez, @didd, @themonster2015, @kenshyx, @josenriagu

fix():
  libs/design-system-components/src/components/DynamicInfiniteScroll/use-scroll-restoration/index.ts
  libs/feed/src/components/reflect-feed.new.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez, @SeverS

feat(widgets): show mini profile widget on reflection route
  extensions/widgets/mini-profile/src/index.ts
Owners: @quininez, @josenriagu

chore(): fix computation
  libs/design-system-components/src/components/DynamicInfiniteScroll/index.tsx
  libs/design-system-components/src/components/DynamicInfiniteScroll/use-scroll-restoration/index.ts
  libs/design-system-components/src/components/DynamicInfiniteScroll/use-scroll-restoration/utils.ts
Owners: @josenriagu, @didd, @themonster2015, @quininez

docs(): update widgets docs
  extensions/README.md
  extensions/widgets/analytics/README.md
  extensions/widgets/layout/README.md
  extensions/widgets/layout/src/components/index.tsx
  extensions/widgets/mini-profile/README.md
  extensions/widgets/my-apps/README.md
  extensions/widgets/sidebar/README.md
  extensions/widgets/top-bar/README.md
  extensions/widgets/trending/README.md
Owners: @josenriagu, @SeverS, @themonster2015, @quininez, @didd

chore(): update docs
  extensions/apps/antenna/Readme.md
  extensions/apps/extensions/README.md
  extensions/apps/notifications/README.md
  extensions/apps/profile/README.md
  libs/design-system-components/README.md
  libs/design-system-core/README.md
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu

chore(): improvements
  extensions/apps/antenna/src/components/reflect-editor/index.tsx
  libs/design-system-components/src/components/DynamicInfiniteScroll/use-scroll-restoration/utils.ts
  libs/design-system-components/src/components/Entry/EntryCardLoading/index.tsx
  libs/feed/src/components/beam-feed.new.tsx
  libs/feed/src/components/reflect-feed.new.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu

CODEOWNERS:

*.json @kenshyx @SeverS
*.cjs @kenshyx @didd
*.yml @kenshyx @didd
*.toml @kenshyx @didd
*.md @josenriagu @SeverS @themonster2015
*.config.js @kenshyx @didd
*.conf.js @kenshyx @didd
*.stories.tsx @josenriagu @didd
*.spec.ts @kenshyx @didd
*.spec.tsx @themonster2015 @didd

.github/ @kenshyx @didd
.circleci/ @kenshyx @didd

/extensions/apps/antenna/ @SeverS @quininez @didd @themonster2015
/extensions/apps/auth-app/ @didd @josenriagu @themonster2015
/extensions/apps/extensions/ @SeverS @quininez @didd
/extensions/apps/legal/ @quininez @josenriagu
/extensions/apps/notifications/ @quininez @themonster2015
/extensions/apps/profile/ @didd @themonster2015 @quininez
/extensions/apps/routing/ @SeverS @didd
/extensions/apps/search/ @quininez @themonster2015
/extensions/apps/settings/ @themonster2015 @josenriagu
/extensions/apps/vibes/ @themonster2015 @josenriagu
/extensions/apps/vibes-console/ @themonster2015 @josenriagu

/extensions/widgets/analytics/ @SeverS @josenriagu
/extensions/widgets/layout/ @SeverS @josenriagu @quininez
/extensions/widgets/mini-profile/ @quininez @josenriagu
/extensions/widgets/my-apps/ @quininez @themonster2015
/extensions/widgets/sidebar/ @josenriagu @themonster2015 @didd
/extensions/widgets/top-bar/ @themonster2015 @josenriagu
/extensions/widgets/trending/ @themonster2015 @josenriagu @didd

/libs/app-loader/ @SeverS @kenshyx
/libs/composedb/ @kenshyx @josenriagu @SeverS
/libs/design-system-components/ @josenriagu @didd @themonster2015 @quininez
/libs/design-system-core/ @josenriagu @didd @themonster2015 @quininez
/libs/extensions/ @SeverS @quininez @didd
/libs/feed/ @SeverS @themonster2015 @didd
/libs/hooks/ @kenshyx @quininez @didd @SeverS
/libs/sdk/ @kenshyx @josenriagu @SeverS
/libs/typings/ @kenshyx @SeverS @quininez

/tests/ @didd @kenshyx
/tools/ @kenshyx @SeverS

/worlds/ @kenshyx @SeverS
