Repository AKASHAorg/akasha-core, changes with the owners that CODEOWNERS names for each.
All owners: @kenshyx, @SeverS, @didd, @josenriagu, @themonster2015, @quininez

CODEOWNERS:

*.json @kenshyx @SeverS
*.cjs @kenshyx @didd
*.yml @kenshyx @didd
*.toml @kenshyx @didd
*.md @josenriagu @SeverS @themonster2015
*.config.js @kenshyx @didd
*.conf.js @kenshyx @didd
*.stories.tsx @josenriagu @didd
*.spec.ts @kenshyx @didd
*.spec.tsx @themonster2015 @didd

.github/ @kenshyx @didd
.circleci/ @kenshyx @didd

/extensions/apps/antenna/ @SeverS @quininez @didd @themonster2015
/extensions/apps/auth-app/ @didd @josenriagu @themonster2015
/extensions/apps/extensions/ @SeverS @quininez @didd
/extensions/apps/legal/ @quininez @josenriagu
/extensions/apps/notifications/ @quininez @themonster2015
/extensions/apps/profile/ @didd @themonster2015 @quininez
/extensions/apps/routing/ @SeverS @didd
/extensions/apps/search/ @quininez @themonster2015
/extensions/apps/settings/ @themonster2015 @josenriagu
/extensions/apps/vibes/ @themonster2015 @josenriagu
/extensions/apps/vibes-console/ @themonster2015 @josenriagu

/extensions/widgets/analytics/ @SeverS @josenriagu
/extensions/widgets/layout/ @SeverS @josenriagu @quininez
/extensions/widgets/mini-profile/ @quininez @josenriagu
/extensions/widgets/my-apps/ @quininez @themonster2015
/extensions/widgets/sidebar/ @josenriagu @themonster2015 @didd
/extensions/widgets/top-bar/ @themonster2015 @josenriagu
/extensions/widgets/trending/ @themonster2015 @josenriagu @didd

/libs/app-loader/ @SeverS @kenshyx
/libs/composedb/ @kenshyx @josenriagu @SeverS
/libs/design-system-components/ @josenriagu @didd @themonster2015 @quininez
/libs/design-system-core/ @josenriagu @didd @themonster2015 @quininez
/libs/extensions/ @SeverS @quininez @didd
/libs/feed/ @SeverS @themonster2015 @didd
/libs/hooks/ @kenshyx @quininez @didd @SeverS
/libs/sdk/ @kenshyx @josenriagu @SeverS
/libs/typings/ @kenshyx @SeverS @quininez

/tests/ @didd @kenshyx
/tools/ @kenshyx @SeverS

/worlds/ @kenshyx @SeverS

chore()
  extensions/apps/extensions/src/components/pages/my-extensions/my-extensions.tsx
Owners: @SeverS, @quininez, @didd

chore()
  extensions/apps/extensions/src/components/pages/my-extensions/my-extensions.tsx
Owners: @SeverS, @quininez, @didd

chore(): adjust latestProfiles query
  extensions/widgets/trending/src/components/trending-widget-component.tsx
Owners: @themonster2015, @josenriagu, @didd

chore(): adjust latestProfiles query
  extensions/widgets/trending/src/components/trending-widget-component.tsx
Owners: @themonster2015, @josenriagu, @didd

chore(): remove bad hook call
  extensions/widgets/trending/src/components/trending-widget-component.tsx
Owners: @themonster2015, @josenriagu, @didd

chore(): remove unsused utils methods
  libs/design-system-core/src/utils/string-utils.ts
Owners: @josenriagu, @didd, @themonster2015, @quininez

feat(): add license to extension creation form
  extensions/apps/extensions/src/components/pages/extension-creation-page.tsx
  libs/design-system-components/src/components/AppCreationForm/index.tsx
Owners: @SeverS, @quininez, @didd, @josenriagu, @themonster2015

chore(): refactor namings
  extensions/apps/antenna/src/index.tsx
  extensions/apps/auth-app/src/index.tsx
  extensions/apps/extensions/src/index.tsx
  extensions/apps/extensions/src/plugins/extension-point-store.ts
  extensions/apps/legal/src/index.tsx
  extensions/apps/notifications/src/index.tsx
  extensions/apps/profile/src/index.tsx
  extensions/apps/routing/src/index.tsx
  extensions/apps/search/src/index.tsx
  extensions/apps/settings/src/index.tsx
  extensions/apps/vibes-console/src/index.tsx
  extensions/apps/vibes/src/index.tsx
  extensions/widgets/analytics/src/index.tsx
  extensions/widgets/layout/src/components/layout-widget.tsx
  extensions/widgets/layout/src/index.tsx
  extensions/widgets/mini-profile/src/index.ts
  extensions/widgets/my-apps/src/index.ts
  extensions/widgets/sidebar/src/index.tsx
  extensions/widgets/top-bar/src/components/topbar-component.tsx
  extensions/widgets/top-bar/src/extension-points.ts
  extensions/widgets/top-bar/src/index.tsx
  extensions/widgets/trending/src/index.tsx
  libs/app-loader/src/extensions.ts
  libs/app-loader/src/index.ts
  libs/extensions/src/react/extension.tsx
  libs/typings/src/ui/app-loader.ts
  libs/typings/src/ui/extension-point.ts
  libs/typings/src/ui/extensions.ts
  libs/typings/src/ui/plugins.ts
  libs/typings/src/ui/root-component.ts
  libs/typings/src/ui/ui-events.ts
  libs/typings/src/ui/widgets.ts
  package.json
  tests/utils/src/data-generator/integrations.ts
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu, @kenshyx

chore(): app placeholders
  extensions/apps/extensions/src/components/pages/my-extensions/extension-action.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/extension-element.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/my-extensions.tsx
  libs/design-system-core/src/components/AppAvatar/index.tsx
  libs/design-system-core/src/static/img/App-1.webp
  libs/design-system-core/src/static/img/App-2.webp
  libs/design-system-core/src/static/img/App-3.webp
  libs/design-system-core/src/static/img/Other-1.webp
  libs/design-system-core/src/static/img/Other-2.webp
  libs/design-system-core/src/static/img/Other-3.webp
  libs/design-system-core/src/static/img/Plugin-1.webp
  libs/design-system-core/src/static/img/Plugin-2.webp
  libs/design-system-core/src/static/img/Plugin-3.webp
  libs/design-system-core/src/static/img/Widget-1.webp
  libs/design-system-core/src/static/img/Widget-2.webp
  libs/design-system-core/src/static/img/Widget-3.webp
  libs/design-system-core/src/static/img/app-img-1.webp
  libs/design-system-core/src/static/img/app-img-2.webp
  libs/design-system-core/src/static/img/app-img-3.webp
Owners: @SeverS, @quininez, @didd, @josenriagu, @themonster2015

chore():
  extensions/apps/extensions/src/components/explore.tsx
  extensions/apps/extensions/src/components/extensions-hub.tsx
  extensions/apps/extensions/src/components/installed-extensions.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/dev-info-page.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/extension-element.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/my-extensions.tsx
  libs/design-system-components/src/components/AppList/index.tsx
  libs/design-system-core/src/components/AppAvatar/index.tsx
  libs/design-system-core/src/utils/string-utils.ts
Owners: @SeverS, @quininez, @didd, @josenriagu, @themonster2015

fix(profile): fix interest click and pill loading state
  extensions/apps/profile/src/components/pages/interests/index.tsx
Owners: @didd, @themonster2015, @quininez

chore(): improve mocked provider setup and existing tests for antenna app
  .eslintrc.js
  extensions/apps/antenna/src/components/__mocks__/constants.ts
  extensions/apps/antenna/src/components/__mocks__/get-beam-page-mocks.ts
  extensions/apps/antenna/src/components/__mocks__/get-reflect-editor-mocks.ts
  extensions/apps/antenna/src/components/__mocks__/get-reflection-feed-mocks.ts
  extensions/apps/antenna/src/components/__mocks__/get-reflection-page-mocks.ts
  extensions/apps/antenna/src/components/__tests__/beam-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/global-antenna-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/my-antenna-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/reflection-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/tag-feed-page.spec.tsx
  extensions/apps/antenna/tsconfig.json
  extensions/jest.setup.js
  extensions/widgets/jest.setup.js
  extensions/widgets/trending/src/components/trending-widget-component.tsx
  libs/feed/src/components/pending-reflect/index.tsx
  libs/hooks/src/use-pending-reflections.ts
  package.json
  tests/utils/src/data-generator/reflection.ts
  tests/utils/src/index.ts
  tests/utils/src/providers.tsx
  yarn.lock
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu, @kenshyx

refactor(ds): update Snackbar and stories
  libs/design-system-components/src/stories/dscomponents/app-list.stories.tsx
  libs/design-system-components/src/stories/dscore/app-avatar.stories.tsx
  libs/design-system-components/src/stories/dscore/snackbar.stories.tsx
  libs/design-system-core/src/components/Snackbar/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(typings): update notification event typings
  libs/typings/src/ui/ui-events.ts
Owners: @kenshyx, @SeverS, @quininez

refactor(apps): update snackbar notif
  extensions/apps/notifications/src/extensions/snack-bar-notification.tsx
Owners: @quininez, @themonster2015

refactor(profile): show snackbar on interest limit update loading component logic
  extensions/apps/profile/src/components/pages/interests/index.tsx
Owners: @didd, @themonster2015, @quininez

My extensions Infinite list (#2342)
  extensions/apps/extensions/src/components/explore.tsx
  extensions/apps/extensions/src/components/extensions-hub.tsx
  extensions/apps/extensions/src/components/installed-extensions.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/dev-info-page.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/extension-action.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/extension-element.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/my-extensions.tsx
  libs/design-system-components/src/components/AppList/index.tsx
  libs/design-system-components/src/components/ProfileMiniCard/index.tsx
  libs/design-system-components/src/utils/string-utils.ts
  libs/design-system-core/src/components/AppAvatar/index.tsx
  libs/design-system-core/src/static/img/App-1.webp
  libs/design-system-core/src/static/img/App-2.webp
  libs/design-system-core/src/static/img/App-3.webp
  libs/design-system-core/src/static/img/Other-1.webp
  libs/design-system-core/src/static/img/Other-2.webp
  libs/design-system-core/src/static/img/Other-3.webp
  libs/design-system-core/src/static/img/Plugin-1.webp
  libs/design-system-core/src/static/img/Plugin-2.webp
  libs/design-system-core/src/static/img/Plugin-3.webp
  libs/design-system-core/src/static/img/Widget-1.webp
  libs/design-system-core/src/static/img/Widget-2.webp
  libs/design-system-core/src/static/img/Widget-3.webp
  libs/design-system-core/src/static/img/app-img-1.webp
  libs/design-system-core/src/static/img/app-img-2.webp
  libs/design-system-core/src/static/img/app-img-3.webp
  libs/sdk/src/gql/index.ts
  tests/utils/src/providers.tsx
Owners: @SeverS, @quininez, @didd, @josenriagu, @themonster2015, @kenshyx

chore(): useWatch
  libs/design-system-components/src/components/AppCreationForm/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

Add license to extension creation form (#2343)
  extensions/apps/extensions/src/components/pages/extension-creation-page.tsx
  libs/design-system-components/src/components/AppCreationForm/index.tsx
Owners: @SeverS, @quininez, @didd, @josenriagu, @themonster2015

chore(): improve mocked provider setup and existing tests for antenna app (#2345)
  .eslintrc.js
  extensions/apps/antenna/src/components/__mocks__/constants.ts
  extensions/apps/antenna/src/components/__mocks__/get-beam-page-mocks.ts
  extensions/apps/antenna/src/components/__mocks__/get-reflect-editor-mocks.ts
  extensions/apps/antenna/src/components/__mocks__/get-reflection-feed-mocks.ts
  extensions/apps/antenna/src/components/__mocks__/get-reflection-page-mocks.ts
  extensions/apps/antenna/src/components/__tests__/beam-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/global-antenna-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/my-antenna-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/reflection-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/tag-feed-page.spec.tsx
  extensions/apps/antenna/tsconfig.json
  extensions/jest.setup.js
  extensions/widgets/jest.setup.js
  extensions/widgets/trending/src/components/trending-widget-component.tsx
  libs/feed/src/components/pending-reflect/index.tsx
  libs/hooks/src/use-pending-reflections.ts
  package.json
  tests/utils/src/data-generator/reflection.ts
  tests/utils/src/index.ts
  tests/utils/src/providers.tsx
  yarn.lock
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu, @kenshyx

refactor(profile): update components
  extensions/apps/profile/src/components/pages/interests/index.tsx
Owners: @didd, @themonster2015, @quininez

refactor(antenna): check limit before subscribing
  extensions/apps/antenna/src/components/pages/tag-feed-page/tag-feed-page.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015

chore(): create integration test for profile info page
  extensions/apps/antenna/src/components/__mocks__/constants.ts
  extensions/apps/antenna/src/components/__tests__/beam-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/reflection-page.spec.tsx
  extensions/apps/profile/jest.setup.js
  extensions/apps/profile/src/components/__mocks__/constants.ts
  extensions/apps/profile/src/components/__mocks__/get-follow-profile-mocks.ts
  extensions/apps/profile/src/components/__mocks__/get-profile-info-mocks.ts
  extensions/apps/profile/src/components/__tests__/profile-info-page.spec.tsx
  extensions/apps/profile/src/components/follow-profile-button/index.tsx
  extensions/apps/profile/tsconfig.json
  libs/design-system-components/src/components/Profile/Header/index.tsx
  libs/design-system-components/src/components/Profile/Links/index.tsx
  libs/design-system-components/src/components/Profile/Stats/index.tsx
  libs/design-system-components/src/utils/get-icon-from-link.ts
  libs/design-system-core/src/components/Text/index.tsx
  libs/design-system-core/src/twind/main.css
  libs/feed/src/components/cards/reflection-card/index.tsx
  libs/feed/src/components/pending-reflect/index.tsx
  libs/typings/src/ui/design-system.ts
  tests/utils/src/data-generator/user.ts
  twindBaseConfig.js
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu, @kenshyx

chore():
  extensions/apps/profile/src/components/__tests__/profile-info-page.spec.tsx
  libs/design-system-components/src/utils/get-icon-from-link.ts
Owners: @didd, @themonster2015, @quininez, @josenriagu

chore(): change the logic of checking host matches a given domain
  libs/design-system-components/src/utils/get-icon-from-link.ts
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(): remove manifest logic, improve activeWhen property
  extensions/widgets/analytics/src/index.tsx
  extensions/widgets/layout/src/index.tsx
  extensions/widgets/mini-profile/src/index.ts
  extensions/widgets/my-apps/src/index.ts
  extensions/widgets/sidebar/src/index.tsx
  extensions/widgets/top-bar/src/index.tsx
  extensions/widgets/trending/src/index.tsx
  libs/app-loader/src/extensions.ts
  libs/app-loader/src/index.ts
  libs/app-loader/src/utils.ts
  libs/typings/src/ui/app-loader.ts
  libs/typings/src/ui/extension-point.ts
  libs/typings/src/ui/extensions.ts
  libs/typings/src/ui/widgets.ts
  worlds/akasha.world/src/index.ts
  worlds/akasha.world/src/registry-overrides.ts
Owners: @SeverS, @josenriagu, @quininez, @themonster2015, @didd, @kenshyx

chore():
  extensions/apps/profile/src/components/__tests__/profile-info-page.spec.tsx
  libs/design-system-components/src/components/Profile/Stats/index.tsx
  libs/design-system-core/src/components/Text/index.tsx
Owners: @didd, @themonster2015, @quininez, @josenriagu

fix(): type
  libs/design-system-components/src/utils/get-icon-from-link.ts
  libs/design-system-core/src/components/Text/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(): cleanup data-generator
  tests/utils/src/data-generator/integrations.ts
  tests/utils/src/mocks/single-spa.ts
Owners: @didd, @kenshyx

refactor(apps): update interest subscription logic
  extensions/apps/antenna/src/components/pages/tag-feed-page/tag-feed-page.tsx
  extensions/apps/profile/src/components/pages/interests/index.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015

chore(): fix activeWhen in stores
  extensions/apps/extensions/src/plugins/extension-point-store.ts
  extensions/apps/extensions/src/plugins/utils.ts
  extensions/apps/extensions/src/plugins/widget-store.ts
  libs/typings/src/ui/app-loader.ts
Owners: @SeverS, @quininez, @didd, @kenshyx

refactor(ds): add support for solid icon on snackbar - update pill component props
  libs/design-system-core/src/components/Pill/index.tsx
  libs/design-system-core/src/components/Snackbar/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(typings): update typings
  libs/typings/src/ui/ui-events.ts
Owners: @kenshyx, @SeverS, @quininez

chore(apps): update snack bar notification component - update tag feed page
  extensions/apps/antenna/src/components/pages/tag-feed-page/tag-feed-page.tsx
  extensions/apps/notifications/src/extensions/snack-bar-notification.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015

refactor(widgets): update topic subscription logic
  extensions/widgets/trending/src/components/cards/latest-topics.tsx
  extensions/widgets/trending/src/components/cards/topic-row.tsx
Owners: @themonster2015, @josenriagu, @didd

chore(): create integration tests for profile info page (#2347)
  extensions/apps/antenna/src/components/__mocks__/constants.ts
  extensions/apps/antenna/src/components/__tests__/beam-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/reflection-page.spec.tsx
  extensions/apps/profile/jest.setup.js
  extensions/apps/profile/src/components/__mocks__/constants.ts
  extensions/apps/profile/src/components/__mocks__/get-follow-profile-mocks.ts
  extensions/apps/profile/src/components/__mocks__/get-profile-info-mocks.ts
  extensions/apps/profile/src/components/__tests__/profile-info-page.spec.tsx
  extensions/apps/profile/src/components/follow-profile-button/index.tsx
  extensions/apps/profile/tsconfig.json
  libs/design-system-components/src/components/Profile/Header/index.tsx
  libs/design-system-components/src/components/Profile/Links/index.tsx
  libs/design-system-components/src/components/Profile/Stats/index.tsx
  libs/design-system-components/src/utils/get-icon-from-link.ts
  libs/design-system-core/src/components/Text/index.tsx
  libs/design-system-core/src/twind/main.css
  libs/feed/src/components/cards/reflection-card/index.tsx
  libs/feed/src/components/pending-reflect/index.tsx
  libs/typings/src/ui/design-system.ts
  tests/utils/src/data-generator/user.ts
  twindBaseConfig.js
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu, @kenshyx

chore(extensions): update snackbar description
  extensions/apps/antenna/src/components/pages/tag-feed-page/tag-feed-page.tsx
  extensions/apps/profile/src/components/pages/interests/index.tsx
  extensions/widgets/trending/src/components/cards/latest-topics.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu

refactor(ds): update snackbar component and story
  libs/design-system-components/src/stories/dscore/snackbar.stories.tsx
  libs/design-system-core/src/components/Snackbar/getColor.ts
  libs/design-system-core/src/components/Snackbar/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

refactor(apps, typings): improve snackbar notification - update typings
  extensions/apps/notifications/src/extensions/snack-bar-notification.tsx
  libs/typings/src/ui/ui-events.ts
Owners: @quininez, @themonster2015, @kenshyx, @SeverS

refactor(extensions, libs): update ui events usage
  extensions/apps/antenna/src/components/pages/tag-feed-page/tag-feed-page.tsx
  extensions/apps/antenna/src/components/reflect-editor/index.tsx
  extensions/apps/antenna/src/extensions/image-block/image-editor-block.tsx
  extensions/apps/extensions/src/components/pages/developer-mode.tsx
  extensions/apps/extensions/src/components/pages/extension-creation-page.tsx
  extensions/apps/notifications/src/components/pages/customise-notification-page.tsx
  extensions/apps/notifications/src/components/pages/notifications-page.tsx
  extensions/apps/notifications/src/components/pages/welcome-page.tsx
  extensions/apps/profile/src/components/follow-profile-button/index.tsx
  extensions/apps/profile/src/components/pages/edit-profile/index.tsx
  extensions/apps/profile/src/components/profile-header/index.tsx
  extensions/apps/search/src/components/pages/search-settings-page.tsx
  extensions/apps/settings/src/components/pages/nsfw-option.tsx
  extensions/apps/vibes-console/src/pages/assign-admin.tsx
  extensions/apps/vibes-console/src/pages/edit-max-applicants.tsx
  extensions/apps/vibes-console/src/pages/respond-admin.tsx
  extensions/apps/vibes-console/src/pages/review-item.tsx
  extensions/widgets/trending/src/components/cards/latest-topics.tsx
  libs/feed/src/components/editable-reflection/index.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu
