Repository AKASHAorg/akasha-core, changes with the owners that CODEOWNERS names for each.
All owners: @kenshyx, @SeverS, @didd, @josenriagu, @themonster2015, @quininez

CODEOWNERS:

*.json @kenshyx @SeverS
*.cjs @kenshyx @didd
*.yml @kenshyx @didd
*.toml @kenshyx @didd
*.md @josenriagu @SeverS @themonster2015
*.config.js @kenshyx @didd
*.conf.js @kenshyx @didd
*.stories.tsx @josenriagu @didd
*.spec.ts @kenshyx @didd
*.spec.tsx @themonster2015 @didd

.github/ @kenshyx @didd
.circleci/ @kenshyx @didd

/extensions/apps/antenna/ @SeverS @quininez @didd @themonster2015
/extensions/apps/auth-app/ @didd @josenriagu @themonster2015
/extensions/apps/extensions/ @SeverS @quininez @didd
/extensions/apps/legal/ @quininez @josenriagu
/extensions/apps/notifications/ @quininez @themonster2015
/extensions/apps/profile/ @didd @themonster2015 @quininez
/extensions/apps/routing/ @SeverS @didd
/extensions/apps/search/ @quininez @themonster2015
/extensions/apps/settings/ @themonster2015 @josenriagu
/extensions/apps/vibes/ @themonster2015 @josenriagu
/extensions/apps/vibes-console/ @themonster2015 @josenriagu

/extensions/widgets/analytics/ @SeverS @josenriagu
/extensions/widgets/layout/ @SeverS @josenriagu @quininez
/extensions/widgets/mini-profile/ @quininez @josenriagu
/extensions/widgets/my-apps/ @quininez @themonster2015
/extensions/widgets/sidebar/ @josenriagu @themonster2015 @didd
/extensions/widgets/top-bar/ @themonster2015 @josenriagu
/extensions/widgets/trending/ @themonster2015 @josenriagu @didd

/libs/app-loader/ @SeverS @kenshyx
/libs/composedb/ @kenshyx @josenriagu @SeverS
/libs/design-system-components/ @josenriagu @didd @themonster2015 @quininez
/libs/design-system-core/ @josenriagu @didd @themonster2015 @quininez
/libs/extensions/ @SeverS @quininez @didd
/libs/feed/ @SeverS @themonster2015 @didd
/libs/hooks/ @kenshyx @quininez @didd @SeverS
/libs/sdk/ @kenshyx @josenriagu @SeverS
/libs/typings/ @kenshyx @SeverS @quininez

/tests/ @didd @kenshyx
/tools/ @kenshyx @SeverS

/worlds/ @kenshyx @SeverS

refactor(ds): update Pill component
  libs/design-system-core/src/components/Pill/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

feat(topbar): add alpha tag
  extensions/widgets/top-bar/src/components/topbar.tsx
Owners: @themonster2015, @josenriagu

chore(): remove indexing calls
  extensions/apps/antenna/src/components/reflect-editor/index.tsx
  extensions/apps/antenna/src/extensions/beam-editor/use-blocks-publishing.ts
  extensions/apps/profile/src/components/pages/edit-profile/index.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015

fix(antenna): add redirect trigger back
  extensions/apps/antenna/src/extensions/beam-editor/use-blocks-publishing.ts
Owners: @SeverS, @quininez, @didd, @themonster2015

chore(): add env variables for timeouts config
  playwright.config.base.ts
Owners: none

chore(): regen hooks
  libs/hooks/src/generated/apollo.ts
  libs/sdk/src/gql/api.ts
  libs/sdk/src/registry/registry-queries.graphql
  libs/typings/src/sdk/graphql-operation-types-new.ts
Owners: @kenshyx, @quininez, @didd, @SeverS, @josenriagu

refactor(): rename constant
  extensions/apps/antenna/e2e/constants.ts
  extensions/apps/antenna/e2e/global-antenna.spec.ts
Owners: @SeverS, @quininez, @didd, @themonster2015

feat(): my extensions page improvements
  extensions/apps/extensions/src/components/pages/index.ts
  extensions/apps/extensions/src/components/pages/my-extensions/extension-action.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/my-extensions.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/not-connected.tsx
  extensions/apps/extensions/src/extensions/install-app/index.tsx
  extensions/apps/extensions/src/extensions/remove-extension-confirmation/index.tsx
  extensions/apps/extensions/src/index.tsx
  extensions/apps/notifications/src/components/pages/welcome-page.tsx
  libs/design-system-components/src/components/AppCreationForm/index.tsx
  libs/design-system-components/src/components/AppList/index.tsx
  libs/design-system-components/src/components/BaseDropdownFilter/index.tsx
  libs/design-system-core/src/components/AppAvatar/index.tsx
  libs/design-system-core/src/components/Icon/akasha-icons/AppCenter.tsx
  libs/design-system-core/src/components/Icon/akasha-icons/app.tsx
  libs/design-system-core/src/components/Icon/akasha-icons/index.ts
  libs/design-system-core/src/components/Icon/akasha-icons/plugin.tsx
  libs/design-system-core/src/components/Icon/akasha-icons/widget.tsx
  libs/design-system-core/src/static/img/app-img-1.webp
  libs/design-system-core/src/static/img/app-img-2.webp
  libs/design-system-core/src/static/img/app-img-3.webp
  libs/design-system-core/src/static/img/sidebar-app-placeholder-1.webp
  libs/design-system-core/src/static/img/sidebar-app-placeholder-2.webp
  libs/design-system-core/src/static/img/sidebar-app-placeholder-3.webp
  libs/design-system-core/src/static/img/sidebar-widget-placeholder-1.webp
  libs/design-system-core/src/static/img/sidebar-widget-placeholder-2.webp
  libs/typings/src/ui/extensions.ts
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu, @kenshyx

chore(): fix test set up on antenna app
  extensions/apps/antenna/src/components/__mocks__/get-reflect-editor-mocks.ts
  extensions/apps/antenna/src/components/__tests__/beam-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/global-antenna-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/my-antenna-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/reflection-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/tag-feed-page.spec.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015

chore(): fix test set up on antenna app (#2337)
  extensions/apps/antenna/src/components/__mocks__/get-reflect-editor-mocks.ts
  extensions/apps/antenna/src/components/__tests__/beam-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/global-antenna-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/my-antenna-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/reflection-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/tag-feed-page.spec.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015

chore(): upgrade ts to 5.5
  package.json
  yarn.lock
Owners: @kenshyx, @SeverS

test(): create e2e for global antenna (#2335)
  .github/workflows/cypress.staging.yml
  extensions/.gitignore
  extensions/apps/antenna/e2e/constants.ts
  extensions/apps/antenna/e2e/global-antenna.spec.ts
  extensions/apps/antenna/e2e/helpers.ts
  extensions/apps/antenna/playwright.config.cts
  extensions/apps/antenna/src/components/__mocks__/get-reflect-editor-mocks.ts
  extensions/apps/antenna/src/components/__tests__/beam-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/global-antenna-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/my-antenna-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/reflection-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/tag-feed-page.spec.tsx
  jest.config.base.js
  libs/design-system-components/src/components/Entry/EntryCard/index.tsx
  libs/feed/src/components/cards/beam-card/index.tsx
  libs/feed/src/components/cards/reflection-card/index.tsx
  nx.json
  package.json
  playwright.config.base.ts
  yarn.lock
Owners: @kenshyx, @didd, @SeverS, @quininez, @themonster2015, @josenriagu

chore(ds): update styles
  libs/design-system-components/src/components/WorldVersionInfoCard/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(): regen hooks
  libs/hooks/src/generated/apollo.ts
  libs/sdk/src/gql/api.ts
  libs/sdk/src/registry/registry-queries.graphql
  libs/typings/src/sdk/graphql-operation-types-new.ts
Owners: @kenshyx, @quininez, @didd, @SeverS, @josenriagu

chore(): typings, other fixes
  extensions/apps/extensions/src/components/explore.tsx
  extensions/apps/extensions/src/components/extensions-hub.tsx
  extensions/apps/extensions/src/components/installed-extensions.tsx
  extensions/apps/extensions/src/components/pages/explore.tsx
  extensions/apps/extensions/src/components/pages/extensions-hub.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/dev-info-page.tsx
  extensions/apps/extensions/src/components/pages/installed-extensions.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/extension-action.tsx
  libs/design-system-components/src/components/AppList/index.tsx
  libs/design-system-core/src/components/AppAvatar/index.tsx
  libs/typings/src/ui/extensions.ts
Owners: @SeverS, @quininez, @didd, @josenriagu, @themonster2015, @kenshyx

chore(): fix test
  libs/design-system-core/src/components/AppAvatar/__tests__/index.test.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

feat(ds): update snackbar component
  libs/design-system-core/src/components/Snackbar/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(typings): update typings
  libs/typings/src/ui/ui-events.ts
Owners: @kenshyx, @SeverS, @quininez

refactor(extensions): update components
  extensions/apps/extensions/src/components/pages/developer-mode.tsx
  extensions/apps/notifications/src/extensions/snack-bar-notification.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015

Feat: Dev mode snackbar (#2334)
  extensions/apps/extensions/src/components/pages/developer-mode.tsx
  extensions/apps/notifications/src/extensions/snack-bar-notification.tsx
  libs/design-system-core/src/components/Snackbar/index.tsx
  libs/typings/src/ui/ui-events.ts
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu, @kenshyx

chore(): adjust typings
  extensions/apps/extensions/src/components/explore.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/extension-action.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/my-extensions.tsx
  libs/design-system-components/src/components/AppList/index.tsx
  libs/typings/src/ui/extensions.ts
Owners: @SeverS, @quininez, @didd, @josenriagu, @themonster2015, @kenshyx

chore(topbar): show only pill
  extensions/widgets/top-bar/src/components/topbar.tsx
Owners: @themonster2015, @josenriagu

Feat: World version info (#2336)
  extensions/apps/antenna/src/components/pages/global-antenna-page/index.tsx
  extensions/widgets/layout/src/components/layout-widget.tsx
  extensions/widgets/top-bar/src/components/topbar.tsx
  libs/design-system-components/src/components/WorldVersionInfoCard/index.tsx
  libs/design-system-core/src/components/Pill/index.tsx
  libs/hooks/src/use-dismissed-card.ts
  libs/typings/src/ui/design-system.ts
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu, @kenshyx

chore(): upgrade storybook
  package.json
  yarn.lock
Owners: @kenshyx, @SeverS

chore(ds): remove redundant stories
  libs/design-system-components/src/stories/dscomponents/bubble-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/chat-area-header.stories.tsx
  libs/design-system-components/src/stories/dscomponents/chat-list.stories.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(ds): update stories and component
  libs/design-system-components/src/components/AppInfo/index.tsx
  libs/design-system-components/src/stories/dscomponents/app-info.stories.tsx
  libs/design-system-components/src/stories/dscomponents/app-list.stories.tsx
  libs/design-system-components/src/stories/dscomponents/connect-error-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/cookie-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/edit-header.stories.tsx
  libs/design-system-components/src/stories/dscomponents/edit-profile.stories.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(ds): update stories
  libs/design-system-components/src/stories/dscomponents/editor-box.stories.tsx
  libs/design-system-components/src/stories/dscomponents/entry-publish-error-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/install-app.stories.tsx
  libs/design-system-components/src/stories/dscomponents/notifications-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/onboarding-start-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/onboarding-suggestions-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/profile-bio.stories.tsx
  libs/design-system-components/src/stories/dscomponents/profile-entry.stories.tsx
  libs/design-system-components/src/stories/dscomponents/profile-followers.stories.tsx
  libs/design-system-components/src/stories/dscomponents/profile-following.stories.tsx
  libs/design-system-components/src/stories/dscomponents/profile-header.stories.tsx
  libs/design-system-components/src/stories/dscomponents/profile-interests.stories.tsx
  libs/design-system-components/src/stories/dscomponents/profile-links.stories.tsx
  libs/design-system-components/src/stories/dscomponents/profile-search-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/profile-stats.stories.tsx
  libs/design-system-components/src/stories/dscomponents/report-reason-pill.stories.tsx
  libs/design-system-components/src/stories/dscomponents/search-bar.stories.tsx
  libs/design-system-components/src/stories/dscomponents/search-start-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/start-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/switch-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/tag-search-card.stories.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(ds): update stories
  libs/design-system-components/src/stories/dscore/did-field.stories.tsx
  libs/design-system-components/src/stories/dscore/pagination.stories.tsx
  libs/design-system-components/src/stories/dscore/textline.stories.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(): regen hooks
  libs/hooks/src/generated/apollo.ts
  libs/sdk/src/gql/api.ts
  libs/sdk/src/registry/registry-queries.graphql
  libs/typings/src/sdk/graphql-operation-types-new.ts
Owners: @kenshyx, @quininez, @didd, @SeverS, @josenriagu

fix(ds): image alt
  libs/design-system-core/src/components/ErrorLoader/error-card.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

refactor(ds): entry card stories
  libs/design-system-components/src/stories/dscomponents/entry-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/vibes-console-content-card.stories.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(): improve pending reflect logic & tests and rename props
  extensions/apps/antenna/src/components/__mocks__/get-beam-page-mocks.ts
  extensions/apps/antenna/src/components/__mocks__/get-reflect-editor-mocks.ts
  extensions/apps/antenna/src/components/__mocks__/get-reflection-feed-mocks.ts
  extensions/apps/antenna/src/components/__mocks__/get-reflection-page-mocks.ts
  extensions/apps/antenna/src/components/__tests__/beam-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/reflection-page.spec.tsx
  extensions/apps/antenna/src/components/app-routes/index.tsx
  extensions/apps/antenna/src/components/pages/entry-page/beam-page.tsx
  extensions/apps/antenna/src/components/pages/entry-page/beam-section.tsx
  extensions/apps/antenna/src/components/pages/entry-page/reflection-page.tsx
  extensions/apps/antenna/src/components/pages/entry-page/reflection-section.tsx
  extensions/apps/antenna/src/components/reflect-editor/index.tsx
  extensions/apps/profile/src/components/pages/profile-beams/index.tsx
  extensions/jest.setup.js
  libs/feed/src/components/beam-content-resolver.tsx
  libs/feed/src/components/beam-feed.tsx
  libs/feed/src/components/cards/beam-card/index.tsx
  libs/feed/src/components/cards/reflection-card/index.tsx
  libs/feed/src/components/editable-reflection/editable-reflection-resolver.tsx
  libs/feed/src/components/editable-reflection/index.tsx
  libs/feed/src/components/pending-reflect/index.tsx
  libs/feed/src/components/reflect-feed.tsx
  libs/feed/src/components/reflection-preview/index.tsx
  libs/hooks/src/use-pending-reflections.ts
  libs/hooks/src/utils/entry-utils.ts
  libs/typings/src/ui/entry.ts
Owners: @SeverS, @quininez, @didd, @themonster2015, @kenshyx

chore(): remove import
  extensions/jest.setup.js
Owners: none

feat(): add infinte scroll to applist
  extensions/apps/extensions/src/components/pages/my-extensions/my-extensions.tsx
  libs/design-system-components/src/components/AppList/index.tsx
Owners: @SeverS, @quininez, @didd, @josenriagu, @themonster2015

chore(): improve usePendingReflections hook logic
  extensions/apps/antenna/src/components/reflect-editor/index.tsx
  libs/feed/src/components/reflect-feed.tsx
  libs/hooks/src/use-pending-reflections.ts
Owners: @SeverS, @quininez, @didd, @themonster2015, @kenshyx

Chore: Upgrade storybook (#2338)
  libs/design-system-components/src/components/AppInfo/index.tsx
  libs/design-system-components/src/stories/dscomponents/app-info.stories.tsx
  libs/design-system-components/src/stories/dscomponents/app-list.stories.tsx
  libs/design-system-components/src/stories/dscomponents/bubble-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/chat-area-header.stories.tsx
  libs/design-system-components/src/stories/dscomponents/chat-list.stories.tsx
  libs/design-system-components/src/stories/dscomponents/connect-error-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/cookie-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/edit-header.stories.tsx
  libs/design-system-components/src/stories/dscomponents/edit-profile.stories.tsx
  libs/design-system-components/src/stories/dscomponents/editor-box.stories.tsx
  libs/design-system-components/src/stories/dscomponents/entry-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/entry-publish-error-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/install-app.stories.tsx
  libs/design-system-components/src/stories/dscomponents/notifications-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/onboarding-start-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/onboarding-suggestions-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/profile-bio.stories.tsx
  libs/design-system-components/src/stories/dscomponents/profile-entry.stories.tsx
  libs/design-system-components/src/stories/dscomponents/profile-followers.stories.tsx
  libs/design-system-components/src/stories/dscomponents/profile-following.stories.tsx
  libs/design-system-components/src/stories/dscomponents/profile-header.stories.tsx
  libs/design-system-components/src/stories/dscomponents/profile-interests.stories.tsx
  libs/design-system-components/src/stories/dscomponents/profile-links.stories.tsx
  libs/design-system-components/src/stories/dscomponents/profile-search-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/profile-stats.stories.tsx
  libs/design-system-components/src/stories/dscomponents/report-reason-pill.stories.tsx
  libs/design-system-components/src/stories/dscomponents/search-bar.stories.tsx
  libs/design-system-components/src/stories/dscomponents/search-start-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/start-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/switch-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/tag-search-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/vibes-console-content-card.stories.tsx
  libs/design-system-components/src/stories/dscore/did-field.stories.tsx
  libs/design-system-components/src/stories/dscore/pagination.stories.tsx
  libs/design-system-components/src/stories/dscore/textline.stories.tsx
  libs/design-system-core/src/components/ErrorLoader/error-card.tsx
  package.json
  yarn.lock
Owners: @josenriagu, @didd, @themonster2015, @quininez, @kenshyx, @SeverS

chore(): improve pending reflect logic & tests and rename props (#2339)
  extensions/apps/antenna/src/components/__mocks__/get-beam-page-mocks.ts
  extensions/apps/antenna/src/components/__mocks__/get-reflect-editor-mocks.ts
  extensions/apps/antenna/src/components/__mocks__/get-reflection-feed-mocks.ts
  extensions/apps/antenna/src/components/__mocks__/get-reflection-page-mocks.ts
  extensions/apps/antenna/src/components/__tests__/beam-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/reflection-page.spec.tsx
  extensions/apps/antenna/src/components/app-routes/index.tsx
  extensions/apps/antenna/src/components/pages/entry-page/beam-page.tsx
  extensions/apps/antenna/src/components/pages/entry-page/beam-section.tsx
  extensions/apps/antenna/src/components/pages/entry-page/reflection-page.tsx
  extensions/apps/antenna/src/components/pages/entry-page/reflection-section.tsx
  extensions/apps/antenna/src/components/reflect-editor/index.tsx
  extensions/apps/profile/src/components/pages/profile-beams/index.tsx
  libs/feed/src/components/beam-content-resolver.tsx
  libs/feed/src/components/beam-feed.tsx
  libs/feed/src/components/cards/beam-card/index.tsx
  libs/feed/src/components/cards/reflection-card/index.tsx
  libs/feed/src/components/editable-reflection/editable-reflection-resolver.tsx
  libs/feed/src/components/editable-reflection/index.tsx
  libs/feed/src/components/pending-reflect/index.tsx
  libs/feed/src/components/reflect-feed.tsx
  libs/feed/src/components/reflection-preview/index.tsx
  libs/hooks/src/use-pending-reflections.ts
  libs/hooks/src/utils/entry-utils.ts
  libs/typings/src/ui/entry.ts
Owners: @SeverS, @quininez, @didd, @themonster2015, @kenshyx

fix(editor): match text irrespective of case
  libs/design-system-components/src/components/Editor/index.tsx
  package.json
Owners: @josenriagu, @didd, @themonster2015, @quininez, @kenshyx, @SeverS

fix(editor): match text irrespective of case (#2341)
  libs/design-system-components/src/components/Editor/index.tsx
  package.json
Owners: @josenriagu, @didd, @themonster2015, @quininez, @kenshyx, @SeverS

my extensions infinite list
  extensions/apps/extensions/src/components/pages/my-extensions/extension-action.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/extension-element.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/my-extensions.tsx
  libs/design-system-components/src/components/ProfileMiniCard/index.tsx
  libs/design-system-components/src/utils/string-utils.ts
  libs/design-system-core/src/utils/string-utils.ts
  libs/sdk/src/gql/index.ts
  tests/utils/src/providers.tsx
Owners: @SeverS, @quininez, @didd, @josenriagu, @themonster2015, @kenshyx
