Repository AKASHAorg/akasha-core, changes with the owners that CODEOWNERS names for each.
All owners: @kenshyx, @SeverS, @didd, @josenriagu, @themonster2015, @quininez

chore(): address pr review
  libs/hooks/src/store/authentication-store.ts
  libs/hooks/src/store/get-akasha-profile-info.ts
  libs/hooks/src/store/use-akasha-store.ts
  libs/typings/src/ui/store.ts
Owners: @kenshyx, @quininez, @didd, @SeverS

chore(): fix test mock
  tests/utils/src/data-generator/store.ts
Owners: @didd, @kenshyx

chore(): refactor user store (#2355)
  extensions/apps/antenna/src/components/__tests__/beam-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/my-antenna-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/reflection-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/tag-feed-page.spec.tsx
  extensions/apps/antenna/src/components/pages/entry-page/beam-section.tsx
  extensions/apps/antenna/src/components/pages/entry-page/reflection-section.tsx
  extensions/apps/auth-app/src/components/pages/connect-wallet.tsx
  extensions/apps/profile/src/components/__tests__/profile-info-page.spec.tsx
  extensions/apps/profile/src/plugins/profile-plugin.ts
  extensions/jest.setup.js
  extensions/widgets/sidebar/src/components/sidebar-component.tsx
  extensions/widgets/sidebar/src/components/sidebar-header.tsx
  libs/hooks/src/store/authentication-store.ts
  libs/hooks/src/store/get-akasha-profile-info.ts
  libs/hooks/src/store/index.ts
  libs/hooks/src/store/use-akasha-store.ts
  libs/typings/src/ui/plugins.ts
  libs/typings/src/ui/store.ts
  tests/utils/src/data-generator/store.ts
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu, @kenshyx

chore(lib): update component
  libs/feed/src/components/tag-feed.tsx
Owners: @SeverS, @themonster2015, @didd

chore(): cleanup commented code in notifications app
  extensions/apps/notifications/src/index.tsx
Owners: @quininez, @themonster2015

Fix: My antenna (#2350)
  extensions/apps/antenna/src/components/pages/my-antenna-page/index.tsx
  extensions/apps/antenna/src/components/pages/tag-feed-page/tag-feed-page.tsx
  libs/feed/src/components/tag-feed.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015

feat(): step 3 and step 4 WIP
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/main-page.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/step2-page.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/step3-page.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/step4-page.tsx
  libs/design-system-components/src/components/ExtensionEditStep3Form/ContactInfo/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep3Form/ContactInfo/info-field.tsx
  libs/design-system-components/src/components/ExtensionEditStep3Form/index.tsx
Owners: @SeverS, @quininez, @didd, @josenriagu, @themonster2015

chore(apps, ds): update antenna icon
  extensions/apps/antenna/src/index.tsx
  libs/design-system-core/src/components/Icon/akasha-icons/antenna.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu

chore(): debug authentication error
  libs/hooks/src/store/authentication-store.ts
Owners: @kenshyx, @quininez, @didd, @SeverS

chore(ds, feed): update solid icons
  libs/design-system-components/src/components/VibesConsoleContentCard/index.tsx
  libs/feed/src/components/cards/beam-card/action-buttons.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez, @SeverS

chore(): debug
  libs/app-loader/src/index.ts
  libs/hooks/src/store/authentication-store.ts
Owners: @SeverS, @kenshyx, @quininez, @didd

chore(): fix extension points
  extensions/apps/profile/src/index.tsx
  libs/extensions/src/react/extension.tsx
  libs/hooks/src/use-root-props.tsx
Owners: @didd, @themonster2015, @quininez, @SeverS, @kenshyx

chore(): remove unnecessary call to getCurrentUser function
  libs/app-loader/src/index.ts
Owners: @SeverS, @kenshyx

feat(): add gallery
  extensions/apps/extensions/src/components/pages/extension-edit-page/main-page.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/step2-page.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/step3-page.tsx
  extensions/apps/extensions/src/utils/delete-image-and-get-profile-content.tsx
  libs/design-system-components/src/components/ExtensionEditStep2Form/Gallery/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep2Form/index.tsx
Owners: @SeverS, @quininez, @didd, @josenriagu, @themonster2015

chore(): upgrade lit
  libs/sdk/src/common/lit.ts
  libs/sdk/src/index.ts
  package.json
  yarn.lock
Owners: @kenshyx, @josenriagu, @SeverS

refactor(ds): update my antenna intro card
  libs/design-system-components/src/components/MyAntennaIntroCard/__tests__/index.test.tsx
  libs/design-system-components/src/components/MyAntennaIntroCard/index.tsx
  libs/design-system-components/src/components/StartCard/index.tsx
  libs/design-system-components/src/stories/dscomponents/edit-profile.stories.tsx
  libs/design-system-components/src/stories/dscomponents/my-antenna-intro-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/start-card.stories.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

refactor(antenna): update my antenna page
  extensions/apps/antenna/src/components/pages/my-antenna-page/index.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015

chore(settings): update copy
  extensions/apps/settings/src/components/pages/privacy-option.tsx
Owners: @themonster2015, @josenriagu

test(ds): update test
  libs/design-system-components/src/components/MyAntennaIntroCard/__tests__/index.test.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(apps, ds): update styles
  extensions/apps/antenna/src/components/pages/my-antenna-page/index.tsx
  libs/design-system-components/src/components/MyAntennaIntroCard/index.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu

chore(ds): update text variant
  libs/design-system-components/src/components/MyAntennaIntroCard/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

choe(apps, widgets): update main area layout on mobile screens
  extensions/apps/antenna/src/components/pages/my-antenna-page/index.tsx
  extensions/widgets/layout/src/components/layout-widget.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu

chore(ds): update text variant
  libs/design-system-components/src/components/MyAntennaIntroCard/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(ds): update styles
  libs/design-system-components/src/components/MyAntennaIntroCard/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

refactor(apps): fix handlers
  extensions/apps/extensions/src/components/explore.tsx
  extensions/apps/extensions/src/components/extensions-hub.tsx
  extensions/apps/extensions/src/components/installed-extensions.tsx
Owners: @SeverS, @quininez, @didd

feat(ds): create stepper component - add and update stories
  libs/design-system-components/src/components/Stepper/index.tsx
  libs/design-system-components/src/stories/dscomponents/edit-profile.stories.tsx
  libs/design-system-components/src/stories/dscomponents/stepper.stories.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

change sorting of the app-releases to Asc
  libs/app-loader/src/extensions.ts
Owners: @SeverS, @kenshyx

app-loader: select the newest release in the list
  libs/app-loader/src/index.ts
Owners: @SeverS, @kenshyx

Refactor: antenna and settings (#2359)
  extensions/apps/antenna/src/components/pages/my-antenna-page/index.tsx
  extensions/apps/extensions/src/components/explore.tsx
  extensions/apps/extensions/src/components/extensions-hub.tsx
  extensions/apps/extensions/src/components/installed-extensions.tsx
  extensions/apps/settings/src/components/pages/privacy-option.tsx
  extensions/widgets/layout/src/components/layout-widget.tsx
  libs/design-system-components/src/components/MyAntennaIntroCard/__tests__/index.test.tsx
  libs/design-system-components/src/components/MyAntennaIntroCard/index.tsx
  libs/design-system-components/src/components/StartCard/__tests__/index.test.tsx
  libs/design-system-components/src/components/StartCard/index.tsx
  libs/design-system-components/src/stories/dscomponents/edit-profile.stories.tsx
  libs/design-system-components/src/stories/dscomponents/my-antenna-intro-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/start-card.stories.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu

app-loader: select the newest release in the list (#2362)
  libs/app-loader/src/index.ts
Owners: @SeverS, @kenshyx

fix(ds): remove redundant line
  libs/design-system-components/src/stories/dscomponents/stepper.stories.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

Chore: DS icons (#2356)
  extensions/apps/antenna/src/index.tsx
  libs/design-system-components/src/components/VibesConsoleContentCard/index.tsx
  libs/design-system-core/src/components/Icon/akasha-icons/antenna.tsx
  libs/feed/src/components/cards/beam-card/action-buttons.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu

Feat: DS stepper component (#2360)
  libs/design-system-components/src/components/Stepper/index.tsx
  libs/design-system-components/src/stories/dscomponents/stepper.stories.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(apps, widgets): handle edge case
  extensions/apps/antenna/src/components/pages/tag-feed-page/tag-feed-page.tsx
  extensions/widgets/trending/src/components/cards/latest-topics.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu

chore(profile-app): fix edit profile page
  extensions/apps/profile/src/components/pages/edit-profile/delete-image-and-get-profile-content.tsx
  extensions/apps/profile/src/components/pages/edit-profile/get-profile-images.ts
  extensions/apps/profile/src/components/pages/edit-profile/index.tsx
  extensions/apps/profile/src/components/pages/edit-profile/use-save-image.ts
  libs/design-system-components/src/components/EditProfile/General/Header/index.tsx
  libs/design-system-components/src/components/EditProfile/General/index.tsx
  libs/design-system-components/src/components/EditProfile/SocialLinks/index.tsx
  libs/design-system-components/src/components/EditProfile/index.tsx
  libs/design-system-components/src/components/EditProfile/types.ts
  libs/design-system-components/src/components/Profile/Bio/index.tsx
  libs/design-system-components/src/stories/dscomponents/edit-header.stories.tsx
  libs/design-system-components/src/stories/dscomponents/edit-profile.stories.tsx
  libs/design-system-core/src/components/Text/index.tsx
  libs/design-system-core/src/components/TextField/Multiline/index.tsx
  libs/hooks/src/utils/media-utils.ts
  libs/typings/src/ui/profile.ts
Owners: @didd, @themonster2015, @quininez, @josenriagu, @kenshyx, @SeverS

refactor(sdk): add type safe env conf
  libs/design-system-core/src/components/ImageCropper/index.tsx
  libs/sdk/src/common/config.ts
  libs/sdk/src/common/env.ts
  libs/sdk/src/common/web3.connector.ts
  package.json
  tsconfig.json
  yarn.lock
Owners: @josenriagu, @didd, @themonster2015, @quininez, @kenshyx, @SeverS

chore(): update appLoader indexing DID logic
  libs/app-loader/src/extensions.ts
  libs/sdk/src/common/misc.ts
Owners: @SeverS, @kenshyx, @josenriagu

chore(): update .env.example vars naming
  .env.example
Owners: none

chore(): update .env.example
  .env.example
Owners: none

refactor(ds): update components and story
  libs/design-system-components/src/components/AppInfo/header.tsx
  libs/design-system-components/src/components/AppInfo/info-pill.tsx
  libs/design-system-components/src/stories/dscore/textfield.stories.tsx
  libs/design-system-core/src/components/TextField/Input/getInputClasses.ts
  libs/design-system-core/src/components/TextField/Label/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

CODEOWNERS:

*.json @kenshyx @SeverS
*.cjs @kenshyx @didd
*.yml @kenshyx @didd
*.toml @kenshyx @didd
*.md @josenriagu @SeverS @themonster2015
*.config.js @kenshyx @didd
*.conf.js @kenshyx @didd
*.stories.tsx @josenriagu @didd
*.spec.ts @kenshyx @didd
*.spec.tsx @themonster2015 @didd

.github/ @kenshyx @didd
.circleci/ @kenshyx @didd

/extensions/apps/antenna/ @SeverS @quininez @didd @themonster2015
/extensions/apps/auth-app/ @didd @josenriagu @themonster2015
/extensions/apps/extensions/ @SeverS @quininez @didd
/extensions/apps/legal/ @quininez @josenriagu
/extensions/apps/notifications/ @quininez @themonster2015
/extensions/apps/profile/ @didd @themonster2015 @quininez
/extensions/apps/routing/ @SeverS @didd
/extensions/apps/search/ @quininez @themonster2015
/extensions/apps/settings/ @themonster2015 @josenriagu
/extensions/apps/vibes/ @themonster2015 @josenriagu
/extensions/apps/vibes-console/ @themonster2015 @josenriagu

/extensions/widgets/analytics/ @SeverS @josenriagu
/extensions/widgets/layout/ @SeverS @josenriagu @quininez
/extensions/widgets/mini-profile/ @quininez @josenriagu
/extensions/widgets/my-apps/ @quininez @themonster2015
/extensions/widgets/sidebar/ @josenriagu @themonster2015 @didd
/extensions/widgets/top-bar/ @themonster2015 @josenriagu
/extensions/widgets/trending/ @themonster2015 @josenriagu @didd

/libs/app-loader/ @SeverS @kenshyx
/libs/composedb/ @kenshyx @josenriagu @SeverS
/libs/design-system-components/ @josenriagu @didd @themonster2015 @quininez
/libs/design-system-core/ @josenriagu @didd @themonster2015 @quininez
/libs/extensions/ @SeverS @quininez @didd
/libs/feed/ @SeverS @themonster2015 @didd
/libs/hooks/ @kenshyx @quininez @didd @SeverS
/libs/sdk/ @kenshyx @josenriagu @SeverS
/libs/typings/ @kenshyx @SeverS @quininez

/tests/ @didd @kenshyx
/tools/ @kenshyx @SeverS

/worlds/ @kenshyx @SeverS
