Repository AKASHAorg/akasha-core, changes with the owners that CODEOWNERS names for each.
All owners: @kenshyx, @SeverS, @didd, @josenriagu, @themonster2015, @quininez

chore(): image gallery initial
  libs/design-system-components/src/components/AppInfo/index.tsx
  libs/design-system-components/src/components/ExtensionImageGallery/index.tsx
  libs/design-system-components/src/components/ImageBlockGallery/image-block-grid-item.tsx
  libs/design-system-components/src/components/ImageBlockGallery/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

feat(extensions): update component and page
  extensions/apps/extensions/src/components/installed-extensions.tsx
  extensions/apps/extensions/src/components/pages/installed-extensions.tsx
Owners: @SeverS, @quininez, @didd

chore(): update image gallery
  libs/design-system-components/src/components/AppInfo/index.tsx
  libs/design-system-components/src/components/ExtensionImageGallery/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(): update docs (#2287)
  extensions/apps/antenna/Readme.md
  extensions/apps/extensions/README.md
  extensions/apps/notifications/README.md
  extensions/apps/profile/README.md
  libs/design-system-components/README.md
  libs/design-system-core/README.md
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu

chore(extensions, world): update docs
  extensions/apps/antenna/Readme.md
  extensions/apps/auth-app/Readme.md
  extensions/apps/extensions/README.md
  extensions/apps/legal/README.md
  extensions/apps/notifications/README.md
  extensions/apps/vibes-console/Readme.md
  extensions/apps/vibes/Readme.md
  worlds/akasha.world/Readme.md
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu, @kenshyx

chore(extensions, worlds): update docs
  extensions/apps/antenna/DESCRIPTION.md
  extensions/apps/auth-app/DESCRIPTION.md
  extensions/apps/auth-app/Readme.md
  extensions/apps/extensions/DESCRIPTION.md
  extensions/apps/extensions/README.md
  extensions/apps/legal/DESCRIPTION.md
  extensions/apps/notifications/DESCRIPTION.md
  extensions/apps/profile/DESCRIPTION.md
  extensions/apps/profile/README.md
  extensions/apps/search/DESCRIPTION.md
  extensions/apps/search/README.md
  extensions/apps/settings/DESCRIPTION.md
  extensions/apps/settings/Readme.md
  extensions/apps/vibes-console/DESCRIPTION.md
  extensions/apps/vibes-console/Readme.md
  extensions/apps/vibes/DESCRIPTION.md
  extensions/apps/vibes/Readme.md
  worlds/akasha.world/Readme.md
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu, @kenshyx

chore(): contact page, badge, add new color + icon
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/pages/info-page.tsx
  extensions/apps/extensions/src/components/pages/sub-pages/contact-support-page.tsx
  extensions/apps/extensions/src/components/pages/sub-pages/index.ts
  libs/design-system-components/src/components/AppInfo/duplex-app-button.tsx
  libs/design-system-components/src/components/AppInfo/index.tsx
  libs/design-system-core/src/components/Icon/akasha-icons/index.ts
  libs/design-system-core/src/components/Icon/akasha-icons/plugin.tsx
  libs/design-system-core/src/twind/main.css
  libs/typings/src/ui/colors.ts
  libs/typings/src/ui/icon.ts
  twindBaseConfig.js
Owners: @SeverS, @quininez, @didd, @josenriagu, @themonster2015, @kenshyx

chore(): add new colors
  libs/design-system-core/src/twind/main.css
  twindBaseConfig.js
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(): add description page + style updates
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/pages/info-page.tsx
  extensions/apps/extensions/src/components/pages/sub-pages/app-description-page.tsx
  extensions/apps/extensions/src/components/pages/sub-pages/index.ts
  libs/design-system-components/src/components/AppInfo/index.tsx
  libs/design-system-core/src/components/Icon/akasha-icons/plugin.tsx
  libs/typings/src/ui/colors.ts
Owners: @SeverS, @quininez, @didd, @josenriagu, @themonster2015, @kenshyx

chore():
  libs/design-system-core/src/components/Icon/akasha-icons/plugin.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(): styles
  extensions/apps/extensions/src/components/pages/info-page.tsx
  libs/design-system-components/src/components/AppInfo/index.tsx
Owners: @SeverS, @quininez, @didd, @josenriagu, @themonster2015

chore(): to get different images
  libs/design-system-components/src/components/AppInfo/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(): size
  libs/design-system-components/src/components/AppInfo/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore():
  libs/design-system-components/src/components/AppInfo/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(): address PR review
  extensions/apps/antenna/src/components/pages/global-antenna-page/index.tsx
  extensions/widgets/layout/src/components/layout-widget.tsx
  libs/design-system-components/src/components/DynamicInfiniteScroll/index.tsx
  libs/design-system-components/src/components/DynamicInfiniteScroll/use-scroll-restoration/index.ts
  libs/design-system-components/src/components/DynamicInfiniteScroll/use-scroll-restoration/utils.ts
  worlds/akasha.world/public/index.dev.html
  worlds/akasha.world/public/index.html
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu, @kenshyx

chore(): update active property for beams
  extensions/apps/antenna/src/extensions/remove-beam-confirmation/index.tsx
  extensions/apps/antenna/src/index.tsx
  libs/feed/src/components/cards/beam-card/index.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015

fix(): image overlay center
  libs/design-system-components/src/components/ImageOverlay/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore():
  extensions/apps/antenna/src/components/pages/entry-page/beam-page.tsx
  extensions/apps/antenna/src/components/pages/entry-page/reflection-page.tsx
  extensions/widgets/layout/src/components/layout-widget.tsx
  libs/design-system-components/src/components/DynamicInfiniteScroll/index.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu

chore(): update package
  libs/design-system-components/src/components/ImageOverlay/index.tsx
  package.json
  yarn.lock
Owners: @josenriagu, @didd, @themonster2015, @quininez, @kenshyx, @SeverS

chore(): color rename + address design review feedback
  extensions/apps/extensions/src/components/pages/info-page.tsx
  libs/design-system-components/src/components/AppInfo/index.tsx
  libs/design-system-components/src/components/ExtensionImageGallery/index.tsx
  libs/design-system-core/src/components/ContentBlock/index.tsx
  libs/design-system-core/src/twind/main.css
  libs/typings/src/ui/colors.ts
  twindBaseConfig.js
Owners: @SeverS, @quininez, @didd, @josenriagu, @themonster2015, @kenshyx

Feat/delete beam (#2296)
  extensions/apps/antenna/src/extensions/remove-beam-confirmation/index.tsx
  extensions/apps/antenna/src/index.tsx
  libs/design-system-components/src/components/Entry/EntryCard/index.tsx
  libs/feed/src/components/cards/beam-card/index.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu

chore():
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/pages/sub-pages/app-description-page.tsx
Owners: @SeverS, @quininez, @didd

Fix image overlay (#2297)
  libs/design-system-components/src/components/ImageOverlay/index.tsx
  package.json
  yarn.lock
Owners: @josenriagu, @didd, @themonster2015, @quininez, @kenshyx, @SeverS

chore(): revert style changes on layout widget and index html files
  extensions/widgets/layout/src/components/layout-widget.tsx
  worlds/akasha.world/public/index.dev.html
  worlds/akasha.world/public/index.html
Owners: @SeverS, @josenriagu, @quininez, @kenshyx

chore(): comment out spinner
  libs/design-system-components/src/components/DynamicInfiniteScroll/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(): improvement
  libs/design-system-components/src/components/DynamicInfiniteScroll/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(): improve virtual list and scroll restoration on antenna app (#2283)
  extensions/apps/antenna/src/components/app-routes/data-loaders.ts
  extensions/apps/antenna/src/components/app-routes/index.tsx
  extensions/apps/antenna/src/components/app.tsx
  extensions/apps/antenna/src/components/pages/entry-page/beam-page.tsx
  extensions/apps/antenna/src/components/pages/entry-page/reflection-page.tsx
  extensions/apps/antenna/src/components/pages/global-antenna-page/index.tsx
  extensions/apps/antenna/src/components/reflect-editor/index.tsx
  extensions/apps/profile/src/components/app-routes/index.tsx
  extensions/widgets/top-bar/src/components/widget-routes/root-component.tsx
  libs/design-system-components/src/components/DynamicInfiniteScroll/index.tsx
  libs/design-system-components/src/components/DynamicInfiniteScroll/use-scroll-restoration/index.ts
  libs/design-system-components/src/components/DynamicInfiniteScroll/use-scroll-restoration/utils.ts
  libs/design-system-components/src/components/Entry/EntryCard/card-actions.tsx
  libs/design-system-components/src/components/Entry/EntryCard/index.tsx
  libs/design-system-components/src/components/Entry/EntryCardLoading/index.tsx
  libs/design-system-components/src/components/EntryList/index.tsx
  libs/design-system-components/src/components/Loaders/mini-profile-widget-loader.tsx
  libs/feed/src/components/beam-content-resolver.tsx
  libs/feed/src/components/beam-feed.new.tsx
  libs/feed/src/components/cards/beam-card/index.tsx
  libs/feed/src/components/reflect-feed.new.tsx
  libs/feed/src/utils/index.ts
  libs/hooks/README.md
  libs/hooks/src/index.ts
  libs/hooks/src/use-global-login.ts
  libs/hooks/src/use-pending-reflections.ts
  libs/sdk/src/gql/index.ts
  libs/typings/src/ui/router.ts
  package.json
  yarn.lock
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu, @kenshyx

Extensions App - App Info Pages (#2293)
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/pages/info-page.tsx
  extensions/apps/extensions/src/components/pages/sub-pages/app-description-page.tsx
  extensions/apps/extensions/src/components/pages/sub-pages/audit-log-page.tsx
  extensions/apps/extensions/src/components/pages/sub-pages/collaborators-page.tsx
  extensions/apps/extensions/src/components/pages/sub-pages/contact-support-page.tsx
  extensions/apps/extensions/src/components/pages/sub-pages/dev-info-page.tsx
  extensions/apps/extensions/src/components/pages/sub-pages/index.ts
  extensions/apps/extensions/src/components/pages/sub-pages/license-page.tsx
  extensions/apps/extensions/src/components/pages/sub-pages/permissions-page.tsx
  extensions/apps/extensions/src/components/pages/sub-pages/version-history-page.tsx
  extensions/apps/extensions/src/components/pages/sub-pages/version-info-page.tsx
  libs/design-system-components/src/components/AppInfo/duplex-app-button.tsx
  libs/design-system-components/src/components/AppInfo/index.tsx
  libs/design-system-components/src/components/AuditLogCard/index.tsx
  libs/design-system-components/src/components/ExtensionHeader/index.tsx
  libs/design-system-components/src/components/ExtensionImageGallery/index.tsx
  libs/design-system-components/src/components/ExtensionVersionBulletPointCard/index.tsx
  libs/design-system-components/src/components/ExtensionVersionInfoCard/index.tsx
  libs/design-system-components/src/components/ImageBlockGallery/image-block-grid-item.tsx
  libs/design-system-core/src/components/ContentBlock/index.tsx
  libs/design-system-core/src/components/Icon/akasha-icons/index.ts
  libs/design-system-core/src/components/Icon/akasha-icons/plugin.tsx
  libs/design-system-core/src/twind/main.css
  libs/typings/src/ui/colors.ts
  libs/typings/src/ui/icon.ts
  twindBaseConfig.js
Owners: @SeverS, @quininez, @didd, @josenriagu, @themonster2015, @kenshyx

refactor(ds): update accordion component prop types - update test and story
  libs/design-system-components/src/stories/dscore/accordion.stories.tsx
  libs/design-system-core/src/components/Accordion/__tests__/index.test.tsx
  libs/design-system-core/src/components/Accordion/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

refactor(hooks): update useAccordion
  libs/hooks/src/use-accordion.ts
Owners: @kenshyx, @quininez, @didd, @SeverS

feat(sidebar): share accordion state
  extensions/widgets/sidebar/src/components/list-sidebar-apps.tsx
  extensions/widgets/sidebar/src/components/sidebar-component.tsx
Owners: @josenriagu, @themonster2015, @didd

Feat: Sidebar accordion (#2298)
  extensions/widgets/sidebar/src/components/list-sidebar-apps.tsx
  extensions/widgets/sidebar/src/components/sidebar-component.tsx
  libs/design-system-components/src/stories/dscore/accordion.stories.tsx
  libs/design-system-core/src/components/Accordion/__tests__/index.test.tsx
  libs/design-system-core/src/components/Accordion/index.tsx
  libs/hooks/src/use-accordion.ts
Owners: @josenriagu, @themonster2015, @didd, @quininez, @kenshyx, @SeverS

refactor(ds): AppInfo component
  libs/design-system-components/src/components/AppInfo/header.tsx
  libs/design-system-components/src/components/AppInfo/index.tsx
  libs/design-system-components/src/components/AppInfo/info-pill.tsx
  libs/design-system-components/src/components/AppInfo/notification-cards.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

refactor(extensions): update info page
  extensions/apps/extensions/src/components/pages/info-page.tsx
Owners: @SeverS, @quininez, @didd

chore(extensions): update styles
  extensions/apps/extensions/src/components/installed-extensions.tsx
Owners: @SeverS, @quininez, @didd

chore(): styling
  libs/design-system-components/src/components/Editor/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

refactor(extensions): update component and routes
  extensions/apps/extensions/src/components/app-routes/index.tsx
  libs/design-system-components/src/components/AppInfo/notification-cards.tsx
Owners: @SeverS, @quininez, @didd, @josenriagu, @themonster2015

chore(): styling (#2299)
  libs/design-system-components/src/components/Editor/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(ds): update styles
  libs/design-system-components/src/components/AppInfo/header.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

refactor(): remove react-router-dom
  extensions/apps/antenna/src/extensions/remove-beam-confirmation/index.tsx
  extensions/apps/auth-app/src/components/__tests__/connect.spec.tsx
  extensions/apps/profile/src/components/__tests__/profile-edit-general.spec.tsx
  extensions/apps/profile/src/components/__tests__/profile-info.spec.tsx
  extensions/apps/profile/src/extensions/login-modal.tsx
  libs/design-system-components/src/components/Entry/EntryCard/index.tsx
  libs/design-system-core/src/components/Menu/index.tsx
  libs/feed/src/components/cards/beam-card/index.tsx
  libs/feed/src/components/cards/reflection-card/index.tsx
  libs/hooks/src/index.ts
  libs/hooks/src/use-modal-data.ts
  libs/hooks/src/utils/media-utils.ts
  package.json
  yarn.lock
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu, @kenshyx

CODEOWNERS:

*.json @kenshyx @SeverS
*.cjs @kenshyx @didd
*.yml @kenshyx @didd
*.toml @kenshyx @didd
*.md @josenriagu @SeverS @themonster2015
*.config.js @kenshyx @didd
*.conf.js @kenshyx @didd
*.stories.tsx @josenriagu @didd
*.spec.ts @kenshyx @didd
*.spec.tsx @themonster2015 @didd

.github/ @kenshyx @didd
.circleci/ @kenshyx @didd

/extensions/apps/antenna/ @SeverS @quininez @didd @themonster2015
/extensions/apps/auth-app/ @didd @josenriagu @themonster2015
/extensions/apps/extensions/ @SeverS @quininez @didd
/extensions/apps/legal/ @quininez @josenriagu
/extensions/apps/notifications/ @quininez @themonster2015
/extensions/apps/profile/ @didd @themonster2015 @quininez
/extensions/apps/routing/ @SeverS @didd
/extensions/apps/search/ @quininez @themonster2015
/extensions/apps/settings/ @themonster2015 @josenriagu
/extensions/apps/vibes/ @themonster2015 @josenriagu
/extensions/apps/vibes-console/ @themonster2015 @josenriagu

/extensions/widgets/analytics/ @SeverS @josenriagu
/extensions/widgets/layout/ @SeverS @josenriagu @quininez
/extensions/widgets/mini-profile/ @quininez @josenriagu
/extensions/widgets/my-apps/ @quininez @themonster2015
/extensions/widgets/sidebar/ @josenriagu @themonster2015 @didd
/extensions/widgets/top-bar/ @themonster2015 @josenriagu
/extensions/widgets/trending/ @themonster2015 @josenriagu @didd

/libs/app-loader/ @SeverS @kenshyx
/libs/composedb/ @kenshyx @josenriagu @SeverS
/libs/design-system-components/ @josenriagu @didd @themonster2015 @quininez
/libs/design-system-core/ @josenriagu @didd @themonster2015 @quininez
/libs/extensions/ @SeverS @quininez @didd
/libs/feed/ @SeverS @themonster2015 @didd
/libs/hooks/ @kenshyx @quininez @didd @SeverS
/libs/sdk/ @kenshyx @josenriagu @SeverS
/libs/typings/ @kenshyx @SeverS @quininez

/tests/ @didd @kenshyx
/tools/ @kenshyx @SeverS

/worlds/ @kenshyx @SeverS
