Repository AKASHAorg/akasha-core, changes with the owners that CODEOWNERS names for each.
All owners: @kenshyx, @SeverS, @didd, @josenriagu, @themonster2015, @quininez

CODEOWNERS:

*.json @kenshyx @SeverS
*.cjs @kenshyx @didd
*.yml @kenshyx @didd
*.toml @kenshyx @didd
*.md @josenriagu @SeverS @themonster2015
*.config.js @kenshyx @didd
*.conf.js @kenshyx @didd
*.stories.tsx @josenriagu @didd
*.spec.ts @kenshyx @didd
*.spec.tsx @themonster2015 @didd

.github/ @kenshyx @didd
.circleci/ @kenshyx @didd

/extensions/apps/antenna/ @SeverS @quininez @didd @themonster2015
/extensions/apps/auth-app/ @didd @josenriagu @themonster2015
/extensions/apps/extensions/ @SeverS @quininez @didd
/extensions/apps/legal/ @quininez @josenriagu
/extensions/apps/notifications/ @quininez @themonster2015
/extensions/apps/profile/ @didd @themonster2015 @quininez
/extensions/apps/routing/ @SeverS @didd
/extensions/apps/search/ @quininez @themonster2015
/extensions/apps/settings/ @themonster2015 @josenriagu
/extensions/apps/vibes/ @themonster2015 @josenriagu
/extensions/apps/vibes-console/ @themonster2015 @josenriagu

/extensions/widgets/analytics/ @SeverS @josenriagu
/extensions/widgets/layout/ @SeverS @josenriagu @quininez
/extensions/widgets/mini-profile/ @quininez @josenriagu
/extensions/widgets/my-apps/ @quininez @themonster2015
/extensions/widgets/sidebar/ @josenriagu @themonster2015 @didd
/extensions/widgets/top-bar/ @themonster2015 @josenriagu
/extensions/widgets/trending/ @themonster2015 @josenriagu @didd

/libs/app-loader/ @SeverS @kenshyx
/libs/composedb/ @kenshyx @josenriagu @SeverS
/libs/design-system-components/ @josenriagu @didd @themonster2015 @quininez
/libs/design-system-core/ @josenriagu @didd @themonster2015 @quininez
/libs/extensions/ @SeverS @quininez @didd
/libs/feed/ @SeverS @themonster2015 @didd
/libs/hooks/ @kenshyx @quininez @didd @SeverS
/libs/sdk/ @kenshyx @josenriagu @SeverS
/libs/typings/ @kenshyx @SeverS @quininez

/tests/ @didd @kenshyx
/tools/ @kenshyx @SeverS

/worlds/ @kenshyx @SeverS

Adjust extension info page (#2325)
  extensions/apps/extensions/src/components/pages/info-page.tsx
  libs/design-system-components/src/components/AppInfo/index.tsx
Owners: @SeverS, @quininez, @didd, @josenriagu, @themonster2015

chore(appLoader): rollback url builder
  libs/app-loader/src/index.ts
Owners: @SeverS, @kenshyx

chore(): error handling
  extensions/apps/extensions/src/components/pages/app-creation-page.tsx
  libs/design-system-components/src/components/AppCreationForm/index.tsx
  libs/design-system-core/src/components/Dropdown/index.tsx
  libs/design-system-core/src/components/TextField/index.tsx
Owners: @SeverS, @quininez, @didd, @josenriagu, @themonster2015

chore(): add auto close on clicking away + spacing
  libs/design-system-components/src/components/AppCreationForm/index.tsx
  libs/design-system-core/src/components/Dropdown/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(): update redirect
  extensions/apps/extensions/src/components/pages/app-creation-page.tsx
Owners: @SeverS, @quininez, @didd

chore(): fix some docs
  libs/hooks/src/use-settings.ts
Owners: @kenshyx, @quininez, @didd, @SeverS

chorre(): address pr review
  extensions/apps/extensions/src/components/pages/app-creation-page.tsx
  libs/design-system-components/src/components/AppCreationForm/index.tsx
Owners: @SeverS, @quininez, @didd, @josenriagu, @themonster2015

chore(): remove redundant part
  libs/design-system-components/src/components/AppCreationForm/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

Create extension page (#2322)
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/pages/app-creation-page.tsx
  extensions/apps/extensions/src/components/pages/index.ts
  extensions/apps/extensions/src/routes.ts
  libs/design-system-components/src/components/AppCreationForm/index.tsx
  libs/design-system-core/src/components/Dropdown/index.tsx
  libs/design-system-core/src/components/TextField/Label/index.tsx
  libs/design-system-core/src/components/TextField/index.tsx
  libs/design-system-core/src/components/TextField/types.ts
Owners: @SeverS, @quininez, @didd, @josenriagu, @themonster2015

chore: fix the overlooked part
  libs/design-system-components/src/components/AppCreationForm/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore: fix the overlooked part (#2326)
  libs/design-system-components/src/components/AppCreationForm/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

fix(profile-app): profile beams page
  extensions/apps/profile/src/components/pages/profile-beams/index.tsx
Owners: @didd, @themonster2015, @quininez

chore(): fix documentation
  libs/design-system-core/src/components/Divider/index.tsx
  libs/design-system-core/src/components/Image/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

Fix/docs (#2328)
  libs/design-system-core/src/components/Divider/index.tsx
  libs/design-system-core/src/components/Image/index.tsx
  libs/hooks/src/use-settings.ts
Owners: @josenriagu, @didd, @themonster2015, @quininez, @kenshyx, @SeverS

doc(): create doc for ui typings
  extensions/apps/search/src/components/pages/search-page.tsx
  libs/design-system-components/src/components/Editor/tag-popover.tsx
  libs/design-system-components/src/components/OnboardingSuggestionsCard/index.tsx
  libs/design-system-components/src/components/TagProfileCard/index.tsx
  libs/design-system-components/src/components/TagSearchCard/index.tsx
  libs/feed/src/components/beam-feed-by-author.tsx
  libs/hooks/src/utils/entry-utils.ts
  libs/typings/src/ui/analytics.ts
  libs/typings/src/ui/antennas.ts
  libs/typings/src/ui/app-loader.ts
  libs/typings/src/ui/apps.ts
  libs/typings/src/ui/colors.ts
  libs/typings/src/ui/editor-blocks.ts
  libs/typings/src/ui/editor.ts
  libs/typings/src/ui/entry.ts
  libs/typings/src/ui/extension-point.ts
  libs/typings/src/ui/icon.ts
  libs/typings/src/ui/index.ts
  libs/typings/src/ui/media.ts
  libs/typings/src/ui/navigation.ts
  libs/typings/src/ui/plugins.ts
  libs/typings/src/ui/profile.ts
  libs/typings/src/ui/root-component.ts
  libs/typings/src/ui/router.ts
  libs/typings/src/ui/sidebar-menu-items.ts
  libs/typings/src/ui/store.ts
  libs/typings/src/ui/ui-events.ts
  libs/typings/src/ui/widgets.ts
Owners: @quininez, @themonster2015, @josenriagu, @didd, @SeverS, @kenshyx

refactor(): rename type
  extensions/apps/antenna/src/components/pages/entry-page/beam-page.tsx
  extensions/apps/antenna/src/components/pages/entry-page/beam-section.tsx
  extensions/apps/antenna/src/components/pages/entry-page/reflection-page.tsx
  extensions/apps/antenna/src/components/pages/entry-page/reflection-section.tsx
  extensions/apps/antenna/src/components/reflect-editor/index.tsx
  extensions/apps/antenna/src/components/reflect-editor/pending-reflect.tsx
  libs/feed/src/components/cards/beam-card/index.tsx
  libs/feed/src/components/cards/reflection-card/index.tsx
  libs/hooks/src/use-pending-reflections.ts
  libs/hooks/src/utils/entry-utils.ts
  libs/typings/src/ui/entry.ts
Owners: @SeverS, @quininez, @didd, @themonster2015, @kenshyx

doc(): update
  libs/typings/src/ui/entry.ts
Owners: @kenshyx, @SeverS, @quininez

chore(): update registry overwrites
  worlds/akasha.world/src/registry-overrides.ts
Owners: @kenshyx, @SeverS

fix(profile-app): profile beams page (#2327)
  extensions/apps/profile/src/components/pages/profile-beams/index.tsx
Owners: @didd, @themonster2015, @quininez

chore(): address PR review
  extensions/apps/vibes-console/src/components/app-routes/index.tsx
  libs/typings/src/ui/plugins.ts
Owners: @themonster2015, @josenriagu, @kenshyx, @SeverS, @quininez

fix(ds): stop ev propagation on list item handlers
  libs/design-system-core/src/components/List/list-element.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

refactor(ds): update components
  extensions/apps/antenna/src/components/pages/global-antenna-page/index.tsx
  extensions/apps/antenna/src/extensions/remove-beam-confirmation/index.tsx
  libs/design-system-components/src/components/Entry/EntryCard/index.tsx
  libs/design-system-core/src/components/List/index.tsx
  libs/design-system-core/src/components/List/list-element.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu

chore(): no error when empty and enable saving when appropriate
  libs/design-system-components/src/components/EditProfile/General/index.tsx
  libs/design-system-components/src/components/EditProfile/SocialLinks/index.tsx
  libs/design-system-components/src/components/EditProfile/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

refactor(ds): update components
  libs/design-system-components/src/components/Entry/EntryCard/index.tsx
  libs/design-system-core/src/components/List/index.tsx
  libs/design-system-core/src/components/List/list-element.tsx
  libs/design-system-core/src/components/Menu/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

refactor(antenna): replace history state
  extensions/apps/antenna/src/extensions/remove-beam-confirmation/index.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015

Fix: remove beams (#2330)
  extensions/apps/antenna/src/components/pages/global-antenna-page/index.tsx
  extensions/apps/antenna/src/extensions/remove-beam-confirmation/index.tsx
  libs/design-system-components/src/components/Entry/EntryCard/index.tsx
  libs/design-system-core/src/components/List/list-element.tsx
  libs/design-system-core/src/components/Menu/index.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu

fix: logged user interests logic
  extensions/apps/profile/src/components/pages/interests/index.tsx
Owners: @didd, @themonster2015, @quininez

feat(): my extensions page
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/explore.tsx
  extensions/apps/extensions/src/components/extensions-hub.tsx
  extensions/apps/extensions/src/components/installed-extensions.tsx
  extensions/apps/extensions/src/components/my-extensions.tsx
  extensions/apps/extensions/src/components/pages/explore.tsx
  extensions/apps/extensions/src/components/pages/extension-creation-page.tsx
  extensions/apps/extensions/src/components/pages/extensions-hub.tsx
  extensions/apps/extensions/src/components/pages/index.ts
  extensions/apps/extensions/src/components/pages/info-page/info-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/app-description-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/audit-log-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/collaborators-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/contact-support-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/dev-info-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/index.ts
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/license-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/permissions-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/version-history-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/version-info-page.tsx
  extensions/apps/extensions/src/components/pages/installed-extensions.tsx
  extensions/apps/extensions/src/components/pages/my-extensions.tsx
  extensions/apps/extensions/src/routes.ts
  extensions/apps/search/src/components/pages/search-page.tsx
  libs/design-system-components/src/components/AppCreationForm/index.tsx
  libs/design-system-components/src/components/AppList/index.tsx
  libs/design-system-components/src/components/BaseDropdownFilter/index.tsx
  libs/design-system-components/src/components/DropDownFilter/index.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu

fix: logged user interests logic (#2332)
  extensions/apps/profile/src/components/pages/interests/index.tsx
Owners: @didd, @themonster2015, @quininez

refactor(removeBeam): remove from index also
  extensions/apps/antenna/src/extensions/remove-beam-confirmation/index.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015

feat(extensions): show snackbar - adjust reload delay
  extensions/apps/extensions/src/components/pages/developer-mode.tsx
Owners: @SeverS, @quininez, @didd

chore(): add e2e dependencies; remove cypress package and workflow
  .github/workflows/cypress.staging.yml
  package.json
  yarn.lock
Owners: @kenshyx, @didd, @SeverS

chore(): add test ids
  libs/design-system-components/src/components/Entry/EntryCard/index.tsx
  libs/feed/src/components/cards/beam-card/index.tsx
  libs/feed/src/components/cards/reflection-card/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez, @SeverS

chore(): add e2e tests for global antenna
  extensions/.gitignore
  extensions/apps/antenna/e2e/constants.ts
  extensions/apps/antenna/e2e/global-antenna.spec.ts
  extensions/apps/antenna/e2e/helpers.ts
  extensions/apps/antenna/playwright.config.cts
  nx.json
  playwright.config.base.ts
Owners: @SeverS, @quininez, @didd, @themonster2015, @kenshyx

chore():
  libs/design-system-components/src/components/Entry/EntryCard/index.tsx
  yarn.lock
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(): add test path ignore pattern for e2e
  jest.config.base.js
Owners: none

refactor(hooks): update hook
  libs/hooks/src/use-dismissed-card.ts
Owners: @kenshyx, @quininez, @didd, @SeverS

feat(ds): create component
  libs/design-system-components/src/components/WorldVersionInfoCard/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

feat(antenna): implement component - update styles
  extensions/apps/antenna/src/components/pages/global-antenna-page/index.tsx
  extensions/widgets/layout/src/components/layout-widget.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu

chore(typings): update Colors
  libs/typings/src/ui/design-system.ts
Owners: @kenshyx, @SeverS, @quininez
