Repository AKASHAorg/akasha-core, changes with the owners that CODEOWNERS names for each.
All owners: @kenshyx, @SeverS, @didd, @josenriagu, @themonster2015, @quininez

CODEOWNERS:

*.json @kenshyx @SeverS
*.cjs @kenshyx @didd
*.yml @kenshyx @didd
*.toml @kenshyx @didd
*.md @josenriagu @SeverS @themonster2015
*.config.js @kenshyx @didd
*.conf.js @kenshyx @didd
*.stories.tsx @josenriagu @didd
*.spec.ts @kenshyx @didd
*.spec.tsx @themonster2015 @didd

.github/ @kenshyx @didd
.circleci/ @kenshyx @didd

/extensions/apps/antenna/ @SeverS @quininez @didd @themonster2015
/extensions/apps/auth-app/ @didd @josenriagu @themonster2015
/extensions/apps/extensions/ @SeverS @quininez @didd
/extensions/apps/legal/ @quininez @josenriagu
/extensions/apps/notifications/ @quininez @themonster2015
/extensions/apps/profile/ @didd @themonster2015 @quininez
/extensions/apps/routing/ @SeverS @didd
/extensions/apps/search/ @quininez @themonster2015
/extensions/apps/settings/ @themonster2015 @josenriagu
/extensions/apps/vibes/ @themonster2015 @josenriagu
/extensions/apps/vibes-console/ @themonster2015 @josenriagu

/extensions/widgets/analytics/ @SeverS @josenriagu
/extensions/widgets/layout/ @SeverS @josenriagu @quininez
/extensions/widgets/mini-profile/ @quininez @josenriagu
/extensions/widgets/my-apps/ @quininez @themonster2015
/extensions/widgets/sidebar/ @josenriagu @themonster2015 @didd
/extensions/widgets/top-bar/ @themonster2015 @josenriagu
/extensions/widgets/trending/ @themonster2015 @josenriagu @didd

/libs/app-loader/ @SeverS @kenshyx
/libs/composedb/ @kenshyx @josenriagu @SeverS
/libs/design-system-components/ @josenriagu @didd @themonster2015 @quininez
/libs/design-system-core/ @josenriagu @didd @themonster2015 @quininez
/libs/extensions/ @SeverS @quininez @didd
/libs/feed/ @SeverS @themonster2015 @didd
/libs/hooks/ @kenshyx @quininez @didd @SeverS
/libs/sdk/ @kenshyx @josenriagu @SeverS
/libs/typings/ @kenshyx @SeverS @quininez

/tests/ @didd @kenshyx
/tools/ @kenshyx @SeverS

/worlds/ @kenshyx @SeverS

chore(): add pending to pending reflections (#2270)
  extensions/apps/antenna/src/components/reflect-editor/pending-reflect.tsx
  libs/feed/src/components/cards/author-profile-avatar/index.tsx
  libs/feed/src/components/cards/reflection-card/index.tsx
  libs/feed/src/components/editable-reflection/index.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015

chore(ds): update tab index and add comment
  libs/design-system-core/src/components/AppAvatar/index.tsx
  libs/design-system-core/src/components/Avatar/index.tsx
  libs/design-system-core/src/components/Dropdown/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

Feat: Link component (#2269)
  extensions/apps/settings/src/components/pages/privacy-option.tsx
  extensions/apps/vibes/src/components/report/confirmation.tsx
  extensions/widgets/sidebar/src/components/sidebar-component.tsx
  libs/design-system-components/src/components/AppInfo/index.tsx
  libs/design-system-components/src/components/CookieCard/index.tsx
  libs/design-system-components/src/components/Entry/EntryCard/card-actions.tsx
  libs/design-system-components/src/components/Entry/EntryCardRemoved/index.tsx
  libs/design-system-components/src/components/TagSearchCard/index.tsx
  libs/design-system-components/src/components/VibesIntroCard/index.tsx
  libs/design-system-components/src/components/VibesValuesCard/index.tsx
  libs/design-system-components/src/components/VibesValuesCard/value-card/index.tsx
  libs/design-system-components/src/stories/dscore/link.stories.tsx
  libs/design-system-core/src/components/Anchor/index.tsx
  libs/design-system-core/src/components/AppAvatar/index.tsx
  libs/design-system-core/src/components/Avatar/index.tsx
  libs/design-system-core/src/components/Dropdown/index.tsx
  libs/design-system-core/src/components/Link/__tests__/index.test.tsx
  libs/design-system-core/src/components/Link/index.tsx
Owners: @themonster2015, @josenriagu, @didd, @quininez

chore(): update tests config
  .circleci/continuation.yml
  extensions/apps/antenna/jest.config.cjs
  extensions/apps/antenna/jest.setup.js
  extensions/apps/auth-app/jest.config.cjs
  extensions/apps/auth-app/jest.setup.js
  extensions/apps/extensions/jest.config.cjs
  extensions/apps/extensions/jest.setup.js
  extensions/apps/notifications/jest.config.cjs
  extensions/apps/notifications/jest.setup.js
  extensions/apps/profile/jest.config.cjs
  extensions/apps/profile/jest.setup.js
  extensions/apps/search/jest.config.cjs
  extensions/apps/search/jest.setup.js
  extensions/apps/settings/jest.config.cjs
  extensions/apps/settings/jest.setup.js
  extensions/apps/vibes-console/jest.config.cjs
  extensions/apps/vibes-console/jest.setup.js
  extensions/apps/vibes/jest.config.cjs
  extensions/apps/vibes/jest.setup.js
  extensions/widgets/analytics/jest.setup.js
  extensions/widgets/layout/jest.setup.js
  nx.json
Owners: @kenshyx, @didd, @SeverS, @quininez, @themonster2015, @josenriagu

chore(editor): allow only 4 images per block.
  extensions/apps/antenna/src/extensions/image-block/image-editor-block.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015

chore(editor): allow only 4 images per block. (#2272)
  extensions/apps/antenna/src/extensions/image-block/image-editor-block.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015

chore(config): add nx storybook config
  .gitignore
  libs/design-system-components/tsconfig.storybook.json
  nx.json
  package.json
  tsconfig.json
  yarn.lock
Owners: @josenriagu, @didd, @themonster2015, @quininez, @kenshyx, @SeverS

chore(gh:action): update setup
  .github/workflows/publish.staging.yml
Owners: @kenshyx, @didd

chore(gh:action): update setup for cypress
  .github/workflows/cypress.staging.yml
Owners: @kenshyx, @didd

chore(): test
  extensions/README.md
Owners: @josenriagu, @SeverS, @themonster2015

chore(): gh action 1
  .github/workflows/publish.staging.yml
  extensions/README.md
Owners: @kenshyx, @didd, @josenriagu, @SeverS, @themonster2015

chore(): restore gh actions
  .github/workflows/cypress.staging.yml
  .github/workflows/publish.staging.yml
  extensions/README.md
Owners: @kenshyx, @didd, @josenriagu, @SeverS, @themonster2015

chore(): gh actions
  .github/workflows/cypress.staging.yml
  .github/workflows/publish.staging.yml
Owners: @kenshyx, @didd

chore(ds): update stories
  libs/design-system-components/src/stories/dscomponents/cookie-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/entry-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/vibes-console-content-card.stories.tsx
  libs/design-system-components/src/stories/dscore/profile-avatar-button.stories.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(): remove unused typings
  extensions/apps/notifications/src/components/pages/notifications-page.tsx
  libs/design-system-components/src/components/BubbleCard/__tests__/index.test.tsx
  libs/design-system-components/src/components/BubbleCard/index.tsx
  libs/design-system-components/src/components/ChatAreaHeader/__tests__/index.test.tsx
  libs/design-system-components/src/components/ChatAreaHeader/index.tsx
  libs/design-system-components/src/components/ChatEditor/index.tsx
  libs/design-system-components/src/components/ChatList/__tests__/index.test.tsx
  libs/design-system-components/src/components/ChatList/index.tsx
  libs/design-system-components/src/components/Editor/index.tsx
  libs/design-system-components/src/components/LinkPreview/index.tsx
  libs/design-system-components/src/components/ReflectionEditor/index.tsx
  libs/feed/src/components/editable-reflection/index.tsx
  libs/hooks/src/index.ts
  libs/hooks/src/use-notifications.ts
  libs/sdk/src/db/integrations.schema.ts
  libs/typings/src/sdk/graphql-operation-types.ts
  libs/typings/src/sdk/graphql-resolver-types.ts
  libs/typings/src/sdk/graphql-types.ts
  libs/typings/src/sdk/registry.ts
  libs/typings/src/sdk/responses.ts
  libs/typings/src/ui/app-loader.ts
  libs/typings/src/ui/apps.ts
  libs/typings/src/ui/article.ts
  libs/typings/src/ui/entry.ts
  libs/typings/src/ui/index.ts
  libs/typings/src/ui/messages.ts
  libs/typings/src/ui/sidebar-menu-items.ts
  libs/typings/src/ui/ui-events.ts
  tests/src/data-generator/integrations.ts
Owners: @quininez, @themonster2015, @josenriagu, @didd, @SeverS, @kenshyx

chore(apps, feed): update bg color opacity
  extensions/apps/antenna/src/components/reflect-editor/pending-reflect.tsx
  libs/feed/src/components/editable-reflection/index.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015

chore(apps): update spacing
  extensions/apps/antenna/src/components/pages/entry-page/beam-section.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015

chore(apps):update login modal details
  extensions/apps/antenna/src/components/pages/my-antenna-page/index.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015

chore(ds): update component
  libs/design-system-components/src/components/StartCard/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(): fix singlespa version
  package.json
  yarn.lock
Owners: @kenshyx, @SeverS

chore(): address pr review
  extensions/apps/antenna/src/components/pages/entry-page/beam-page.tsx
  extensions/apps/antenna/src/components/pages/entry-page/reflection-page.tsx
  extensions/apps/antenna/src/components/reflect-editor/index.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015

Feat/use reflections hook migration (#2267)
  extensions/apps/antenna/src/components/pages/entry-page/beam-page.tsx
  extensions/apps/antenna/src/components/pages/entry-page/beam-section.tsx
  extensions/apps/antenna/src/components/pages/entry-page/reflection-page.tsx
  extensions/apps/antenna/src/components/pages/entry-page/reflection-section.tsx
  extensions/apps/antenna/src/components/reflect-editor/index.tsx
  libs/feed/src/components/editable-reflection/editable-reflection-resolver.tsx
  libs/feed/src/components/editable-reflection/index.tsx
  libs/feed/src/components/editable-reflection/reflection-editor-renderer.tsx
  libs/feed/src/components/reflect-feed.tsx
  libs/feed/src/components/reflection-preview/index.tsx
  libs/feed/src/virtual-list/virtual-item-renderer.tsx
  libs/hooks/src/use-pending-reflections.ts
  libs/hooks/src/use-reflections.ts
Owners: @SeverS, @quininez, @didd, @themonster2015, @kenshyx

chore(): update gh actions
  .github/workflows/publish.staging.yml
Owners: @kenshyx, @didd

chore(): update nx deps to latest v
  package.json
  yarn.lock
Owners: @kenshyx, @SeverS

chore(ds): update stories (#2273)
  libs/design-system-components/src/stories/dscomponents/cookie-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/entry-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/vibes-console-content-card.stories.tsx
  libs/design-system-components/src/stories/dscore/profile-avatar-button.stories.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

Fix: Antenna (#2275)
  extensions/apps/antenna/src/components/pages/entry-page/beam-section.tsx
  extensions/apps/antenna/src/components/pages/my-antenna-page/index.tsx
  extensions/apps/antenna/src/components/reflect-editor/pending-reflect.tsx
  libs/design-system-components/src/components/StartCard/index.tsx
  libs/feed/src/components/editable-reflection/index.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu

chore(): cleanup react query gen hook usage
  libs/app-loader/src/index.ts
  libs/app-loader/src/utils.ts
  libs/hooks/src/dummy-hooks.ts
  libs/hooks/src/index.ts
  tests/src/providers.tsx
Owners: @SeverS, @kenshyx, @quininez, @didd

chore(): remove textile message related code from sdk
  extensions/apps/notifications/src/index.tsx
  libs/sdk/src/auth/index.ts
  libs/typings/src/sdk/auth.ts
  libs/typings/src/sdk/index.ts
Owners: @quininez, @themonster2015, @kenshyx, @josenriagu, @SeverS

refactor(topbar): update router config
  extensions/widgets/top-bar/src/components/topbar-widget.tsx
  extensions/widgets/top-bar/src/components/widget-routes/index.tsx
Owners: @themonster2015, @josenriagu

chore(topbar): fix deprecated icons
  extensions/widgets/top-bar/src/components/topbar.tsx
Owners: @themonster2015, @josenriagu

Fix: Topbar (#2276)
  extensions/widgets/top-bar/src/components/topbar-widget.tsx
  extensions/widgets/top-bar/src/components/topbar.tsx
  extensions/widgets/top-bar/src/components/widget-routes/index.tsx
Owners: @themonster2015, @josenriagu

chore()
  extensions/apps/search/src/components/pages/search-page.tsx
  libs/feed/src/components/cards/reflection-card/index.tsx
  libs/feed/src/components/editable-reflection/reflection-editor-renderer.tsx
  libs/hooks/src/utils/media-utils.ts
Owners: @quininez, @themonster2015, @SeverS, @didd, @kenshyx

chore()
  extensions/apps/search/src/components/pages/search-page.tsx
Owners: @quininez, @themonster2015

fix(): image edit
  extensions/apps/antenna/src/extensions/image-block/image-editor-block.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015

fix(ds): use internal navigation
  libs/design-system-core/src/components/ProfileAvatarButton/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(ds, apps): update styles
  extensions/apps/antenna/src/components/reflect-editor/pending-reflect.tsx
  libs/design-system-core/src/components/Divider/index.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu

Remove unused typings (#2274)
  extensions/apps/notifications/src/components/pages/notifications-page.tsx
  extensions/apps/notifications/src/index.tsx
  extensions/apps/search/src/components/pages/search-page.tsx
  libs/app-loader/src/index.ts
  libs/app-loader/src/utils.ts
  libs/design-system-components/src/components/BubbleCard/__tests__/index.test.tsx
  libs/design-system-components/src/components/BubbleCard/index.tsx
  libs/design-system-components/src/components/ChatAreaHeader/__tests__/index.test.tsx
  libs/design-system-components/src/components/ChatAreaHeader/index.tsx
  libs/design-system-components/src/components/ChatEditor/index.tsx
  libs/design-system-components/src/components/ChatList/__tests__/index.test.tsx
  libs/design-system-components/src/components/ChatList/index.tsx
  libs/design-system-components/src/components/Editor/index.tsx
  libs/design-system-components/src/components/LinkPreview/index.tsx
  libs/design-system-components/src/components/ReflectionEditor/index.tsx
  libs/feed/src/components/cards/reflection-card/index.tsx
  libs/feed/src/components/editable-reflection/reflection-editor-renderer.tsx
  libs/hooks/src/dummy-hooks.ts
  libs/hooks/src/index.ts
  libs/hooks/src/use-notifications.ts
  libs/hooks/src/utils/media-utils.ts
  libs/sdk/src/auth/index.ts
  libs/sdk/src/db/integrations.schema.ts
  libs/typings/src/sdk/auth.ts
  libs/typings/src/sdk/graphql-operation-types.ts
  libs/typings/src/sdk/graphql-resolver-types.ts
  libs/typings/src/sdk/graphql-types.ts
  libs/typings/src/sdk/index.ts
  libs/typings/src/sdk/registry.ts
  libs/typings/src/sdk/responses.ts
  libs/typings/src/ui/app-loader.ts
  libs/typings/src/ui/apps.ts
  libs/typings/src/ui/article.ts
  libs/typings/src/ui/entry.ts
  libs/typings/src/ui/index.ts
  libs/typings/src/ui/messages.ts
  libs/typings/src/ui/sidebar-menu-items.ts
  libs/typings/src/ui/ui-events.ts
  tests/src/data-generator/integrations.ts
  tests/src/providers.tsx
Owners: @quininez, @themonster2015, @SeverS, @kenshyx, @josenriagu, @didd

refactor(ds): update components
  libs/design-system-core/src/components/Avatar/index.tsx
  libs/design-system-core/src/components/ProfileAvatarButton/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

Fix: profile avatar button (#2277)
  extensions/apps/antenna/src/components/reflect-editor/pending-reflect.tsx
  libs/design-system-core/src/components/Avatar/index.tsx
  libs/design-system-core/src/components/Divider/index.tsx
  libs/design-system-core/src/components/ProfileAvatarButton/index.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu

refactor(composedb): update models
  libs/composedb/composites/akasha-app-links.graphql
  libs/composedb/composites/akasha-app-links.mjs
  libs/composedb/composites/akasha-app-release.graphql
  libs/composedb/composites/akasha-app-release.mjs
  libs/composedb/composites/akasha-app.graphql
  libs/composedb/composites/akasha-beam-links.graphql
  libs/composedb/composites/akasha-beam-links.mjs
  libs/composedb/composites/akasha-beam.graphql
  libs/composedb/composites/akasha-beam.mjs
  libs/composedb/composites/akasha-block-storage.graphql
  libs/composedb/composites/akasha-block-storage.mjs
  libs/composedb/composites/akasha-content-block.graphql
  libs/composedb/composites/akasha-content-block.mjs
  libs/composedb/composites/akasha-follow.graphql
  libs/composedb/composites/akasha-follow.mjs
  libs/composedb/composites/akasha-profile-links.graphql
  libs/composedb/composites/akasha-profile-links.mjs
  libs/composedb/composites/akasha-profile.graphql
  libs/composedb/composites/akasha-reflect.graphql
  libs/composedb/composites/akasha-reflect.mjs
  libs/composedb/composites/akasha-streams.graphql
  libs/composedb/composites/akasha-streams.mjs
  libs/composedb/lib/runtime-definition.js
  libs/composedb/lib/runtime-definition.json
  libs/composedb/project.json
  libs/composedb/src/__generated__/akasha-app-links.json
  libs/composedb/src/__generated__/akasha-app-release.json
  libs/composedb/src/__generated__/akasha-app.json
  libs/composedb/src/__generated__/akasha-beam-links.json
  libs/composedb/src/__generated__/akasha-beam.json
  libs/composedb/src/__generated__/akasha-content-block.json
  libs/composedb/src/__generated__/akasha-follow.json
  libs/composedb/src/__generated__/akasha-profile-links.json
  libs/composedb/src/__generated__/akasha-profile.json
  libs/composedb/src/__generated__/akasha-reflect.json
  libs/composedb/src/__generated__/akasha-streams.json
  libs/composedb/src/create-composites.mjs
  libs/composedb/src/runtime-definition.ts
  nx.json
  package.json
Owners: @kenshyx, @josenriagu, @SeverS
