Repository AKASHAorg/akasha-core, changes with the owners that CODEOWNERS names for each.
All owners: @kenshyx, @SeverS, @didd, @josenriagu, @themonster2015, @quininez

chore(): update hardcoded ids
  extensions/apps/antenna/src/extensions/image-block/image-editor-block.tsx
  extensions/apps/antenna/src/extensions/slate-block/slate-editor-block.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015

chore(): update
  extensions/apps/antenna/Readme.md
  extensions/apps/extensions/README.md
Owners: @SeverS, @quininez, @didd, @themonster2015

chore(ds): add asset
  libs/design-system-core/src/static/img/vibes-console-explore.webp
Owners: @josenriagu, @didd, @themonster2015, @quininez

feat(extensions): create and implement explore page
  extensions/apps/extensions/src/components/explore.tsx
  extensions/apps/extensions/src/components/pages/overview.tsx
Owners: @SeverS, @quininez, @didd

fix(): pending reflection
  extensions/apps/antenna/src/components/reflect-editor/index.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015

feat(extensions): create and update components - remove redundant pages and routes
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/explore.tsx
  extensions/apps/extensions/src/components/pages/apps-page.tsx
  extensions/apps/extensions/src/components/pages/explore-page.tsx
  extensions/apps/extensions/src/components/pages/explore.tsx
  extensions/apps/extensions/src/components/pages/extensions-hub.tsx
  extensions/apps/extensions/src/components/pages/index.ts
  extensions/apps/extensions/src/components/pages/main-page.tsx
  extensions/apps/extensions/src/components/pages/my-apps-page.tsx
  extensions/apps/extensions/src/components/pages/my-widgets-page.tsx
  extensions/apps/extensions/src/routes.ts
Owners: @SeverS, @quininez, @didd

chore(extensions): move pages directory
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/pages/explore.tsx
  extensions/apps/extensions/src/pages/extensions-hub.tsx
  extensions/apps/extensions/src/pages/index.ts
  extensions/apps/extensions/src/pages/info-page.tsx
  extensions/apps/extensions/src/pages/installed-extensions.tsx
Owners: @SeverS, @quininez, @didd

refactor(ds, apps): update components
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/pages/explore.tsx
  libs/design-system-components/src/components/AppList/index.tsx
Owners: @SeverS, @quininez, @didd, @josenriagu, @themonster2015

chore(): revert pages
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/pages/explore.tsx
  extensions/apps/extensions/src/components/pages/extensions-hub.tsx
  extensions/apps/extensions/src/components/pages/index.ts
  extensions/apps/extensions/src/components/pages/info-page.tsx
  extensions/apps/extensions/src/components/pages/installed-extensions.tsx
Owners: @SeverS, @quininez, @didd

refactor(extensions): info page and routes
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/explore.tsx
  extensions/apps/extensions/src/components/pages/explore.tsx
  extensions/apps/extensions/src/components/pages/info-page.tsx
  extensions/apps/extensions/src/pages/explore.tsx
  extensions/apps/extensions/src/routes.ts
Owners: @SeverS, @quininez, @didd

chore(ds): add asset
  libs/design-system-core/src/static/img/extensions-discover.webp
Owners: @josenriagu, @didd, @themonster2015, @quininez

feat(extensions): update components and pages
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/extensions-hub.tsx
  extensions/apps/extensions/src/components/pages/extensions-hub.tsx
Owners: @SeverS, @quininez, @didd

feat(): editor block reorder
  extensions/apps/antenna/src/extensions/beam-editor/beam-editor.tsx
  extensions/apps/antenna/src/extensions/beam-editor/use-blocks-publishing.ts
  libs/design-system-components/src/components/BlockHeader/index.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu

chore(): fix login modal changing contents
  extensions/apps/profile/src/extensions/login-modal.tsx
Owners: @didd, @themonster2015, @quininez

Feat: Extensions app explore page (#2289)
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/explore.tsx
  extensions/apps/extensions/src/components/pages/apps-page.tsx
  extensions/apps/extensions/src/components/pages/explore-page.tsx
  extensions/apps/extensions/src/components/pages/explore.tsx
  extensions/apps/extensions/src/components/pages/extensions-hub.tsx
  extensions/apps/extensions/src/components/pages/index.ts
  extensions/apps/extensions/src/components/pages/info-page.tsx
  extensions/apps/extensions/src/components/pages/main-page.tsx
  extensions/apps/extensions/src/components/pages/my-apps-page.tsx
  extensions/apps/extensions/src/components/pages/my-widgets-page.tsx
  extensions/apps/extensions/src/routes.ts
  libs/design-system-components/src/components/AppList/index.tsx
  libs/design-system-core/src/static/img/vibes-console-explore.webp
Owners: @SeverS, @quininez, @didd, @josenriagu, @themonster2015

feat(widgets): show mini profile widget on reflection route (#2288)
  extensions/widgets/mini-profile/src/index.ts
Owners: @quininez, @josenriagu

chore(): scroll restoration improvements
  extensions/apps/antenna/src/components/pages/entry-page/beam-page.new.tsx
  extensions/apps/antenna/src/components/pages/entry-page/reflection-page.new.tsx
  libs/design-system-components/src/components/DynamicInfiniteScroll/index.tsx
  libs/design-system-components/src/components/DynamicInfiniteScroll/use-scroll-restoration/index.ts
  libs/design-system-components/src/components/DynamicInfiniteScroll/use-scroll-restoration/utils.ts
  libs/feed/src/components/beam-feed.new.tsx
  libs/feed/src/components/reflect-feed.new.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu

refactor(ds): update AppList component
  libs/design-system-components/src/components/AppList/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

refactor(extensions): update components and pages
  extensions/apps/extensions/src/components/explore.tsx
  extensions/apps/extensions/src/components/extensions-hub.tsx
  extensions/apps/extensions/src/components/pages/extensions-hub.tsx
Owners: @SeverS, @quininez, @didd

chore(): fix login modal changing contents (#2292)
  extensions/apps/profile/src/extensions/login-modal.tsx
Owners: @didd, @themonster2015, @quininez

chore(): revert creation of new pages
  extensions/apps/antenna/src/components/app-routes/index.tsx
  extensions/apps/antenna/src/components/pages/entry-page/beam-page.new.tsx
  extensions/apps/antenna/src/components/pages/entry-page/beam-page.tsx
  extensions/apps/antenna/src/components/pages/entry-page/reflection-page.new.tsx
  extensions/apps/antenna/src/components/pages/entry-page/reflection-page.tsx
  extensions/apps/antenna/src/components/pages/global-antenna-page/index.new.tsx
  extensions/apps/antenna/src/components/pages/global-antenna-page/index.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015

chore(): hide reorder when only 1 block
  libs/design-system-components/src/components/BlockHeader/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(): rename vars
  extensions/apps/antenna/src/extensions/beam-editor/use-blocks-publishing.ts
Owners: @SeverS, @quininez, @didd, @themonster2015

feat(): editor block reorder (#2291)
  extensions/apps/antenna/src/extensions/beam-editor/beam-editor.tsx
  extensions/apps/antenna/src/extensions/beam-editor/use-blocks-publishing.ts
  libs/design-system-components/src/components/BlockHeader/index.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu

chore(): add handlers and prepare for remove call
  libs/design-system-components/src/components/Entry/EntryCard/index.tsx
  libs/feed/src/components/cards/beam-card/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez, @SeverS

chhore(): some pages
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/pages/collaborators-page.tsx
  extensions/apps/extensions/src/components/pages/dev-info-page.tsx
  extensions/apps/extensions/src/components/pages/index.ts
  extensions/apps/extensions/src/components/pages/info-page.tsx
  libs/design-system-components/src/components/AppInfo/index.tsx
  libs/design-system-components/src/components/ImageBlockGallery/index.tsx
  libs/design-system-core/src/components/ContentBlock/index.tsx
Owners: @SeverS, @quininez, @didd, @josenriagu, @themonster2015

fix(): image width and beam click handler
  libs/design-system-components/src/components/Entry/EntryCard/index.tsx
  libs/design-system-components/src/components/ImageBlockGallery/image-block-grid-item.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(): updates
  extensions/apps/extensions/src/components/pages/info-page.tsx
  libs/design-system-components/src/components/AppInfo/index.tsx
Owners: @SeverS, @quininez, @didd, @josenriagu, @themonster2015

chore(): img styles
  libs/design-system-components/src/components/ImageBlockGallery/image-block-grid-item.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(): hide long beams on profile feed
  extensions/apps/profile/src/components/pages/profile-beams/index.tsx
  libs/feed/src/components/cards/beam-card/content-block-renderer.tsx
  libs/feed/src/components/cards/beam-card/index.tsx
Owners: @didd, @themonster2015, @quininez, @SeverS

chore()
  libs/feed/src/components/cards/beam-card/index.tsx
Owners: @SeverS, @themonster2015, @didd

Fix image width and beam click handler (#2294)
  extensions/apps/profile/src/components/pages/profile-beams/index.tsx
  libs/design-system-components/src/components/Entry/EntryCard/index.tsx
  libs/design-system-components/src/components/ImageBlockGallery/image-block-grid-item.tsx
  libs/feed/src/components/cards/beam-card/content-block-renderer.tsx
  libs/feed/src/components/cards/beam-card/index.tsx
Owners: @didd, @themonster2015, @quininez, @josenriagu, @SeverS

Feat: Extensions app hub page (#2290)
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/explore.tsx
  extensions/apps/extensions/src/components/extensions-hub.tsx
  extensions/apps/extensions/src/components/pages/extensions-hub.tsx
  libs/design-system-components/src/components/AppList/index.tsx
  libs/design-system-core/src/static/img/extensions-discover.webp
Owners: @SeverS, @quininez, @didd, @josenriagu, @themonster2015

chore(): more improvements
  libs/design-system-components/src/components/DynamicInfiniteScroll/index.tsx
  libs/design-system-components/src/components/DynamicInfiniteScroll/use-scroll-restoration/utils.ts
  libs/feed/src/components/beam-feed.new.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez, @SeverS

refactor(ds): update applist component
  libs/design-system-components/src/components/AppList/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

feat(extensions): update components, pages and routes
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/installed-extensions.tsx
  extensions/apps/extensions/src/components/pages/explore.tsx
  extensions/apps/extensions/src/components/pages/installed-extensions.tsx
Owners: @SeverS, @quininez, @didd

chore(): updates
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/pages/index.ts
  extensions/apps/extensions/src/components/pages/info-page.tsx
  extensions/apps/extensions/src/components/pages/sub-pages/collaborators-page.tsx
  extensions/apps/extensions/src/components/pages/sub-pages/dev-info-page.tsx
  extensions/apps/extensions/src/components/pages/sub-pages/index.ts
  extensions/apps/extensions/src/components/pages/sub-pages/version-info-page.tsx
  libs/design-system-components/src/components/AppInfo/index.tsx
  libs/design-system-components/src/components/ExtensionHeader/index.tsx
  libs/design-system-components/src/components/ExtensionVersionBulletPointCard/index.tsx
  libs/design-system-components/src/components/ExtensionVersionCard/index.tsx
  libs/design-system-core/src/components/ContentBlock/index.tsx
Owners: @SeverS, @quininez, @didd, @josenriagu, @themonster2015

chore(): create more pages
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/pages/info-page.tsx
  extensions/apps/extensions/src/components/pages/sub-pages/audit-log-page.tsx
  extensions/apps/extensions/src/components/pages/sub-pages/collaborators-page.tsx
  extensions/apps/extensions/src/components/pages/sub-pages/index.ts
  extensions/apps/extensions/src/components/pages/sub-pages/permissions-page.tsx
  extensions/apps/extensions/src/components/pages/sub-pages/version-info-page.tsx
  libs/design-system-components/src/components/AppInfo/index.tsx
  libs/design-system-components/src/components/AuditLogCard/index.tsx
  libs/design-system-components/src/components/ExtensionHeader/index.tsx
  libs/design-system-components/src/components/ExtensionVersionBulletPointCard/index.tsx
  libs/design-system-components/src/components/ExtensionVersionCard/index.tsx
  libs/design-system-components/src/components/ExtensionVersionInfoCard/index.tsx
Owners: @SeverS, @quininez, @didd, @josenriagu, @themonster2015

chore(). update style
  extensions/apps/extensions/src/components/pages/sub-pages/permissions-page.tsx
  extensions/apps/extensions/src/components/pages/sub-pages/version-history-page.tsx
Owners: @SeverS, @quininez, @didd

chore(): style updates - license page
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/pages/info-page.tsx
  extensions/apps/extensions/src/components/pages/sub-pages/index.ts
  extensions/apps/extensions/src/components/pages/sub-pages/license-page.tsx
  libs/design-system-components/src/components/AppInfo/index.tsx
  libs/design-system-components/src/components/ExtensionHeader/index.tsx
Owners: @SeverS, @quininez, @didd, @josenriagu, @themonster2015

CODEOWNERS:

*.json @kenshyx @SeverS
*.cjs @kenshyx @didd
*.yml @kenshyx @didd
*.toml @kenshyx @didd
*.md @josenriagu @SeverS @themonster2015
*.config.js @kenshyx @didd
*.conf.js @kenshyx @didd
*.stories.tsx @josenriagu @didd
*.spec.ts @kenshyx @didd
*.spec.tsx @themonster2015 @didd

.github/ @kenshyx @didd
.circleci/ @kenshyx @didd

/extensions/apps/antenna/ @SeverS @quininez @didd @themonster2015
/extensions/apps/auth-app/ @didd @josenriagu @themonster2015
/extensions/apps/extensions/ @SeverS @quininez @didd
/extensions/apps/legal/ @quininez @josenriagu
/extensions/apps/notifications/ @quininez @themonster2015
/extensions/apps/profile/ @didd @themonster2015 @quininez
/extensions/apps/routing/ @SeverS @didd
/extensions/apps/search/ @quininez @themonster2015
/extensions/apps/settings/ @themonster2015 @josenriagu
/extensions/apps/vibes/ @themonster2015 @josenriagu
/extensions/apps/vibes-console/ @themonster2015 @josenriagu

/extensions/widgets/analytics/ @SeverS @josenriagu
/extensions/widgets/layout/ @SeverS @josenriagu @quininez
/extensions/widgets/mini-profile/ @quininez @josenriagu
/extensions/widgets/my-apps/ @quininez @themonster2015
/extensions/widgets/sidebar/ @josenriagu @themonster2015 @didd
/extensions/widgets/top-bar/ @themonster2015 @josenriagu
/extensions/widgets/trending/ @themonster2015 @josenriagu @didd

/libs/app-loader/ @SeverS @kenshyx
/libs/composedb/ @kenshyx @josenriagu @SeverS
/libs/design-system-components/ @josenriagu @didd @themonster2015 @quininez
/libs/design-system-core/ @josenriagu @didd @themonster2015 @quininez
/libs/extensions/ @SeverS @quininez @didd
/libs/feed/ @SeverS @themonster2015 @didd
/libs/hooks/ @kenshyx @quininez @didd @SeverS
/libs/sdk/ @kenshyx @josenriagu @SeverS
/libs/typings/ @kenshyx @SeverS @quininez

/tests/ @didd @kenshyx
/tools/ @kenshyx @SeverS

/worlds/ @kenshyx @SeverS
