Repository AKASHAorg/akasha-core, changes with the owners that CODEOWNERS names for each.
All owners: @kenshyx, @SeverS, @didd, @josenriagu, @themonster2015, @quininez

Chore: minor fixes (#2306)
  extensions/apps/antenna/src/components/pages/entry-page/beam-page.tsx
  extensions/apps/extensions/src/components/explore.tsx
  extensions/apps/extensions/src/index.tsx
  extensions/apps/vibes-console/src/index.tsx
  extensions/apps/vibes/src/index.tsx
  extensions/widgets/sidebar/src/components/list-sidebar-apps.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu

chore(): refactor intl on beam card (#2302)
  extensions/apps/antenna/src/components/pages/entry-page/reflection-page.tsx
  extensions/apps/antenna/src/components/pages/global-antenna-page/index.tsx
  extensions/apps/antenna/src/components/pages/my-antenna-page/index.tsx
  extensions/apps/antenna/src/components/pages/tag-feed-page/tag-feed-page.tsx
  libs/design-system-components/src/components/Entry/EntryCard/index.tsx
  libs/design-system-components/src/components/Entry/EntryCardRemoved/index.tsx
  libs/feed/src/components/beam-feed-by-author.tsx
  libs/feed/src/components/beam-feed.tsx
  libs/feed/src/components/cards/beam-card/index.tsx
  libs/feed/src/components/cards/reflection-card/index.tsx
  libs/feed/src/components/tag-feed.tsx
  libs/feed/src/index.tsx
  libs/feed/src/utils/index.ts
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu

fix(): scrolling bug on virtual list
  extensions/apps/antenna/src/components/pages/entry-page/reflection-page.tsx
  libs/design-system-components/src/components/DynamicInfiniteScroll/use-scroll-restoration/index.ts
  libs/feed/src/components/beam-feed.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu

fix(): scrolling bug on virtual list (#2308)
  extensions/apps/antenna/src/components/pages/entry-page/reflection-page.tsx
  libs/design-system-components/src/components/DynamicInfiniteScroll/use-scroll-restoration/index.ts
  libs/feed/src/components/beam-feed.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu

chore(): docs wip
  libs/design-system-components/src/components/EditInterests/index.tsx
  libs/design-system-components/src/components/Editor/index.tsx
  libs/design-system-components/src/components/EditorPlaceholder/index.tsx
  libs/design-system-components/src/components/EmbedBox/index.tsx
  libs/design-system-components/src/components/ExtensionHeader/index.tsx
  libs/design-system-components/src/components/ExtensionImageGallery/index.tsx
  libs/design-system-components/src/components/ImageBlockGallery/index.tsx
  libs/design-system-components/src/components/ImageBlockToolbar/index.tsx
  libs/design-system-components/src/components/ImageOverlay/index.tsx
  libs/design-system-components/src/components/IndicatorDots/index.tsx
  libs/design-system-components/src/components/ListAppTopbar/index.tsx
  libs/design-system-components/src/components/LoginCTACard/__tests__/index.test.tsx
  libs/design-system-components/src/components/LoginCTACard/index.tsx
  libs/design-system-components/src/components/ManageCollaboratorsModal/__tests__/index.test.tsx
  libs/design-system-components/src/components/ManageCollaboratorsModal/collaborator.tsx
  libs/design-system-components/src/components/ManageCollaboratorsModal/index.tsx
  libs/design-system-components/src/components/MessageContactCard/__tests__/index.test.tsx
  libs/design-system-components/src/components/MessageContactCard/index.tsx
  libs/design-system-components/src/stories/dscomponents/list-app-topbar.stories.tsx
  libs/design-system-components/src/stories/dscomponents/login-cta-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/manage-collaborators-modal.stories.tsx
  libs/design-system-components/src/stories/dscomponents/message-app-contact-card.stories.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

[CodeFactor] Apply fixes
  libs/design-system-components/src/components/CookieCard/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

fix(apps, widgets): update duplex button usage
  extensions/apps/profile/src/components/follow-profile-button/index.tsx
  extensions/widgets/trending/src/components/cards/latest-topics.tsx
  extensions/widgets/trending/src/components/cards/topic-row.tsx
Owners: @didd, @themonster2015, @quininez, @josenriagu

chore(): doc
  libs/design-system-core/README.md
  libs/design-system-core/src/components/Accordion/index.tsx
  libs/design-system-core/src/components/AppAvatar/index.tsx
  libs/design-system-core/src/components/AppIcon/index.tsx
  libs/design-system-core/src/components/AutoComplete/index.tsx
  libs/design-system-core/src/components/Avatar/index.tsx
  libs/design-system-core/src/components/BasicPopover/index.tsx
  libs/design-system-core/src/components/Button/index.tsx
  libs/design-system-core/src/components/Card/index.tsx
  libs/design-system-core/src/components/Checkbox/index.tsx
  libs/design-system-core/src/components/ContentBlock/index.tsx
  libs/design-system-core/src/components/CopyToClipboard/index.tsx
  libs/design-system-core/src/components/DatePicker/index.tsx
  libs/design-system-core/src/components/DidField/index.tsx
  libs/design-system-core/src/components/Divider/index.tsx
  libs/design-system-core/src/components/Dropdown/index.tsx
  libs/design-system-core/src/components/DuplexButton/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore():
  libs/design-system-core/src/components/DuplexButton/index.tsx
  libs/design-system-core/src/components/EditorMeter/index.tsx
  libs/design-system-core/src/components/ErrorBoundary/index.tsx
  libs/design-system-core/src/components/ErrorLoader/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore():
  libs/design-system-core/src/components/AutoComplete/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(): set up jest-dom on ds core
  libs/design-system-core/jest.setup.js
  libs/design-system-core/src/components/AppAvatar/__tests__/index.test.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore():
  extensions/apps/antenna/src/components/__tests__/beam-page.spec.tsx
  tests/utils/src/data-generator/beam.ts
Owners: @SeverS, @quininez, @didd, @themonster2015, @kenshyx

chore():
  extensions/widgets/mini-profile/jest.config.cjs
  extensions/widgets/my-apps/jest.config.cjs
  libs/app-loader/jest.config.cjs
  libs/design-system-components/jest.config.cjs
  libs/design-system-core/jest.config.cjs
  libs/design-system-core/jest.setup.js
  libs/design-system-core/src/components/AppAvatar/__tests__/index.test.tsx
  libs/design-system-core/tsconfig.json
  tsconfig.json
Owners: @quininez, @josenriagu, @themonster2015, @SeverS, @kenshyx, @didd

fix(): translation
  libs/feed/src/components/cards/author-profile-avatar/index.tsx
Owners: @SeverS, @themonster2015, @didd

chore():
  extensions/apps/antenna/src/components/__tests__/beam-page.spec.tsx
  libs/feed/src/__mocks__/get-reflection-feed-mocks.ts
  libs/feed/src/__mocks__/index.tsx
  tests/utils/project.json
Owners: @SeverS, @quininez, @didd, @themonster2015, @kenshyx

chore(): fix ts config for ds core
  libs/design-system-core/jest.setup.js
  libs/design-system-core/src/components/AppAvatar/__tests__/index.test.tsx
  libs/design-system-core/tsconfig.json
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore():
  libs/design-system-core/src/components/Helmet/index.tsx
  libs/design-system-core/src/components/Icon/index.tsx
  libs/design-system-core/src/components/Image/index.tsx
  libs/design-system-core/src/components/ImageCropper/index.tsx
  libs/design-system-core/src/components/InfoCard/index.tsx
  libs/design-system-core/src/components/List/index.tsx
  libs/design-system-core/src/components/MarkdownCard/index.tsx
  libs/design-system-core/src/components/Menu/index.tsx
  libs/design-system-core/src/components/MessageCard/index.tsx
  libs/design-system-core/src/components/Meter/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore():
  libs/design-system-core/src/components/Modal/index.tsx
  libs/design-system-core/src/components/Pagination/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore():
  libs/design-system-core/src/components/Pill/index.tsx
  libs/design-system-core/src/components/ProfileAvatarButton/index.tsx
  libs/design-system-core/src/components/ProfileNameField/index.tsx
  libs/design-system-core/src/components/RadioButton/index.tsx
  libs/design-system-core/src/components/ScrollTopButton/index.tsx
  libs/design-system-core/src/components/ScrollTopWrapper/index.tsx
  libs/design-system-core/src/components/Snackbar/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

[CodeFactor] Apply fixes to commit 423f78a
  libs/design-system-core/src/components/ProfileAvatarButton/index.tsx
  libs/design-system-core/src/components/Snackbar/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(): cleanup and fix tests v2
  extensions/apps/antenna/jest.setup.js
  extensions/apps/antenna/src/components/__mocks__/constants.ts
  extensions/apps/antenna/src/components/__mocks__/get-beam-page-mocks.ts
  extensions/apps/antenna/src/components/__mocks__/get-reflect-editor-mocks.ts
  extensions/apps/antenna/src/components/__mocks__/get-reflection-page-mocks.ts
  extensions/apps/antenna/src/components/__mocks__/index.ts
  extensions/apps/antenna/src/components/__tests__/reflection-page.spec.tsx
  extensions/apps/antenna/src/components/app-routes/data-loaders.ts
  extensions/apps/antenna/src/components/app-routes/index.tsx
  extensions/apps/antenna/src/components/pages/entry-page/beam-page.tsx
  extensions/apps/antenna/src/components/pages/entry-page/beam-section.tsx
  extensions/apps/antenna/src/components/pages/entry-page/reflection-page.tsx
  extensions/apps/antenna/src/components/pages/entry-page/reflection-section.tsx
  extensions/apps/antenna/src/components/reflect-editor/get-editor-value-for-test.ts
  extensions/apps/antenna/src/components/reflect-editor/index.tsx
  extensions/apps/antenna/tsconfig.json
  extensions/apps/profile/jest.setup.js
  extensions/jest.setup.js
  libs/design-system-components/src/components/DynamicInfiniteScroll/index.tsx
  libs/design-system-components/src/components/Entry/EntryCard/card-actions.tsx
  libs/design-system-components/src/components/Entry/EntryCard/index.tsx
  libs/design-system-core/src/components/Avatar/avatar-image.tsx
  libs/feed/src/__mocks__/get-reflection-feed-mocks.ts
  libs/feed/src/components/cards/reflection-card/index.tsx
  libs/feed/src/components/editable-reflection/index.tsx
  libs/feed/src/components/editable-reflection/reflection-editor-renderer.tsx
  libs/feed/src/components/reflect-feed.tsx
  libs/hooks/src/store/use-akasha-store.ts
  libs/typings/src/ui/store.ts
  tests/.gitignore
  tests/README.md
  tests/utils/src/data-generator/beam.ts
  tests/utils/src/data-generator/store.ts
  tests/utils/src/data-generator/user.ts
  tests/utils/src/providers.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu, @kenshyx

fix():
  extensions/apps/antenna/src/components/__mocks__/get-reflect-editor-mocks.ts
  extensions/apps/antenna/src/components/__tests__/beam-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/reflection-page.spec.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015

chore(): clean up entry card menu
  libs/design-system-components/src/components/Entry/EntryCard/index.tsx
  libs/design-system-core/src/components/Menu/index.tsx
  libs/feed/src/components/cards/reflection-card/index.tsx
  libs/feed/src/components/editable-reflection/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez, @SeverS

chore(): remove app-loader tests which are full of errors
  libs/app-loader/__tests__/events.test.ts
  libs/app-loader/__tests__/extensions.test.ts
  libs/app-loader/__tests__/integrations.test.ts
  libs/app-loader/__tests__/manifests.test.ts
  libs/app-loader/__tests__/state.test.ts
  libs/app-loader/__tests__/utils.test.ts
Owners: @SeverS, @kenshyx

chore(): clean and fix tests on ds-core and hooks
  libs/design-system-core/src/components/Avatar/index.tsx
  libs/design-system-core/src/components/Link/__tests__/index.test.tsx
  libs/design-system-core/src/components/ProfileAvatarButton/__tests__/index.test.tsx
  libs/hooks/src/__tests__/use-navigation.spec.ts
  libs/hooks/src/__tests__/use-notifications.spec.ts
Owners: @josenriagu, @didd, @themonster2015, @quininez, @kenshyx, @SeverS

fix(): editor placeholder ui
  libs/design-system-components/src/components/EditorPlaceholder/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(): add tests for pending reflect
  extensions/apps/antenna/src/components/__tests__/beam-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/reflection-page.spec.tsx
  extensions/apps/antenna/src/components/reflect-editor/index.tsx
  extensions/apps/antenna/src/components/reflect-editor/pending-reflect.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015

chore():
  libs/design-system-core/src/components/CopyToClipboard/index.tsx
  libs/design-system-core/src/components/Spinner/index.tsx
  libs/design-system-core/src/components/Stack/index.tsx
  libs/design-system-core/src/components/StackedAvatar/index.tsx
  libs/design-system-core/src/components/SubtitleTextIcon/index.tsx
  libs/design-system-core/src/components/TabList/index.tsx
  libs/design-system-core/src/components/Table/index.tsx
  libs/design-system-core/src/components/Text/index.tsx
  libs/design-system-core/src/components/TextField/index.tsx
  libs/design-system-core/src/components/TextLine/index.tsx
  libs/design-system-core/src/components/Toggle/index.tsx
  libs/design-system-core/src/components/Tooltip/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(): more edits
  libs/design-system-core/README.md
  libs/design-system-core/src/components/Avatar/index.tsx
  libs/design-system-core/src/components/BasicPopover/index.tsx
  libs/design-system-core/src/components/Tooltip/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(): fix tests on circleci
  .circleci/config.yml
  .circleci/continuation.yml
Owners: @kenshyx, @didd

chore():
  .circleci/continuation.yml
Owners: @kenshyx, @didd

fix(): parallelism
  .circleci/config.yml
  .circleci/continuation.yml
Owners: @kenshyx, @didd

chore(): move mock file
  extensions/apps/antenna/src/components/__mocks__/get-reflection-feed-mocks.ts
  extensions/apps/antenna/src/components/__mocks__/index.ts
  extensions/apps/antenna/src/components/__tests__/beam-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/reflection-page.spec.tsx
  libs/feed/src/__mocks__/index.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015

chore(): set up project dependencies for test target
  extensions/apps/antenna/project.json
  extensions/apps/auth-app/project.json
  extensions/apps/extensions/project.json
  extensions/apps/legal/project.json
  extensions/apps/notifications/project.json
  extensions/apps/profile/project.json
  extensions/apps/routing/project.json
  extensions/apps/search/project.json
  extensions/apps/settings/project.json
  extensions/apps/vibes-console/project.json
  extensions/apps/vibes/project.json
  extensions/widgets/mini-profile/project.json
  extensions/widgets/my-apps/project.json
  extensions/widgets/trending/project.json
  libs/app-loader/project.json
  libs/design-system-components/project.json
  libs/design-system-core/project.json
  libs/extensions/project.json
  libs/feed/project.json
  libs/hooks/project.json
  tools/executors/project.json
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu, @kenshyx

chore():
  .circleci/continuation.yml
Owners: @kenshyx, @didd

chore(): move mock file
  extensions/apps/antenna/src/components/__mocks__/get-reflection-feed-mocks.ts
  extensions/apps/antenna/src/components/__mocks__/index.ts
  extensions/apps/antenna/src/components/__tests__/beam-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/reflection-page.spec.tsx
  libs/feed/src/__mocks__/index.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015

chore(): add test target for projects
  extensions/apps/antenna/project.json
  extensions/apps/auth-app/project.json
  extensions/apps/extensions/project.json
  extensions/apps/legal/project.json
  extensions/apps/notifications/project.json
  extensions/apps/profile/project.json
  extensions/apps/search/project.json
  extensions/apps/settings/project.json
  extensions/apps/vibes-console/project.json
  extensions/apps/vibes/project.json
  extensions/widgets/mini-profile/project.json
  extensions/widgets/my-apps/project.json
  extensions/widgets/trending/project.json
  libs/app-loader/project.json
  libs/design-system-components/project.json
  libs/design-system-core/project.json
  libs/extensions/project.json
  libs/feed/project.json
  libs/hooks/project.json
  tools/executors/project.json
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu, @kenshyx

fix(): circleci
  .circleci/config.yml
  .circleci/continuation.yml
Owners: @kenshyx, @didd

chore(): update
  libs/design-system-core/src/components/Accordion/index.tsx
  libs/design-system-core/src/components/AppAvatar/index.tsx
  libs/design-system-core/src/components/AppIcon/index.tsx
  libs/design-system-core/src/components/AutoComplete/index.tsx
  libs/design-system-core/src/components/Avatar/index.tsx
  libs/design-system-core/src/components/BasicPopover/index.tsx
  libs/design-system-core/src/components/Button/index.tsx
  libs/design-system-core/src/components/Card/index.tsx
  libs/design-system-core/src/components/DidField/index.tsx
  libs/design-system-core/src/components/ErrorBoundary/index.tsx
  libs/design-system-core/src/components/Image/index.tsx
  libs/design-system-core/src/components/ProfileAvatarButton/index.tsx
  libs/design-system-core/src/components/Snackbar/index.tsx
  libs/design-system-core/src/components/StackedAvatar/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(): refactor and fix layout-widget
  extensions/widgets/layout/src/components/layout-widget.tsx
  extensions/widgets/layout/src/components/use-sticky.ts
  extensions/widgets/layout/src/components/useResizeObserver.ts
  libs/extensions/src/react/widget.tsx
Owners: @SeverS, @josenriagu, @quininez, @didd

CODEOWNERS:

*.json @kenshyx @SeverS
*.cjs @kenshyx @didd
*.yml @kenshyx @didd
*.toml @kenshyx @didd
*.md @josenriagu @SeverS @themonster2015
*.config.js @kenshyx @didd
*.conf.js @kenshyx @didd
*.stories.tsx @josenriagu @didd
*.spec.ts @kenshyx @didd
*.spec.tsx @themonster2015 @didd

.github/ @kenshyx @didd
.circleci/ @kenshyx @didd

/extensions/apps/antenna/ @SeverS @quininez @didd @themonster2015
/extensions/apps/auth-app/ @didd @josenriagu @themonster2015
/extensions/apps/extensions/ @SeverS @quininez @didd
/extensions/apps/legal/ @quininez @josenriagu
/extensions/apps/notifications/ @quininez @themonster2015
/extensions/apps/profile/ @didd @themonster2015 @quininez
/extensions/apps/routing/ @SeverS @didd
/extensions/apps/search/ @quininez @themonster2015
/extensions/apps/settings/ @themonster2015 @josenriagu
/extensions/apps/vibes/ @themonster2015 @josenriagu
/extensions/apps/vibes-console/ @themonster2015 @josenriagu

/extensions/widgets/analytics/ @SeverS @josenriagu
/extensions/widgets/layout/ @SeverS @josenriagu @quininez
/extensions/widgets/mini-profile/ @quininez @josenriagu
/extensions/widgets/my-apps/ @quininez @themonster2015
/extensions/widgets/sidebar/ @josenriagu @themonster2015 @didd
/extensions/widgets/top-bar/ @themonster2015 @josenriagu
/extensions/widgets/trending/ @themonster2015 @josenriagu @didd

/libs/app-loader/ @SeverS @kenshyx
/libs/composedb/ @kenshyx @josenriagu @SeverS
/libs/design-system-components/ @josenriagu @didd @themonster2015 @quininez
/libs/design-system-core/ @josenriagu @didd @themonster2015 @quininez
/libs/extensions/ @SeverS @quininez @didd
/libs/feed/ @SeverS @themonster2015 @didd
/libs/hooks/ @kenshyx @quininez @didd @SeverS
/libs/sdk/ @kenshyx @josenriagu @SeverS
/libs/typings/ @kenshyx @SeverS @quininez

/tests/ @didd @kenshyx
/tools/ @kenshyx @SeverS

/worlds/ @kenshyx @SeverS
