Repository AKASHAorg/akasha-core, changes with the owners that CODEOWNERS names for each.
All owners: @kenshyx, @SeverS, @didd, @josenriagu, @themonster2015, @quininez

CODEOWNERS:

*.json @kenshyx @SeverS
*.cjs @kenshyx @didd
*.yml @kenshyx @didd
*.toml @kenshyx @didd
*.md @josenriagu @SeverS @themonster2015
*.config.js @kenshyx @didd
*.conf.js @kenshyx @didd
*.stories.tsx @josenriagu @didd
*.spec.ts @kenshyx @didd
*.spec.tsx @themonster2015 @didd

.github/ @kenshyx @didd
.circleci/ @kenshyx @didd

/extensions/apps/antenna/ @SeverS @quininez @didd @themonster2015
/extensions/apps/auth-app/ @didd @josenriagu @themonster2015
/extensions/apps/extensions/ @SeverS @quininez @didd
/extensions/apps/legal/ @quininez @josenriagu
/extensions/apps/notifications/ @quininez @themonster2015
/extensions/apps/profile/ @didd @themonster2015 @quininez
/extensions/apps/routing/ @SeverS @didd
/extensions/apps/search/ @quininez @themonster2015
/extensions/apps/settings/ @themonster2015 @josenriagu
/extensions/apps/vibes/ @themonster2015 @josenriagu
/extensions/apps/vibes-console/ @themonster2015 @josenriagu

/extensions/widgets/analytics/ @SeverS @josenriagu
/extensions/widgets/layout/ @SeverS @josenriagu @quininez
/extensions/widgets/mini-profile/ @quininez @josenriagu
/extensions/widgets/my-apps/ @quininez @themonster2015
/extensions/widgets/sidebar/ @josenriagu @themonster2015 @didd
/extensions/widgets/top-bar/ @themonster2015 @josenriagu
/extensions/widgets/trending/ @themonster2015 @josenriagu @didd

/libs/app-loader/ @SeverS @kenshyx
/libs/composedb/ @kenshyx @josenriagu @SeverS
/libs/design-system-components/ @josenriagu @didd @themonster2015 @quininez
/libs/design-system-core/ @josenriagu @didd @themonster2015 @quininez
/libs/extensions/ @SeverS @quininez @didd
/libs/feed/ @SeverS @themonster2015 @didd
/libs/hooks/ @kenshyx @quininez @didd @SeverS
/libs/sdk/ @kenshyx @josenriagu @SeverS
/libs/typings/ @kenshyx @SeverS @quininez

/tests/ @didd @kenshyx
/tools/ @kenshyx @SeverS

/worlds/ @kenshyx @SeverS

feat(ds): create review and publish component - add story
  libs/design-system-components/src/components/ReviewAndPublish/index.tsx
  libs/design-system-components/src/stories/dscomponents/review-and-publish.stories.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(apps, widgets): handle edge case (#2363)
  extensions/apps/antenna/src/components/pages/tag-feed-page/tag-feed-page.tsx
  extensions/widgets/trending/src/components/cards/latest-topics.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu

refactor(sdk): add type safe env conf (#2365)
  .env.example
  libs/app-loader/src/extensions.ts
  libs/design-system-core/src/components/ImageCropper/index.tsx
  libs/sdk/src/common/config.ts
  libs/sdk/src/common/env.ts
  libs/sdk/src/common/misc.ts
  libs/sdk/src/common/web3.connector.ts
  package.json
  tsconfig.json
  yarn.lock
Owners: @SeverS, @kenshyx, @josenriagu, @didd, @themonster2015, @quininez

chore(profile-app): fix edit profile page (#2364)
  extensions/apps/profile/src/components/pages/edit-profile/delete-image-and-get-profile-content.tsx
  extensions/apps/profile/src/components/pages/edit-profile/get-profile-images.ts
  extensions/apps/profile/src/components/pages/edit-profile/index.tsx
  extensions/apps/profile/src/components/pages/edit-profile/use-save-image.ts
  libs/design-system-components/src/components/EditProfile/General/Header/index.tsx
  libs/design-system-components/src/components/EditProfile/General/index.tsx
  libs/design-system-components/src/components/EditProfile/SocialLinks/index.tsx
  libs/design-system-components/src/components/EditProfile/index.tsx
  libs/design-system-components/src/components/EditProfile/types.ts
  libs/design-system-components/src/components/Profile/Bio/index.tsx
  libs/design-system-components/src/stories/dscomponents/edit-header.stories.tsx
  libs/design-system-components/src/stories/dscomponents/edit-profile.stories.tsx
  libs/design-system-core/src/components/Text/index.tsx
  libs/design-system-core/src/components/TextField/Multiline/index.tsx
  libs/hooks/src/utils/media-utils.ts
  libs/typings/src/ui/profile.ts
Owners: @didd, @themonster2015, @quininez, @josenriagu, @kenshyx, @SeverS

chore(): cleanup github action
  .github/workflows/w3.storage.yml
Owners: @kenshyx, @didd

chore(): update github action env
  .github/workflows/w3.storage.yml
Owners: @kenshyx, @didd

feat(): collaborators field
  extensions/apps/extensions/src/components/pages/extension-edit-page/step1-page.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/step2-page.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/step3-page.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/extension-element.tsx
  libs/design-system-components/src/components/ExtensionEditStep1Form/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep2Form/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep3Form/Collaborators/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep3Form/ContactInfo/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep3Form/index.tsx
  libs/design-system-components/src/components/SearchBar/index.tsx
  libs/design-system-components/src/stories/dscore/app-avatar.stories.tsx
  libs/design-system-core/src/components/AppAvatar/__tests__/index.test.tsx
  libs/design-system-core/src/components/AppAvatar/index.tsx
Owners: @SeverS, @quininez, @didd, @josenriagu, @themonster2015

refactor(ds): update component and story
  libs/design-system-components/src/components/ReviewAndPublish/index.tsx
  libs/design-system-components/src/components/ReviewAndPublish/label.tsx
  libs/design-system-components/src/components/ReviewAndPublish/section.tsx
  libs/design-system-components/src/stories/dscomponents/review-and-publish.stories.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez
