Repository AKASHAorg/akasha-core, changes with the owners that CODEOWNERS names for each.
All owners: @kenshyx, @SeverS, @didd, @josenriagu, @themonster2015, @quininez

CODEOWNERS:

*.json @kenshyx @SeverS
*.cjs @kenshyx @didd
*.yml @kenshyx @didd
*.toml @kenshyx @didd
*.md @josenriagu @SeverS @themonster2015
*.config.js @kenshyx @didd
*.conf.js @kenshyx @didd
*.stories.tsx @josenriagu @didd
*.spec.ts @kenshyx @didd
*.spec.tsx @themonster2015 @didd

.github/ @kenshyx @didd
.circleci/ @kenshyx @didd

/extensions/apps/antenna/ @SeverS @quininez @didd @themonster2015
/extensions/apps/auth-app/ @didd @josenriagu @themonster2015
/extensions/apps/extensions/ @SeverS @quininez @didd
/extensions/apps/legal/ @quininez @josenriagu
/extensions/apps/notifications/ @quininez @themonster2015
/extensions/apps/profile/ @didd @themonster2015 @quininez
/extensions/apps/routing/ @SeverS @didd
/extensions/apps/search/ @quininez @themonster2015
/extensions/apps/settings/ @themonster2015 @josenriagu
/extensions/apps/vibes/ @themonster2015 @josenriagu
/extensions/apps/vibes-console/ @themonster2015 @josenriagu

/extensions/widgets/analytics/ @SeverS @josenriagu
/extensions/widgets/layout/ @SeverS @josenriagu @quininez
/extensions/widgets/mini-profile/ @quininez @josenriagu
/extensions/widgets/my-apps/ @quininez @themonster2015
/extensions/widgets/sidebar/ @josenriagu @themonster2015 @didd
/extensions/widgets/top-bar/ @themonster2015 @josenriagu
/extensions/widgets/trending/ @themonster2015 @josenriagu @didd

/libs/app-loader/ @SeverS @kenshyx
/libs/composedb/ @kenshyx @josenriagu @SeverS
/libs/design-system-components/ @josenriagu @didd @themonster2015 @quininez
/libs/design-system-core/ @josenriagu @didd @themonster2015 @quininez
/libs/extensions/ @SeverS @quininez @didd
/libs/feed/ @SeverS @themonster2015 @didd
/libs/hooks/ @kenshyx @quininez @didd @SeverS
/libs/sdk/ @kenshyx @josenriagu @SeverS
/libs/typings/ @kenshyx @SeverS @quininez

/tests/ @didd @kenshyx
/tools/ @kenshyx @SeverS

/worlds/ @kenshyx @SeverS

chore(): fully revert extension lib widget
  libs/extensions/src/react/widget.tsx
Owners: @SeverS, @quininez, @didd

chore(): refactor and fix layout-widget (#2315)
  extensions/widgets/layout/src/components/layout-widget.tsx
  extensions/widgets/layout/src/components/use-sticky.ts
  extensions/widgets/layout/src/components/useResizeObserver.ts
Owners: @SeverS, @josenriagu, @quininez

chore(): remove unused hooks, react-query, deps
  libs/hooks/src/generated/composedb.ts
  libs/hooks/src/generated/index.ts
  libs/hooks/src/generated/mutations.ts
  libs/hooks/src/generated/queries.ts
  libs/sdk/codegen.cjs
  libs/sdk/project.json
  package.json
  yarn.lock
Owners: @kenshyx, @quininez, @didd, @SeverS, @josenriagu

chore(doc): sdk doc update
  libs/sdk/README.md
Owners: @kenshyx, @josenriagu, @SeverS

chore(doc): sdk doc update (#2317)
  libs/sdk/README.md
Owners: @kenshyx, @josenriagu, @SeverS

chore(): update interfaces
  libs/hooks/src/use-analytics.tsx
  libs/hooks/src/utils/media-utils.ts
Owners: @kenshyx, @quininez, @didd, @SeverS

chore(): update interfaces (#2318)
  libs/hooks/src/use-analytics.tsx
  libs/hooks/src/utils/media-utils.ts
Owners: @kenshyx, @quininez, @didd, @SeverS

fix(apps, widgets): update duplex button usage (#2310)
  extensions/apps/profile/src/components/follow-profile-button/index.tsx
  extensions/widgets/trending/src/components/cards/latest-topics.tsx
  extensions/widgets/trending/src/components/cards/topic-row.tsx
Owners: @didd, @themonster2015, @quininez, @josenriagu

chore(): fix circleci (#2314)
  .circleci/config.yml
  .circleci/continuation.yml
  extensions/apps/antenna/project.json
  extensions/apps/antenna/src/components/__mocks__/get-reflection-feed-mocks.ts
  extensions/apps/antenna/src/components/__mocks__/index.ts
  extensions/apps/antenna/src/components/__tests__/beam-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/reflection-page.spec.tsx
  extensions/apps/auth-app/project.json
  extensions/apps/extensions/project.json
  extensions/apps/legal/project.json
  extensions/apps/notifications/project.json
  extensions/apps/profile/project.json
  extensions/apps/search/project.json
  extensions/apps/settings/project.json
  extensions/apps/vibes-console/project.json
  extensions/apps/vibes/project.json
  extensions/widgets/mini-profile/project.json
  extensions/widgets/my-apps/project.json
  extensions/widgets/trending/project.json
  libs/app-loader/project.json
  libs/design-system-components/project.json
  libs/design-system-core/project.json
  libs/extensions/project.json
  libs/feed/project.json
  libs/feed/src/__mocks__/index.tsx
  libs/hooks/project.json
  tools/executors/project.json
Owners: @kenshyx, @didd, @SeverS, @quininez, @themonster2015, @josenriagu

fix(): breaking tests
  libs/hooks/src/__tests__/use-navigation.spec.ts
  libs/hooks/src/__tests__/use-network-state.spec.ts
  libs/hooks/src/__tests__/utils.tsx
Owners: @kenshyx, @quininez, @didd, @SeverS

feat(hooks): add devmode hook - update interfaces
  libs/hooks/src/index.ts
  libs/hooks/src/use-dev-mode.ts
  libs/hooks/src/use-theme.ts
Owners: @kenshyx, @quininez, @didd, @SeverS

feat(settings): advanced option page - update settings items - update components
  extensions/apps/settings/src/components/pages/advanced-option.tsx
  extensions/apps/settings/src/components/pages/theme-option.tsx
  extensions/apps/settings/src/utils/settings-items.ts
Owners: @themonster2015, @josenriagu

chore(settings): update routes
  extensions/apps/settings/src/components/app-routes/index.tsx
  extensions/apps/settings/src/routes.ts
Owners: @themonster2015, @josenriagu

fix(): breaking tests (#2319)
  libs/hooks/src/__tests__/use-navigation.spec.ts
  libs/hooks/src/__tests__/use-network-state.spec.ts
  libs/hooks/src/__tests__/utils.tsx
Owners: @kenshyx, @quininez, @didd, @SeverS

feat(extensions): conditionally add subroute
  extensions/apps/extensions/src/index.tsx
  extensions/apps/extensions/src/routes.ts
Owners: @SeverS, @quininez, @didd

feat(extensions): my-extensions page
  extensions/apps/extensions/src/components/my-extensions.tsx
  extensions/apps/extensions/src/components/pages/index.ts
  extensions/apps/extensions/src/components/pages/my-extensions.tsx
Owners: @SeverS, @quininez, @didd

refactor(extensions): update routes
  extensions/apps/extensions/src/components/app-routes/index.tsx
Owners: @SeverS, @quininez, @didd

chore(hooks): remove redundant hook
  libs/hooks/src/index.ts
  libs/hooks/src/use-dev-mode.ts
Owners: @kenshyx, @quininez, @didd, @SeverS

refactor(extensions): update logic
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/constants.ts
  extensions/apps/extensions/src/index.tsx
  extensions/apps/settings/src/components/pages/advanced-option.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu

chore(settings): revert changes on settings app
  extensions/apps/settings/src/components/app-routes/index.tsx
  extensions/apps/settings/src/components/pages/advanced-option.tsx
  extensions/apps/settings/src/routes.ts
  extensions/apps/settings/src/utils/settings-items.ts
Owners: @themonster2015, @josenriagu

feat(extensions): add developer mode page - update routes
  extensions/apps/extensions/src/components/developer-mode.tsx
  extensions/apps/extensions/src/components/pages/developer-mode.tsx
  extensions/apps/extensions/src/components/pages/index.ts
  extensions/apps/extensions/src/routes.ts
Owners: @SeverS, @quininez, @didd

refactor(extensions): update components and routes
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/developer-mode.tsx
  extensions/apps/extensions/src/components/explore.tsx
  extensions/apps/extensions/src/components/extensions-hub.tsx
  extensions/apps/extensions/src/components/pages/developer-mode.tsx
  extensions/apps/extensions/src/components/pages/explore.tsx
  extensions/apps/extensions/src/components/pages/extensions-hub.tsx
  extensions/apps/extensions/src/index.tsx
Owners: @SeverS, @quininez, @didd

chore(): docs
  extensions/apps/antenna/src/extensions/beam-editor/beam-editor.tsx
  extensions/apps/auth-app/src/components/pages/choose-provider.tsx
  extensions/apps/search/src/components/pages/onboarding-page.tsx
  extensions/apps/vibes-console/src/components/dashboard/header.tsx
  libs/design-system-components/src/components/InfiniteScroll/index.tsx
  libs/design-system-components/src/components/Loaders/antenna-loader.tsx
  libs/design-system-components/src/components/Loaders/mini-profile-widget-loader.tsx
  libs/design-system-components/src/components/Loaders/sidebar-loader.tsx
  libs/design-system-components/src/components/Loaders/topbar-loader.tsx
  libs/design-system-components/src/components/Loaders/trending-widget-loader.tsx
  libs/design-system-components/src/components/MyFeedCard/index.tsx
  libs/design-system-components/src/components/OnboardingStartCard/index.tsx
  libs/design-system-components/src/components/OnboardingSuggestionsCard/index.tsx
  libs/design-system-components/src/components/PageButtons/index.tsx
  libs/design-system-components/src/components/PageHeader/index.tsx
  libs/design-system-components/src/components/PaginatedTable/index.tsx
  libs/design-system-components/src/components/ProfileNotFound/index.tsx
  libs/design-system-components/src/components/ProfileSearchCard/index.tsx
  libs/design-system-components/src/components/ReadOnlyEditor/index.tsx
  libs/design-system-components/src/components/ReflectionEditor/index.tsx
  libs/design-system-components/src/components/ReportReasonPill/index.tsx
  libs/design-system-components/src/components/SearchAppDropdownFilter/index.tsx
  libs/design-system-components/src/components/SearchBar/index.tsx
  libs/design-system-components/src/components/SearchStartCard/index.tsx
  libs/design-system-components/src/components/SocialBox/index.tsx
  libs/design-system-components/src/components/StartCard/index.tsx
  libs/design-system-components/src/components/SubtitleRenderer/index.tsx
  libs/design-system-components/src/components/TagProfileCard/index.tsx
  libs/design-system-components/src/components/TagSearchCard/index.tsx
  libs/design-system-components/src/components/TrendingWidgetLoadingCard/index.tsx
  libs/design-system-components/src/components/VibesIntroCard/index.tsx
  libs/design-system-components/src/components/VibesValuesCard/index.tsx
  libs/design-system-components/src/components/Web3ConnectCard/index.tsx
  libs/design-system-components/src/stories/dscomponents/antenna-loader.stories.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu

chore(): fix typings
  libs/design-system-components/src/components/OnboardingStartCard/index.tsx
  libs/design-system-components/src/components/Web3ConnectCard/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(): reformat gql definitions
  libs/composedb/lib/schema.graphql
  libs/composedb/lib/supergraph.graphql
Owners: @kenshyx, @josenriagu, @SeverS

refactor(extensions): update component
  extensions/apps/extensions/src/components/pages/developer-mode.tsx
Owners: @SeverS, @quininez, @didd

chore(extensions): fix key warning
  extensions/apps/extensions/src/components/developer-mode.tsx
Owners: @SeverS, @quininez, @didd

chore(): create integration tests for antenna and tag feed pages
  extensions/apps/antenna/jest.setup.js
  extensions/apps/antenna/src/components/__mocks__/constants.ts
  extensions/apps/antenna/src/components/__mocks__/get-beam-feed-mocks.ts
  extensions/apps/antenna/src/components/__mocks__/get-my-antenna-page-mocks.ts
  extensions/apps/antenna/src/components/__mocks__/get-reflection-feed-mocks.ts
  extensions/apps/antenna/src/components/__mocks__/get-subscriptions-mocks.ts
  extensions/apps/antenna/src/components/__mocks__/get-tag-feed-mocks.ts
  extensions/apps/antenna/src/components/__mocks__/get-tag-feed-page-mocks.ts
  extensions/apps/antenna/src/components/__mocks__/index.ts
  extensions/apps/antenna/src/components/__tests__/beam-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/global-antenna-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/my-antenna-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/reflection-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/tag-feed-page.spec.tsx
  extensions/apps/antenna/src/components/pages/global-antenna-page/index.tsx
  extensions/apps/antenna/src/components/pages/my-antenna-page/index.tsx
  extensions/apps/antenna/src/components/pages/tag-feed-page/tag-feed-page.tsx
  extensions/jest.setup.js
  extensions/widgets/top-bar/jest.setup.js
  libs/feed/src/components/beam-feed.tsx
  libs/feed/src/components/tag-feed.tsx
  tests/utils/src/data-generator/beam.ts
  tests/utils/src/data-generator/index.ts
  tests/utils/src/data-generator/interests.ts
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu, @kenshyx

chore(): create the form and page
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/pages/app-creation-page.tsx
  extensions/apps/extensions/src/components/pages/index.ts
  extensions/apps/extensions/src/routes.ts
  libs/design-system-components/src/components/AppCreationForm/index.tsx
  libs/design-system-core/src/components/Dropdown/index.tsx
  libs/design-system-core/src/components/TextField/Label/index.tsx
  libs/design-system-core/src/components/TextField/index.tsx
  libs/design-system-core/src/components/TextField/types.ts
Owners: @SeverS, @quininez, @didd, @josenriagu, @themonster2015

chore(): rename
  extensions/apps/antenna/src/components/__tests__/tag-feed-page.spec.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015

feat(registry): load remote source
  libs/app-loader/src/extensions.ts
  libs/app-loader/src/index.ts
  libs/sdk/src/common/ipfs.connector.ts
  libs/typings/src/ui/app-loader.ts
  libs/typings/src/ui/apps.ts
  tests/utils/src/data-generator/integrations.ts
  worlds/akasha.world/src/index.ts
  worlds/akasha.world/src/registry-overrides.ts
Owners: @SeverS, @kenshyx, @josenriagu, @quininez, @didd

chore(appLoader): use URL for path join
  libs/app-loader/src/index.ts
Owners: @SeverS, @kenshyx

chore(): add fallback mainFile path
  libs/app-loader/src/index.ts
Owners: @SeverS, @kenshyx

fix(): isViewer computation
  extensions/apps/profile/src/components/profile-header/index.tsx
Owners: @didd, @themonster2015, @quininez

chore(): adjust app info card
  libs/design-system-components/src/components/AppInfo/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore()
  extensions/apps/extensions/src/components/pages/info-page.tsx
  libs/design-system-components/src/components/AppInfo/index.tsx
Owners: @SeverS, @quininez, @didd, @josenriagu, @themonster2015

chore(): create integration tests for antenna and tag feed pages (#2321)
  extensions/apps/antenna/jest.setup.js
  extensions/apps/antenna/src/components/__mocks__/constants.ts
  extensions/apps/antenna/src/components/__mocks__/get-beam-feed-mocks.ts
  extensions/apps/antenna/src/components/__mocks__/get-my-antenna-page-mocks.ts
  extensions/apps/antenna/src/components/__mocks__/get-reflection-feed-mocks.ts
  extensions/apps/antenna/src/components/__mocks__/get-subscriptions-mocks.ts
  extensions/apps/antenna/src/components/__mocks__/get-tag-feed-mocks.ts
  extensions/apps/antenna/src/components/__mocks__/get-tag-feed-page-mocks.ts
  extensions/apps/antenna/src/components/__mocks__/index.ts
  extensions/apps/antenna/src/components/__tests__/beam-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/global-antenna-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/my-antenna-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/reflection-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/tag-feed-page.spec.tsx
  extensions/apps/antenna/src/components/pages/global-antenna-page/index.tsx
  extensions/apps/antenna/src/components/pages/my-antenna-page/index.tsx
  extensions/apps/antenna/src/components/pages/tag-feed-page/tag-feed-page.tsx
  extensions/jest.setup.js
  extensions/widgets/top-bar/jest.setup.js
  libs/feed/src/components/beam-feed.tsx
  libs/feed/src/components/tag-feed.tsx
  tests/utils/src/data-generator/beam.ts
  tests/utils/src/data-generator/index.ts
  tests/utils/src/data-generator/interests.ts
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu, @kenshyx

feat(registry): load remote source (#2323)
  libs/app-loader/src/extensions.ts
  libs/app-loader/src/index.ts
  libs/sdk/src/common/ipfs.connector.ts
  libs/typings/src/ui/app-loader.ts
  libs/typings/src/ui/apps.ts
  tests/utils/src/data-generator/integrations.ts
  worlds/akasha.world/src/index.ts
  worlds/akasha.world/src/registry-overrides.ts
Owners: @SeverS, @kenshyx, @josenriagu, @quininez, @didd

fix(): isViewer computation (#2324)
  extensions/apps/profile/src/components/profile-header/index.tsx
Owners: @didd, @themonster2015, @quininez

Feat: Extensions Developer Mode (#2320)
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/developer-mode.tsx
  extensions/apps/extensions/src/components/explore.tsx
  extensions/apps/extensions/src/components/extensions-hub.tsx
  extensions/apps/extensions/src/components/my-extensions.tsx
  extensions/apps/extensions/src/components/pages/developer-mode.tsx
  extensions/apps/extensions/src/components/pages/explore.tsx
  extensions/apps/extensions/src/components/pages/extensions-hub.tsx
  extensions/apps/extensions/src/components/pages/index.ts
  extensions/apps/extensions/src/components/pages/my-extensions.tsx
  extensions/apps/extensions/src/constants.ts
  extensions/apps/extensions/src/index.tsx
  extensions/apps/extensions/src/routes.ts
  extensions/apps/settings/src/components/pages/theme-option.tsx
  extensions/apps/settings/src/utils/settings-items.ts
  libs/hooks/src/use-theme.ts
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu, @kenshyx
