Repository AKASHAorg/akasha-core, changes with the owners that CODEOWNERS names for each.
All owners: @kenshyx, @SeverS, @didd, @josenriagu, @themonster2015, @quininez

CODEOWNERS:

*.json @kenshyx @SeverS
*.cjs @kenshyx @didd
*.yml @kenshyx @didd
*.toml @kenshyx @didd
*.md @josenriagu @SeverS @themonster2015
*.config.js @kenshyx @didd
*.conf.js @kenshyx @didd
*.stories.tsx @josenriagu @didd
*.spec.ts @kenshyx @didd
*.spec.tsx @themonster2015 @didd

.github/ @kenshyx @didd
.circleci/ @kenshyx @didd

/extensions/apps/antenna/ @SeverS @quininez @didd @themonster2015
/extensions/apps/auth-app/ @didd @josenriagu @themonster2015
/extensions/apps/extensions/ @SeverS @quininez @didd
/extensions/apps/legal/ @quininez @josenriagu
/extensions/apps/notifications/ @quininez @themonster2015
/extensions/apps/profile/ @didd @themonster2015 @quininez
/extensions/apps/routing/ @SeverS @didd
/extensions/apps/search/ @quininez @themonster2015
/extensions/apps/settings/ @themonster2015 @josenriagu
/extensions/apps/vibes/ @themonster2015 @josenriagu
/extensions/apps/vibes-console/ @themonster2015 @josenriagu

/extensions/widgets/analytics/ @SeverS @josenriagu
/extensions/widgets/layout/ @SeverS @josenriagu @quininez
/extensions/widgets/mini-profile/ @quininez @josenriagu
/extensions/widgets/my-apps/ @quininez @themonster2015
/extensions/widgets/sidebar/ @josenriagu @themonster2015 @didd
/extensions/widgets/top-bar/ @themonster2015 @josenriagu
/extensions/widgets/trending/ @themonster2015 @josenriagu @didd

/libs/app-loader/ @SeverS @kenshyx
/libs/composedb/ @kenshyx @josenriagu @SeverS
/libs/design-system-components/ @josenriagu @didd @themonster2015 @quininez
/libs/design-system-core/ @josenriagu @didd @themonster2015 @quininez
/libs/extensions/ @SeverS @quininez @didd
/libs/feed/ @SeverS @themonster2015 @didd
/libs/hooks/ @kenshyx @quininez @didd @SeverS
/libs/sdk/ @kenshyx @josenriagu @SeverS
/libs/typings/ @kenshyx @SeverS @quininez

/tests/ @didd @kenshyx
/tools/ @kenshyx @SeverS

/worlds/ @kenshyx @SeverS

Feat: Extensions app installed extensions page (#2295)
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/installed-extensions.tsx
  extensions/apps/extensions/src/components/pages/explore.tsx
  extensions/apps/extensions/src/components/pages/info-page.tsx
  extensions/apps/extensions/src/components/pages/installed-extensions.tsx
  libs/design-system-components/src/components/AppInfo/header.tsx
  libs/design-system-components/src/components/AppInfo/index.tsx
  libs/design-system-components/src/components/AppInfo/info-pill.tsx
  libs/design-system-components/src/components/AppInfo/notification-cards.tsx
  libs/design-system-components/src/components/AppList/index.tsx
Owners: @SeverS, @quininez, @didd, @josenriagu, @themonster2015

chore(): revert changes on beam and reflection card navigation
  extensions/apps/antenna/src/components/pages/global-antenna-page/index.tsx
  extensions/apps/antenna/src/components/pages/my-antenna-page/index.tsx
  extensions/apps/antenna/src/components/pages/profile-feed-page/profile-feed-page.tsx
  extensions/apps/antenna/src/components/pages/tag-feed-page/tag-feed-page.tsx
  libs/feed/src/components/beam-content-resolver.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015

fix(): header height style computation during scroll restoration
  libs/design-system-components/src/components/DynamicInfiniteScroll/index.tsx
  libs/design-system-components/src/components/DynamicInfiniteScroll/use-scroll-restoration/index.ts
Owners: @josenriagu, @didd, @themonster2015, @quininez

fix():
  extensions/apps/antenna/src/components/pages/entry-page/beam-page.tsx
  extensions/apps/antenna/src/components/pages/entry-page/beam-section.tsx
  extensions/apps/antenna/src/components/pages/entry-page/reflection-page.tsx
  extensions/apps/antenna/src/components/pages/entry-page/reflection-section.tsx
  libs/design-system-components/src/components/DynamicInfiniteScroll/index.tsx
  libs/design-system-components/src/components/Entry/EntryCard/index.tsx
  libs/design-system-components/src/components/Entry/EntryCardLoading/index.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu

fix():
  libs/feed/src/components/beam-feed.tsx
  libs/feed/src/components/reflect-feed.tsx
Owners: @SeverS, @themonster2015, @didd

fix(): Link component
  libs/design-system-core/src/components/Link/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

refactor(): remove react-router-dom (#2300)
  extensions/apps/antenna/src/extensions/remove-beam-confirmation/index.tsx
  extensions/apps/auth-app/src/components/__tests__/connect.spec.tsx
  extensions/apps/profile/src/components/__tests__/profile-edit-general.spec.tsx
  extensions/apps/profile/src/components/__tests__/profile-info.spec.tsx
  extensions/apps/profile/src/extensions/login-modal.tsx
  libs/design-system-components/src/components/Entry/EntryCard/index.tsx
  libs/design-system-core/src/components/Menu/index.tsx
  libs/feed/src/components/cards/beam-card/index.tsx
  libs/feed/src/components/cards/reflection-card/index.tsx
  libs/hooks/src/index.ts
  libs/hooks/src/use-modal-data.ts
  libs/hooks/src/utils/media-utils.ts
  package.json
  yarn.lock
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu, @kenshyx

chore(): remove stale page
  extensions/apps/antenna/Readme.md
  extensions/apps/antenna/src/components/app-routes/index.tsx
  extensions/apps/antenna/src/components/pages/profile-feed-page/profile-feed-page.tsx
  extensions/apps/antenna/src/index.tsx
  extensions/apps/antenna/src/routes.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015

refactor(extensions, lib): conditionally style component - remove entry loading card elevation on reflection feed
  extensions/apps/antenna/src/components/pages/entry-page/beam-page.tsx
  extensions/apps/antenna/src/components/pages/entry-page/beam-section.tsx
  extensions/apps/antenna/src/components/pages/entry-page/reflection-page.tsx
  extensions/apps/antenna/src/components/pages/entry-page/reflection-section.tsx
  extensions/apps/antenna/src/components/reflect-editor/pending-reflect.tsx
  libs/feed/src/components/editable-reflection/editable-reflection-resolver.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015

chore(): refactor intl on beam card
  libs/design-system-components/src/components/Entry/EntryCard/index.tsx
  libs/design-system-components/src/components/Entry/EntryCardRemoved/index.tsx
  libs/feed/src/components/cards/beam-card/index.tsx
  libs/feed/src/components/cards/reflection-card/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez, @SeverS

chore(): replace tfunc with trans
  libs/design-system-components/src/components/Entry/EntryCardRemoved/index.tsx
  libs/feed/src/components/cards/reflection-card/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez, @SeverS

chore(): update doc
  libs/hooks/src/use-connect-wallet.ts
  libs/hooks/src/use-dismissed-card.ts
  libs/hooks/src/use-health-check.ts
  libs/hooks/src/use-legal.ts
  libs/hooks/src/use-mentions.ts
  libs/hooks/src/use-modal-data.ts
  libs/hooks/src/use-moderation-categories.ts
  libs/hooks/src/use-navigation.ts
  libs/hooks/src/use-network-state.ts
  libs/hooks/src/use-notifications.ts
  libs/hooks/src/use-pending-reflections.ts
  libs/hooks/src/use-profile-stats.ts
  libs/hooks/src/use-root-props.tsx
  libs/hooks/src/use-settings.ts
  libs/hooks/src/use-show-feedback.ts
  libs/hooks/src/use-theme.ts
  libs/hooks/src/use-valid-did.ts
Owners: @kenshyx, @quininez, @didd, @SeverS

[CodeFactor] Apply fixes to commit f6896a9
  libs/hooks/src/use-profile-stats.ts
Owners: @kenshyx, @quininez, @didd, @SeverS

chore():
  libs/hooks/src/use-accordion.ts
  libs/hooks/src/use-dismissed-card.ts
  libs/hooks/src/use-mentions.ts
  libs/hooks/src/use-theme.ts
Owners: @kenshyx, @quininez, @didd, @SeverS

refactor(antenna): handle edge case
  extensions/apps/antenna/src/components/pages/entry-page/beam-section.tsx
  extensions/apps/antenna/src/components/pages/entry-page/reflection-section.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015

Fix: Pending reflect UI (#2284)
  extensions/apps/antenna/src/components/pages/entry-page/beam-page.tsx
  extensions/apps/antenna/src/components/pages/entry-page/beam-section.tsx
  extensions/apps/antenna/src/components/pages/entry-page/reflection-page.tsx
  extensions/apps/antenna/src/components/pages/entry-page/reflection-section.tsx
  extensions/apps/antenna/src/components/reflect-editor/pending-reflect.tsx
  libs/feed/src/components/editable-reflection/editable-reflection-resolver.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015

chore(): refactor filters - move them in the apps
  extensions/apps/antenna/src/components/pages/entry-page/reflection-page.tsx
  extensions/apps/antenna/src/components/pages/global-antenna-page/index.tsx
  extensions/apps/antenna/src/components/pages/my-antenna-page/index.tsx
  extensions/apps/antenna/src/components/pages/tag-feed-page/tag-feed-page.tsx
  libs/feed/src/components/beam-feed-by-author.tsx
  libs/feed/src/components/beam-feed.tsx
  libs/feed/src/components/tag-feed.tsx
  libs/feed/src/index.tsx
  libs/feed/src/utils/index.ts
Owners: @SeverS, @quininez, @didd, @themonster2015

feat(w3s): add upload and release for extensions
  .github/workflows/w3.storage.yml
  libs/sdk/src/auth/index.ts
  libs/sdk/src/common/ceramic.ts
  libs/sdk/src/common/event-bus.ts
  libs/sdk/src/common/ipfs.connector.ts
  libs/sdk/src/common/lit.ts
  libs/sdk/src/common/misc.ts
  libs/sdk/src/common/validator.ts
  libs/sdk/src/common/web3.connector.ts
  libs/sdk/src/container.ts
  libs/sdk/src/db/index.ts
  libs/sdk/src/gql/index.ts
  libs/sdk/src/helpers/img.ts
  libs/sdk/src/index.ts
  libs/sdk/src/logging/index.ts
  libs/sdk/src/profiles/index.ts
  libs/sdk/src/settings/apps.ts
  libs/sdk/src/settings/index.ts
  libs/sdk/src/stash/index.ts
  libs/sdk/tsconfig.json
  libs/typings/src/sdk/index.ts
  libs/webpack.config.js
  package.json
  tools/scripts/pkg.mapping.mjs
  tools/scripts/tsconfig.json
  tools/scripts/upload-w3-storage.mjs
  tsconfig.json
  yarn.lock
Owners: @kenshyx, @didd, @josenriagu, @SeverS, @quininez

refactor(gh:actions): enable corepack
  .github/workflows/publish.staging.yml
  .github/workflows/w3.storage.yml
Owners: @kenshyx, @didd

refactor(gh:actions): switch to yarn
  .github/workflows/w3.storage.yml
Owners: @kenshyx, @didd

chore(): add missing env
  .github/workflows/w3.storage.yml
Owners: @kenshyx, @didd

fix(wb:chunks): add lazy import for non esm
  libs/sdk/src/profiles/index.ts
  libs/sdk/webpack.config.mjs
Owners: @kenshyx, @josenriagu, @SeverS

chore(): use with: import statement for json
  tools/scripts/upload-w3-storage.mjs
Owners: @kenshyx, @SeverS

refactor(gh:action): add nx, ts-node to path
  .github/workflows/w3.storage.yml
Owners: @kenshyx, @didd

chore(): add .bin folder to path
  .github/workflows/w3.storage.yml
Owners: @kenshyx, @didd

chore(action): nx set main branch for staging
  .github/workflows/w3.storage.yml
Owners: @kenshyx, @didd

chore(): docs WIP
  libs/design-system-components/src/components/AppList/index.tsx
  libs/design-system-components/src/components/BlockHeader/index.tsx
  libs/design-system-components/src/components/BlockStatusToolbar/index.tsx
  libs/design-system-components/src/components/ConnectErrorCard/index.tsx
  libs/design-system-components/src/components/CookieCard/index.tsx
  libs/design-system-components/src/components/Default404Image/index.tsx
  libs/design-system-components/src/components/DefaultEmptyCard/index.tsx
  libs/design-system-components/src/components/EditImageModal/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

fix(): beam image caption
  extensions/apps/antenna/src/extensions/image-block/image-readonly-block.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015

chore()
  extensions/apps/antenna/src/extensions/image-block/image-readonly-block.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015

chore(): revert nsfw behaviour
  extensions/apps/antenna/src/components/pages/global-antenna-page/index.tsx
  extensions/apps/antenna/src/components/pages/my-antenna-page/index.tsx
  libs/feed/src/components/beam-feed-by-author.tsx
  libs/feed/src/utils/index.ts
Owners: @SeverS, @quininez, @didd, @themonster2015

chore(): adjust deploy script
  libs/hooks/src/generated/apollo.ts
  libs/hooks/src/generated/queries.ts
  libs/sdk/src/gql/api.ts
  libs/sdk/src/registry/registry-queries.graphql
  libs/typings/src/sdk/graphql-operation-types-new.ts
  tools/scripts/upload-w3-storage.mjs
Owners: @kenshyx, @quininez, @didd, @SeverS, @josenriagu

Fix beam image caption (#2304)
  extensions/apps/antenna/src/extensions/image-block/image-readonly-block.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015

chore(): remove unused action
  .github/workflows/publish.staging.yml
Owners: @kenshyx, @didd

update hook documentation (#2303)
  libs/hooks/src/use-accordion.ts
  libs/hooks/src/use-connect-wallet.ts
  libs/hooks/src/use-dismissed-card.ts
  libs/hooks/src/use-health-check.ts
  libs/hooks/src/use-legal.ts
  libs/hooks/src/use-mentions.ts
  libs/hooks/src/use-modal-data.ts
  libs/hooks/src/use-moderation-categories.ts
  libs/hooks/src/use-navigation.ts
  libs/hooks/src/use-network-state.ts
  libs/hooks/src/use-notifications.ts
  libs/hooks/src/use-pending-reflections.ts
  libs/hooks/src/use-profile-stats.ts
  libs/hooks/src/use-root-props.tsx
  libs/hooks/src/use-settings.ts
  libs/hooks/src/use-show-feedback.ts
  libs/hooks/src/use-theme.ts
  libs/hooks/src/use-valid-did.ts
Owners: @kenshyx, @quininez, @didd, @SeverS

chore(): use usememo instead of useref
  extensions/apps/antenna/src/components/pages/entry-page/reflection-page.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015

chore(apps): update area
  extensions/apps/extensions/src/index.tsx
  extensions/apps/vibes-console/src/index.tsx
  extensions/apps/vibes/src/index.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu

chore(): use usememo instead of useref (#2305)
  extensions/apps/antenna/src/components/pages/entry-page/reflection-page.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015

chore(sidebar): keep accordion open on refresh for active app
  extensions/widgets/sidebar/src/components/list-sidebar-apps.tsx
Owners: @josenriagu, @themonster2015, @didd

chore(extensions): add key to fragment
  extensions/apps/extensions/src/components/explore.tsx
Owners: @SeverS, @quininez, @didd

chore(antenna): replace useRef with useMemo
  extensions/apps/antenna/src/components/pages/entry-page/beam-page.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015
