Repository AKASHAorg/akasha-core, changes with the owners that CODEOWNERS names for each.
All owners: @kenshyx, @SeverS, @didd, @josenriagu, @themonster2015, @quininez

CODEOWNERS:

*.json @kenshyx @SeverS
*.cjs @kenshyx @didd
*.yml @kenshyx @didd
*.toml @kenshyx @didd
*.md @josenriagu @SeverS @themonster2015
*.config.js @kenshyx @didd
*.conf.js @kenshyx @didd
*.stories.tsx @josenriagu @didd
*.spec.ts @kenshyx @didd
*.spec.tsx @themonster2015 @didd

.github/ @kenshyx @didd
.circleci/ @kenshyx @didd

/extensions/apps/antenna/ @SeverS @quininez @didd @themonster2015
/extensions/apps/auth-app/ @didd @josenriagu @themonster2015
/extensions/apps/extensions/ @SeverS @quininez @didd
/extensions/apps/legal/ @quininez @josenriagu
/extensions/apps/notifications/ @quininez @themonster2015
/extensions/apps/profile/ @didd @themonster2015 @quininez
/extensions/apps/routing/ @SeverS @didd
/extensions/apps/search/ @quininez @themonster2015
/extensions/apps/settings/ @themonster2015 @josenriagu
/extensions/apps/vibes/ @themonster2015 @josenriagu
/extensions/apps/vibes-console/ @themonster2015 @josenriagu

/extensions/widgets/analytics/ @SeverS @josenriagu
/extensions/widgets/layout/ @SeverS @josenriagu @quininez
/extensions/widgets/mini-profile/ @quininez @josenriagu
/extensions/widgets/my-apps/ @quininez @themonster2015
/extensions/widgets/sidebar/ @josenriagu @themonster2015 @didd
/extensions/widgets/top-bar/ @themonster2015 @josenriagu
/extensions/widgets/trending/ @themonster2015 @josenriagu @didd

/libs/app-loader/ @SeverS @kenshyx
/libs/composedb/ @kenshyx @josenriagu @SeverS
/libs/design-system-components/ @josenriagu @didd @themonster2015 @quininez
/libs/design-system-core/ @josenriagu @didd @themonster2015 @quininez
/libs/extensions/ @SeverS @quininez @didd
/libs/feed/ @SeverS @themonster2015 @didd
/libs/hooks/ @kenshyx @quininez @didd @SeverS
/libs/sdk/ @kenshyx @josenriagu @SeverS
/libs/typings/ @kenshyx @SeverS @quininez

/tests/ @didd @kenshyx
/tools/ @kenshyx @SeverS

/worlds/ @kenshyx @SeverS

refactor(widgets): implement set diference
  extensions/widgets/trending/src/components/cards/latest-topics.tsx
Owners: @themonster2015, @josenriagu, @didd

chore(): remove redundant type
  libs/feed/src/components/editable-reflection/index.tsx
Owners: @SeverS, @themonster2015, @didd

fix(ds): update snackbar test
  libs/design-system-core/src/components/Snackbar/__tests__/index.test.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(): update ts build options
  libs/composedb/composites/akasha-app.graphql
  libs/composedb/composites/akasha-profile.graphql
  package.json
  tsconfig.json
  yarn.lock
Owners: @kenshyx, @josenriagu, @SeverS

chore(): update component and story
  extensions/widgets/trending/src/components/cards/latest-topics.tsx
  libs/design-system-components/src/stories/dscore/app-avatar.stories.tsx
Owners: @themonster2015, @josenriagu, @didd, @quininez

chore(ds): update snackbar story
  libs/design-system-components/src/stories/dscore/snackbar.stories.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(apps): rename values
  extensions/apps/notifications/src/extensions/snack-bar-notification.tsx
Owners: @quininez, @themonster2015

Fix: Profile interests (#2344)
  extensions/apps/antenna/src/components/pages/tag-feed-page/tag-feed-page.tsx
  extensions/apps/antenna/src/components/reflect-editor/index.tsx
  extensions/apps/antenna/src/extensions/image-block/image-editor-block.tsx
  extensions/apps/extensions/src/components/pages/developer-mode.tsx
  extensions/apps/extensions/src/components/pages/extension-creation-page.tsx
  extensions/apps/notifications/src/components/pages/customise-notification-page.tsx
  extensions/apps/notifications/src/components/pages/notifications-page.tsx
  extensions/apps/notifications/src/components/pages/welcome-page.tsx
  extensions/apps/notifications/src/extensions/snack-bar-notification.tsx
  extensions/apps/profile/src/components/follow-profile-button/index.tsx
  extensions/apps/profile/src/components/pages/edit-profile/index.tsx
  extensions/apps/profile/src/components/pages/interests/index.tsx
  extensions/apps/profile/src/components/profile-header/index.tsx
  extensions/apps/search/src/components/pages/search-settings-page.tsx
  extensions/apps/settings/src/components/pages/nsfw-option.tsx
  extensions/apps/vibes-console/src/pages/assign-admin.tsx
  extensions/apps/vibes-console/src/pages/edit-max-applicants.tsx
  extensions/apps/vibes-console/src/pages/respond-admin.tsx
  extensions/apps/vibes-console/src/pages/review-item.tsx
  extensions/widgets/trending/src/components/cards/latest-topics.tsx
  extensions/widgets/trending/src/components/cards/topic-row.tsx
  libs/design-system-components/src/stories/dscomponents/app-list.stories.tsx
  libs/design-system-components/src/stories/dscore/app-avatar.stories.tsx
  libs/design-system-components/src/stories/dscore/snackbar.stories.tsx
  libs/design-system-core/src/components/Pill/index.tsx
  libs/design-system-core/src/components/Snackbar/__tests__/index.test.tsx
  libs/design-system-core/src/components/Snackbar/getColor.ts
  libs/design-system-core/src/components/Snackbar/index.tsx
  libs/feed/src/components/editable-reflection/index.tsx
  libs/typings/src/ui/ui-events.ts
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu, @kenshyx

feat(): extension edit form page WIP
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/extensions-hub.tsx
  extensions/apps/extensions/src/components/installed-extensions.tsx
  extensions/apps/extensions/src/components/not-connected.tsx
  extensions/apps/extensions/src/components/pages/extension-creation-page.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/form-state.ts
  extensions/apps/extensions/src/components/pages/extension-edit-page/index.ts
  extensions/apps/extensions/src/components/pages/extension-edit-page/main-page.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/step1-page.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/step2-page.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/step3-page.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/step4-page.tsx
  extensions/apps/extensions/src/components/pages/info-page/sub-pages/dev-info-page.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/extension-element.tsx
  extensions/apps/extensions/src/components/pages/my-extensions/my-extensions.tsx
  extensions/apps/extensions/src/routes.ts
  extensions/apps/extensions/src/utils/delete-image-and-get-profile-content.tsx
  extensions/apps/extensions/src/utils/save-and-get-image-obj.tsx
  extensions/apps/extensions/src/utils/use-save-image.ts
  extensions/apps/vibes-console/src/pages/applications-log.tsx
  extensions/apps/vibes/src/pages/transparency-log.tsx
  libs/design-system-components/src/components/ExtensionEditStep1Form/Header/DeleteImageModal/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep1Form/Header/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep1Form/index.tsx
  libs/design-system-core/src/components/AppAvatar/index.tsx
  libs/design-system-core/src/components/Dropdown/__tests__/index.test.tsx
  libs/design-system-core/src/components/Dropdown/index.tsx
  libs/typings/src/ui/extensions.ts
  libs/typings/src/ui/media.ts
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu, @kenshyx

refactor(apps,feed): update my antenna page tag filter - remove redundant code
  extensions/apps/antenna/src/components/pages/my-antenna-page/index.tsx
  extensions/apps/antenna/src/components/pages/tag-feed-page/tag-feed-page.tsx
  libs/feed/src/components/tag-feed.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015

fix(antenna, profile): bug fixes
  extensions/apps/antenna/src/components/pages/entry-page/beam-section.tsx
  extensions/apps/antenna/src/components/pages/entry-page/reflection-section.tsx
  extensions/apps/antenna/src/components/reflect-editor/index.tsx
  extensions/apps/profile/src/components/pages/edit-profile/index.tsx
  extensions/apps/profile/src/components/profile-header/index.tsx
  libs/design-system-components/src/components/EditProfile/General/index.tsx
  libs/design-system-components/src/components/EditProfile/SocialLinks/index.tsx
  libs/design-system-components/src/components/EditProfile/SocialLinks/social-link.tsx
  libs/design-system-components/src/components/EditProfile/index.tsx
  libs/design-system-components/src/components/EditProfile/types.ts
  libs/design-system-components/src/components/Editor/helpers.ts
  libs/design-system-components/src/components/EntryList/elementIntersectionObserver.ts
  libs/design-system-components/src/components/EntryList/index.tsx
  libs/design-system-components/src/components/EntryList/use-scroll-top.ts
  libs/design-system-components/src/components/Profile/Header/index.tsx
  libs/design-system-components/src/components/ReflectionEditor/index.tsx
  libs/design-system-components/src/stories/dscomponents/edit-profile.stories.tsx
  libs/design-system-core/src/components/ScrollTopButton/index.tsx
  libs/feed/src/components/editable-reflection/index.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu

chore(): remove stale comment
  libs/design-system-components/src/components/ReflectionEditor/index.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

test(): fix scroll top component test
  libs/design-system-core/src/components/ScrollTopButton/__tests__/index.test.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

fix(antenna, profile): bug fixes (#2351)
  extensions/apps/antenna/src/components/pages/entry-page/beam-section.tsx
  extensions/apps/antenna/src/components/pages/entry-page/reflection-section.tsx
  extensions/apps/antenna/src/components/reflect-editor/index.tsx
  extensions/apps/profile/src/components/pages/edit-profile/index.tsx
  extensions/apps/profile/src/components/profile-header/index.tsx
  libs/design-system-components/src/components/EditProfile/General/index.tsx
  libs/design-system-components/src/components/EditProfile/SocialLinks/index.tsx
  libs/design-system-components/src/components/EditProfile/SocialLinks/social-link.tsx
  libs/design-system-components/src/components/EditProfile/index.tsx
  libs/design-system-components/src/components/EditProfile/types.ts
  libs/design-system-components/src/components/Editor/helpers.ts
  libs/design-system-components/src/components/EntryList/elementIntersectionObserver.ts
  libs/design-system-components/src/components/EntryList/index.tsx
  libs/design-system-components/src/components/EntryList/use-scroll-top.ts
  libs/design-system-components/src/components/Profile/Header/index.tsx
  libs/design-system-components/src/components/ReflectionEditor/index.tsx
  libs/design-system-components/src/stories/dscomponents/edit-profile.stories.tsx
  libs/design-system-core/src/components/ScrollTopButton/__tests__/index.test.tsx
  libs/design-system-core/src/components/ScrollTopButton/index.tsx
  libs/feed/src/components/editable-reflection/index.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu

chore(feed): filter duplicates
  libs/feed/src/components/tag-feed.tsx
Owners: @SeverS, @themonster2015, @didd

feat(): edit ext step 2
  extensions/apps/extensions/src/components/app-routes/index.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/form-state.ts
  extensions/apps/extensions/src/components/pages/extension-edit-page/main-page.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/step1-page.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/step2-page.tsx
  extensions/apps/extensions/src/components/pages/extension-edit-page/step3-page.tsx
  libs/design-system-components/src/components/ExtensionEditStep2Form/DocumentationLinks/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep2Form/DocumentationLinks/link-element.tsx
  libs/design-system-components/src/components/ExtensionEditStep2Form/NSFW/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep2Form/index.tsx
  libs/design-system-components/src/components/ExtensionEditStep3Form/index.tsx
Owners: @SeverS, @quininez, @didd, @josenriagu, @themonster2015

chore(): refactor app-loader
  extensions/apps/extensions/src/index.tsx
  extensions/apps/extensions/src/plugins/base-store.ts
  extensions/apps/extensions/src/routes.ts
  libs/app-loader/src/extensions.ts
  libs/app-loader/src/html-template-handlers.ts
  libs/app-loader/src/index.ts
  libs/app-loader/src/splash-screen.ts
  libs/app-loader/src/utils.ts
  libs/sdk/src/common/ipfs.connector.ts
  libs/typings/src/ui/app-loader.ts
  libs/typings/src/ui/extensions.ts
  worlds/akasha.world/public/index.dev.html
  worlds/akasha.world/public/index.html
  worlds/akasha.world/src/index.ts
  worlds/akasha.world/src/registry-overrides.ts
Owners: @SeverS, @quininez, @didd, @kenshyx, @josenriagu

chore(): fix data-generator
  tests/utils/src/data-generator/world-config.ts
Owners: @didd, @kenshyx

chore(): adjust build options
  worlds/akasha.world/src/index.ts
  worlds/akasha.world/tsconfig.json
Owners: @kenshyx, @SeverS

chore(): trigger new build
  README.md
Owners: @josenriagu, @SeverS, @themonster2015

refactor(ds): update ds somponent stories
  libs/design-system-components/src/stories/dscomponents/app-info.stories.tsx
  libs/design-system-components/src/stories/dscomponents/app-list.stories.tsx
  libs/design-system-components/src/stories/dscomponents/cookie-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/edit-profile-header.stories.tsx
  libs/design-system-components/src/stories/dscomponents/edit-profile-interests.stories.tsx
  libs/design-system-components/src/stories/dscomponents/edit-profile.stories.tsx
  libs/design-system-components/src/stories/dscomponents/entry-card-loading.stories.tsx
  libs/design-system-components/src/stories/dscomponents/entry-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/entry-publish-error-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/install-app.stories.tsx
  libs/design-system-components/src/stories/dscomponents/mini-profile-widget-loader.stories.tsx
  libs/design-system-components/src/stories/dscomponents/onboarding-start-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/onboarding-suggestions-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/profile-entry.stories.tsx
  libs/design-system-components/src/stories/dscomponents/profile-followers.stories.tsx
  libs/design-system-components/src/stories/dscomponents/profile-following.stories.tsx
  libs/design-system-components/src/stories/dscomponents/profile-header.stories.tsx
  libs/design-system-components/src/stories/dscomponents/sidebar-loader.stories.tsx
  libs/design-system-components/src/stories/dscomponents/topbar-loader.stories.tsx
  libs/design-system-components/src/stories/dscomponents/trending-widget-loader.stories.tsx
  libs/design-system-components/src/stories/dscomponents/vibes-console-content-card.stories.tsx
  libs/design-system-components/src/stories/dscomponents/vibes-console-mini-profile-cta.stories.tsx
  libs/design-system-components/src/stories/dscomponents/vibes-value-card.stories.tsx
  libs/design-system-components/src/stories/dscore/accordion.stories.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(): unify class methods
  libs/sdk/src/common/ipfs.connector.ts
Owners: @kenshyx, @josenriagu, @SeverS

chore(): linting
  libs/sdk/src/common/ipfs.connector.ts
Owners: @kenshyx, @josenriagu, @SeverS

chore(): sync index.html files
  worlds/akasha.world/public/index.html
Owners: @kenshyx, @SeverS

chore(): init
  libs/composedb/lib/runtime-definition.d.ts
  libs/composedb/lib/runtime-definition.js
  worlds/akasha.world/src/index.ts
Owners: @kenshyx, @josenriagu, @SeverS

chore(): init1
  libs/composedb/lib/runtime-definition.d.ts
  libs/composedb/lib/runtime-definition.js
Owners: @kenshyx, @josenriagu, @SeverS

chore(): without dynamic import
  worlds/akasha.world/src/index.ts
Owners: @kenshyx, @SeverS

chore():d1
  worlds/akasha.world/src/index.ts
Owners: @kenshyx, @SeverS

refactor(ds): update ds core stories
  libs/design-system-components/src/stories/dscore/accordion.stories.tsx
  libs/design-system-components/src/stories/dscore/app-avatar.stories.tsx
  libs/design-system-components/src/stories/dscore/app-icon.stories.tsx
  libs/design-system-components/src/stories/dscore/auto-complete.stories.tsx
  libs/design-system-components/src/stories/dscore/avatar.stories.tsx
  libs/design-system-components/src/stories/dscore/basic-popover.stories.tsx
  libs/design-system-components/src/stories/dscore/button.stories.tsx
  libs/design-system-components/src/stories/dscore/card.stories.tsx
  libs/design-system-components/src/stories/dscore/checkbox.stories.tsx
  libs/design-system-components/src/stories/dscore/content-block.stories.tsx
  libs/design-system-components/src/stories/dscore/did-field.stories.tsx
  libs/design-system-components/src/stories/dscore/dropdown.stories.tsx
  libs/design-system-components/src/stories/dscore/duplex-button.stories.tsx
  libs/design-system-components/src/stories/dscore/error-card.stories.tsx
  libs/design-system-components/src/stories/dscore/icon.stories.tsx
  libs/design-system-components/src/stories/dscore/image-cropper.stories.tsx
  libs/design-system-components/src/stories/dscore/list.stories.tsx
  libs/design-system-components/src/stories/dscore/markdown-card.stories.tsx
  libs/design-system-components/src/stories/dscore/menu.stories.tsx
  libs/design-system-components/src/stories/dscore/message-card.stories.tsx
  libs/design-system-components/src/stories/dscore/meter.stories.tsx
  libs/design-system-components/src/stories/dscore/modal.stories.tsx
  libs/design-system-components/src/stories/dscore/pagination.stories.tsx
  libs/design-system-components/src/stories/dscore/pill.stories.tsx
  libs/design-system-components/src/stories/dscore/profile-avatar-button.stories.tsx
  libs/design-system-components/src/stories/dscore/radio-button.stories.tsx
  libs/design-system-components/src/stories/dscore/snackbar.stories.tsx
  libs/design-system-components/src/stories/dscore/spinner.stories.tsx
  libs/design-system-components/src/stories/dscore/stack.stories.tsx
  libs/design-system-components/src/stories/dscore/stacked-avatar.stories.tsx
  libs/design-system-components/src/stories/dscore/subtitle-text-icon.stories.tsx
  libs/design-system-components/src/stories/dscore/table.stories.tsx
  libs/design-system-components/src/stories/dscore/tablist.stories.tsx
  libs/design-system-components/src/stories/dscore/text.stories.tsx
  libs/design-system-components/src/stories/dscore/textfield.stories.tsx
  libs/design-system-components/src/stories/dscore/toggle.stories.tsx
  libs/design-system-components/src/stories/dscore/tooltip.stories.tsx
Owners: @josenriagu, @didd, @themonster2015, @quininez

chore(): retest
  worlds/akasha.world/src/index.ts
Owners: @kenshyx, @SeverS

chore(): rollback, update webpack
  package.json
  worlds/akasha.world/src/index.ts
  yarn.lock
Owners: @kenshyx, @SeverS

chore(): update other libs
  package.json
  worlds/akasha.world/tsconfig.json
  yarn.lock
Owners: @kenshyx, @SeverS

chore(): ts
  worlds/akasha.world/tsconfig.json
Owners: @kenshyx, @SeverS

chore(): 9000IQ fix
  worlds/akasha.world/src/index.ts
Owners: @kenshyx, @SeverS

chore(): ffs
  worlds/akasha.world/webpack.config.cjs
Owners: @kenshyx, @SeverS

fix(wb:chunks): set static public path
  worlds/akasha.world/src/index.ts
  worlds/akasha.world/webpack.config.cjs
Owners: @kenshyx, @SeverS

chore(): improve user store
  extensions/apps/antenna/src/components/__tests__/beam-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/my-antenna-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/reflection-page.spec.tsx
  extensions/apps/antenna/src/components/__tests__/tag-feed-page.spec.tsx
  extensions/apps/auth-app/src/components/pages/connect-wallet.tsx
  extensions/apps/profile/src/components/__tests__/profile-info-page.spec.tsx
  extensions/apps/profile/src/plugins/profile-plugin.ts
  extensions/jest.setup.js
  extensions/widgets/sidebar/src/components/sidebar-component.tsx
  extensions/widgets/sidebar/src/components/sidebar-header.tsx
  libs/hooks/src/store/get-profile-info.ts
  libs/hooks/src/store/use-akasha-store.ts
  libs/hooks/src/store/user-store.ts
  libs/typings/src/ui/plugins.ts
  libs/typings/src/ui/store.ts
  tests/utils/src/data-generator/store.ts
Owners: @SeverS, @quininez, @didd, @themonster2015, @josenriagu, @kenshyx

fix(): fill editor space when a beam is removed
  extensions/apps/antenna/src/components/pages/entry-page/beam-section.tsx
  extensions/apps/antenna/src/components/pages/entry-page/reflection-section.tsx
Owners: @SeverS, @quininez, @didd, @themonster2015

chore(): rename file
  libs/hooks/src/store/authentication-store.ts
  libs/hooks/src/store/index.ts
  libs/hooks/src/store/use-akasha-store.ts
Owners: @kenshyx, @quininez, @didd, @SeverS

chore(): improvements
  libs/app-loader/src/html-template-handlers.ts
  libs/app-loader/src/index.ts
  worlds/akasha.world/public/index.dev.html
  worlds/akasha.world/public/index.html
Owners: @SeverS, @kenshyx
